#page {
    height: 100%;
}
#page-content {
    position: relative;
    top: 0;
    height: 100%;
}
body {
    font-size: 100px;
}
@media screen and (min-width: 1900px) {
    #page-content {
        font-size: 100%;
    }
}
@media screen and (min-width: 1800px) and (max-width: 1900px) {
    #page-content {
		font-size: 95%;
	}
}
@media screen and (min-width: 1700px) and (max-width: 1800px) {
    #page-content {
		font-size: 90%;
	}
}
@media screen and (min-width: 1600px) and (max-width: 1700px) {
    #page-content {
		font-size: 85%;
	}
}
@media screen and (min-width: 1500px) and (max-width: 1600px) {
    #page-content {
		font-size: 80%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
    #page-content {
		font-size: 75%;
	}
}
@media screen and (min-width: 1300px) and (max-width: 1400px) {
    #page-content {
		font-size: 70%;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
    #page-content {
		font-size: 65%;
	}
}
@media screen and (min-width: 1100px) {
    .header-nav {
        font-size: 100%;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
    #page-content {
		font-size: 60%;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
    #page-content {
		font-size: 55%;
	}
    .header-nav {
        font-size: 95%;
    }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
    #page-content {
		font-size: 50%;
	}
    .header-nav {
        font-size: 85%;
    }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
    #page-content {
		font-size: 45%;
	}
    .header-nav {
        font-size: 75%;
    }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
    #page-content {
		font-size: 40%;
	}
    .header-nav {
        font-size: 65%;
    }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
    #page-content {
		font-size: 35%;
	}
    .header-nav {
        font-size: 55%;
    }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
    #page-content {
		font-size: 30%;
	}
    .header-nav {
        font-size: 45%;
    }
}
@media screen and (max-width: 500px) {
    .header-nav {
        font-size: 40%;
    }
    #page-content {
		font-size: 25%;
	}
}


body {
	margin: 0;
	position: relative;
    font-family: "Open Sans", Arial, Verdana, Tahoma;
	font-style: normal;
	font-weight: 300;
	min-width: 640px;
	background-color: #f1f1f1;
}
h1 {
	font-weight: 600;
	text-align: center;
	color: #FFF;
	font-size: 105%;
	line-height: 1.2em;
	position: absolute;
	width: 100%;
	top: 50%;
	margin: -1.5em 0;
}
b {
	font-weight: 400;
}
.main-block {
	background: url(images/image-1.jpg) center center no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
}
.section-page.contacts {
	background: url(images/image-6.jpg) center center no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
}
.block {
	display: block;
}
.first-paging-block {
	bottom: 30px;
	position: absolute;
	left: 25%;
	width: 50%;

}
.last-paging-block {
    position: absolute;
    left: 0;
    width: 100%;
    color: #999999;
    bottom: 2%;
    line-height: 3em;
}

.scroll-button {
	margin: 1.6em auto 0;
	cursor: pointer;
}
.scroll-button img {
    width: 100%;
    display: block;
}
.scroll-button .image-to-next-page {
    margin: 0 auto;
    max-width: 64px;
    max-height: 64px;
    width: 3.7em;
}
.scroll-button .image-to-next-page .normal {
    position: relative;
}
.scroll-button .image-to-next-page .hover {
    display: none;
}
.scroll-button .image-to-next-page:hover .normal {
    display: none;
}
.scroll-button .image-to-next-page:hover .hover {
    display: block;
}
.more-info-link {
    display: block;
    font-size: 25%;
    color: #333;
    border: 1px solid #333;
    position: absolute;
    bottom: 10%;
    text-align: center;
    left: 0;
    padding: 0 1em;
    white-space: nowrap;
    font-weight: 200;
    text-decoration: none;
    line-height: 2.10em;
    height: 2.21em;
}
.more-info-link:hover {
	background-color: #333;
	color: #fff;
}
body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	direction: ltr;
}
.header-nav {
	min-width: 410px;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.8);
	z-index: 100;
	font-weight: 200;
}
.rose-color {
	color: #ff6666;
}
.blue-color {
	color: #35a7c1;
}
.white-color {
    color: #FFF
}
.header-nav ul {
	font-size: 15%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.header-nav li {
	display: block;
	white-space: nowrap;
	margin: 0;
    line-height: 3em;
}
.header-nav .main-page-link {
	background: rgba(255, 255, 255, 0.8);
	padding: 0 1em;
}
.portfolio-block {
	position: absolute;
	z-index: 2;
	max-width: 681px;
	width: 80%;
	height: 100%;
	left: 100%;
	top: 50%;
}
.portfolio-block.left-block {
	left: 0;
	width: 50%;
	max-width: 2000px;
}
.portfolio-block.left-block + .portfolio-block {
	width: 50%;
	margin-left: 1px;
	max-width: 2000px;
}
.container-about {
    position: absolute;
    z-index: 2;
    max-width: 1200px;
    max-height: 910px;
    width: 90%;
    height: 80%;
    left: 50%;
    top: 50%;
}
.container-about.contacts {
    width: 98%;
}
.portfolio-text {
	margin: 0 5.7%;
	color: #FFF;
    height: 100%;
    position: relative;
}
.portfolio-text h3 {
	font-size: 40%;
	font-weight: 100;
	padding: 0.37em 0 0.26em;
    text-indent: -0.04em;
	margin: 0;
}
.portfolio-text p, .portfolio-text .list-params {
	font-size: 18%;
	font-weight: 300;
}
.portfolio-text .list-params {
	list-style-type: none;
	padding: 0;
	margin: 1.42em 0 0;
	color: #444;
}
.portfolio-text .list-params a {
	color: #666;
	text-decoration: none;
}
.portfolio-text .list-params a:hover {
	color: #333;
	text-decoration: underline;
}
.portfolio-text .list-params li {
	display: block;
	padding: 0.3em 0;
}
.portfolio-text .list-params .colorized {
	font-size: 130%;
}
.portfolio-text .list-params span {
    margin-left: -0.79em;
}
.portfolio-content {
	font-size: 100px;
}
.portfolio-text p {
	color: #444;
	margin: 0;
}
.bluegreen-elements .colorized {
	color: #5cbeaa;
}
.bluegreen-dark-elements .colorized {
	color: #087465;
}

.blue-elements .colorized {
	color: #0354A6;
}
.green-elements .colorized {
	color: #bbd368;
}
.light-blue-elements .colorized {
     color: #3bc7e5;
}
.red-elements .colorized {
    color: #e90101;
}
.yellow-elements .colorized {
    color: #ffc600;
}
.violette-elements .colorized {
    color: #b07cff;
}
.portfolio-block .portfolio-block-content {
    background: #fff;
    left: -100%;
}
.portfolio-block-content {
	width: 100%;
	height: 100%;
	position: relative;
	top: -50%;
}
.portfolio-block.left-block .portfolio-block-content {
    left: 0%;
}

.container-about .portfolio-block-content {
    left: -50%;
}
.header-nav a {
	display: block;
	color: #025DAC;
	text-decoration: none;
    padding: 0 2em;
}

h1 .pre-slash:before, .header-nav .pre-slash:before {
	color: #35a7c1;
	padding: 0 0.3em;
}
h3 {
	font-family: Lora;
}
.header-nav a.second-links:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.section-page {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    z-index: 1;
    
/*    -webkit-transition: top 1s ease-in-out;
  	-moz-transition: top 1s ease-in-out;
  	-o-transition: top 1s ease-in-out;
  	transition: top 1s ease-in-out;*/
}

.content-section {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
    z-index: 2;
}
.bi {
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}
.mask-section-content {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/mask-images.png) fixed rgba(0, 0, 0, 0.5);
}
.about-section {
	background-color: #f1f1f1;
}
.content-section-text {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}
.about-section.about-1 {

}
.about-section h2 {
	text-align: center;
    color: #222;
	font-weight: 100;
	font-size: 75%;
	margin: 0;
}
.about-me-text {
	font-size: 23%;
	max-width: 1320px;
	font-weight: 300;
	color: #333;
	margin: 2em 0 0;
}
.about-me-text br {
    line-height: 3em;
}
.clear {
	clear: both;
}
.height-null {
	height: 0;
	line-height: 0;
	font-size: 0;
}
.slider-paging {
	width: 2.1%;
    line-height: 2.1%;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -3em;
	cursor: pointer;
    font-size: 23%;
}
.slider-paging.next {
	left: 100%;
	margin-left: 6.6%;
}
.slider-paging.prev {
	right: 100%;
	margin-right: 6.6%;
}
.dotted-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.content-about-text {
	width: 75%;
	max-width: 1200px;
	margin: 0.5em auto 0.7em;
	color: #fff;
	position: relative;
	z-index: 2;
}
.container-about .big-text {
	font-size: 75%;
	text-align: center;
	text-transform: lowercase;
	display: block;
}
.list-specs {
	list-style-type: none;
	padding: 0;
	font-weight: 300;
    color: #FFF;
	margin: 2em 10% 0 12.5%;
	font-size: 23%;
}
.ultralight {
    font-weight: 100;
}
.list-specs li {
	padding: 0.32em 0;
}

.social-buttons-about {
	font-size: 20%;
	text-align: center;
	vertical-align: top;
	padding: 5em 0;
}
.social-buttons-about a+a {
	margin-left: 3.3%;
}
.content-about-text a {
	color: white;
}
.social-buttons-about img {
	width: 20%;
	max-width: 176px;
}
#loading-page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 200;
}
.loading-indicator {
    position: relative;
    height: 300px;
    width: 400px;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -200px;
    display: block;
}
h2.title-contacts {
    font-size: 75%;
    font-weight: 100;
    margin-bottom: 1.9em;
    color: #222222;
    text-align: center;
}
.menu-contacts {
    margin: 0 auto;
    width: 8em;
    line-height: 40%;
}
.menu-contacts .slash {
    margin-right: 0.3em;
}
.menu-contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 23%;
    font-weight: bold;
    color: #000;
}
.menu-contacts .value-contacts {
    color: #222;
}
.menu-contacts li {
    display: block;
    white-space: nowrap;
    padding: 0.13em 0;
}
.social-buttons-contacts {
    float: right;
    width: 3em;
    margin-top: 0.15em;
}
.social-buttons-contacts a {
    display: block;
    float: right;
}
.social-buttons-contacts a+a {
    margin-right: 0.2em;
}
.social-buttons-contacts img {
    width: 1.3em;
    max-width: 108px;
    display: block;
}
a img {
    border: 0 none;
}
.list-items-pages {
    position: absolute;
    width: 20px;
    left: 60px;
    z-index: 2;
    height: 100%;
    font-size: 0.2em;
    display: none;
}
.list-items-pages img {
    width: 0.7em;
    max-width: 13px;
    cursor: pointer;
}


.cont-items-pages {
    margin-top: -2em;
    position: relative;
    top: 50%;
    width: 0.7em;
}
.instruments-used {
	text-align: center;
	margin-top: 1.5em;
}
.instruments-used .instruments img {
	height: 0.7em;
}
.instruments-used .instruments img+img {
	margin-left: 0.5em;
}
.instruments-used .technologies img {
	height: 1em;
}
.instruments-used .technologies img+img {
	margin-left: 0.5em;
}
.double-blocks, .skills {
	background: #1e5799;
	/*background: -moz-radial-gradient(center, ellipse cover,  #3d9ce5 0%, #1e5799 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3d9ce5), color-stop(100%,#1e5799));
	background: -webkit-radial-gradient(center, ellipse cover,  #3d9ce5 0%,#1e5799 100%);
	background: -o-radial-gradient(center, ellipse cover,  #3d9ce5 0%,#1e5799 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #3d9ce5 0%,#1e5799 100%);
	background: radial-gradient(ellipse at center,  #3d9ce5 0%,#1e5799 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9ce5', endColorstr='#1e5799',GradientType=1 );*/
}
.skills h2 {
	text-align: left;
	margin-left: 12.5%;
}
.skills .portfolio-block-content {
	top: -32%;
}
