body {
	margin: 0;
	position: relative;
}

.content {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: 990px;
	height: 3000px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	white-space: pre-line;
}
.content p {
	margin: 40px 20px;
}
/* Для паралакса */
.background-image {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
}
.background-image-content {
	width: 100%;
	height: 100%;
	position: relative;
}
.background-part-block {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.background-part-block.left-part {
	left: 0;
	text-align: right;
}
.background-part-block .container-image-bg {
	position: relative;
	height: 100%;
}
.background-part-block.left-part .container-image-bg {
	margin-right: 495px;
}
.background-part-block.right-part .container-image-bg {
	margin-left: 495px;
}
.background-part-block.right-part {
	right: 0;
	text-align: left;
}
.background-image-content  img {
	position: absolute;
	left: 0;
}
.background-image-content .background-dott, .background-image-content  img {
	top: 0;
	left: 0;
}
.background-image-content .background-dott {
	position: absolute;
	z-index: 1;
	background-image: url(images/slide_dot.png);
	width: 100%;
	height: 100%;
}

