@import "compass";
$header-contacts-spacing: 2px;
$header-contacts-sprite-base-class: '.contacts-icon';
@import "header-contacts/*.png";

$services-spacing: 2px;
$services-sprite-base-class: '.icon-service-step';
@import "services/*.png";

$importantly-spacing: 2px;
$importantly-sprite-base-class: '.icon-importantly-list';
@import "importantly/*.png";

$slider-arrows-spacing: 2px;
$slider-arrows-sprite-base-class: '.slider-button';
@import "slider-arrows/*.png";


@font-face {
  font-family: 'Gabriela';
  src: url('fonts/gabriela.eot');
  src: url('fonts/gabriela.eot?#iefix') format('embedded-opentype'),
  url('fonts/gabriela.woff2') format('woff2'),
  url('fonts/gabriela.woff') format('woff'),
  url('fonts/gabriela.ttf') format('truetype'),
  url('fonts/gabriela.svg#gabrielaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 65px 0 0;
  font: 15px "Open Sans", Arial, sans-serif normal normal;
  color: #363636;
  background-color: #fff;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: block;
}
.center-content {
  width: 960px;
  margin: 0 auto;
}
.clear-both {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.uppercase {
  text-transform: uppercase;
}
.width-50 {
  width: 50%;
}
.width-25 {
  width: 25%;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
header {
  font-family: Gabriela, sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #fff;
  z-index: 5;
  nav {
    padding: 13px 0 14px;
    ul {
      margin: -13px 0 -14px;
      float: left;
      li {
        float: left;
        + li {
          margin-left: 23px;
        }
      }
      a.selected, a:hover {
        border-top: 6px solid #2e9dec;
        color: #2e9dec;
        padding-top: 18px;
      }
      a.selected {
        cursor: default;
      }
    }
  }
  a {
    display: block;
    text-decoration: none;
    color: #2b2326;
    padding-top: 24px;
    padding-bottom: 23px;
  }
}
.header-btn {
  padding: 11px 15px 9px;
  position: relative;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.blue-btn {
  color: #fff;
  border: 0 none;
  @include border-radius(2px);
  background: #2e9dec;
  background: -moz-linear-gradient(top,  #2e9dec 0%, #257ebf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e9dec), color-stop(100%,#257ebf));
  background: -webkit-linear-gradient(top,  #2e9dec 0%,#257ebf 100%);
  background: -o-linear-gradient(top,  #2e9dec 0%,#257ebf 100%);
  background: -ms-linear-gradient(top,  #2e9dec 0%,#257ebf 100%);
  background: linear-gradient(to bottom,  #2e9dec 0%,#257ebf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9dec', endColorstr='#257ebf',GradientType=0 );
  &:hover {
    background: -moz-linear-gradient(top,  #2e9dec 0%, #2697de 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e9dec), color-stop(100%,#2697DE));
    background: -webkit-linear-gradient(top,  #2e9dec 0%,#2697DE 100%);
    background: -o-linear-gradient(top,  #2e9dec 0%,#2697DE 100%);
    background: -ms-linear-gradient(top,  #2e9dec 0%,#2697DE 100%);
    background: linear-gradient(to bottom,  #2e9dec 0%,#2697DE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9dec', endColorstr='#2697DE',GradientType=0 );
  }
}
.first-block {
  background: url(images/base-background.jpg) top center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 100px;
  position: relative;
  .center-content {
    position: relative;
    z-index: 2;
  }
  .h1 {
    margin-top: 40px;
  }
  .h2-black {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
  }
  .callback-form {
    margin: 40px auto 0;
  }
}
.logotype {
  width: 186px;
  height: 71px;
  background-image: url(images/logotype.png);
}
.header-page {
  .logotype {
    margin: 11px 0 0 -1px;
  }
  .contacts {
    line-height: 32px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding-right: 15px;
    padding-top: 15px;
    .contacts-block {
      display: block;
      white-space: nowrap;
      padding-left: 25px;
      .contacts-icon {
        margin-left: -25px;
        &.phone {
          margin-top: 9px;
        }
        &.email {
          margin-top: 13px;
        }
      }
    }
  }
}
.contacts-icon {
  display: block;
  &.phone {
    @include header-contacts-sprite-position(phone);
    width: 14px;
    height: 17px;
  }
  &.email {
    @include header-contacts-sprite-position(email);
    width: 15px;
    height: 10px;
  }
}
.h1 {
  line-height: 72px;
  font-size: 60px;
  font-family: Gabriela, sans-serif;
  color: #0e67a6;
  text-align: center;
}
.h2 {
  line-height: 43px;
  font-size: 36px;
  font-family: Gabriela, sans-serif;
  color: #0e67a6;
  text-align: center;
  text-transform: uppercase;
  &.white {
    color: #fff;
  }
}
.h3 {
  text-align: center;
  color: #363636;
  font-size: 25px;
  line-height: 34px;
  padding: 25px 0;
}
.h2-black {
  line-height: 40px;
  font-size: 30px;
  color: #4b4b4a;
}
.title-form {
  font-size: 22px;
  line-height: 36px;
  font-weight: bold;
  color: #4b4b4a;
}
.description-form {
  font-size: 12px;
  color: #999897;
  padding: 12px 0 5px;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: #777;
    }
  }
}
button {
  outline: 0 none;
  -webkit-appearance: none;
}
.btn {
  padding: 11px 15px 9px;
  line-height: 24px;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}
.callback-form {
  border: 1px solid #efefef;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  width: 750px;
  padding: 15px 0;
  text-align: center;
  @include border-radius(2px);
  @include box-shadow(0 0 4px rgba(0, 0, 0, 0.15));
}
.callback-action-form {
  margin: 0 36px;
  input.text {
    width: 218px;
  }
  .form-row {
    float: left;
    + .form-row {
      margin-left: 12px;
    }
  }
  .fields-row {
    padding: 17px 0;
    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

input {
  &.text {
    background-color: #fff;
    border: 1px solid #eaeaea;
    height: 40px;
    line-height: 18px;
    padding: 10px 13px;
    font-size: 15px;
    font-family: inherit;
    @include box-shadow(0 -1px 1px rgba(0, 0, 0, 0.05));
    @include box-sizing(border-box);
    outline: none;
    -webkit-appearance: none;
    &:-ms-input-placeholder {
      color: #c8c7c7;
    }
    &::-webkit-input-placeholder {
      color: #c8c7c7;
    }
    &:-moz-placeholder {
      color: #c8c7c7;
    }
    &:focus {
      &:-ms-input-placeholder {
        color: transparent;
      }
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
        color: transparent;
      }
    }
  }
}
.uslugi-block {
  text-align: center;
  padding-bottom: 50px;
  .h2 {
    margin-bottom: 45px;
  }
  .uslugi-image {
    width: 100%;
    line-height: 143px;
    height: 143px;
    img {
      vertical-align: middle;
    }
  }
  .uslugi-title {
    font-size: 16px;
    color: #363636;
    margin: 1.2em 0;
    display: block;
  }
  .uslugi-text {
    font-size: 15px;
    line-height: 21px;
    color: #4b4b4a;
    margin: 0 10px;
  }
  .btn {
    margin-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.services-block {
  color: #363636;
  .h2 {
    background-color: #f6f9fc;
    padding: 55px 0;
  }
  .service-step {
    position: relative;
    + .service-step:after {
      content: "";
      position: absolute;
      display: block;
      width: 19px;
      height: 30px;
      top: 50px;
      background-image: url(images/arrow-services.png);
      margin-left: -15px;
    }
  }
  .services-line-not-even {
    background-color: #eef2f7;
  }
  .services-line-even {
    background-color: #f6f9fc;
  }
  .last-service-line {
    padding-bottom: 10px;
  }
  .description-step-service {
    font-size: 15px;
    display: block;
    line-height: 18px;
    margin: 15px 10px;
  }
}
.icon-service-step {
  width: 65px;
  height: 65px;
  margin: 17px auto 12px;
  @for $i from 1 through 16 {
    &.service-step-#{$i} {
      @include services-sprite-position(icon-#{$i});
    }
  }
}
.horizont-block {
  height: 605px;
  background: url(images/horizont-bg.jpg) center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .deviz-text {
    color: white;
    font-family: Gabriela, sans-serif;
    text-align: center;
    font-size: 72px;
    line-height: 120px;
    @include text-shadow(0 0 13px rgba(14, 103, 166, 0.52));
    padding-top: 178px;
  }
}
.map-block {
  height: 517px;
}
.footer-text {
  text-align: center;
  color: #999897;
  font-size: 12px;
  line-height: 17px;
  padding: 19px 0;
}
.contacts-block-content {
  height: 503px;
  background: url(images/contacts-bg-2.jpg) center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .center-content {
    padding-top: 55px;
  }
  .address {
    color: #fff;
    line-height: 21px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin: 35px 0;
  }
  .callback-form {
    margin: 30px auto 0;
    background-color: #f5f9fc;
  }
}
.callback-form-block {
  background-color: #f8f8f8;
  .center-content {
    background: url(images/woman-1.png) 757px bottom no-repeat;
  }
  .callback-action-form {
    padding: 42px 155px 42px 33px;
  }
  p {
    margin-bottom: 0;
  }
}
.about-block {
  .h2 {
    padding: 55px 0;
  }
  .main-comment-about {
    margin: 0 55px 0 172px;
    border: 1px solid #efefef;
    @include box-shadow(0 0 4px rgba(0, 0, 0, 0.15));
    padding: 35px 45px;
    position: relative;
    p {
      margin: 0;
      &.content-text {
        text-indent: 35px;
      }
      &.author-comment {
        margin-left: 180px;
        font-style: italic;
      }
      + p {
        margin-top: 20px;
      }
    }
    line-height: 20px;
    font-size: 14px;
    .woman {
      width: 197px;
      height: 372px;
      position: absolute;
      top: 1px;
      left: -137px;
      background: url(images/woman-2.png) center center no-repeat;
    }
  }
  .big-cloud {
    height: 775px;
    background: url(images/big-cloud.png) center center no-repeat;
    .center-content {
      padding-top: 150px;
    }
    .h2 {
      padding: 53px 0;
    }
  }
}
.priority-list {
  line-height: 60px;
  font-weight: 600;
  font-size: 20px;
  padding-left: 110px;
  padding-right: 50px;
  margin: 0;
  .text-list {
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
  }
  li {
    padding-left: 65px;
    min-height: 60px;
    + li {
      margin-top: 12px;
    }
  }
}
.icon-importantly-list {
  width: 52px;
  height: 52px;
  float: left;
  margin-left: -65px;
  margin-top: 6px;
  &.technology {
    @include importantly-sprite-position(technology);

  }
  &.heart {
    @include importantly-sprite-position(heart);
  }
  &.specy {
    @include importantly-sprite-position(specy);
  }
  &.lampa {
    @include importantly-sprite-position(lampa);
  }
}
.people-comments {
  margin-top: -25px;
  p {
    margin: 0;
  }
  .center-content {
    padding: 10px 0 67px;
    border-bottom: 1px solid #bebebe;
  }
  .visible-comment {
    font-size: 19px;
    padding: 35px 125px 65px;
    font-family: Gabriela, sans-serif;
    line-height: 22px;
    color: #4b4b4a;
    text-align: center;
    background: url(images/quote.png) 37px 0 no-repeat;
  }
  .face-people {
    width: 66px;
    height: 66px;
    cursor: pointer;
    margin-left: -78px;
    margin-top: -10px;
  }
  .info-people {
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 35px;
    padding-left: 78px;
    color: #4b4b4a;
  }
  .name-people {
    font-weight: bold;
    font-size: 17px;
  }
  .organization {
    font-weight: 600;
    font-size: 16px;
  }
  .mask-no-active {
    background-image: url(images/white-mask.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -15px 0;
  }
  .active-link {
    .mask-no-active {
      display: none;
    }
  }
}
.anchor {
  display: block;
  &.padding-anchor {
    margin-top: -40px;
    padding-bottom: 40px;
  }
}
.to-back-button {
  width: 49px;
  height: 61px;
  display: block;
  position: fixed;
  background-image: url(images/back-button/to-begin.png);
  right: 30px;
  bottom: 30px;
  .button-arrow {
    display: block;
    width: 100%;
    height: 100%;
    background: url(images/back-button/to-begin-disabled.png) center center no-repeat;
  }
  &:hover {
    .button-arrow {
      background-image: url(images/back-button/to-begin-enabled.png);
    }
  }
  &.selected {
    display: none;
  }
}
.popup-background {
  background-image: url(images/white-mask.png);
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.form-row {
  position: relative;
}
.callback-form-popup {
  width: 374px;
  height: 334px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -187px;
  margin-top: -190px;
  background-color: #fff;
  border: 1px solid #efefef;
  display: none;
  z-index: 7;
  @include border-radius(3px);
  @include box-shadow(0 0 6px rgba(0, 0, 0, 0.15));
  text-align: center;
  .text-form-popup {
    font-size: 15px;
    color: #0e67a6;
    line-height: 24px;
    font-weight: bold;
    margin: 25px 0 20px;
  }
  form {
    padding: 0 30px;
  }
  .btn {
    margin-top: 24px;
  }
  .form-row {
    width: 218px;
    margin: 0 auto;
    + .form-row {
      margin-top: 12px;
    }
  }
  input.text, .btn {
    width: 218px;
  }
}
.close-popup-button {
  float: right;
  margin: 6px 6px 0 0;
  background-image: url(images/close-button.png);
  width: 13px;
  height: 13px;
  cursor: pointer;
}
.news-block {
  padding-bottom: 55px;
}
.articles-news {
  overflow: hidden;
  ul {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 -26px;
    .article-content {
      margin-left: 26px;
      width: 275px;
      color: #4a4a4a;
    }
    .item-news {
      width: 33.33%;
      float: left;
    }
  }
  .article-title {
    font-family: Gabriela, sans-serif;
    font-size: 24px;
  }
  .article-text {
    font-size: 12px;
  }
  .article-advanced {
    color: #2e9eea;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    &:hover {
      text-decoration: underline;
    }
  }
}
.slider-container {
  position: relative;
}
.slider-button {
  width: 24px;
  height: 41px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  &.prev-button {
    left: 0;
    margin-left: -55px;
    @include slider-arrows-sprite-position(left-arrow-dis);
    &:hover {
      @include slider-arrows-sprite-position(left-arrow);
    }
  }
  &.next-button {
    right: 0;
    margin-right: -55px;
    @include slider-arrows-sprite-position(right-arrow-dis);
    &:hover {
      @include slider-arrows-sprite-position(right-arrow);
    }
  }
}
.error-field {
  position: absolute;
  background-color: #0e67a6;
  color: #fff;
  bottom: 100%;
  margin-bottom: 1px;
  font-size: 10px;
  padding: 2px 10px;
  font-weight: bold;
  @include border-radius(3px);
}
.privacy-block {
  font-size: 15px;
  padding: 20px;
  width: 780px;
  height: 600px;
  overflow: auto;
  @include box-shadow(0 0 4px rgba(0, 0, 0, 0.15));
  @include box-sizing(border-box);
  position: fixed;
  z-index: 7;
  top: 50%;
  left: 50%;
  margin-left: -390px;
  margin-top: -320px;
  background-color: #fff;
  h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 1.2em;
  }
}
.cloud-bottom {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  left: 0;
}