/* line 2, ../sass/style.scss */
body {
  margin: 0;
  font: 13px Arial, Verdana, sans-serif;
}

/* line 6, ../sass/style.scss */
.apps-container-block {
  padding: 20px;
}

/* line 9, ../sass/style.scss */
.app-container {
  float: left;
  border: 1px solid #333;
  width: 200px;
}
/* line 13, ../sass/style.scss */
.app-container .title-app {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  line-height: 15px;
}
/* line 20, ../sass/style.scss */
.app-container + .app-container {
  margin-left: 20px;
}

/* line 24, ../sass/style.scss */
.app-block {
  background-color: #ddd;
  position: relative;
  overflow: hidden;
}

/* line 29, ../sass/style.scss */
.for-button-container {
  position: relative;
  height: 100%;
  line-height: 290px;
  text-align: center;
}

/* line 35, ../sass/style.scss */
.app-start-btn {
  line-height: 15px;
  background-color: #499eff;
  color: #fff;
  font-weight: bold;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 45, ../sass/style.scss */
.app-start-btn:hover {
  background-color: #3678c2;
}

/* line 49, ../sass/style.scss */
.app-item-name {
  background-color: #777;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  padding: 7px 15px;
  font-weight: bold;
}
/* line 55, ../sass/style.scss */
.app-item-name + .app-item-name {
  border-top: 1px solid #444;
}

/* line 59, ../sass/style.scss */
.clock-container {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 10px 40px;
  background-color: #555;
  color: #fff;
  font-family: monospace;
  margin: 1px;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
/* line 69, ../sass/style.scss */
.clock-container .clock-one-part {
  display: inline-block;
  vertical-align: middle;
}
/* line 72, ../sass/style.scss */
.clock-container .clock-one-part.seconds-part {
  float: right;
  font-size: 13px;
  margin-left: -20px;
  margin-right: -20px;
}

/* line 80, ../sass/style.scss */
.novisible {
  visibility: hidden;
}

/* Weather */
/* line 88, ../sass/style.scss */
.weather-bg-container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 95, ../sass/style.scss */
.weather-bg-container img {
  vertical-align: top;
  min-height: 100%;
  width: 100%;
}

/* line 101, ../sass/style.scss */
.weather-info-container {
  position: relative;
  z-index: 2;
  padding: 3px;
  color: #fff;
}
/* line 106, ../sass/style.scss */
.weather-info-container .weather-info-block {
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
/* line 110, ../sass/style.scss */
.weather-info-container .weather-info-block + .weather-info-block {
  margin-top: 3px;
}
/* line 114, ../sass/style.scss */
.weather-info-container .weather-status-img {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 0;
  width: 80%;
}
/* line 121, ../sass/style.scss */
.weather-info-container .weather-info-content {
  z-index: 2;
  margin: 0 5px;
  padding: 5px 0;
  position: relative;
}
/* line 127, ../sass/style.scss */
.weather-info-container .weather-temp {
  font-size: 42px;
  padding: 10px 0;
  margin-left: 58%;
  display: block;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 134, ../sass/style.scss */
.weather-info-container .weather-code-info {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 140, ../sass/style.scss */
.weather-info-container .city-name {
  padding: 5px 10px;
  font-weight: bold;
}
