
/*@font-face {*/
    /*font-family: 'Helvetica Neue 1';*/
    /*src: url('fonts/helveticaneuecyr-ultralight-webfont.eot');*/
    /*src: url('fonts/helveticaneuecyr-ultralight-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/helveticaneuecyr-ultralight-webfont.woff') format('woff'),*/
         /*url('fonts/helveticaneuecyr-ultralight-webfont.ttf') format('truetype'),*/
         /*url('fonts/helveticaneuecyr-ultralight-webfont.svg#helveticaneuecyrultralight') format('svg');*/
    /*font-weight: 100;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Helvetica Neue 1';*/
    /*src: url('fonts/helveticaneuecyr-ultralightitalic-webfont.eot');*/
    /*src: url('fonts/helveticaneuecyr-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/helveticaneuecyr-ultralightitalic-webfont.woff') format('woff'),*/
         /*url('fonts/helveticaneuecyr-ultralightitalic-webfont.ttf') format('truetype'),*/
         /*url('fonts/helveticaneuecyr-ultralightitalic-webfont.svg#helveticaneuecyrultraLtIt') format('svg');*/
    /*font-weight: 100;*/
    /*font-style: italic;*/
/*}*/


/*@font-face {*/
    /*font-family: 'Helvetica Neue 1';*/
    /*src: url('fonts/helveticaneuecyr-thin-webfont.eot');*/
    /*src: url('fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),*/
         /*url('fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype'),*/
         /*url('fonts/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');*/
    /*font-weight: 200;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Helvetica Neue 1';*/
    /*src: url('fonts/helveticaneuecyr-thinitalic-webfont.eot');*/
    /*src: url('fonts/helveticaneuecyr-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff'),*/
         /*url('fonts/helveticaneuecyr-thinitalic-webfont.ttf') format('truetype'),*/
         /*url('fonts/helveticaneuecyr-thinitalic-webfont.svg#helveticaneuecyrthin_italic') format('svg');*/
    /*font-weight: 200;*/
    /*font-style: italic;*/
/*}*/

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-light-webfont.eot');
    src: url('fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: 300;
    font-style: normal;
}
/*@font-face {*/
    /*font-family: 'Helvetica Neue';*/
    /*src: url('fonts/helveticaneuecyr-lightitalic-webfont.eot');*/
    /*src: url('fonts/helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff'),*/
         /*url('fonts/helveticaneuecyr-lightitalic-webfont.ttf') format('truetype'),*/
         /*url('fonts/helveticaneuecyr-lightitalic-webfont.svg#helveticaneuecyrlight_italic') format('svg');*/
    /*font-weight: 300;*/
    /*font-style: italic;*/
/*}*/

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-italic-webfont.eot');
    src: url('fonts/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-italic-webfont.svg#helveticaneuecyritalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: 600;
    font-style: normal;
}
/*@font-face {*/
    /*font-family: 'Helvetica Neue 1';*/
    /*src: url('fonts/helveticaneuecyr-bolditalic-webfont.eot');*/
    /*src: url('fonts/helveticaneuecyr-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff'),*/
         /*url('fonts/helveticaneuecyr-bolditalic-webfont.ttf') format('truetype'),*/
         /*url('fonts/helveticaneuecyr-bolditalic-webfont.svg#helveticaneuecyrbold_italic') format('svg');*/
    /*font-weight: 600;*/
    /*font-style: italic;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Helvetica Neue 1';*/
    /*src: url('fonts/helveticaneuecyr-black-webfont.eot');*/
    /*src: url('fonts/helveticaneuecyr-black-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/helveticaneuecyr-black-webfont.woff') format('woff'),*/
         /*url('fonts/helveticaneuecyr-black-webfont.ttf') format('truetype'),*/
         /*url('fonts/helveticaneuecyr-black-webfont.svg#helveticaneuecyrblack') format('svg');*/
    /*font-weight: 700;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Helvetica Neue 1';*/
    /*src: url('fonts/helveticaneuecyr-blackitalic-webfont.eot');*/
    /*src: url('fonts/helveticaneuecyr-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/helveticaneuecyr-blackitalic-webfont.woff') format('woff'),*/
         /*url('fonts/helveticaneuecyr-blackitalic-webfont.ttf') format('truetype'),*/
         /*url('fonts/helveticaneuecyr-blackitalic-webfont.svg#helveticaneuecyrblack_italic') format('svg');*/
    /*font-weight: 700;*/
    /*font-style: italic;*/
/*}*/



/*@font-face {*/
    /*font-family: 'Neo Sans Pro';*/
    /*src: url('fonts/neosanspro-ultra-webfont.eot');*/
    /*src: url('fonts/neosanspro-ultra-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/neosanspro-ultra-webfont.woff') format('woff'),*/
         /*url('fonts/neosanspro-ultra-webfont.ttf') format('truetype'),*/
         /*url('fonts/neosanspro-ultra-webfont.svg#neo_sans_proultra') format('svg');*/
    /*font-weight: 100;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Neo Sans Pro';*/
    /*src: url('fonts/neosanspro-light-webfont.eot');*/
    /*src: url('fonts/neosanspro-light-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/neosanspro-light-webfont.woff') format('woff'),*/
         /*url('fonts/neosanspro-light-webfont.ttf') format('truetype'),*/
         /*url('fonts/neosanspro-light-webfont.svg#neo_sans_prolight') format('svg');*/
    /*font-weight: 200;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Neo Sans Pro';*/
    /*src: url('fonts/neosanspro-lightitalic-webfont.eot');*/
    /*src: url('fonts/neosanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/neosanspro-lightitalic-webfont.woff') format('woff'),*/
         /*url('fonts/neosanspro-lightitalic-webfont.ttf') format('truetype'),*/
         /*url('fonts/neosanspro-lightitalic-webfont.svg#neo_sans_prolight_italic') format('svg');*/
    /*font-weight: 200;*/
    /*font-style: italic;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Neo Sans Pro';*/
    /*src: url('fonts/neosanspro-regular-webfont.eot');*/
    /*src: url('fonts/neosanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/neosanspro-regular-webfont.woff') format('woff'),*/
         /*url('fonts/neosanspro-regular-webfont.ttf') format('truetype'),*/
         /*url('fonts/neosanspro-regular-webfont.svg#neo_sans_proregular') format('svg');*/
    /*font-weight: 300;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Neo Sans Pro';*/
    /*src: url('fonts/neosanspro-italic-webfont.eot');*/
    /*src: url('fonts/neosanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/neosanspro-italic-webfont.woff') format('woff'),*/
         /*url('fonts/neosanspro-italic-webfont.ttf') format('truetype'),*/
         /*url('fonts/neosanspro-italic-webfont.svg#neo_sans_proitalic') format('svg');*/
    /*font-weight: 300;*/
    /*font-style: italic;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Neo Sans Pro';*/
    /*src: url('fonts/neosanspro-medium-webfont.eot');*/
    /*src: url('fonts/neosanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/neosanspro-medium-webfont.woff') format('woff'),*/
         /*url('fonts/neosanspro-medium-webfont.ttf') format('truetype'),*/
         /*url('fonts/neosanspro-medium-webfont.svg#neo_sans_promedium') format('svg');*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Neo Sans Pro';*/
    /*src: url('fonts/neosanspro-bold-webfont.eot');*/
    /*src: url('fonts/neosanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/neosanspro-bold-webfont.woff') format('woff'),*/
         /*url('fonts/neosanspro-bold-webfont.ttf') format('truetype'),*/
         /*url('fonts/neosanspro-bold-webfont.svg#neo_sans_probold') format('svg');*/
    /*font-weight: 500;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Neo Sans Pro';*/
    /*src: url('fonts/neosanspro-bolditalic-webfont.eot');*/
    /*src: url('fonts/neosanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('fonts/neosanspro-bolditalic-webfont.woff') format('woff'),*/
         /*url('fonts/neosanspro-bolditalic-webfont.ttf') format('truetype'),*/
         /*url('fonts/neosanspro-bolditalic-webfont.svg#neo_sans_probold_italic') format('svg');*/
    /*font-weight: 500;*/
    /*font-style: italic;*/
/*}*/