#map-region {
    width: 948px;
    height: 456px;
    position: relative;
    margin: 0 auto;
}

#map-region img {
    position: absolute;
    display: block;
}
#map-region img.static {
    left: 0;
    top: 0;
}
#sector-1 {
    margin-left: -131px;
    margin-top: -26px;
}
#sector-2 {
    margin-left: 131px;
    margin-top: 65px;
}
#sector-3 {
    margin-left: 339px;
    margin-top: 87px;
}
#sector-4 {
    margin-left: 553px;
    margin-top: -27px;
}
.baloon {
    z-index: 5;
    margin-top: -118px;
    margin-left: -23px;
    width: 156px;
    height: 118px;
    background: url(images/baloon.png) center center no-repeat;
    position: absolute;
}
.content-baloon {
    z-index: 7;
    margin-top: -116px;
    margin-left: -20px;
    width: 150px;
    height: 77px;
    position: absolute;
    background-color: #FFF;
}
.text-baloon {
    margin: 5px 15px;
    font-size: 14px;
    line-height: 17px;
}
.name-area {
    font-size: 18px;
    color: #438b62;
}
#blank-map {
    z-index: 6;
}
.pointer-map {
    position: absolute;
    z-index: 4;
    font-size: 14px;
    text-transform: uppercase;
}
.pointer-map span {
    display: block;
    line-height: 17px;
}
.pointer-map.point-1 {
    left: 715px;
    top: 280px;
    width: 266px;
    height: 61px;
    background: url(images/pointer-1.png) center center no-repeat;
}
.pointer-map.point-1 span {
    width: 130px;
    margin-left: 90px;
    margin-top: 24px;
}
.pointer-map.point-2 {
    left: 240px;
    top: -15px;
    width: 256px;
    height: 78px;
    background: url(images/pointer-2.png) center center no-repeat;
}
.pointer-map.point-2 span {
    margin-left: 90px;
    margin-top: 2px;
}
.pointer-map.point-3 {
    left: 280px;
    top: 330px;
    width: 196px;
    height: 187px;
    background: url(images/pointer-3.png) center center no-repeat;
}
.pointer-map.point-3 span {
    margin-left: 30px;
    margin-top: 163px;
}
.pointer-map.point-4 {
    left: 500px;
    top: 307px;
    width: 300px;
    height: 219px;
    background: url(images/pointer-4.png) center center no-repeat;
}
.pointer-map.point-4 span {
    width: 209px;
    margin-left: 65px;
    margin-top: 165px;
}
.pointer-map.point-5 {
    left: 425px;
    top: 50px;
    width: 77px;
    height: 135px;
    background: url(images/pointer-5.png) center center no-repeat;
}
.pointer-map.point-5 span {
    margin-left: 2px;
    margin-top: 7px;
}
.pointer-map.point-6 {
    left: 210px;
    top: -60px;
    width: 138px;
    height: 97px;
    background: url(images/pointer-6.png) center center no-repeat;
}
.pointer-map.point-6 span {
    margin-left: 61px;
    margin-top: 7px;
}
.pointer-map.point-7 {
    left: -25px;
    top: 30px;
    width: 187px;
    height: 29px;
    background: url(images/pointer-7.png) center center no-repeat;
}
.pointer-map.point-7 span {
    margin-left: 38px;
    margin-top: 5px;
}


#map-region .sector {
    display: none;
    z-index: 2;
}
#only-map {
    z-index: 1;
}
#mask-map {
    z-index: 4;
}
#map-region svg {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}
h2 {
    margin: 25px 0 0 35px;
    font-weight: 300;
    font-size: 18px;
    background: url(images/compas.png) left center no-repeat;
    padding: 28px 0 28px 124px;
    line-height: 21px;
}
h2 span {
    width: 280px;
    display: block;
}
.sectors-nav {
    padding-top: 55px;
    margin-right: 75px;
    font-weight: 400;
    width: 130px;
    position: relative;
    z-index: 3;
}
.sectors-nav span {
    font-size: 11px;
    line-height: 13px;
    display: block;
}
.sectors-nav ul {
    list-style-type: none;
    text-align: right;
    line-height: 25px;
    font-size: 14px;
}
.sectors-nav .link {
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}
.map-legend {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 45px;
    width: 200px;
}
.map-legend li {
    padding-left: 32px;
    background: url(images/legend-circles.png) no-repeat;
}
.map-legend li.booked {
    background-position: left -22px;
}
.map-legend li.sold {
    background-position: left -43px;
}
.map-legend li.sale {
    background-position: left -1px;
}
.map-legend li+li {
    margin-top: 16px;
}
.map-road-bt {
    margin: 0 auto 55px;
}
.map-road {
    width: 960px;
    height: 505px;
}