html, body {
    height: 100%;
}
body {
    margin: 0;
    min-width: 960px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    position: relative;
}
.mask-popup {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url(images/mask-bg.png);
}
.popup-wind {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    background: #FFF;
}
.title-popup {
    line-height: 40px;
    padding: 0 27px;
    position: relative;
    height: 40px;
    color: #3a291c;
    font-size: 12px;
}
.title-popup div {
    display: inline;
}
.title-popup span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #357e50;
}
.title-popup div+span {
    margin-left: 15px;
}
.close-popup {
    width: 30px;
    height: 30px;
    background: url(images/close-popup.png);
    position: absolute;
    top: -14px;
    right: 4px;
    cursor: pointer;
}
.clear {
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
}
#page {
    position: relative;
    min-height: 100%;
}
#content-page {
    padding-bottom: 246px;
}
footer {
    height: 246px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(images/footer-bg.png) left center repeat-x;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.38);
    color: #FFF;
}
footer .info-block-foot {
    padding-top: 39px;
    float: left;
    width: 200px;
    font-size: 12px;
    margin: 0 45px 0 35px;
}
footer .title-info-bl {
    line-height: 19px;
    text-transform: uppercase;
    border-bottom: 1px solid #286840;
}
footer .text-info-bl {
    border-top: 1px solid #7cb692;
    line-height: 14px;
    padding-top: 6px;
}
a img {
    border: 0 none;
}
#header {

}
#logo {
    margin: 0 35px;
    display: block;
    width: 277px;
}
.left {
    float: left;
}
.right {
    float: right;
}
#main-menu {
    margin: 0 7px;
}
#main-menu ul {
    list-style-type: none;
    font-weight: 500;
    margin: 0;
    padding: 0 0 0 23px;
    white-space: nowrap;
    line-height: 52px;
    height: 100%;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.38);
}
#main-menu li {
    color: #FFF;
    float: left;
}
#main-menu a, #main-menu span {
    color: inherit;
    display: block;
    padding: 0 20px 0;
    text-decoration: none;
}
.content-center {
    width: 960px;
    margin: 0 auto;
}
#main-menu .active a {
    background: #357f51;
    background: -moz-linear-gradient(top,  #357f51 0%, #3e8d5b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#357f51), color-stop(100%,#3e8d5b));
    background: -webkit-linear-gradient(top,  #357f51 0%,#3e8d5b 100%);
    background: -o-linear-gradient(top,  #357f51 0%,#3e8d5b 100%);
    background: -ms-linear-gradient(top,  #357f51 0%,#3e8d5b 100%);
    background: linear-gradient(to bottom,  #357f51 0%,#3e8d5b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#357f51', endColorstr='#3e8d5b',GradientType=0 );
    zoom: 1;
    box-shadow: inset 0 1px 9px rgba(0, 0, 0, 0.48);
    line-height: 48px;
    border: 1px solid #3b8656;
    margin: 1px -1px;
}
#main-menu .delimiter {
    width: 2px;
    background: url(images/delimiter-menu.png) left center no-repeat;
    height: 100%;
}
#header .border, #header nav {
    background-image: url(images/borders-menu.png);
    height: 52px;
}
#header nav {
    background-position: center -52px;
    background-repeat: repeat-x;
}
#header .border {
    width: 8px;
    background-repeat: no-repeat;
}
#header .right.border {
    margin-right: -7px;
    background-position: -7px 0;
}
#header .left.border {
    margin-left: -7px;
    background-position: 0 0;
}
footer .dev-info {
    height: 100%;
    width: 130px;
    background: url(images/dev-info-bg.png) left 1px repeat-x;
}
footer .content-center {
    height: 100%;
}
footer .dev-txt {
    height: 100%;
    background: url(images/dev-bl-bg.png) left 1px repeat-x;
    font-size: 11px;
    margin: 0 2px;
    position: relative;
}
footer a {
    color: inherit;
}
footer .active a {
    text-decoration: underline;
}
footer .content-footer {
    height: 100%;
}
footer .dev-txt .content-footer {
    position: relative;
}
.dev-logo {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 50%;
    margin-left: -19px;
    top: 44px;
    background: url(images/dev-logo.png) center center no-repeat;
}
.text-dev {
    position: absolute;
    left: 16px;
    right: 16px;
    line-height: 14px;
    bottom: 20px;
}
footer nav {
    margin-left: 35px;
    padding-top: 39px;
    text-transform: uppercase;
    color: #fff;
    line-height: 22px;
    float: left;
}
footer nav a {
    color: inherit;
    text-decoration: none;
}
footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
footer nav li {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 22px 0 12px;
}
b {
    font-weight: 600;
}
.button {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #4d9e6b #4a9d68 #479b66;
    font-weight: 500;
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    width: 145px;
    text-decoration: none;
}
.button span {
    display: block;
    height: 35px;
    text-align: center;
    line-height: 34px;
    border-width: 2px 1px 0;
    border-style: solid;
    border-color: #6db185 #65a57d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #489d67;
    background: -moz-linear-gradient(top,  #489d67 0%, #357e50 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#489d67), color-stop(100%,#357e50));
    background: -webkit-linear-gradient(top,  #489d67 0%,#357e50 100%);
    background: -o-linear-gradient(top,  #489d67 0%,#357e50 100%);
    background: -ms-linear-gradient(top,  #489d67 0%,#357e50 100%);
    background: linear-gradient(to bottom,  #489d67 0%,#357e50 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489d67', endColorstr='#357e50',GradientType=0 );
    zoom: 1;
}


.group-blocks {
    margin: 40px 35px;
    border-top: 1px solid #3a291c;
}
.one-block-ig {
    padding: 25px 0;
    border-bottom: 1px solid #3a291c;
}
.one-block-ig h2 {
    line-height: 16px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    color: #357e50;
}
.one-block-ig h2 a {
    color: inherit;
}
.one-block-ig p {
    color: #3a291c;
    font-size: 12px;
    line-height: 13px;
    margin: 14px 0 0;
}
.one-block-ig .buttons-group {
    margin: 16px 4px 12px;
}
.button.left + .button.left {
    margin-left: 50px;
}
.one-block-ig .for-image {
    float: left;
    margin: 3px 0;
    white-space: nowrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 210px;
    height: 147px;
    line-height: 147px;
    text-align: center;
    overflow: hidden;
    font-size: 0;
    position: relative;
}
.one-block-ig a {
    display: block;
}
.one-block-ig img {
    vertical-align: middle;
}
.one-block-ig .content-pr {
    position: relative;
    margin-left: 10px;
}
.one-block-ig.no-border {
    border-bottom: 0 none;
}
.one-block-ig.no-bottom-padd {
    padding-bottom: 0;
}
.one-block-ig .one-info-block+.one-info-block {
    margin-top: 40px;
}
.one-block-ig .one-info-block p {
    line-height: 14px;
}
.one-block-ig .for-image+.content-pr {
    margin-left: 230px;
    min-height: 145px;
}
.one-block-ig .left-block {
    width: 280px;
}
.one-block-ig .content-pr .button {
    position: absolute;
    bottom: 0;
}
.one-block-ig .content-pr .date {
    color: #3a291c;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 6px;
}
.contacts .one-block-ig {
    padding: 28px 0;
}
.contacts .one-block-ig.no-bottom-padd {
    padding: 28px 0 0;
}
.contacts form {
    margin: 14px 0 -5px;
    padding: 0;
}
.contacts form .submit-button {
    padding-top: 35px;
}
.contacts .button {
    margin: 0 auto;
}
.contacts form .left-block {
    width: 330px;
    float: left;
}
.contacts form .right-block {
    width: 520px;
    float: right;
}
.field-cont textarea {
    resize: vertical;
}
.field-cont input, .field-cont textarea {
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    font-size: 12px;
    color: #3a291c;
    font-style: italic;
    line-height: 14px;
    height: 14px;
    width: 100%;
    border: 0 none;
}

.contacts textarea {
    height: 120px;
}
.field-cont {
    border: 1px solid #3a291c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
}
.field-cont+.field-cont {
    margin: 18px 0 0;
}
.field-cont .field {
    margin: 0 10px;
    padding: 7px 0 8px;
    display: block;
}
.popup-text {
    white-space: pre-line;
    padding: 0 27px 20px;
    font-size: 12px;
    color: #3a291c;
}
.hidden-iframe {
    width: 1px;
    height: 1px;
    position: fixed;
    left: -100px;
    top: -100px;
}
.map-contacts {
    width: 600px;
    height: 366px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.paging {
    white-space: nowrap;
    font-size: 12px;
    text-decoration: none;
    line-height: 14px;
    margin-right: 39px;
    margin-top: 22px;
}
.paging a, .paging span {
    padding: 0 0.5em;
    color: #3a291c;
    text-decoration: none;
}
.paging a.active {
    text-decoration: underline;
    color: #357e50;
}
.paging a.active:hover {
    text-decoration: none;
}
.paging + section {
    padding-top: 10px;
}
section + .paging {
    margin-top: -19px;
    padding-bottom: 35px;
}
.paging-butt {
    width: 32px;
    height: 37px;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    background: url(images/arrows-sl.png);
    cursor: pointer;
    z-index: 2;
}
.paging-butt.lb {
    left: 0;
    margin-left: -5px;
    background-position: -5px 0;
}
.paging-butt.rb {
    right: 0;
    margin-right: -5px;
    background-position: 0 -37px;
}
.width-100 {
    width: 100%;
}
.width-50 {
    width: 50%;
}
.content-popup .nav-buttons {
    padding: 10px;
}
.content-popup .nav-buttons .left .nav-butt {
    float: right;
    margin-right: 9px;
}
.content-popup .nav-buttons .right .nav-butt {
    float: left;
    margin-left: 9px;
}
.nav-butt {
    width: 17px;
    height: 18px;
    background: url(images/arrows-paging.png) no-repeat;
    cursor: pointer;
}
.nav-butt.left-pg {
    background-position: 0 0;
}
.nav-butt.right-pg {
    background-position: -17px 0;
}










