.contacts-icon {
  background-image: url('images/sprites/header-contacts-s05bf4d8193.png');
  background-repeat: no-repeat;
}

.icon-service-step {
  background-image: url('images/sprites/services-s29baeda4c9.png');
  background-repeat: no-repeat;
}

.icon-importantly-list {
  background-image: url('images/sprites/importantly-s6eb6b38148.png');
  background-repeat: no-repeat;
}

.slider-button {
  background-image: url('images/sprites/slider-arrows-s9e5eed1ace.png');
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Gabriela';
  src: url("fonts/gabriela.eot");
  src: url("fonts/gabriela.eot?#iefix") format("embedded-opentype"), url("fonts/gabriela.woff2") format("woff2"), url("fonts/gabriela.woff") format("woff"), url("fonts/gabriela.ttf") format("truetype"), url("fonts/gabriela.svg#gabrielaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 65px 0 0;
  font: 15px "Open Sans", Arial, sans-serif normal normal;
  color: #363636;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: block;
}

.center-content {
  width: 960px;
  margin: 0 auto;
}

.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header {
  font-family: Gabriela, sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #fff;
  z-index: 5;
}
header nav {
  padding: 13px 0 14px;
}
header nav ul {
  margin: -13px 0 -14px;
  float: left;
}
header nav ul li {
  float: left;
}
header nav ul li + li {
  margin-left: 23px;
}
header nav ul a.selected, header nav ul a:hover {
  border-top: 6px solid #2e9dec;
  color: #2e9dec;
  padding-top: 18px;
}
header nav ul a.selected {
  cursor: default;
}
header a {
  display: block;
  text-decoration: none;
  color: #2b2326;
  padding-top: 24px;
  padding-bottom: 23px;
}

.header-btn {
  padding: 11px 15px 9px;
  position: relative;
  text-decoration: none;
}
.header-btn:hover {
  text-decoration: none;
}

.blue-btn {
  color: #fff;
  border: 0 none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #2e9dec;
  background: -moz-linear-gradient(top, #2e9dec 0%, #257ebf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e9dec), color-stop(100%, #257ebf));
  background: -webkit-linear-gradient(top, #2e9dec 0%, #257ebf 100%);
  background: -o-linear-gradient(top, #2e9dec 0%, #257ebf 100%);
  background: -ms-linear-gradient(top, #2e9dec 0%, #257ebf 100%);
  background: linear-gradient(to bottom, #2e9dec 0%, #257ebf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9dec', endColorstr='#257ebf',GradientType=0 );
}
.blue-btn:hover {
  background: -moz-linear-gradient(top, #2e9dec 0%, #2697de 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e9dec), color-stop(100%, #2697DE));
  background: -webkit-linear-gradient(top, #2e9dec 0%, #2697DE 100%);
  background: -o-linear-gradient(top, #2e9dec 0%, #2697DE 100%);
  background: -ms-linear-gradient(top, #2e9dec 0%, #2697DE 100%);
  background: linear-gradient(to bottom, #2e9dec 0%, #2697de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9dec', endColorstr='#2697DE',GradientType=0 );
}

.first-block {
  background: url(images/base-background.jpg) top center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 100px;
  position: relative;
}
.first-block .center-content {
  position: relative;
  z-index: 2;
}
.first-block .h1 {
  margin-top: 40px;
}
.first-block .h2-black {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}
.first-block .callback-form {
  margin: 40px auto 0;
}

.logotype {
  width: 186px;
  height: 71px;
  background-image: url(images/logotype.png);
}

.header-page .logotype {
  margin: 11px 0 0 -1px;
}
.header-page .contacts {
  line-height: 32px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  padding-right: 15px;
  padding-top: 15px;
}
.header-page .contacts .contacts-block {
  display: block;
  white-space: nowrap;
  padding-left: 25px;
}
.header-page .contacts .contacts-block .contacts-icon {
  margin-left: -25px;
}
.header-page .contacts .contacts-block .contacts-icon.phone {
  margin-top: 9px;
}
.header-page .contacts .contacts-block .contacts-icon.email {
  margin-top: 13px;
}

.contacts-icon {
  display: block;
}
.contacts-icon.phone {
  background-position: 0 -12px;
  width: 14px;
  height: 17px;
}
.contacts-icon.email {
  background-position: 0 0;
  width: 15px;
  height: 10px;
}

.h1 {
  line-height: 72px;
  font-size: 60px;
  font-family: Gabriela, sans-serif;
  color: #0e67a6;
  text-align: center;
}

.h2 {
  line-height: 43px;
  font-size: 36px;
  font-family: Gabriela, sans-serif;
  color: #0e67a6;
  text-align: center;
  text-transform: uppercase;
}
.h2.white {
  color: #fff;
}

.h3 {
  text-align: center;
  color: #363636;
  font-size: 25px;
  line-height: 34px;
  padding: 25px 0;
}

.h2-black {
  line-height: 40px;
  font-size: 30px;
  color: #4b4b4a;
}

.title-form {
  font-size: 22px;
  line-height: 36px;
  font-weight: bold;
  color: #4b4b4a;
}

.description-form {
  font-size: 12px;
  color: #999897;
  padding: 12px 0 5px;
}
.description-form a {
  color: inherit;
}
.description-form a:hover {
  text-decoration: none;
  color: #777;
}

button {
  outline: 0 none;
  -webkit-appearance: none;
}

.btn {
  padding: 11px 15px 9px;
  line-height: 24px;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

.callback-form {
  border: 1px solid #efefef;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  width: 750px;
  padding: 15px 0;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.callback-action-form {
  margin: 0 36px;
}
.callback-action-form input.text {
  width: 218px;
}
.callback-action-form .form-row {
  float: left;
}
.callback-action-form .form-row + .form-row {
  margin-left: 12px;
}
.callback-action-form .fields-row {
  padding: 17px 0;
}
.callback-action-form .fields-row:after {
  display: block;
  content: "";
  clear: both;
}

input.text {
  background-color: #fff;
  border: 1px solid #eaeaea;
  height: 40px;
  line-height: 18px;
  padding: 10px 13px;
  font-size: 15px;
  font-family: inherit;
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
}
input.text:-ms-input-placeholder {
  color: #c8c7c7;
}
input.text::-webkit-input-placeholder {
  color: #c8c7c7;
}
input.text:-moz-placeholder {
  color: #c8c7c7;
}
input.text:focus:-ms-input-placeholder {
  color: transparent;
}
input.text:focus::-webkit-input-placeholder {
  color: transparent;
}
input.text:focus:-moz-placeholder {
  color: transparent;
}

.uslugi-block {
  text-align: center;
  padding-bottom: 50px;
}
.uslugi-block .h2 {
  margin-bottom: 45px;
}
.uslugi-block .uslugi-image {
  width: 100%;
  line-height: 143px;
  height: 143px;
}
.uslugi-block .uslugi-image img {
  vertical-align: middle;
}
.uslugi-block .uslugi-title {
  font-size: 16px;
  color: #363636;
  margin: 1.2em 0;
  display: block;
}
.uslugi-block .uslugi-text {
  font-size: 15px;
  line-height: 21px;
  color: #4b4b4a;
  margin: 0 10px;
}
.uslugi-block .btn {
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

.services-block {
  color: #363636;
}
.services-block .h2 {
  background-color: #f6f9fc;
  padding: 55px 0;
}
.services-block .service-step {
  position: relative;
}
.services-block .service-step + .service-step:after {
  content: "";
  position: absolute;
  display: block;
  width: 19px;
  height: 30px;
  top: 50px;
  background-image: url(images/arrow-services.png);
  margin-left: -15px;
}
.services-block .services-line-not-even {
  background-color: #eef2f7;
}
.services-block .services-line-even {
  background-color: #f6f9fc;
}
.services-block .last-service-line {
  padding-bottom: 10px;
}
.services-block .description-step-service {
  font-size: 15px;
  display: block;
  line-height: 18px;
  margin: 15px 10px;
}

.icon-service-step {
  width: 65px;
  height: 65px;
  margin: 17px auto 12px;
}
.icon-service-step.service-step-1 {
  background-position: 0 0;
}
.icon-service-step.service-step-2 {
  background-position: 0 -536px;
}
.icon-service-step.service-step-3 {
  background-position: 0 -603px;
}
.icon-service-step.service-step-4 {
  background-position: 0 -670px;
}
.icon-service-step.service-step-5 {
  background-position: 0 -737px;
}
.icon-service-step.service-step-6 {
  background-position: 0 -804px;
}
.icon-service-step.service-step-7 {
  background-position: 0 -871px;
}
.icon-service-step.service-step-8 {
  background-position: 0 -938px;
}
.icon-service-step.service-step-9 {
  background-position: 0 -1005px;
}
.icon-service-step.service-step-10 {
  background-position: 0 -67px;
}
.icon-service-step.service-step-11 {
  background-position: 0 -134px;
}
.icon-service-step.service-step-12 {
  background-position: 0 -201px;
}
.icon-service-step.service-step-13 {
  background-position: 0 -268px;
}
.icon-service-step.service-step-14 {
  background-position: 0 -335px;
}
.icon-service-step.service-step-15 {
  background-position: 0 -402px;
}
.icon-service-step.service-step-16 {
  background-position: 0 -469px;
}

.horizont-block {
  height: 605px;
  background: url(images/horizont-bg.jpg) center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.horizont-block .deviz-text {
  color: white;
  font-family: Gabriela, sans-serif;
  text-align: center;
  font-size: 72px;
  line-height: 120px;
  text-shadow: 0 0 13px rgba(14, 103, 166, 0.52);
  padding-top: 178px;
}

.map-block {
  height: 517px;
}

.footer-text {
  text-align: center;
  color: #999897;
  font-size: 12px;
  line-height: 17px;
  padding: 19px 0;
}

.contacts-block-content {
  height: 503px;
  background: url(images/contacts-bg-2.jpg) center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contacts-block-content .center-content {
  padding-top: 55px;
}
.contacts-block-content .address {
  color: #fff;
  line-height: 21px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  margin: 35px 0;
}
.contacts-block-content .callback-form {
  margin: 30px auto 0;
  background-color: #f5f9fc;
}

.callback-form-block {
  background-color: #f8f8f8;
}
.callback-form-block .center-content {
  background: url(images/woman-1.png) 757px bottom no-repeat;
}
.callback-form-block .callback-action-form {
  padding: 42px 155px 42px 33px;
}
.callback-form-block p {
  margin-bottom: 0;
}

.about-block .h2 {
  padding: 55px 0;
}
.about-block .main-comment-about {
  margin: 0 55px 0 172px;
  border: 1px solid #efefef;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  padding: 35px 45px;
  position: relative;
  line-height: 20px;
  font-size: 14px;
}
.about-block .main-comment-about p {
  margin: 0;
}
.about-block .main-comment-about p.content-text {
  text-indent: 35px;
}
.about-block .main-comment-about p.author-comment {
  margin-left: 180px;
  font-style: italic;
}
.about-block .main-comment-about p + p {
  margin-top: 20px;
}
.about-block .main-comment-about .woman {
  width: 197px;
  height: 372px;
  position: absolute;
  top: 1px;
  left: -137px;
  background: url(images/woman-2.png) center center no-repeat;
}
.about-block .big-cloud {
  height: 775px;
  background: url(images/big-cloud.png) center center no-repeat;
}
.about-block .big-cloud .center-content {
  padding-top: 150px;
}
.about-block .big-cloud .h2 {
  padding: 53px 0;
}

.priority-list {
  line-height: 60px;
  font-weight: 600;
  font-size: 20px;
  padding-left: 110px;
  padding-right: 50px;
  margin: 0;
}
.priority-list .text-list {
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
}
.priority-list li {
  padding-left: 65px;
  min-height: 60px;
}
.priority-list li + li {
  margin-top: 12px;
}

.icon-importantly-list {
  width: 52px;
  height: 52px;
  float: left;
  margin-left: -65px;
  margin-top: 6px;
}
.icon-importantly-list.technology {
  background-position: 0 -162px;
}
.icon-importantly-list.heart {
  background-position: 0 0;
}
.icon-importantly-list.specy {
  background-position: 0 -108px;
}
.icon-importantly-list.lampa {
  background-position: 0 -54px;
}

.people-comments {
  margin-top: -25px;
}
.people-comments p {
  margin: 0;
}
.people-comments .center-content {
  padding: 10px 0 67px;
  border-bottom: 1px solid #bebebe;
}
.people-comments .visible-comment {
  font-size: 19px;
  padding: 35px 125px 65px;
  font-family: Gabriela, sans-serif;
  line-height: 22px;
  color: #4b4b4a;
  text-align: center;
  background: url(images/quote.png) 37px 0 no-repeat;
}
.people-comments .face-people {
  width: 66px;
  height: 66px;
  cursor: pointer;
  margin-left: -78px;
  margin-top: -10px;
}
.people-comments .info-people {
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 35px;
  padding-left: 78px;
  color: #4b4b4a;
}
.people-comments .name-people {
  font-weight: bold;
  font-size: 17px;
}
.people-comments .organization {
  font-weight: 600;
  font-size: 16px;
}
.people-comments .mask-no-active {
  background-image: url(images/white-mask.png);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -15px 0;
}
.people-comments .active-link .mask-no-active {
  display: none;
}

.anchor {
  display: block;
}
.anchor.padding-anchor {
  margin-top: -40px;
  padding-bottom: 40px;
}

.to-back-button {
  width: 49px;
  height: 61px;
  display: block;
  position: fixed;
  background-image: url(images/back-button/to-begin.png);
  right: 30px;
  bottom: 30px;
}
.to-back-button .button-arrow {
  display: block;
  width: 100%;
  height: 100%;
  background: url(images/back-button/to-begin-disabled.png) center center no-repeat;
}
.to-back-button:hover .button-arrow {
  background-image: url(images/back-button/to-begin-enabled.png);
}
.to-back-button.selected {
  display: none;
}

.popup-background {
  background-image: url(images/white-mask.png);
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.form-row {
  position: relative;
}

.callback-form-popup {
  width: 374px;
  height: 334px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -187px;
  margin-top: -190px;
  background-color: #fff;
  border: 1px solid #efefef;
  display: none;
  z-index: 7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.callback-form-popup .text-form-popup {
  font-size: 15px;
  color: #0e67a6;
  line-height: 24px;
  font-weight: bold;
  margin: 25px 0 20px;
}
.callback-form-popup form {
  padding: 0 30px;
}
.callback-form-popup .btn {
  margin-top: 24px;
}
.callback-form-popup .form-row {
  width: 218px;
  margin: 0 auto;
}
.callback-form-popup .form-row + .form-row {
  margin-top: 12px;
}
.callback-form-popup input.text, .callback-form-popup .btn {
  width: 218px;
}

.close-popup-button {
  float: right;
  margin: 6px 6px 0 0;
  background-image: url(images/close-button.png);
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.news-block {
  padding-bottom: 55px;
}

.articles-news {
  overflow: hidden;
}
.articles-news ul {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 -26px;
}
.articles-news ul .article-content {
  margin-left: 26px;
  width: 275px;
  color: #4a4a4a;
}
.articles-news ul .item-news {
  width: 33.33%;
  float: left;
}
.articles-news .article-title {
  font-family: Gabriela, sans-serif;
  font-size: 24px;
}
.articles-news .article-text {
  font-size: 12px;
}
.articles-news .article-advanced {
  color: #2e9eea;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
}
.articles-news .article-advanced:hover {
  text-decoration: underline;
}

.slider-container {
  position: relative;
}

.slider-button {
  width: 24px;
  height: 41px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
}
.slider-button.prev-button {
  left: 0;
  margin-left: -55px;
  background-position: 0 0;
}
.slider-button.prev-button:hover {
  background-position: 0 -43px;
}
.slider-button.next-button {
  right: 0;
  margin-right: -55px;
  background-position: 0 -86px;
}
.slider-button.next-button:hover {
  background-position: 0 -129px;
}

.error-field {
  position: absolute;
  background-color: #0e67a6;
  color: #fff;
  bottom: 100%;
  margin-bottom: 1px;
  font-size: 10px;
  padding: 2px 10px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.privacy-block {
  font-size: 15px;
  padding: 20px;
  width: 780px;
  height: 600px;
  overflow: auto;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 7;
  top: 50%;
  left: 50%;
  margin-left: -390px;
  margin-top: -320px;
  background-color: #fff;
}
.privacy-block h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 1.2em;
}

.cloud-bottom {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  left: 0;
}
