@import "compass";
@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url('../fonts/liberationsansnarrow-bold-webfont.eot');
  src: url('../fonts/liberationsansnarrow-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/liberationsansnarrow-bold-webfont.woff2') format('woff2'),
  url('../fonts/liberationsansnarrow-bold-webfont.woff') format('woff'),
  url('../fonts/liberationsansnarrow-bold-webfont.ttf') format('truetype'),
  url('../fonts/liberationsansnarrow-bold-webfont.svg#liberation_sans_narrowbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url('../fonts/liberationsansnarrow-bolditalic-webfont.eot');
  src: url('../fonts/liberationsansnarrow-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/liberationsansnarrow-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/liberationsansnarrow-bolditalic-webfont.woff') format('woff'),
  url('../fonts/liberationsansnarrow-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/liberationsansnarrow-bolditalic-webfont.svg#liberation_sans_narrowBdIt') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url('../fonts/liberationsansnarrow-italic-webfont.eot');
  src: url('../fonts/liberationsansnarrow-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/liberationsansnarrow-italic-webfont.woff2') format('woff2'),
  url('../fonts/liberationsansnarrow-italic-webfont.woff') format('woff'),
  url('../fonts/liberationsansnarrow-italic-webfont.ttf') format('truetype'),
  url('../fonts/liberationsansnarrow-italic-webfont.svg#liberation_sans_narrowitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url('../fonts/liberationsansnarrow-regular-webfont.eot');
  src: url('../fonts/liberationsansnarrow-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/liberationsansnarrow-regular-webfont.woff2') format('woff2'),
  url('../fonts/liberationsansnarrow-regular-webfont.woff') format('woff'),
  url('../fonts/liberationsansnarrow-regular-webfont.ttf') format('truetype'),
  url('../fonts/liberationsansnarrow-regular-webfont.svg#liberation_sans_narrowregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  position: relative;
  font: 15px 'Liberation Sans Narrow', Arial, Tahoma, Verdana, sans-serif;
  min-width: 1000px;
  margin: 0 auto;
  color: #333;
}
input {
  &[type="text"], &:not([type]) {
    @include box-sizing(border-box);
    @include border-radius(6px);
    @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, 0.1));
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    height: 34px;
    line-height: 26px;
    padding: 4px 0;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 20px;
    &:-ms-input-placeholder {
      color: #FFCCCC;
    }
    &::-webkit-input-placeholder {
      color: #FFCCCC;
    }
    &:-moz-placeholder {
      color: #FFCCCC;
    }
    &:focus:-ms-input-placeholder {
      color: transparent;
    }
    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    &:focus:-moz-placeholder {
      color: transparent;
    }
  }
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.clear-both {
  clear: both;
}
.bold-text {
  font-weight: bold;
}
a {
  img {
    border: 0 none;
  }
}
.center-content {
  width: 980px;
  margin: 0 auto;
}
.clearfix {
  clear: both;
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
}
.logotype {
  display: block;
  margin-left: 17px;
  margin-top: 18px;
  img {
    width: 332px;
    height: 165px;
  }
}
header {
  background: url(images/header-bg.jpg) center top no-repeat;
  @include background-size(cover);
  padding-bottom: 36px;
  .contacts-block {
    color: #fff;
    font-size: 27px;
    margin: 44px 6px auto auto;
    overflow: visible;
    width: 261px;
    white-space: nowrap;
    .phone-number {
      overflow: visible;
      font-size: 41px;
      line-height: 0.95em;
    }
    small {
      font-size: 16px;
      margin-left: 1px;
      margin-top: 7px;
      display: block;
    }
    .btn {
      width: 255px;
      vertical-align: top;
      margin-top: 2px;
      margin-left: -1px;
    }
  }
  .short-header-text {
    color: #fff;
    padding-top: 70px;
    font-size: 20px;
    margin: 0 298px 0 373px;
    text-align: center;
    line-height: 1.15em;
  }
  .callback-form {
    background-color: #fff;
    width: 368px;
    margin: 35px auto auto;
    @include border-radius(4px);
    text-align: center;
    padding: 16px 0 10px;
    color: #333333;
    @include box-shadow(0 0 7px rgba(0, 0, 0, 0.7));
    .head-form {
      color: #c53d37;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
    }
    .head-form, .content-form {
      margin-left: 20px;
      margin-right: 20px;
    }
    .enter-number-text {
      font-size: 16px;
      margin-top: 13px;
    }
    .desc-callback-form {
      font-size: 16px;
      white-space: nowrap;
    }
    input {
      width: 100%;
      margin: 2px 0;
    }
    .btn {
      width: 100%;
      margin-top: 14px;
      margin-bottom: 3px;
    }
  }
}
h1 {
  text-align: center;
  font-size: 38px;
  padding-top: 16px;
  line-height: 1em;
  padding-bottom: 16px;
  margin: 142px 17px 0;
  strong {
    font-size: 30px;
    color: #ffcccc;
  }
}


.btn-style {
  color: #fff;
  font-weight: bold;
  border: 1px solid #930000;
  @include box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 -1px 1px rgba(0, 0, 0, 0.7));
}
.btn {
  text-decoration: none;
  display: inline-block;
  @include box-sizing(border-box);
  @include border-radius(5px);
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  height: 31px;
  @include background-image(linear-gradient(to top, #961c16 0%,#e24944 100%));
  font-family: inherit;
  cursor: pointer;
  &:hover {
    @include background-image(linear-gradient(to top, #c12017 0%, #ff514c 100%));
  }
  &.btn-water {
    @include background-image(linear-gradient(to bottom, #4fdddd 0%,#038585 100%));
    border-color: #00bbbb;
    &:hover {
      @include background-image(linear-gradient(to bottom, #5affff 0%, #03b0b0 100%));
    }
  }
  &.btn-big {
    font-size: 28px;
    font-family: inherit;
    line-height: 40px;
    height: auto;
    padding: 0 14px 2px;
  }
}
.btn-style-text {
  @include background-image(linear-gradient(to bottom, #e64b46 0%,#951a14 100%));
  @include border-radius(0.3em);
}

.main-menu {
  text-align: center;
  background-color: #212121;
  line-height: 30px;
  padding: 17px 0;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  width: 100%;
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;
    @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.6));
    background-color: rgba(33, 33, 33, 0.95);
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 21px;
  }
  a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid;
    vertical-align: top;
    display: inline-block;
    line-height: 23px;
    &:hover {
      border-bottom-width: 0;
    }
    &.active {
      border-bottom-width: 0;
      color: #9FFFFF;
    }
  }
}

section {
  h2 {
    color: #991c16;
    margin: 0;
    padding-top: 25px;
    font-size: 48px;
  }
  .desc-section {
    color: #098c8f;
    font-weight: normal;
    display: block;
    font-size: 30px;
    margin-top: 8px;
  }
  h2, .desc-section {
    text-align: center;
  }
  &.first-section {
    padding-bottom: 20px;
    margin-top: 64px;
    @include background-image(linear-gradient(to bottom, #ffffff 0%,#d1f7f7 100%));
    .callback-form {
      color: #333;
      background-color: #ebfcfc;
      padding-top: 25px;
      padding-bottom: 35px;
      form {
        margin: 0 92px;
        padding-top: 30px;
      }
      .desc-section {
        margin-top: 0;
      }
      .form-col {
        float: left;
        width: 195px;
        + .form-col {
          margin-left: 52px;
          width: 220px;
          input {
            width: 207px;
          }
        }
      }
      .submit-button-container {
        float: right;
        padding-top: 31px;
        .btn {
          margin-bottom: 5px;
          width: 278px;
          padding-left: 0;
          padding-right: 0;
        }
      }
      .name-field {
        display: block;
        font-size: 20px;
      }
      .desc-field {
        display: block;
        font-size: 16px;
        padding-left: 1px;
        padding-top: 8px;
      }
      input {
        margin: 11px 0;
        width: 100%;
      }
    }
  }
  &.services-section {
    text-align: center;
    padding-bottom: 49px;
    .services-list {
      padding: 59px 0;
      .btn {
        padding-bottom: 4px;
        + .btn {
          margin-left: 34px;
        }
      }
    }
    .title-services-btn {
      font-size: 24px;
      line-height: 42px;
    }
    .services-main-button {
      margin-top: 14px;
      margin-bottom: 21px;
    }
    .desc-services-btn {
      font-size: 16px;
    }
  }
  &.advantages-section {
    background-color: #333;
    h2 {
      color: #fff;
    }
    .desc-section {
      color: #999;
    }
    .advantages-list {
      list-style-type: none;
      padding: 47px 0 68px;
      margin: 0 140px;
      color: #fff;
      font-size: 24px;
      li {
        display: block;
        &:nth-child(odd) {
          text-align: left;
          img {
            float: left;
          }
        }
        &:nth-child(even) {
          text-align: right;
          img {
            float: right;
          }
        }
        &.advantages-item-1 {
          line-height: 139px;
          img {
            margin-left: 13px;
            margin-right: 10px;
            line-height: 139px;
          }
        }
        &.advantages-item-2 {
          line-height: 164px;
          img {
            margin-left: 55px;
            margin-right: -10px;
          }
        }
        &.advantages-item-3 {
          line-height: 118px;
          img {
            margin-left: 59px;
            margin-right: 46px;
            margin-top: -17px;
          }
        }
        &.advantages-item-4 {
          line-height: 99px;
          img {
            margin-left: 44px;
            margin-right: -15px;
            margin-top: -21px;
          }
        }
      }
      .text-advantage {
        display: inline-block;
        line-height: 29px;
        vertical-align: middle;
        span {
          display: block;
          color: #999999;
        }
      }
    }
    .video-block {
      background-color: #212121;
      color: #fff;
      text-align: center;
      padding-top: 58px;
      padding-bottom: 73px;
      h3 {
        font-size: 40px;
        margin: 0;
      }
      .video-container {
        width: 854px;
        height: 480px;
        background-color: #000;
        margin: 48px auto 29px;
        iframe {
          width: 100%!important;
          height: 100%!important;
        }
      }
      .video-description {
        text-align: center;
        font-size: 20px;
        margin: 0 0 34px;
      }
      .btn {
        line-height: 46px;
      }
    }
  }
  &.clients-section {
    text-align: center;
    padding-bottom: 38px;
    h2 {
      color: #585858;
    }
    .desc-section {
      color: #991c16;
    }
    .clients-list {
      list-style-type: none;
      margin: 0 13px;
      padding: 32px 0 43px;
      li {
        display: block;
        float: left;
        width: 25%;
        padding: 11px 0 10px;
      }
      .content-client-item {
        width: 220px;
        margin: 0 auto;
      }
      .btn {
        width: 170px;
        height: 36px;
        line-height: 32px;
      }
      .name-organisation {
        font-size: 18px;
        height: 40px;
        line-height: 20px;
        overflow: hidden;
        width: 100%;
      }
    }
    .logo-container {
      width: 170px;
      height: 90px;
      line-height: 90px;
      margin: 0 auto 7px;
      img {
        width: 100%;
        max-height: 100%;
        vertical-align: middle;
      }
    }
  }
  &.certificates-section {
    background-color: #eeeeee;
    text-align: center;
    padding-bottom: 45px;
    h2 {
      color: #585858;
    }
    .desc-section {
      color: #991c16;
    }
    .certificates-list {
      list-style-type: none;
      margin: 0;
      padding: 20px 0 33px;
      li {
        display: inline-block;
        width: 141px;
        height: 196px;
        line-height: 196px;
        margin: 11px 9px;
        img {
          width: 100%;
          max-height: 100%;
          @include box-shadow(0 0 2px rgba(0, 0, 0, 0.7));
        }
      }
    }
    .btn.main-button {
      width: 436px;
    }
  }
  &.work-section {
    color: #fff;
    background-color: #00caca;
    text-align: center;
    padding-bottom: 46px;
    h2 {
      color: #fff;
    }
    .desc-section {
      color: #abffff;
    }
    .work-order-list {
      list-style-type: none;
      padding: 60px 0 65px;
      margin: 0 40px;
      font-size: 24px;
      line-height: 30px;
      .your-action-text {
        margin: 14px 0 9px;
      }
      .manager-action-text {
        color: #abffff;
      }
      .your-action-text, .manager-action-text {
        position: relative;
        z-index: 0;
      }
      .icon-container {
        height: 130px;
        line-height: 130px;
        img {
          vertical-align: bottom;
        }
      }
      li {
        width: 50%;
        position: relative;
        overflow: visible;
        &:after {
          position: absolute;
          width: 264px;
          height: 128px;
          content: '';
          display: block;
          background: center center no-repeat;
          bottom: 100%;
          margin-bottom: -34px;
        }
        + li {
          margin-top: 113px;
        }
        &:first-child {
          + li {
            margin-top: 192px;
          }
        }
        &:nth-child(even) {
          float: right;
        }
        &:nth-child(odd) {
          float: left;
        }
        + li {
          &:nth-child(even) {
            &:after {
              background-image: url(images/works-arrow-right.png);
              right: 100%;
              margin-right: -132px;
            }
          }
          &:nth-child(odd) {
            &:after {
              background-image: url(images/works-arrow-left.png);
              left: 100%;
              margin-left: -132px;
            }
          }
        }
      }
    }
    .title-works-btn {
      font-size: 24px;
      line-height: 42px;
    }
    .works-main-button {
      margin-top: 14px;
      margin-bottom: 21px;
    }
    .desc-works-btn {
      font-size: 16px;
      color: #abffff;
    }
  }
  &.contacts-section {
    background-color: #212121;
    color: #fff;
    h3 {
      text-align: center;
      margin: 0;
      font-size: 48px;
      padding: 35px 0;
    }
    .map-container {
      height: 577px;
      margin-top: 12px;
    }
    .address-block {
      float: left;
      padding: 27px 0 20px;
      .address-block-title {
        font-weight: bold;
        font-size: 26px;
      }
      .address-block-text {
        margin-top: 16px;
        font-size: 18px;
        color: #cccccc;
      }
      &.address {
        width: 37%;
      }
      &.phones {
        width: 40%;
        .btn {
          padding: 0 17px;
          margin: 15px 0 10px;
        }
      }
      &.email {
        width: 23%;
      }
    }
  }
}
.button-description {
  font-size: 24px;
  margin: 0 0 34px;
}
.btn.main-button {
  line-height: 46px;
  min-width: 276px;
}
.products-list {
  list-style-type: none;
  margin: 0;
  padding: 39px 0 35px;
  .one-category {
    display: block;
    float: left;
    width: 33.33%;
    padding: 34px 0;
  }
  .products-list-item-block {
    background-color: #038689;
    width: 271px;
    padding: 2px 0;
    margin: 0 auto;
    @include border-radius(6px);
    .image-container {
      margin: 0 2px;
      background-color: #fff;
      height: 217px;
      line-height: 217px;
      @include border-top-radius(4px);
      overflow: hidden;
      position: relative;
      img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
      }
    }
    .category-name {
      display: block;
      line-height: 57px;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 6px;
      text-decoration: underline;
      &:hover span {
        text-decoration: none;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 24px;
        text-decoration: underline;
      }
    }
  }
  .categories-list {
    line-height: 20px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    li {
      display: block;
      padding: 5px 10px;
    }
    a {
      color: #098c8f;
      &:hover {
        text-decoration: none;
      }
      &.active {
        color: #991c16;
      }
    }

  }
  .products-categories-list {
    display: none;
    line-height: 26px;
    position: absolute;
    left: 355px;
    right: 20px;
    top: 12px;
    bottom: 12px;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    color: #098c8f;
    li {
      padding: 2px 0;
      display: block;
      &.is-show-desc {
        p {
          display: block;
        }
        a {
          display: none;
        }
      }
    }
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    p {
      display: none;
      margin: 0;
    }
    &.is-opened {
      display: block;
    }
  }
  &.opened-category {
    margin-left: 10px;
    .one-category {
      display: block;
      float: none;
      width: auto;
      padding: 10px 0;
      position: relative;
      &.is-subcat-opened {
        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 32px 0 32px 32px;
          border-color: transparent transparent transparent #038689;
          left: 295px;
          top: 15px;
        }
      }
      .products-list-item-block {
        margin-right: 0;
        margin-left: 0;
        .image-container {
          display: none;
        }
      }
      &.is-opened-category {
        .products-list-item-block {
          .image-container {
            display: block;
            img {
              display: none!important;
            }
          }
        }
        .category-name {
          cursor: default;
          span {
            text-decoration: none;
          }
        }
      }
    }
  }
}
footer {
  background-color: #666666;
  color: #fff;
  text-align: center;
  line-height: 25px;
  padding: 9px 0;
  font-size: 20px;
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
a.anchor {
  position: relative;
  display: block;
  top: -63px;
  .main-menu + & {
    top: 0;
  }
}

button, input {
  -webkit-appearance: none;
}