.button {
  @include border-radius(9px);
  @include transition(0.2s background-color linear);
  border: 0 none;
  cursor: pointer;
  &.normal {
    padding: 0 22px;
    line-height: 29px;
    font-size: 0.8em;
    font-weight: 600;
  }
  &.orange {
    color: #fff;
    background-color: #f19100;
    &:hover {
      background-color: #ffa800;
    }
  }
}