#content {
  margin-top: 164px;
}
.center-content {
  max-width: 1000px;
  width: 94%;
  margin: 0 auto;
}

.page-title-line {
  background-color: #f1f1f1;
}

.logotype {
  display: block;
  img {
    width: 99px;
    height: 90px;
  }
}

