footer {
  background-color: #303030;
  color: #c5c5c5;
  a {
    color: #fff;
  }
  .footer-content {
    position: relative;
  }
  .footer-bottom {
    background-color: #252525;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 30px;
    padding: 11px 0;
  }
  .copyright {
    margin: 0 -2.5%;
    font-size: 0.52em;
    font-weight: 600;
  }
  .social-block {
    list-style-type: none;
    padding: 0;
    margin: 0 -1.5%;
    white-space: nowrap;
    text-align: center;
    font-size: 0.8em;
    line-height: 27px;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }
    a {
      display: block;
      width: 26px;
      height: 26px;
      background-color: #757575;
      color: #252525;
      @include transition(0.2s background-color linear);
      .fa-facebook {
        vertical-align: bottom;
        font-size: 1.18em;
        margin-left: 4px;
      }
      &:hover {
        background-color: #c5c5c5;
      }
    }
  }
  .center-content {
    &:after {
      @include clear();
    }
  }
  .footer-menu {
    margin: 0 -3%;
    &:after {
      @include clear();
    }
  }
  .footer-menu-block {
    padding-bottom: 52px;
    font-weight: 400;
    letter-spacing: -0.04em;
    .submenu {
      margin: 7px 12px 0;
      li {
        padding: 2px 0 3px;
        line-height: 18px;
        &:before {
          font: normal normal normal 1em FontAwesome;
          content: "\f105";
          display: inline;
          margin-right: 7px;
        }
      }
    }
    .our-contacts-col {
      line-height: 1.6em;
      margin: 8px 10px 0;
    }
    .submenu, .our-contacts-col {
      font-size: 0.67em;
    }
  }

  .footer-col {
    width: 25%;
    padding: 39px 0 31px;
  }
  h4 {
    font-weight: 400;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0 7px;
  }
  .logotype {
    margin: 0 5px;
  }
}
@import "responsive/footer";
