header {
  text-align: center;
  padding: 19px 0 49px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  @include box-shadow(0 0 0 rgba(255, 255, 255, 0));
  @include transition(0.1s padding,box-shadow linear);
  .logotype {
    img {
      @include transition(0.1s height linear);
    }
  }
  .languages-selection, .header-menu {
    @include transition(0.1s margin linear);
  }
  .show-hide-menu {
    height: 38px;
    width: 38px;
    text-align: center;
    color: #a0a0a0;
    line-height: 38px;
    margin: 11px 12px;
    display: none;
    font-size: 30px;
    cursor: pointer;
    &.active-menu {
      color: #222;
    }
  }
  .show-hide-menu.active-menu + .header-menu {
    display: block;
  }
  body.scrolled-page & {
    padding-bottom: 15px;
    @include box-shadow(0 2px 12px rgba(0, 0, 0, 0.5));
    .logotype {
      img {
        width: 60px;
        height: auto;
      }
    }
    .languages-selection, .header-menu {
      line-height: 24px;
      margin: 16px 0;
    }
  }

  .center-content {
    &:after {
      @include clear();
    }
  }
  .header-menu {
    display: inline-block;
    white-space: nowrap;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 73px;
    a {
      color: inherit;
    }
    li {
      display: inline-block;
      margin: 0 19px;
    }
  }
  .languages-selection {
    white-space: nowrap;
    line-height: 0;
    margin: 71px 0 0;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px;
    }
    a {
      height: 24px;
    }
    img {
      height: 100%;
    }
    img, a {
      display: block;
    }
  }
}
@import "responsive/header";
