input, textarea, button, select, .button {
  @include box-sizing(border-box);
  outline: none;
  font-family: inherit;
  color: #505050;
  font-weight: normal;
  font-size: 15px;
}
input[type="text"], input[type="password"], input:not([type]) {
  height: 36px;
  line-height: 24px;
}
input[type="text"], input[type="password"], input:not([type]), textarea {
  @include border-radius(9px);
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
}