body {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  color: #505050;
  font: 20px 'Open Sans', sans-serif normal normal;
  min-width: 320px;
  &.direction-rtl {
    direction: rtl;
    text-align: right;
    .text-right {
      text-align: left;
    }
    .text-left {
      text-align: right;
    }
    .float-left {
      float: right;
    }
    .float-right {
      float: left;
    }
  }
  &.scrolled-page {
    .go-home-button {
      @include opacity(1);
    }
  }
}
@mixin clear() {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
img {
  border: 0 none;
}
h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin: 0;
}
.orange-text, .label-block {
  color: #f29200;
}
.label-block {
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: bold;
}
.page-title-line {
  text-align: center;
  padding: 37px 0 28px;
  strong {
    font-weight: normal;
    font-size: 0.9em;
  }
}
nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      display: block;
    }
  }
}
.go-home-button {
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #9e9e9e;
  border: 2px solid;
  bottom: 7px;
  right: 12px;
  @include opacity(0);
  @include border-radius(50%);
}
.uppercase {
  text-transform: uppercase;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}
.nowrap {
  white-space: nowrap;
}
