body {
	margin: 0;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
}
.slider-content {
	width: 100%;
	min-width: 990px;
	overflow: hidden;
	height: 380px;
}
.base-width {
	min-width: 990px;
	max-width: 1280px;
	margin: 0 auto;
}
.slider-content .base-width, .slider-content .container-14 {
	height: 100%;	
}
.container-14 {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.slider-background {
	display: block;
	position: absolute;
	z-index: 1;
}
.left-sidebar-slider {
	position: relative;
	z-index: 2;
	float: left;
	margin-top: 5px;
	color: #fff;
	width: 305px;
	font-size: 12px;
}
.title-slider {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	margin: 20px 0;
}
.slider-menu {
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
}
.slider-menu, .slider-menu li {
	margin: 0;
	padding: 0;
}
.slider-menu li {
	display: block;
	white-space: nowrap;
	float: left;
	clear: both;
	padding: 3px 0 2px;
}
.slider-menu a {
	background-color: rgba(0, 0, 0, 0.2);
	display: block;
	line-height: 27px;
	height: 25px;
	border: 2px solid #fff;
	color: inherit;
	text-decoration: none;
	border-radius: 14px;
	padding: 0 14px;
}
.slider-menu a:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.slider-menu a.active, .slider-menu a:active {
	background-color: rgba(141, 40, 15, 0.95);
}

.descriptions-slider {
	clear: both;
	float: left;
	margin-top: 5px;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.descriptions-slider p {
	margin: 13px 0;
}
.description-item {
	display: none;
}
.more-info-link {
	color: inherit;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}
.linza {
	position: absolute;
	width: 150px;
	height: 150px;
	-moz-border-radius: 50%; /* Firefox */
    -webkit-border-radius: 50%; /* Safari, Google Chrome */
    -khtml-border-radius: 50%; /* KHTML */
    -o-border-radius: 50%; /* Opera */
    -ms-border-radius: 50%; /* IE8 */
    -icab-border-radius: 50%; /* Icab */
    border-radius: 50%; /* CSS3 */
    behavior: url(https://curved-corner.googlecode.com/files/border-radius.htc); /* IE */
	border: 3px solid #fff;
	z-index: 2;
	top: 0;
	left: 50%;
	display: none;
	overflow: hidden;
	background-image: url(images/zoomed.jpg);
}
.linza-blik {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: url(images/blik.png) center center no-repeat;
}

