@charset "UTF-8";
/* line 1, ../sass/_reset.scss */
html {
  height: 100%;
  min-width: 320px;
}

/* line 5, ../sass/_reset.scss */
body {
  margin: 0;
  background: url(images/background.png) center center;
  font: 15px Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100%;
  color: #222;
  float: left;
  width: 100%;
}

/* line 15, ../sass/_reset.scss */
table {
  border: 0 none;
  border-spacing: 0;
}

/* line 19, ../sass/_reset.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 24, ../sass/_reset.scss */
li {
  display: block;
}

/* line 27, ../sass/_reset.scss */
img {
  border: 0 none;
  vertical-align: middle;
}

/* line 31, ../sass/_reset.scss */
a {
  text-decoration: none;
}
/* line 33, ../sass/_reset.scss */
a.blue {
  color: #174583;
}
/* line 35, ../sass/_reset.scss */
a.blue:hover {
  color: #355e92;
}
/* line 39, ../sass/_reset.scss */
a.black {
  color: #222;
}
/* line 41, ../sass/_reset.scss */
a.black:hover {
  text-decoration: underline;
}
/* line 45, ../sass/_reset.scss */
a.underline {
  text-decoration: underline;
}
/* line 47, ../sass/_reset.scss */
a.underline:hover {
  text-decoration: none;
}

/* line 52, ../sass/_reset.scss */
.PTSerif {
  font-family: 'PT Serif', serif;
}

/* line 55, ../sass/_reset.scss */
.block {
  display: block;
}

/* line 58, ../sass/_reset.scss */
h1, h2, h3, h4, h5, p {
  margin: 0;
}

/* line 61, ../sass/_reset.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* line 64, ../sass/_reset.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
}
/* line 68, ../sass/_reset.scss */
h1.title-page {
  font-size: 2.39em;
  margin-top: 2.1em;
}

/* line 73, ../sass/_reset.scss */
h2 {
  font-size: 1.6em;
  line-height: 1em;
  margin: 1em 0 0.4em -0.05em;
}

/* line 78, ../sass/_reset.scss */
h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 1.5em 0 0.47em;
}

/* line 83, ../sass/_reset.scss */
h4, .h4 {
  font-size: 1.6em;
  line-height: 1.2em;
}

/* line 87, ../sass/_reset.scss */
sub, sup {
  line-height: 0;
}

/* line 90, ../sass/_reset.scss */
input, button, textarea, .button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  outline: none;
}

/* line 95, ../sass/_reset.scss */
.grey-color {
  color: #aaaaaa;
}

/* line 98, ../sass/_reset.scss */
.button {
  border: 0 none;
}

/* line 101, ../sass/_reset.scss */
.float-left {
  float: left;
}

/* line 104, ../sass/_reset.scss */
.float-right {
  float: right;
}

/* line 107, ../sass/_reset.scss */
.dotted {
  border-bottom: 1px dotted;
}

/* line 110, ../sass/_reset.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 113, ../sass/_reset.scss */
.inherit-color {
  color: inherit;
}

/* line 116, ../sass/_reset.scss */
.clear-both {
  clear: both;
}

/* line 119, ../sass/_reset.scss */
.medium-text {
  font-size: 1.188em;
  line-height: 1.46em;
}

/* line 123, ../sass/_reset.scss */
p.medium-text {
  margin: 0.97em 0;
}

/* line 126, ../sass/_reset.scss */
.small-text {
  font-size: 0.863em;
  line-height: 1.4em;
}

/* line 130, ../sass/_reset.scss */
.post-text {
  margin: 0.45em 0;
  line-height: 1.56em;
  font-size: .987em;
}

/* line 135, ../sass/_reset.scss */
.strong-text {
  font-size: 1.59em;
  line-height: 1.26em;
  margin: 1.35em auto 1.5em 11%;
}

/* line 140, ../sass/_reset.scss */
.width-100 {
  width: 100%;
}

/* line 143, ../sass/_reset.scss */
.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
}

/* line 150, ../sass/_reset.scss */
blockquote {
  background-color: #f8f8f0;
  line-height: 1.47em;
  padding: 0.8em 1em;
  margin: 1.7em 0;
  position: relative;
}
/* line 156, ../sass/_reset.scss */
blockquote .blockquote-icon {
  position: absolute;
  left: -25px;
  top: 0;
  color: #d6d6bb;
  border: 1px solid #d6d6bb;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  line-height: 16px;
  text-align: center;
  display: block;
}
/* line 168, ../sass/_reset.scss */
blockquote .blockquote-icon:after {
  content: '+';
}
/* line 173, ../sass/_reset.scss */
blockquote p:after {
  content: '»';
}
/* line 176, ../sass/_reset.scss */
blockquote p:before {
  content: '«';
}

/* line 3, ../sass/elements/_inputs.scss */
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: #a9a9a9;
}
/* line 6, ../sass/elements/_inputs.scss */
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: #a9a9a9;
}
/* line 9, ../sass/elements/_inputs.scss */
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
  color: #a9a9a9;
}
/* line 13, ../sass/elements/_inputs.scss */
input[type="text"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 16, ../sass/elements/_inputs.scss */
input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 19, ../sass/elements/_inputs.scss */
input[type="text"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder {
  color: transparent;
}
/* line 23, ../sass/elements/_inputs.scss */
input[type="text"].big, input[type="password"].big {
  width: 100%;
  height: 37px;
  border: 1px solid #e5e5d0;
  font-size: 0.99em;
  padding: 10px;
  line-height: 15px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 34, ../sass/elements/_inputs.scss */
.radio-button {
  position: relative;
  cursor: pointer;
}
/* line 37, ../sass/elements/_inputs.scss */
.radio-button.square {
  width: 38px;
  height: 36px;
}
/* line 40, ../sass/elements/_inputs.scss */
.radio-button.square span {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
/* line 49, ../sass/elements/_inputs.scss */
.radio-button input {
  position: absolute;
  right: 100%;
  bottom: 100%;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
/* line 57, ../sass/elements/_inputs.scss */
.radio-button span {
  display: block;
  padding: 0 1.03em;
}

/* line 1, ../sass/elements/_buttons.scss */
.button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  -moz-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  /* Social buttons */
}
/* line 8, ../sass/elements/_buttons.scss */
.button ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F0;
  border-radius: 2px;
  white-space: nowrap;
  width: 183px;
  margin-top: 10px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0 0 43px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.33);
  box-shadow: 0 0 43px rgba(0, 0, 0, 0.33);
}
/* line 20, ../sass/elements/_buttons.scss */
.button ul:before {
  content: '';
  display: block;
  position: absolute;
  border-width: 0 9px 10px;
  border-style: solid;
  border-color: transparent transparent #F8F8F0;
  left: 56px;
  bottom: 100%;
}
/* line 30, ../sass/elements/_buttons.scss */
.button ul li {
  float: left;
  font-size: 18px;
  overfloW: hidden;
}
/* line 34, ../sass/elements/_buttons.scss */
.button ul li + li {
  border-left: 1px solid #cdcdc7;
}
/* line 37, ../sass/elements/_buttons.scss */
.button ul li:first-child {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 40, ../sass/elements/_buttons.scss */
.button ul li:last-child {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 44, ../sass/elements/_buttons.scss */
.button ul a {
  display: block;
  color: #222;
  position: relative;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  overflow: hidden;
}
/* line 53, ../sass/elements/_buttons.scss */
.button ul a:hover {
  text-decoration: none;
  background: #eeeee1;
}
/* line 60, ../sass/elements/_buttons.scss */
.button.active ul {
  display: block;
}
/* line 64, ../sass/elements/_buttons.scss */
.button.empty {
  color: #222;
  border: 1px solid #eeeee1;
  background-color: transparent;
}
/* line 68, ../sass/elements/_buttons.scss */
.button.empty .counts-share {
  border-color: rgba(0, 0, 0, 0.1);
}
/* line 71, ../sass/elements/_buttons.scss */
.button.empty:hover {
  background-color: #eeeee1;
}
/* line 75, ../sass/elements/_buttons.scss */
.button.green {
  background-color: #54a440;
}
/* line 77, ../sass/elements/_buttons.scss */
.button.green:hover {
  background-color: #53ba3a;
}
/* line 81, ../sass/elements/_buttons.scss */
.button.grey {
  background-color: #ccc;
}
/* line 83, ../sass/elements/_buttons.scss */
.button.grey:hover {
  background-color: #bbb;
}
/* line 87, ../sass/elements/_buttons.scss */
.button.red {
  background-color: #b11900;
}
/* line 89, ../sass/elements/_buttons.scss */
.button.red:hover {
  background-color: #cd1f01;
}
/* line 93, ../sass/elements/_buttons.scss */
.button.light-gray {
  background-color: #d5d4d5;
  color: #222;
}
/* line 95, ../sass/elements/_buttons.scss */
.button.light-gray:hover {
  background-color: #eee;
}
/* line 100, ../sass/elements/_buttons.scss */
.button.yellow {
  background-color: #ffd800;
  color: #222;
}
/* line 104, ../sass/elements/_buttons.scss */
.button.blue-bg {
  background-color: #297ad4;
}
/* line 106, ../sass/elements/_buttons.scss */
.button.blue-bg:hover {
  background-color: #5495dd;
}
/* line 110, ../sass/elements/_buttons.scss */
.button.green, .button.grey, .button.red, .button.blue-bg {
  color: #fff;
}
/* line 114, ../sass/elements/_buttons.scss */
.button.share-base {
  background-color: #d5d4d5;
  color: #222;
}
/* line 117, ../sass/elements/_buttons.scss */
.button.share-base .counts-share {
  border-color: rgba(0, 0, 0, 0.3);
}
/* line 121, ../sass/elements/_buttons.scss */
.button.share-fb {
  background-color: #3b5998;
}
/* line 124, ../sass/elements/_buttons.scss */
.button.share-vk {
  background-color: #7995b2;
}
/* line 127, ../sass/elements/_buttons.scss */
.button.share-tw {
  background-color: #77bdf1;
}
/* line 130, ../sass/elements/_buttons.scss */
.button.share-ok {
  background-color: #f58220;
}
/* line 133, ../sass/elements/_buttons.scss */
.button.share-fb, .button.share-vk, .button.share-tw, .button.share-ok {
  color: #fff;
}
/* line 135, ../sass/elements/_buttons.scss */
.button.share-fb .counts-share, .button.share-vk .counts-share, .button.share-tw .counts-share, .button.share-ok .counts-share {
  border-color: rgba(255, 255, 255, 0.3);
}
/* line 139, ../sass/elements/_buttons.scss */
.button .counts-share {
  padding-left: 0.5em;
  margin-left: 0.6em;
  border-left: 1px solid;
  line-height: 1.5em;
  margin-top: 0.4em;
  float: right;
}
/* line 147, ../sass/elements/_buttons.scss */
.button.full-size {
  display: block;
  float: none;
  text-align: center;
}
/* line 152, ../sass/elements/_buttons.scss */
.button.normal {
  line-height: 2.2em;
  padding: 0 1em;
  font-size: 0.93em;
  height: 2.25em;
}
/* line 157, ../sass/elements/_buttons.scss */
.button.normal.empty {
  line-height: 29px;
}
/* line 159, ../sass/elements/_buttons.scss */
.button.normal.empty.full-size {
  font-size: 1em;
}
/* line 164, ../sass/elements/_buttons.scss */
.button.small {
  line-height: 16px;
  height: 15px;
  font-size: 0.6em;
  padding: 0 4px;
  letter-spacing: 1px;
}
/* line 171, ../sass/elements/_buttons.scss */
.button.medium {
  padding: 0 19px;
  line-height: 41px;
  font-size: 14px;
}
/* line 176, ../sass/elements/_buttons.scss */
.button.big {
  line-height: 50px;
  font-size: 18px;
}
/* line 179, ../sass/elements/_buttons.scss */
.button.big.empty {
  line-height: 48px;
}
/* line 183, ../sass/elements/_buttons.scss */
.button:hover {
  text-decoration: none;
}
/* line 186, ../sass/elements/_buttons.scss */
.button:active, .button.active {
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
}

/* line 190, ../sass/elements/_buttons.scss */
.tag-in-text {
  background-color: #e4e3ce;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 0 0.4em;
  vertical-align: top;
  margin: 0 -0.1em 0 -0.2em;
  font-size: inherit;
  cursor: pointer;
}
/* line 199, ../sass/elements/_buttons.scss */
.tag-in-text.fa {
  background-color: #222;
  color: #fff;
  line-height: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 10px;
  vertical-align: middle;
}
/* line 211, ../sass/elements/_buttons.scss */
.tag-in-text:active, .tag-in-text.active {
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
}

/* line 1, ../sass/elements/_filters.scss */
.section-filters {
  margin-top: -3em;
  text-align: right;
  margin-bottom: 4.4em;
}

/* line 6, ../sass/elements/_filters.scss */
.filter-select {
  white-space: nowrap;
  padding: 0 1em;
  cursor: pointer;
}
/* line 10, ../sass/elements/_filters.scss */
.filter-select:hover {
  background-color: #f8f8f0;
}
/* line 13, ../sass/elements/_filters.scss */
.filter-select.active, .filter-select:active {
  background-color: #d3d3ad;
}
/* line 16, ../sass/elements/_filters.scss */
.filter-select .fa {
  margin-left: 0.27em;
}

/* line 20, ../sass/elements/_filters.scss */
.section-filters-group {
  background-color: #fff;
  border: 1px solid #eeeee1;
  height: 2.6em;
  font-size: 0.93em;
  line-height: 2.6em;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 29, ../sass/elements/_filters.scss */
.section-filters-group:after {
  clear: both;
  content: '';
  display: block;
}
/* line 32, ../sass/elements/_filters.scss */
.section-filters-group.float-right + .section-filters-group.float-right {
  margin-right: 0.7em;
}
/* line 37, ../sass/elements/_filters.scss */
.section-filters-group .radio-button.float-right:last-child input + span {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 42, ../sass/elements/_filters.scss */
.section-filters-group .radio-button.float-right:first-child input + span {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 49, ../sass/elements/_filters.scss */
.section-filters-group .radio-button + .radio-button {
  border-right: 1px solid #eeeee1;
}
/* line 52, ../sass/elements/_filters.scss */
.section-filters-group .radio-button span:hover {
  background-color: #f8f8f0;
}
/* line 56, ../sass/elements/_filters.scss */
.section-filters-group .radio-button input:checked + span {
  background-color: #d3d3ad;
  border: 1px solid #d3d3ad;
  margin: -1px;
}

@media screen and (max-width: 1100px) {
  /* line 65, ../sass/elements/_filters.scss */
  .section-filters-group {
    float: none;
  }

  /* line 68, ../sass/elements/_filters.scss */
  .section-filters {
    margin-bottom: 0;
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  /* line 74, ../sass/elements/_filters.scss */
  .section-filters {
    text-align: center;
  }
}
/* line 2, ../sass/elements/_content.scss */
.fa-ok-min:before {
  content: '';
  background: url(images/ok-icon/ok-icon-min.png) center center no-repeat;
  padding: 2px 6px;
  line-height: 14px;
}

/* line 11, ../sass/elements/_content.scss */
.fa-ok-medium:before {
  content: '';
  background: url(images/ok-icon/ok-icon-medium.png) center center no-repeat;
  padding: 2px 6px;
  line-height: 14px;
}
/* line 18, ../sass/elements/_content.scss */
.fa-ok-medium.dark:before {
  background-image: url(images/ok-icon/ok-icon-medium-dark.png);
}

/* line 25, ../sass/elements/_content.scss */
#page-wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto 286px;
  background-color: #fff;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
}

/* line 32, ../sass/elements/_content.scss */
.page-description {
  margin-bottom: 0.4em;
  line-height: 1.39em;
}

/* line 36, ../sass/elements/_content.scss */
.section {
  padding: 25px 30px 17px;
}
/* line 38, ../sass/elements/_content.scss */
.section.page-description-section {
  padding-bottom: 1.35em;
}
/* line 42, ../sass/elements/_content.scss */
.section + .section {
  border-top: 1px solid #eeeee1;
}
/* line 44, ../sass/elements/_content.scss */
.section + .section.no-border {
  border-top: 0  none;
  padding-top: 17px;
}
/* line 49, ../sass/elements/_content.scss */
.section .section-title {
  margin: 0.4em 0;
}

/* line 53, ../sass/elements/_content.scss */
.favorites-list {
  margin: 2.2em -20px 1.38em;
}
/* line 55, ../sass/elements/_content.scss */
.winners-block .favorites-list {
  margin-left: -2em;
  margin-right: -1.8em;
  margin-bottom: 1.2em;
  position: relative;
}
/* line 60, ../sass/elements/_content.scss */
.winners-block .favorites-list .vertical-line {
  left: 33%;
  margin-left: 1px;
}
/* line 63, ../sass/elements/_content.scss */
.winners-block .favorites-list .vertical-line + .vertical-line {
  right: 33%;
  left: auto;
  margin-right: 1px;
}
/* line 70, ../sass/elements/_content.scss */
.favorites-list + .button.full-size {
  margin-top: 1.8em;
}
/* line 73, ../sass/elements/_content.scss */
.favorites-list.min-margin {
  margin-left: -1em;
  margin-right: -1.31em;
  margin-top: 0.9em;
}
/* line 79, ../sass/elements/_content.scss */
.favorites-list.recomendation .favorites-column {
  margin-bottom: 2em;
}
/* line 84, ../sass/elements/_content.scss */
.favorites-list.ordered-list .favorites-item {
  margin-bottom: 2.3em;
}
/* line 86, ../sass/elements/_content.scss */
.favorites-list.ordered-list .favorites-item:last-child {
  margin-bottom: 0.45em;
}
/* line 92, ../sass/elements/_content.scss */
.favorites-list.collections + .button.full-size {
  margin-top: 2.1em;
}
/* line 96, ../sass/elements/_content.scss */
.favorites-list:after {
  clear: both;
  content: '';
  display: block;
}
/* line 100, ../sass/elements/_content.scss */
.favorites-list.inline-block-items .favorites-column {
  float: none;
  display: inline-block;
}
/* line 103, ../sass/elements/_content.scss */
.favorites-list.inline-block-items .favorites-column.column-4 {
  margin-left: -0.3em;
}

/* line 72, winners/*.png */
.winner:after {
  background-image: url('images/sprites/winners-s78c793ed59.png');
  background-repeat: no-repeat;
}

/* line 115, ../sass/elements/_content.scss */
.favorites-column {
  float: left;
  vertical-align: top;
  min-width: 270px;
}
/* line 119, ../sass/elements/_content.scss */
.favorites-column .favorites-item {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 124, ../sass/elements/_content.scss */
.favorites-column.column-1 {
  width: 300px;
  margin: 0 auto;
  float: none;
}
/* line 129, ../sass/elements/_content.scss */
.favorites-column.column-2 {
  width: 50%;
}
/* line 132, ../sass/elements/_content.scss */
.favorites-column.column-3 {
  width: 33%;
}
/* line 135, ../sass/elements/_content.scss */
.favorites-column.column-4 {
  width: 25%;
}

/* line 139, ../sass/elements/_content.scss */
.counts-articles {
  float: right;
  font-size: 0.8em;
  margin-top: 2em;
  line-height: 1.4em;
}

/* line 145, ../sass/elements/_content.scss */
.favorites-item {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin: 0 1em;
}
/* line 150, ../sass/elements/_content.scss */
.favorites-item .number-item {
  right: 100%;
  margin-right: 0.2em;
  position: absolute;
  color: #bbbbbb;
  font-size: 14px;
  top: 0;
  line-height: 1.25em;
}
/* line 159, ../sass/elements/_content.scss */
.favorites-item.winner {
  position: relative;
}
/* line 161, ../sass/elements/_content.scss */
.favorites-item.winner:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 4;
  width: 28px;
  height: 38px;
  top: -12px;
  left: -12px;
}
/* line 172, ../sass/elements/_content.scss */
.favorites-item.winner.winner-1:after {
  background-position: 0 0;
}
/* line 177, ../sass/elements/_content.scss */
.favorites-item.winner.winner-2:after {
  background-position: 0 -40px;
}
/* line 182, ../sass/elements/_content.scss */
.favorites-item.winner.winner-3:after {
  background-position: 0 -80px;
}
/* line 187, ../sass/elements/_content.scss */
.favorites-item .collection-description {
  font-size: 1.067em;
  margin-top: 0.36em;
  position: relative;
}
/* line 192, ../sass/elements/_content.scss */
.favorites-item .small-text-description {
  font-size: 0.769em;
  line-height: 1.5em;
  display: block;
}
/* line 196, ../sass/elements/_content.scss */
.favorites-item .small-text-description .bull {
  display: inline-block;
  font-size: 0.8em;
  vertical-align: top;
  padding: 0 0.3em;
}
/* line 203, ../sass/elements/_content.scss */
.favorites-item.group-images, .favorites-item.group-images-sl {
  text-align: left;
}
/* line 205, ../sass/elements/_content.scss */
.favorites-item.group-images img, .favorites-item.group-images-sl img {
  position: relative;
  width: 200px;
}
/* line 208, ../sass/elements/_content.scss */
.favorites-item.group-images img + img, .favorites-item.group-images-sl img + img {
  position: absolute;
}
/* line 214, ../sass/elements/_content.scss */
.favorites-item.group-images-sl .favorites-art-container {
  overflow: hidden;
}
/* line 217, ../sass/elements/_content.scss */
.favorites-item.group-images-sl img {
  z-index: 3;
}
/* line 219, ../sass/elements/_content.scss */
.favorites-item.group-images-sl img + img {
  width: auto;
  max-width: none;
  top: 15px;
  z-index: 2;
  right: 20px;
}
/* line 225, ../sass/elements/_content.scss */
.favorites-item.group-images-sl img + img + img {
  top: 30px;
  z-index: 1;
  right: 0;
}
/* line 233, ../sass/elements/_content.scss */
.favorites-item.group-images {
  margin-bottom: 1.13em;
}
/* line 236, ../sass/elements/_content.scss */
.favorites-item.group-images.winner:after {
  top: 8px;
}
/* line 240, ../sass/elements/_content.scss */
.favorites-item.group-images .favorites-art-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 245, ../sass/elements/_content.scss */
.favorites-item.group-images img {
  z-index: 2;
}
/* line 247, ../sass/elements/_content.scss */
.favorites-item.group-images img + img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
/* line 252, ../sass/elements/_content.scss */
.favorites-item.group-images img + img + img {
  bottom: 0;
  top: auto;
  right: auto;
  left: 20px;
  z-index: 3;
}
/* line 262, ../sass/elements/_content.scss */
.favorites-item img {
  display: block;
  max-width: 100%;
}

/* line 267, ../sass/elements/_content.scss */
.favorites-art-container {
  position: relative;
}
/* line 269, ../sass/elements/_content.scss */
.favorites-art-container .favorites-art-price, .favorites-art-container .favorites-art-date {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #222222;
  font-size: 12px;
  color: #dfdfdf;
  padding: 0 10px;
}
/* line 278, ../sass/elements/_content.scss */
.favorites-art-container .favorites-art-price {
  line-height: 26px;
}
/* line 281, ../sass/elements/_content.scss */
.favorites-art-container .favorites-art-date {
  line-height: 2.5em;
}

/* line 285, ../sass/elements/_content.scss */
.favorites-art-description {
  line-height: 17px;
  font-size: 14px;
  margin-top: 8px;
  text-align: left;
  position: relative;
}
/* line 291, ../sass/elements/_content.scss */
.favorites-art-description .art-name {
  color: #174684;
}
/* line 294, ../sass/elements/_content.scss */
.favorites-art-description .art-holder {
  color: #222;
}

/* line 298, ../sass/elements/_content.scss */
.art-size {
  font-size: 12px;
  color: #bbbbbb;
}

/*Avatars */
/* line 303, ../sass/elements/_content.scss */
.user-avatar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 305, ../sass/elements/_content.scss */
.user-avatar.min-avatar {
  width: 36px;
  height: 36px;
}

/* Comments */
/* line 56, like/*.png */
.like-button {
  background-image: url('images/sprites/like-s500050f2fd.png');
  background-repeat: no-repeat;
}

/* line 316, ../sass/elements/_content.scss */
.comments-holder {
  margin-bottom: 2.2em;
  max-width: 700px;
}
/* line 319, ../sass/elements/_content.scss */
.comments-holder .button.full-size {
  margin-bottom: 2.1em;
}
/* line 322, ../sass/elements/_content.scss */
.comments-holder .best-comment {
  margin-left: 4.59em;
  margin-top: 0.56em;
  margin-bottom: 0.3em;
  float: left;
}
/* line 327, ../sass/elements/_content.scss */
.comments-holder .best-comment + .comments-list {
  margin: 2.2em 0 0.6em;
  clear: both;
}

/* line 333, ../sass/elements/_content.scss */
.comments-list {
  margin: 20px 0 28px;
}

/* line 336, ../sass/elements/_content.scss */
.comments-form {
  margin-top: 2em;
}
/* line 338, ../sass/elements/_content.scss */
.comments-form .user-avatar {
  float: left;
}

/* line 342, ../sass/elements/_content.scss */
.comments-item {
  line-height: 18px;
  font-size: 14px;
  position: relative;
}
/* line 346, ../sass/elements/_content.scss */
.comments-item .hidden-button {
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
/* line 350, ../sass/elements/_content.scss */
.comments-item .spam-button {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 355, ../sass/elements/_content.scss */
.comments-item .user-avatar {
  float: left;
}
/* line 358, ../sass/elements/_content.scss */
.comments-item > .comments-list {
  width: auto;
  margin-left: 1.45em;
  margin-top: 1.37em;
}
/* line 363, ../sass/elements/_content.scss */
.comments-item .like-button {
  display: inline-block;
  margin-left: 24px;
  margin-top: -4px;
  vertical-align: middle;
  color: #cccccc;
  padding-left: 20px;
  cursor: pointer;
  background-position: 0 -17px;
}
/* line 372, ../sass/elements/_content.scss */
.comments-item .like-button:hover, .comments-item .like-button.liked {
  background-position: 0 0;
  color: #b11900;
}

/* line 378, ../sass/elements/_content.scss */
.comments-item-content {
  margin-left: 46px;
  position: relative;
}
/* line 382, ../sass/elements/_content.scss */
.comments-item-content:hover .button, .comments-item-content:hover + .button {
  opacity: 1;
}
/* line 386, ../sass/elements/_content.scss */
.comments-item-content .date {
  color: #ccc;
}
/* line 389, ../sass/elements/_content.scss */
.comments-item-content .comments-item-msg {
  margin: 0 0 2px;
}
/* line 391, ../sass/elements/_content.scss */
.comments-item-content .comments-item-msg .button {
  margin: 0 0 0 1.3em;
}

/* line 396, ../sass/elements/_content.scss */
.comments-field {
  margin-left: 45px;
}

/* line 399, ../sass/elements/_content.scss */
.other-favorites {
  margin-top: 1.6em;
  margin-bottom: 3.8em;
  padding-bottom: 0;
  padding-top: 0;
}
/* line 400, ../sass/elements/_content.scss */
.other-favorites .favorites-item {
  padding-top: 0;
}
/* line 407, ../sass/elements/_content.scss */
.other-favorites .short-desc {
  font-size: 12px;
}
/* line 410, ../sass/elements/_content.scss */
.other-favorites .delimiter {
  font-size: 10px;
}
/* line 413, ../sass/elements/_content.scss */
.other-favorites .images-holder {
  position: relative;
  padding-top: 40px;
  overflow: hidden;
}
/* line 417, ../sass/elements/_content.scss */
.other-favorites .images-holder img {
  vertical-align: top;
}
/* line 419, ../sass/elements/_content.scss */
.other-favorites .images-holder img:nth-child(1) {
  position: relative;
  z-index: 3;
  width: 100%;
}
/* line 424, ../sass/elements/_content.scss */
.other-favorites .images-holder img:nth-child(2) {
  position: absolute;
  top: 20px;
  z-index: 2;
  width: 200px;
  left: 20px;
}
/* line 431, ../sass/elements/_content.scss */
.other-favorites .images-holder img:nth-child(3) {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 160px;
  left: 40px;
}

/* line 442, ../sass/elements/_content.scss */
.other-favorites .favorites-column {
  width: 25%;
}

/* line 446, ../sass/elements/_content.scss */
.content-holder {
  padding: 1.5em 2em 0.5em;
}
/* line 448, ../sass/elements/_content.scss */
.content-holder:after {
  clear: both;
  content: '';
  display: block;
}

/* line 452, ../sass/elements/_content.scss */
.sidebar {
  width: 240px;
}

/* line 455, ../sass/elements/_content.scss */
.sidebar-item {
  padding: 12px 0 20px;
}
/* line 457, ../sass/elements/_content.scss */
.sidebar-item img {
  display: block;
}
/* line 460, ../sass/elements/_content.scss */
.sidebar-item + .sidebar-item {
  border-top: 1px solid #e8e8d6;
}
/* line 463, ../sass/elements/_content.scss */
.sidebar-item .ads-description {
  line-height: 16px;
  margin-top: 7px;
}
/* line 467, ../sass/elements/_content.scss */
.sidebar-item .ads-small-info {
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}
/* line 472, ../sass/elements/_content.scss */
.sidebar-item .group-ads {
  height: 127px;
  border: 1px solid #f0f0f0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 478, ../sass/elements/_content.scss */
.sidebar-item .group-ads .group-ads-content {
  padding: 11px 10px 0;
  color: #fff;
}
/* line 481, ../sass/elements/_content.scss */
.sidebar-item .group-ads .group-ads-content .title-group {
  line-height: 16px;
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 3px;
}
/* line 487, ../sass/elements/_content.scss */
.sidebar-item .group-ads .group-ads-content .short-info-group {
  font-size: 12px;
  line-height: 14px;
}
/* line 491, ../sass/elements/_content.scss */
.sidebar-item .group-ads .group-ads-content .button {
  margin-top: 0.2em;
  margin-right: 0.1em;
}

/* line 498, ../sass/elements/_content.scss */
.share-page-block {
  margin: .3em -0.05em;
}
/* line 500, ../sass/elements/_content.scss */
.share-page-block .button {
  margin: 0.24em 0.1em 0.24em 0;
  padding-right: 0.7em;
}
/* line 504, ../sass/elements/_content.scss */
.share-page-block:after {
  clear: both;
  content: '';
  display: block;
}

/* line 509, ../sass/elements/_content.scss */
.content-wrapper h1 {
  margin: 0.23em -0.05em;
}
/* line 511, ../sass/elements/_content.scss */
.content-wrapper h1.margin-bottom {
  margin-bottom: 0.71em;
}
/* line 515, ../sass/elements/_content.scss */
.content-wrapper img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 518, ../sass/elements/_content.scss */
.content-wrapper:after {
  clear: both;
  content: '';
  display: block;
}
/* line 521, ../sass/elements/_content.scss */
.content-wrapper .post-image {
  max-width: 100%;
  display: block;
  margin: 1.5em auto;
}
/* line 526, ../sass/elements/_content.scss */
.sidebar.float-right + .content-wrapper {
  margin-right: 280px;
}
/* line 529, ../sass/elements/_content.scss */
.sidebar.float-left + .content-wrapper {
  margin-left: 280px;
  margin-bottom: 2.57em;
}
/* line 533, ../sass/elements/_content.scss */
.content-wrapper .page-navigation {
  font-size: 0.8em;
}
/* line 535, ../sass/elements/_content.scss */
.content-wrapper .page-navigation a {
  color: inherit;
}

/* line 540, ../sass/elements/_content.scss */
.post-art {
  margin: 2.22em 0 2.2em;
}
/* line 542, ../sass/elements/_content.scss */
.post-art img {
  max-width: 100%;
}
/* line 545, ../sass/elements/_content.scss */
.post-art.without-description {
  margin-top: 2.4em;
  margin-bottom: 1.3em;
}
/* line 549, ../sass/elements/_content.scss */
.post-art:after {
  clear: both;
  content: '';
  display: block;
}
/* line 552, ../sass/elements/_content.scss */
.post-art .post-art-description {
  width: 30%;
  font-size: 0.88em;
  line-height: 1.5em;
  float: right;
  padding-top: 3.6em;
}
/* line 558, ../sass/elements/_content.scss */
.post-art .post-art-description + .post-art-container {
  padding-bottom: 20px;
}
/* line 561, ../sass/elements/_content.scss */
.post-art .post-art-description p + p {
  margin-top: 0.35em;
}
/* line 565, ../sass/elements/_content.scss */
.post-art .post-art-container {
  float: left;
  width: 66%;
}
/* line 568, ../sass/elements/_content.scss */
.post-art .post-art-container img {
  max-width: 100%;
}
/* line 572, ../sass/elements/_content.scss */
.post-art .post-art-info {
  margin: 0.7em 0;
}
/* line 574, ../sass/elements/_content.scss */
.post-art .post-art-info .name-art {
  font-size: 1.2em;
  line-height: 0.99em;
}

/* line 580, ../sass/elements/_content.scss */
.test-two-arts {
  margin-left: -1.33em;
  margin-right: -1.33em;
  margin-bottom: 2.84em;
}
/* line 584, ../sass/elements/_content.scss */
.test-two-arts .one-art-image {
  float: left;
  width: 50%;
  text-align: center;
}
/* line 588, ../sass/elements/_content.scss */
.test-two-arts .one-art-image img {
  max-width: 95%;
}
/* line 591, ../sass/elements/_content.scss */
.test-two-arts .one-art-image + .one-art-image {
  position: relative;
}
/* line 593, ../sass/elements/_content.scss */
.test-two-arts .one-art-image + .one-art-image:after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #eeeee1;
}
/* line 605, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list {
  clear: both;
  margin: 0 20px;
  counter-reset: li-counter;
}
/* line 608, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list:after {
  clear: both;
  content: '';
  display: block;
}
/* line 612, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li {
  float: left;
  width: 50%;
  position: relative;
}
/* line 616, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:before {
  line-height: 33px;
  text-align: center;
  margin-top: 12px;
  position: relative;
  z-index: 2;
  display: block;
  width: 33px;
  height: 33px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #efefe3;
  background-color: #fff;
  font-size: 18px;
}
/* line 630, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #eeeee1;
}
/* line 638, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(even) {
  text-align: left;
}
/* line 640, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(even):before {
  float: left;
  margin-left: -17px;
  content: counter(li-counter);
}
/* line 645, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(even):after {
  left: 0;
  content: '';
}
/* line 650, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(even):last-child:after {
  height: 15px;
}
/* line 654, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(even) p {
  margin-left: 3.05em;
}
/* line 658, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(odd) {
  text-align: right;
  counter-increment: li-counter;
}
/* line 661, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(odd) p {
  margin-right: 3.05em;
}
/* line 665, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(odd):last-child:after {
  right: -1px;
  height: 15px;
  content: '';
}
/* line 670, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li:nth-child(odd):last-child:before {
  float: right;
  margin-right: -18px;
  content: counter(li-counter);
}
/* line 677, ../sass/elements/_content.scss */
.test-two-arts .post-art-test-list li p {
  font-size: 0.874em;
  line-height: 1.47em;
  margin-top: 1.3em;
  margin-bottom: -0.3em;
}

/* line 686, ../sass/elements/_content.scss */
.post-art-table-info {
  margin: 2.79em 0 1.9em;
}
/* line 688, ../sass/elements/_content.scss */
.post-art-table-info table {
  width: 102.5%;
  font-family: inherit;
  color: inherit;
  font-size: 0.867em;
  line-height: 1.3em;
  border-spacing: 0;
  cursor: default;
  margin-bottom: 1.3em;
  margin-left: -1.25%;
  margin-right: -1.25%;
}
/* line 700, ../sass/elements/_content.scss */
.post-art-table-info table td:first-child {
  padding-left: 1.45%;
}
/* line 702, ../sass/elements/_content.scss */
.post-art-table-info table td:first-child + td {
  border-left: 1px solid #eeeee1;
}
/* line 706, ../sass/elements/_content.scss */
.post-art-table-info table td + td {
  padding-left: 2.5%;
  padding-top: 0.85em;
}
/* line 711, ../sass/elements/_content.scss */
.post-art-table-info table thead td {
  border-bottom: 1px solid #eeeee1;
  line-height: 1.31em;
  padding-bottom: 1.15em;
  padding-top: 1.23em;
  padding-right: 1.4em;
}
/* line 717, ../sass/elements/_content.scss */
.post-art-table-info table thead td:first-child {
  color: #bbbbbb;
  min-width: 13.7em;
}
/* line 721, ../sass/elements/_content.scss */
.post-art-table-info table thead td + td {
  padding-left: 1.65em;
}
/* line 727, ../sass/elements/_content.scss */
.post-art-table-info table tbody td:first-child {
  padding-top: 0.95em;
  padding-bottom: 0.95em;
}
/* line 731, ../sass/elements/_content.scss */
.post-art-table-info table tbody td + td {
  font-size: 1.18em;
}
/* line 734, ../sass/elements/_content.scss */
.post-art-table-info table tbody td.empty_cell {
  padding: 0;
  line-height: 0.7em;
}
/* line 742, ../sass/elements/_content.scss */
.post-art-table-info table tbody tr:not(.empty_row):hover {
  background-color: #f8f8f0;
}
/* line 747, ../sass/elements/_content.scss */
.post-art-table-info table td {
  vertical-align: top;
  width: 25%;
}

/* line 753, ../sass/elements/_content.scss */
.ul-list, .ol-list {
  font-size: 0.78em;
  padding-left: 4.7em;
  margin: 1.23em 0;
}
/* line 757, ../sass/elements/_content.scss */
.ul-list li, .ol-list li {
  display: list-item;
  padding: 0.27em 0 0.27em;
  font-size: 1.265em;
  line-height: 1.38em;
  text-indent: -0.2em;
}

/* line 765, ../sass/elements/_content.scss */
.ul-list {
  list-style-type: disc;
}

/* line 768, ../sass/elements/_content.scss */
.ol-list {
  padding-left: 5.3em;
}

/* line 772, ../sass/elements/_content.scss */
.post-video-youtube {
  margin: 1.5em 0;
}
/* line 774, ../sass/elements/_content.scss */
.post-video-youtube iframe {
  display: block;
}

/* line 779, ../sass/elements/_content.scss */
.post-tags-block {
  margin: 1.5em 0.1em;
}
/* line 781, ../sass/elements/_content.scss */
.post-tags-block:after {
  clear: both;
  content: '';
  display: block;
}

/* line 785, ../sass/elements/_content.scss */
.button.normal.comments-button {
  line-height: 1.93em;
  font-size: 0.988em;
  height: 2.08em;
  margin-top: 0.1em;
  padding-left: 0.9em;
  padding-right: 0.9em;
}
/* line 792, ../sass/elements/_content.scss */
.button.normal.comments-button .counts-share {
  padding-left: 0.41em;
  margin-top: 0.3em;
  line-height: 1.3em;
}

/* line 798, ../sass/elements/_content.scss */
.tags-list {
  line-height: 2.2em;
}
/* line 800, ../sass/elements/_content.scss */
.tags-list .tag-article {
  line-height: 1.49em;
  padding: 0 5px;
  font-size: 12px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #eeeee1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #aaaaaa;
  cursor: default;
}

/* line 813, ../sass/elements/_content.scss */
.promo-container {
  overflow: hidden;
  position: relative;
}
/* line 816, ../sass/elements/_content.scss */
.promo-container.minus-margin {
  margin-left: -2.2%;
  margin-right: -2.2%;
}
/* line 820, ../sass/elements/_content.scss */
.promo-container.grey-block-margins {
  margin-top: 2.3em;
  margin-bottom: 1.5em;
}
/* line 824, ../sass/elements/_content.scss */
.promo-container.decor-block-margins {
  margin-top: 2.57em;
  margin-bottom: 2.57em;
}
/* line 829, ../sass/elements/_content.scss */
.promo-container.with-borders:after, .promo-container.with-borders:before {
  border: 1px solid #f1f1f1;
}
/* line 833, ../sass/elements/_content.scss */
.promo-container:after, .promo-container:before {
  position: absolute;
  top: 50%;
  height: 22px;
  width: 22px;
  margin-top: -11px;
  background-color: #fff;
  content: '';
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 844, ../sass/elements/_content.scss */
.promo-container:after {
  left: 0;
  margin-left: -11px;
}
/* line 848, ../sass/elements/_content.scss */
.promo-container:before {
  right: 0;
  margin-right: -11px;
}
/* line 852, ../sass/elements/_content.scss */
.promo-container h2 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-size: 1.98em;
}

/* line 859, ../sass/elements/_content.scss */
.decorations-block {
  background: url(images/decoration-block-bg.png) left center repeat #d5e1e9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
}
/* line 863, ../sass/elements/_content.scss */
.decorations-block .decorations-block-content {
  padding: 1.14em 0 2.2em;
  margin: 0 3%;
}
/* line 867, ../sass/elements/_content.scss */
.decorations-block .decorations-block-title {
  font-size: 1.34em;
  line-height: 27px;
  margin: 0.55em 0.2em 0.47em 0;
}

/* line 873, ../sass/elements/_content.scss */
.articles-list {
  font-size: 0.946em;
  margin: 0.37em 0;
}
/* line 876, ../sass/elements/_content.scss */
.articles-list li {
  line-height: 1.3em;
  padding: 0.7em 0 0.8em;
}
/* line 880, ../sass/elements/_content.scss */
.articles-list li + li {
  border-top: 1px solid #e3e3ce;
}

/* line 885, ../sass/elements/_content.scss */
.grey-block {
  background: url(images/grey-bg.png) #fafafa;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  padding: 1.65em 6em 1.5em;
  text-align: center;
}
/* line 887, ../sass/elements/_content.scss */
.grey-block.winners-block {
  background: url(images/winners-bg.gif) #fafafa;
  padding-bottom: 2.6em;
}
/* line 896, ../sass/elements/_content.scss */
.grey-block .share-page-block .button + .button {
  margin-left: 1em;
}

/* line 901, ../sass/elements/_content.scss */
.promo-description {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 12px;
}

/* line 906, ../sass/elements/_content.scss */
.promo-delimiter {
  background: url(images/promo-delimiter.png) center center no-repeat;
  height: 4px;
  margin: 1em 0 0.8em;
}

/* line 96, slider/*.png */
.post-slideshow .slider-button {
  background-image: url('images/sprites/slider-sd2ffa14b9a.png');
  background-repeat: no-repeat;
}

/* line 916, ../sass/elements/_content.scss */
.post-slideshow {
  position: relative;
  margin: 2.15em 0 3.5em;
}
/* line 919, ../sass/elements/_content.scss */
.post-slideshow .post-slideshow-container {
  overflow: hidden;
}
/* line 922, ../sass/elements/_content.scss */
.post-slideshow .control-slider {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: 10px;
  height: 17px;
  margin-top: -20px;
}
/* line 929, ../sass/elements/_content.scss */
.post-slideshow .control-slider.next-button {
  right: -19px;
  background-position: 0 -21px;
}
/* line 932, ../sass/elements/_content.scss */
.post-slideshow .control-slider.next-button.disabled {
  background-position: 0 0;
}
/* line 936, ../sass/elements/_content.scss */
.post-slideshow .control-slider.prev-button {
  left: -19px;
  background-position: 0 -90px;
}
/* line 939, ../sass/elements/_content.scss */
.post-slideshow .control-slider.prev-button.disabled {
  background-position: 0 -69px;
}
/* line 944, ../sass/elements/_content.scss */
.post-slideshow .paging-slider {
  text-align: center;
  margin-bottom: -25px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
/* line 952, ../sass/elements/_content.scss */
.post-slideshow .paging-button {
  width: 11px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background-position: 3px -57px;
}
/* line 958, ../sass/elements/_content.scss */
.post-slideshow .paging-button + .paging-button {
  margin-left: 0.35em;
}
/* line 962, ../sass/elements/_content.scss */
.post-slideshow .paging-button:hover {
  background-position: 3px -48px;
}
/* line 965, ../sass/elements/_content.scss */
.post-slideshow .paging-button.active {
  background-position: 3px -39px;
}
/* line 969, ../sass/elements/_content.scss */
.post-slideshow ul {
  width: 100%;
}
/* line 972, ../sass/elements/_content.scss */
.post-slideshow li {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
/* line 978, ../sass/elements/_content.scss */
.post-slideshow.init-slider ul {
  -moz-transition: margin-left 0.5s ease-in;
  -o-transition: margin-left 0.5s ease-in;
  -webkit-transition: margin-left 0.5s ease-in;
  transition: margin-left 0.5s ease-in;
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
/* line 981, ../sass/elements/_content.scss */
.post-slideshow.init-slider ul:after {
  clear: both;
  content: '';
  display: block;
}
/* line 985, ../sass/elements/_content.scss */
.post-slideshow.init-slider li {
  display: block;
  float: left;
}

@media screen and (max-width: 1000px) and (min-width: 780px) {
  /* line 995, ../sass/elements/_content.scss */
  .favorites-list .favorites-column.column-4 {
    width: 33%;
    float: none;
    display: inline-block;
    margin-left: -0.2em;
  }
}
@media screen and (max-width: 780px) and (min-width: 500px) {
  /* line 1006, ../sass/elements/_content.scss */
  .favorites-column.column-4 {
    width: 50%;
  }

  /* line 1010, ../sass/elements/_content.scss */
  .grey-block {
    padding: 1.5em 40px;
  }

  /* line 1013, ../sass/elements/_content.scss */
  .promo-description {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  /* line 1018, ../sass/elements/_content.scss */
  .section-title {
    text-align: center;
  }

  /* line 1022, ../sass/elements/_content.scss */
  .favorites-column.column-4 {
    width: 100%;
  }

  /* line 1026, ../sass/elements/_content.scss */
  .grey-block {
    padding: 1em 20px;
  }

  /* line 1029, ../sass/elements/_content.scss */
  .promo-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  /* line 1034, ../sass/elements/_content.scss */
  .section {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 1038, ../sass/elements/_content.scss */
  .sidebar {
    float: none !important;
    width: 100%;
  }
  /* line 1041, ../sass/elements/_content.scss */
  .sidebar + .content-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 1180px) {
  /* line 1048, ../sass/elements/_content.scss */
  #page-wrapper {
    overflow: hidden;
  }
}
@media screen and (max-width: 1140px) {
  /* line 1053, ../sass/elements/_content.scss */
  #page-wrapper {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
  }

  /* line 1056, ../sass/elements/_content.scss */
  .section.with-filters {
    margin-top: 1em;
  }
}
@media screen and (max-width: 1070px) {
  /* line 1062, ../sass/elements/_content.scss */
  .post-art .post-art-description, .post-art .post-art-container {
    float: none;
    width: auto;
  }
  /* line 1066, ../sass/elements/_content.scss */
  .post-art .post-art-description {
    margin-top: 1.5em;
    padding-top: 0;
  }

  /* line 1072, ../sass/elements/_content.scss */
  .winners-block .favorites-list .favorites-column {
    width: 40%;
  }
  /* line 1075, ../sass/elements/_content.scss */
  .winners-block .favorites-list .vertical-line {
    display: none;
  }
}
/* line 1080, ../sass/elements/_content.scss */
.ads-sidebar {
  margin-top: 0.5em;
}

@media screen and (max-width: 800px) {
  /* line 1084, ../sass/elements/_content.scss */
  .ads-sidebar {
    display: none;
  }
  /* line 1087, ../sass/elements/_content.scss */
  .ads-sidebar.sidebar.float-right + .content-wrapper {
    margin-right: 0;
  }
}
/* line 1093, ../sass/elements/_content.scss */
.chapter-page {
  margin: 2.57em 0;
}
/* line 1095, ../sass/elements/_content.scss */
.chapter-page:after {
  clear: both;
  content: '';
  display: block;
}

/* line 2, ../sass/elements/_header.scss */
header:after {
  clear: both;
  content: '';
  display: block;
}
/* line 5, ../sass/elements/_header.scss */
header nav {
  font-size: 0.8em;
  background-color: #3e3631;
}
/* line 8, ../sass/elements/_header.scss */
header nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
}
/* line 15, ../sass/elements/_header.scss */
header nav a:hover {
  text-decoration: none;
}
/* line 18, ../sass/elements/_header.scss */
header nav a:hover, header nav a.active, header nav a:active {
  background-color: #524a46;
}

/* line 24, ../sass/elements/_header.scss */
.header-menu-container {
  margin: 0 185px 0 18px;
  overflow: hidden;
  height: 45px;
  position: relative;
}

/* line 30, ../sass/elements/_header.scss */
.header-menu {
  min-width: 100%;
}
/* line 32, ../sass/elements/_header.scss */
.header-menu a {
  padding: 0 13px 0 12px;
}
/* line 35, ../sass/elements/_header.scss */
.header-menu:after {
  clear: both;
  content: '';
  display: block;
}

/* line 39, ../sass/elements/_header.scss */
.header-menu-item {
  float: left;
}

/* line 42, ../sass/elements/_header.scss */
.social-buttons-menu {
  float: right;
}
/* line 44, ../sass/elements/_header.scss */
.social-buttons-menu li {
  float: right;
  border-left: 1px solid #605a56;
  width: 45px;
}
/* line 49, ../sass/elements/_header.scss */
.social-buttons-menu .social-white-button {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 17px;
}

/* line 57, ../sass/elements/_header.scss */
.header-content {
  background-color: #eeeee1;
  float: left;
  width: 100%;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 62, ../sass/elements/_header.scss */
.header-content .sign-in-block {
  margin: 0.2em 0;
  text-align: right;
  float: right;
  white-space: nowrap;
}
/* line 68, ../sass/elements/_header.scss */
.header-content .sign-in-block .button + .button {
  margin-left: 0.7em;
}

/* line 74, ../sass/elements/_header.scss */
.site-logotype {
  display: block;
  margin: 0.4em 0 0 1.96em;
  width: 193px;
  height: 73px;
  background: url(images/logotype.png) left bottom no-repeat;
  float: left;
}

/* line 82, ../sass/elements/_header.scss */
.form-header-elements {
  margin: 1.4em 2.05em 1.4em 17.95em;
}

/* line 85, ../sass/elements/_header.scss */
.search-form {
  max-width: 30.95em;
  position: relative;
  margin-right: 17em;
}
/* line 89, ../sass/elements/_header.scss */
.search-form .search-button {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  cursor: pointer;
  background: url(images/search-icon.png) 0.6em 0.55em no-repeat #fff;
  border: 0 none;
  padding: 0;
  width: 2.5em;
}

/* line 101, ../sass/elements/_header.scss */
.after-header-block {
  margin: 0 -10px;
  background: url(images/after-header-bg.jpg) -8px center repeat-x;
  clear: both;
  position: relative;
}

/* line 107, ../sass/elements/_header.scss */
.after-header-content {
  color: #fff;
  text-align: center;
  padding: 2em 1.5em 2.71em;
}
/* line 111, ../sass/elements/_header.scss */
.after-header-content .small-text {
  font-size: 0.8em;
}
/* line 114, ../sass/elements/_header.scss */
.after-header-content h1 {
  margin-bottom: 0.24em;
}

/* line 118, ../sass/elements/_header.scss */
.after-header-buttons {
  padding-top: 1.3em;
}
/* line 120, ../sass/elements/_header.scss */
.after-header-buttons .button + .button {
  margin-left: 7px;
}

@media screen and (max-width: 740px) {
  /* line 125, ../sass/elements/_header.scss */
  .site-logotype {
    width: 48px;
  }

  /* line 128, ../sass/elements/_header.scss */
  .form-header-elements {
    margin-left: 86px;
  }
}
@media screen and (max-width: 640px) {
  /* line 133, ../sass/elements/_header.scss */
  .social-buttons-menu {
    display: none;
  }

  /* line 136, ../sass/elements/_header.scss */
  .form-header-elements {
    margin-right: 12px;
    margin-left: 70px;
  }

  /* line 140, ../sass/elements/_header.scss */
  .site-logotype {
    margin-left: 12px;
  }

  /* line 143, ../sass/elements/_header.scss */
  .header-menu-container {
    margin-right: 0;
    margin-left: 0;
  }

  /* line 147, ../sass/elements/_header.scss */
  .header-content .sign-in-block .button + .button {
    margin-left: 3px;
  }

  /* line 150, ../sass/elements/_header.scss */
  .search-form {
    margin-right: 240px;
  }
}
@media screen and (max-width: 500px) {
  /* line 155, ../sass/elements/_header.scss */
  .search-form {
    display: none;
  }
}
/* line 1, ../sass/elements/_footer.scss */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
/* line 7, ../sass/elements/_footer.scss */
footer a {
  color: inherit;
}
/* line 9, ../sass/elements/_footer.scss */
footer a:hover {
  text-decoration: underline;
}

/* line 14, ../sass/elements/_footer.scss */
.footer-content {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

/* line 19, ../sass/elements/_footer.scss */
.footer-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid rgba(45, 45, 42, 0.6);
  font-size: 14px;
  line-height: 21px;
  padding: 23px 30px;
}
/* line 28, ../sass/elements/_footer.scss */
.footer-bottom li {
  white-space: nowrap;
}
/* line 30, ../sass/elements/_footer.scss */
.footer-bottom li.left-item {
  float: left;
}
/* line 33, ../sass/elements/_footer.scss */
.footer-bottom li.right-item {
  float: right;
}
/* line 37, ../sass/elements/_footer.scss */
.footer-bottom li.left-item + li.left-item {
  margin-left: 30px;
}
/* line 41, ../sass/elements/_footer.scss */
.footer-bottom li.callback-item a {
  background: url(images/callback-icon.png) left center no-repeat;
  padding-left: 21px;
  display: block;
}

/* line 48, ../sass/elements/_footer.scss */
.footer-columns {
  padding-bottom: 93px;
  margin: 0 30px;
  font-size: 12px;
  line-height: 1.5em;
}
/* line 53, ../sass/elements/_footer.scss */
.footer-columns:after {
  clear: both;
  content: '';
  display: block;
}

/* line 57, ../sass/elements/_footer.scss */
.footer-description {
  margin-top: 1em;
}

/* line 61, ../sass/elements/_footer.scss */
.footer-column:after {
  clear: both;
  content: '';
  display: block;
}
/* line 64, ../sass/elements/_footer.scss */
.footer-column.footer-column-1, .footer-column.footer-column-2, .footer-column.footer-column-3 {
  float: left;
}
/* line 67, ../sass/elements/_footer.scss */
.footer-column.footer-column-1 {
  width: 18%;
  margin-right: 5%;
}
/* line 71, ../sass/elements/_footer.scss */
.footer-column.footer-column-2 {
  width: 24%;
}
/* line 74, ../sass/elements/_footer.scss */
.footer-column.footer-column-3 {
  width: 22%;
}
/* line 77, ../sass/elements/_footer.scss */
.footer-column.footer-column-4 {
  margin-left: 69%;
}

@media screen and (max-width: 1100px) and (min-width: 980px) {
  /* line 84, ../sass/elements/_footer.scss */
  .footer-column.footer-column-1 {
    margin-right: 2%;
  }
  /* line 87, ../sass/elements/_footer.scss */
  .footer-column.footer-column-2 {
    width: 25%;
  }
  /* line 90, ../sass/elements/_footer.scss */
  .footer-column.footer-column-4 {
    margin-left: 68%;
  }
}
@media screen and (max-width: 980px) and (min-width: 640px) {
  /* line 96, ../sass/elements/_footer.scss */
  #page-wrapper {
    margin-bottom: 450px;
  }

  /* line 99, ../sass/elements/_footer.scss */
  .footer-description {
    margin-right: 2.5em;
  }

  /* line 103, ../sass/elements/_footer.scss */
  .footer-column.footer-column-1 {
    margin-right: 0;
  }
  /* line 106, ../sass/elements/_footer.scss */
  .footer-column.footer-column-1, .footer-column.footer-column-2, .footer-column.footer-column-3, .footer-column.footer-column-4 {
    width: 50%;
  }
  /* line 109, ../sass/elements/_footer.scss */
  .footer-column.footer-column-4 {
    float: left;
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  /* line 116, ../sass/elements/_footer.scss */
  #page-wrapper {
    margin-bottom: 750px;
  }

  /* line 119, ../sass/elements/_footer.scss */
  .footer-columns {
    padding-bottom: 140px;
    margin: 0 15px;
  }

  /* line 124, ../sass/elements/_footer.scss */
  .footer-column.footer-column-1, .footer-column.footer-column-2, .footer-column.footer-column-3, .footer-column.footer-column-4 {
    width: 300px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 132, ../sass/elements/_footer.scss */
  .footer-bottom li {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 300px;
  }
}
/* line 140, ../sass/elements/_footer.scss */
.footer-logotype {
  width: 161px;
  height: 61px;
  background: url(images/footer-logotype.png) left bottom no-repeat;
  margin-top: -15px;
  display: block;
}

/* line 147, ../sass/elements/_footer.scss */
.footer-sub-menu-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 22px;
}

/* line 152, ../sass/elements/_footer.scss */
.footer-sub-menu-item {
  line-height: 20px;
}
/* line 154, ../sass/elements/_footer.scss */
.footer-sub-menu-item + .footer-sub-menu-item {
  margin-top: 12px;
}

/* line 158, ../sass/elements/_footer.scss */
.footer-sub-menu {
  float: left;
  width: 100%;
}

/* line 163, ../sass/elements/_footer.scss */
.footer-sub-menu-item ul:after {
  clear: both;
  content: '';
  display: block;
}

/* line 167, ../sass/elements/_footer.scss */
.footer-sub-menu-item li {
  float: left;
  margin-right: 15px;
}
/* line 170, ../sass/elements/_footer.scss */
.footer-sub-menu-item li:last-child {
  margin-right: 0;
}

/* line 1, ../sass/elements/_pagination.scss */
.pagination {
  text-align: center;
  display: block;
  font-size: 1.2em;
  line-height: 50px;
  margin-top: 0.85em;
  margin-bottom: 1.9em;
}
/* line 8, ../sass/elements/_pagination.scss */
.pagination .fa {
  font-size: 0.78em;
}
/* line 11, ../sass/elements/_pagination.scss */
.pagination li {
  display: inline-block;
  vertical-align: top;
  line-height: 48px;
  min-width: 48px;
  text-align: center;
  border: 1px solid transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 20, ../sass/elements/_pagination.scss */
.pagination li:not(:first-child) + li {
  margin-left: -0.1em;
}
/* line 24, ../sass/elements/_pagination.scss */
.pagination li a {
  color: #00679a;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 30, ../sass/elements/_pagination.scss */
.pagination li.active, .pagination li:active {
  background-color: #EEEEE1;
  border-color: #EEEEE1;
}
/* line 33, ../sass/elements/_pagination.scss */
.pagination li.active a, .pagination li:active a {
  color: #222;
}
/* line 37, ../sass/elements/_pagination.scss */
.pagination li:first-child, .pagination li:last-child {
  width: 23%;
  border-color: #EEEEE1;
}
/* line 40, ../sass/elements/_pagination.scss */
.pagination li:first-child a, .pagination li:last-child a {
  color: #222;
}
/* line 44, ../sass/elements/_pagination.scss */
.pagination li:hover {
  border-color: #E5E5D0;
}
/* line 47, ../sass/elements/_pagination.scss */
.pagination li:first-child {
  float: left;
}
/* line 50, ../sass/elements/_pagination.scss */
.pagination li:last-child {
  float: right;
}

/* line 64, sizes-icons/*.png */
.radio-button.square span {
  background-image: url('images/sprites/sizes-icons-s6c9a364e2b.png');
  background-repeat: no-repeat;
}

/* line 7, ../sass/pages/_selection.scss */
.radio-button.big-preview-icon span {
  background-position: 8px 8px;
}
/* line 12, ../sass/pages/_selection.scss */
.radio-button.medium-preview-icon span {
  background-position: 8px -23px;
}
/* line 17, ../sass/pages/_selection.scss */
.radio-button.small-preview-icon span {
  background-position: 8px -54px;
}
