.btn {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  @include box-shadow(0 0.1em 0 rgba(0, 0, 0, 0.1));
  border-bottom-width: 1px;
  margin: 0.3em;
  &.block {
    display: block;
    + .btn {
      margin-top: 0.6em;
    }
  }
  .btn-icon {
    width: 2.6em;
    height: 2.5em;
    text-align: center;
    overflow: hidden;
    float: left;
    img {
      height: 4em;
      width: 4em;
      margin: -0.68em -0.65em;
      vertical-align: middle;
    }
  }
  .btn-text {
    padding: 0 1.8em;
    display: block;
    line-height: 2.55em;
  }
  .btn-icon + .btn-text {
    margin-left: 2.6em;
    padding: 0 1em;
  }
  &.btn-blue {
    background-color: #00aeef;
    .btn-icon {
      background-color: #0d91d0;
    }
  }
  &.btn-orange {
    background-color: #e48104;
    .btn-icon + .btn-text {
      margin-left: 2em;
    }
  }
  &.btn-red {
    background-color: #ec1a3a;
  }
  &.btn-yellow {
    background-color: #f9d903;
  }
  &.btn-light-orange {
    background-color: #ff9001;
    .btn-icon {
      background-color: #e48104;
    }
  }
}




