.wrapper-padding-lr {
  padding-left: 1.9em;
  padding-right: 1.9em;
}
.wrapper-padding-tb {
  padding-top: 1.3em;
  padding-bottom: 1.2em;
}
.wrapper-margin-lr {
  margin-left: 1.9em;
  margin-right: 1.9em;
}
.wrapper-margin-tb {
  margin-top: 1.3em;
  margin-bottom: 1.2em;
}
.content-wrapper {
  position: absolute;
  left: 17.5em;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $content-wrapper-color;
}
.content-page-title-container {
  background-color: $content-title-bgcolor;
  border-top: 1px solid $content-title-border;
  color: #111;
}
.content-section {
  height: 100%;
  padding-top: 4.8em;
  margin-top: -4.8em;
  @include box-sizing(border-box);
  position: relative;
}
.page-content {
  position: absolute;
  top: 9.8em;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.content-page-title {
  font-size: 2em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.article-wrapper {
  background-color: #fff;
  border-bottom: 0.1em solid #A9C7CF;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  &.with-top-margin {
    margin-top: 2.8em;
  }
}

#page-holder {
  @include box-sizing(border-box);
  min-width: 110.45em;
  padding-bottom: 5em;
}