button {
  cursor: pointer;
}
button, input, select, textarea {
  padding: 0;
  margin: 0;
  border: 0 none;
  background: none;
  outline: 0 none;
  font: inherit;
  -webkit-appearance: none;
  @include box-sizing(border-box);
}
input, textarea {
  &:focus {
    &:-ms-input-placeholder {
      color: transparent;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
  }
}

.field-holder {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 1px solid #d1d3d4;
  background-color: #fff;
  height: 2.4em;
  input, select {
    height: 100%;
    font-weight: normal;
    padding-left: 0.6em;
    width: 100%;
    min-width: 6em;
    padding-right: 1.7em;
    @include box-shadow(inset 0 0 2px #d1d3d4);
  }
  .filed-buttons {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background-color: #d1d3d4;
    width: 1.7em;
    button {
      &:hover {
        background-color: #c4c6c7;
      }
      &:active {
        background-color: #b7b9ba;
      }
    }
    .sort-button {
      height: 50%;
      font-size: 1em;
      color: #EFEFF0;
      display: block;
      width: 100%;
      overflow: hidden;
      .fa {
        font-size: 1.2em;
        vertical-align: middle;
      }
      .fa-sort-up {
        margin-bottom: -0.3em;
      }
      .fa-sort-down {
        margin-top: -0.3em;
      }
    }
  }
  select {
    z-index: 2;
    position: relative;
    width: auto;
    min-width: 100%;
    + .filed-buttons {
      line-height: 2.4em;
      text-align: center;
      .sort-button {
        height: 100%;
      }
    }
  }
  &.date-field {
    border-color: #c8c8c8;
    width: auto;
    + .date-field {
      margin-left: 1em;
    }
    input {
      width: 8.5em;
      padding-right: 2.2em;
    }
    .calendar-button {
      background-color: #c8c8c8;
      width: 2.2em;
      overflow: hidden;
      img {
        width: 5em;
        height: 5em;
        margin: -1.3em -1.4em;
      }
    }
  }
}
.checkbox {
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #a7a9ac;
  text-align: center;
  @include box-sizing(border-box);
  span {
    position: absolute;
    top: -0.65em;
    left: 0.38em;
    height: 1.1em;
    width: 0.4em;
    border-right: 0.2em solid #a7a9ac;
    border-bottom: 0.2em solid #a7a9ac;
    content: '';
    @include transform(rotate(40deg));
    display: none;
  }
  @include box-shadow(inset 0 0 0.2em #a7a9ac);
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    @include opacity(0);
    bottom: 100%;
    right: 100%;
    &:checked + span {
      display: block;
    }
  }
}






