.grid-row {
  &:after {
    clear: both;
    display: block;
    content: '';
  }
  &.articles-grid {
    margin-left: -1.9em;
    margin-right: -1.9em;
    .grid-cell {
      padding-left: 1.9em;
      padding-right: 1.9em;
    }
  }
}
.grid-cell {
  float: left;
  @include box-sizing(border-box);
  &.grid-1 {
    width: 100%;
  }
  &.grid-1-3 {
    width: 33.3333%;
  }
  &.grid-2-3 {
    width: 66.6666%;
  }
}