.left-sidebar {
  background-color: $menu-color-1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: $color-5;
}
.main-menu {
  position: relative;
  height: 100%;
  width: 17.5em;
  overflow: hidden;
}
.logotype {
  display: block;
  img {
    width: 100%;
    margin-left: -0.1em;
    margin-top: -0.2em;
  }
}
.main-menu-block {
  position: absolute;
  top: 17.7em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.main-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-menu-item {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border-bottom: 0.1em solid transparent;
  line-height: 3.9em;
  height: 3.9em;
  clear: both;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  .item-icon {
    width: 4em;
    height: 4em;
    float: left;
    margin-left: -1px;
    &.on-item-icon {
      display: none;
    }
  }
  a, span {
    display: block;
    height: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  span {
    margin-left: 4em;
    padding: 0 1em 0 0.8em;
  }
  &:hover {
    color: $color-6;
  }
  &.active, {
    background-color: $menu-color-3;
    color: $color-6;
    font-weight: bold;
    .on-item-icon {
      display: block;
    }
    .off-item-icon {
      display: none;
    }
    span {
      background-color: $menu-color-2;
    }
    a {
      cursor: default;
    }
    border-color: rgba(30, 37, 43, 0.6);
  }
}