.paging-of-table {
  color: #000;
  font-weight: bold;
  font-size: 0.75em;
  padding: 1.2em 2.5em 2em;
  white-space: nowrap;
  .paging-view-info {
    color: #333333;
    float: right;
    white-space: nowrap;
    font-size: 1.5em;
    line-height: 1.6em;
    padding-right: 0.4em;
  }
  .paging-element {
    display: inline-block;
    vertical-align: middle;
  }
  .paging-input {
    position: relative;
    border: 1px solid #ebebeb;
    margin: 0 1.2em;
    height: 2.1em;
    input {
      height: 100%;
      font-weight: normal;
      @include box-shadow(inset 0 0 2px rgb(209, 211, 212));
    }
  }
  .paging-page-select {
    input {
      width: 4.3em;
      margin: 0 2.3em;
      text-align: center;
    }
    .paging-btn {
      top: 0;
      bottom: 0;
      line-height: 2em;
      img {
        width: 1em;
      }
      &.digit-change-up {
        right: 0;
      }
      &.digit-change-down {
        left: 0;
      }
    }
  }
  .paging-items-count {
    margin: 0 0.8em;
    input {
      width: 6.6em;
      margin-right: 2.3em;
      padding-left: 1em;
      text-align: left;
    }
    .paging-btn {
      right: 0;
      height: 50%;
      line-height: 1em;
      &.digit-change-up {
        top: 0;
        vertical-align: top;
      }
      &.digit-change-down {
        vertical-align: bottom;
        top: 50%;
      }
      img {
        height: 0.9em;
      }
    }
  }
  .paging-btn {
    background-color: #ebebeb;
    width: 2.3em;
    position: absolute;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #e0e0e0;
    }
    &:active {
      background-color: #d0d0d0;
    }
    img {
      vertical-align: middle;
    }
  }
}