.table-container {
  width: 100%;
  overflow: auto;
}
.sortable-table {
  background-color: #fff;
  text-align: left;
  color: #434343;
  thead {
    color: #000;
    th {
      vertical-align: middle;
    }
    .titles-row th {
      background-color: #e8e8e8;
      position: relative;
      padding: 0 2.7em 0 1.8em;
      height: 3.5em;
      &.checkbox-cell {
        padding-left: 0.55em;
        padding-right: 0.45em;
      }
    }
    .filters-row th {
      background-color: #f8f8f8;
      padding: 0.9em 0.6em;
      vertical-align: top;
      &.empty-cell {
        padding: 0;
      }
      &:first-child {
        padding-left: 1.7em;
      }
      &:last-child {
        padding-right: 1.7em;
      }
      .field-holder {
        width: 100%;
        &.date-field {
          float: left;
          display: block;
          width: auto;
          clear: both;
          + .date-field {
            margin-top: 0.7em;
            margin-left: 0;
          }
        }
      }
    }


    .sort-btns {
      position: absolute;
      right: 0.9em;
      top: 0.65em;
      button {
        display: block;
        height: 1em;
      }
      img {
        width: 0.85em;
        height: 0.85em;
      }
    }
  }
  td, th {
    vertical-align: top;
  }
  &.middle-text {
    td, th {
      vertical-align: middle;
    }
  }
  tbody {
    white-space: nowrap;
    tr:nth-child(even) {
      background-color: #f8f8f8;
    }
    td {
      padding: 1.2em 1.8em;
      &.checkbox-cell {
        padding-left: 0.55em;
        padding-right: 0.45em;
      }
      &.status-cell {
        color: #2b2b2b;
      }
      &.link-cell {
        color: #0069cc;
        font-weight: bold;
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &.logo-cell {
        width: 1em;
        text-align: center;
        img {
          vertical-align: middle;
          margin: -0.6em -1.6em;
          height: 3.2em;
        }
      }
      &.btn-cell {
        padding: 0.6em;
      }
      &.min-width {
        width: 1px;
      }
      &:last-child {
        padding-right: 1.9em;
      }
    }
    th, td {
      line-height: 1.1em;
    }
    &.selectable-rows {
      tr:hover, tr.selected {
        background-color: rgba(214, 25, 34, 0.25);
      }
    }
  }
  th + th, td + td {
    border-left: 2px solid rgba(255, 255, 255, 0.4);
  }
  & + .paging-of-table {
    padding-top: 2em;
    padding-bottom: 3em;
  }
}