
.top-bar {
  background-color: $color-6;
  height: 4.8em;
  position: relative;
  z-index: 2;
  @include box-sizing(border-box);
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .burger-btn {
    float: left;
    margin-left: -1.9em;
    img {
      width: 4em;
      height: 4em;
      margin: 0.35em 0.45em;
      display: block;
    }
  }
  .search-form {
    float: left;
    height: 100%;
    width: 22.5em;
    margin-left: 0.2em;
    label {
      background-color: #ebebeb;
      height: 100%;
      display: block;
      position: relative;
    }
    input {
      height: 100%;
      width: 100%;
      font: inherit;
      display: block;
      position: absolute;
      padding-left: 3.75em;
      font-size: 1.12em;
    }
    .search-icon {
      width: 4.2em;
      height: 4.2em;
      margin: 0.3em 0;
      position: relative;
      z-index: 2;
      float: left;
    }
  }
  .user-navigation {
    float: right;
    white-space: nowrap;
    margin-right: -1.2em;
  }
  .user-name-holder, .exit-button {
    display: inline-block;
    vertical-align: middle;
  }
  .user-name-holder {
    position: relative;
    margin-right: -1.6em;
    padding: 0.2em 1em 0.5em;
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border-width: 0.4em 0.3em 0;
      border-style: solid;
      border-color: #ccc transparent;
      margin-left: 1.4em;
    }
  }
  .user-name-text {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }
  .exit-button {
    margin: 0.3em 0;
    img {
      height: 4.2em;
      width: 4.2em;
    }
  }
}