/* line 4, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* line 9, ../sass/style.scss */
html {
  background: #035e03;
}

/* line 12, ../sass/style.scss */
body {
  margin: 0;
  position: relative;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
  min-width: 1000px;
  font-size: 15px;
}

/* line 19, ../sass/style.scss */
a {
  outline: none;
  text-decoration: none;
}
/* line 22, ../sass/style.scss */
a img {
  border: 0 none;
}

/* line 26, ../sass/style.scss */
.float-left {
  float: left;
}

/* line 30, ../sass/style.scss */
.float-right {
  float: right;
}

/* line 33, ../sass/style.scss */
.clear-both {
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}

/* line 39, ../sass/style.scss */
.block {
  display: block;
}

/* line 42, ../sass/style.scss */
.height-100 {
  height: 100%;
}

/* line 45, ../sass/style.scss */
.absolute {
  position: absolute;
}

/* line 48, ../sass/style.scss */
#section {
  position: relative;
  z-index: 1;
  font-family: "Open Sans";
  color: #fff;
  margin-top: 75px;
  padding: 0 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 57, ../sass/style.scss */
.top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
}

/* line 64, ../sass/style.scss */
#section-content {
  max-width: 1100px;
  min-width: 820px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

/* line 71, ../sass/style.scss */
#header {
  height: 75px;
  background: #fff;
  position: relative;
  z-index: 2;
}

/* line 77, ../sass/style.scss */
#page {
  width: 100%;
  min-height: 100%;
  min-width: 980px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  margin-top: -75px;
  z-index: 1;
  background: url("images/page-background-shadow.png") center 75px;
}

/* line 89, ../sass/style.scss */
#logotype {
  display: block;
  height: 48px;
  width: 160px;
  margin: -8px 10px -8px 30px;
}
/* line 94, ../sass/style.scss */
#logotype img {
  display: block;
}

/* line 98, ../sass/style.scss */
.header-content {
  max-width: 1280px;
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 21px 0;
}

/* line 105, ../sass/style.scss */
.text-content {
  background: url("images/content-background.png") right bottom no-repeat;
  padding: 80px 0 84px;
}
/* line 108, ../sass/style.scss */
.text-content .text-block {
  font-size: 20px;
  width: 425px;
}
/* line 113, ../sass/style.scss */
.text-content .content-buttons .button {
  float: left;
}
/* line 115, ../sass/style.scss */
.text-content .content-buttons .button + .button {
  margin-left: 20px;
}
/* line 120, ../sass/style.scss */
.text-content p {
  line-height: 28px;
  margin-bottom: 2em;
}

/* line 125, ../sass/style.scss */
h1 {
  font-family: "Open Sans", Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  font-weight: bold;
}

/* line 132, ../sass/style.scss */
#footer {
  color: #fff;
  z-index: 3;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
  line-height: 17px;
  position: relative;
}
/* line 138, ../sass/style.scss */
#footer .footer-shadow {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
/* line 144, ../sass/style.scss */
#footer .footer-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 0;
  position: relative;
  z-index: 1;
}
/* line 151, ../sass/style.scss */
#footer .copyright {
  white-space: nowrap;
  margin: 0 30px;
  color: rgba(255, 255, 255, 0.5);
}
/* line 156, ../sass/style.scss */
#footer a {
  text-decoration: underline;
  color: inherit;
}
/* line 159, ../sass/style.scss */
#footer a:hover {
  color: #FFF;
}
/* line 162, ../sass/style.scss */
#footer a.float-right + a.float-right {
  margin-right: 18px;
}

/* line 167, ../sass/style.scss */
.button {
  font-family: Arial, Tahoma, Verdana, sans-serif, Lucida Sans;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border-width: 1px 0 0;
  border-style: solid;
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
/* line 181, ../sass/style.scss */
.button .text-button, .button .icon-button {
  display: block;
  height: 100%;
}
/* line 185, ../sass/style.scss */
.button .text-button {
  white-space: nowrap;
  padding: 6px 20px 8px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
/* line 190, ../sass/style.scss */
.button .icon-button {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  float: left;
}
/* line 194, ../sass/style.scss */
.button.blue {
  background: #4299DC;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4299dc), color-stop(100%, #0f6dcb));
  background-image: -webkit-linear-gradient(#4299dc, #0f6dcb);
  background-image: -moz-linear-gradient(#4299dc, #0f6dcb);
  background-image: -o-linear-gradient(#4299dc, #0f6dcb);
  background-image: linear-gradient(#4299dc, #0f6dcb);
  border-color: #4299dc;
  color: #fff;
}
/* line 199, ../sass/style.scss */
.button.blue:hover {
  background: #1aa8ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1aa8ff), color-stop(100%, #007fed));
  background-image: -webkit-linear-gradient(#1aa8ff, #007fed);
  background-image: -moz-linear-gradient(#1aa8ff, #007fed);
  background-image: -o-linear-gradient(#1aa8ff, #007fed);
  background-image: linear-gradient(#1aa8ff, #007fed);
  border-color: #1aa8ff;
  color: #FFF;
}
/* line 205, ../sass/style.scss */
.button.blue:active {
  background: #1866b2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1866b2), color-stop(100%, #3685c6));
  background-image: -webkit-linear-gradient(#1866b2, #3685c6);
  background-image: -moz-linear-gradient(#1866b2, #3685c6);
  background-image: -o-linear-gradient(#1866b2, #3685c6);
  background-image: linear-gradient(#1866b2, #3685c6);
  border-color: #094988;
  color: #fff;
}
/* line 212, ../sass/style.scss */
.button.grey {
  background: #f1f1f1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  border: 1px solid #cdcdcd;
  color: #0d6cca;
}
/* line 217, ../sass/style.scss */
.button.grey:hover {
  background: #dfdfdf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(#fefefe, #dfdfdf);
  background-image: -moz-linear-gradient(#fefefe, #dfdfdf);
  background-image: -o-linear-gradient(#fefefe, #dfdfdf);
  background-image: linear-gradient(#fefefe, #dfdfdf);
  color: #474747;
}
/* line 222, ../sass/style.scss */
.button.grey:active {
  background: #dfdfdf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #fefefe));
  background-image: -webkit-linear-gradient(#dfdfdf, #fefefe);
  background-image: -moz-linear-gradient(#dfdfdf, #fefefe);
  background-image: -o-linear-gradient(#dfdfdf, #fefefe);
  background-image: linear-gradient(#dfdfdf, #fefefe);
  color: #0d6cca;
}
/* line 227, ../sass/style.scss */
.button.grey:hover, .button.grey:active {
  color: #0d6cca;
}
/* line 231, ../sass/style.scss */
.button.big {
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  display: block;
  height: 50px;
}
/* line 237, ../sass/style.scss */
.button.big .text-button {
  padding: 0;
  margin: 0 30px;
}

/* line 244, ../sass/style.scss */
.icon-button.plus {
  width: 33px;
  height: 33px;
  margin-top: -1px;
  background: url("images/plus-icon.png") center center no-repeat;
}
/* line 250, ../sass/style.scss */
.icon-button + .text-button {
  margin-left: 34px;
}

/* line 254, ../sass/style.scss */
.add-button {
  margin-right: 30px;
}

/* line 257, ../sass/style.scss */
.shadow-background {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
