/* line 1, ../sass/_reset.scss */
body, html {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/_reset.scss */
body {
  margin: 0;
  font: 14px 'Ubuntu', sans-serif;
  position: relative;
}

/* line 10, ../sass/_reset.scss */
a {
  outline: 0 none;
}
/* line 12, ../sass/_reset.scss */
a img {
  border: 0 none;
}

/* line 16, ../sass/_reset.scss */
h1, h2, h3, h4, h5, p {
  margin: 0;
}

/* line 19, ../sass/_reset.scss */
h2 {
  text-indent: -0.14em;
}

/* Datepicker */
/* line 24, ../sass/_reset.scss */
datepicker {
  float: none;
}

/* line 27, ../sass/_reset.scss */
.fa {
  font-size: inherit;
}

/* line 30, ../sass/_reset.scss */
.center-text {
  text-align: center;
}

/* line 33, ../sass/_reset.scss */
.float-right {
  float: right;
}

/* line 36, ../sass/_reset.scss */
.float-left {
  float: left;
}

/* line 39, ../sass/_reset.scss */
.nowrap {
  white-space: nowrap;
}

/* line 42, ../sass/_reset.scss */
.block {
  displaY: block;
}

/* line 1, ../sass/elements/_main-menu.scss */
.left-sidebar {
  background-color: #1E252B;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: #bcdce5;
}

/* line 9, ../sass/elements/_main-menu.scss */
.main-menu {
  position: relative;
  height: 100%;
  width: 17.5em;
  overflow: hidden;
}

/* line 15, ../sass/elements/_main-menu.scss */
.logotype {
  display: block;
}
/* line 17, ../sass/elements/_main-menu.scss */
.logotype img {
  width: 100%;
  margin-left: -0.1em;
  margin-top: -0.2em;
}

/* line 23, ../sass/elements/_main-menu.scss */
.main-menu-block {
  position: absolute;
  top: 17.7em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

/* line 31, ../sass/elements/_main-menu.scss */
.main-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 36, ../sass/elements/_main-menu.scss */
.main-menu-item {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border-bottom: 0.1em solid transparent;
  line-height: 3.9em;
  height: 3.9em;
  clear: both;
}
/* line 45, ../sass/elements/_main-menu.scss */
.main-menu-item:after {
  content: '';
  clear: both;
  display: block;
}
/* line 50, ../sass/elements/_main-menu.scss */
.main-menu-item .item-icon {
  width: 4em;
  height: 4em;
  float: left;
  margin-left: -1px;
}
/* line 55, ../sass/elements/_main-menu.scss */
.main-menu-item .item-icon.on-item-icon {
  display: none;
}
/* line 59, ../sass/elements/_main-menu.scss */
.main-menu-item a, .main-menu-item span {
  display: block;
  height: 100%;
}
/* line 63, ../sass/elements/_main-menu.scss */
.main-menu-item a {
  color: inherit;
  text-decoration: none;
}
/* line 67, ../sass/elements/_main-menu.scss */
.main-menu-item span {
  margin-left: 4em;
  padding: 0 1em 0 0.8em;
}
/* line 71, ../sass/elements/_main-menu.scss */
.main-menu-item:hover {
  color: #ffffff;
}
/* line 74, ../sass/elements/_main-menu.scss */
.main-menu-item.active {
  background-color: #36434F;
  color: #ffffff;
  font-weight: bold;
  border-color: rgba(30, 37, 43, 0.6);
}
/* line 78, ../sass/elements/_main-menu.scss */
.main-menu-item.active .on-item-icon {
  display: block;
}
/* line 81, ../sass/elements/_main-menu.scss */
.main-menu-item.active .off-item-icon {
  display: none;
}
/* line 84, ../sass/elements/_main-menu.scss */
.main-menu-item.active span {
  background-color: #2B333A;
}
/* line 87, ../sass/elements/_main-menu.scss */
.main-menu-item.active a {
  cursor: default;
}

/* line 2, ../sass/elements/_top-bar.scss */
.top-bar {
  background-color: #ffffff;
  height: 4.8em;
  position: relative;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 8, ../sass/elements/_top-bar.scss */
.top-bar:after {
  clear: both;
  content: '';
  display: block;
}
/* line 13, ../sass/elements/_top-bar.scss */
.top-bar .burger-btn {
  float: left;
  margin-left: -1.9em;
}
/* line 16, ../sass/elements/_top-bar.scss */
.top-bar .burger-btn img {
  width: 4em;
  height: 4em;
  margin: 0.35em 0.45em;
  display: block;
}
/* line 23, ../sass/elements/_top-bar.scss */
.top-bar .search-form {
  float: left;
  height: 100%;
  width: 22.5em;
  margin-left: 0.2em;
}
/* line 28, ../sass/elements/_top-bar.scss */
.top-bar .search-form label {
  background-color: #ebebeb;
  height: 100%;
  display: block;
  position: relative;
}
/* line 34, ../sass/elements/_top-bar.scss */
.top-bar .search-form input {
  height: 100%;
  width: 100%;
  font: inherit;
  display: block;
  position: absolute;
  padding-left: 3.75em;
  font-size: 1.12em;
}
/* line 43, ../sass/elements/_top-bar.scss */
.top-bar .search-form .search-icon {
  width: 4.2em;
  height: 4.2em;
  margin: 0.3em 0;
  position: relative;
  z-index: 2;
  float: left;
}
/* line 52, ../sass/elements/_top-bar.scss */
.top-bar .user-navigation {
  float: right;
  white-space: nowrap;
  margin-right: -1.2em;
}
/* line 57, ../sass/elements/_top-bar.scss */
.top-bar .user-name-holder, .top-bar .exit-button {
  display: inline-block;
  vertical-align: middle;
}
/* line 61, ../sass/elements/_top-bar.scss */
.top-bar .user-name-holder {
  position: relative;
  margin-right: -1.6em;
  padding: 0.2em 1em 0.5em;
  cursor: pointer;
}
/* line 66, ../sass/elements/_top-bar.scss */
.top-bar .user-name-holder:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-width: 0.4em 0.3em 0;
  border-style: solid;
  border-color: #ccc transparent;
  margin-left: 1.4em;
}
/* line 78, ../sass/elements/_top-bar.scss */
.top-bar .user-name-text {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}
/* line 83, ../sass/elements/_top-bar.scss */
.top-bar .exit-button {
  margin: 0.3em 0;
}
/* line 85, ../sass/elements/_top-bar.scss */
.top-bar .exit-button img {
  height: 4.2em;
  width: 4.2em;
}

/* line 1, ../sass/elements/_content.scss */
.wrapper-padding-lr {
  padding-left: 1.9em;
  padding-right: 1.9em;
}

/* line 5, ../sass/elements/_content.scss */
.wrapper-padding-tb {
  padding-top: 1.3em;
  padding-bottom: 1.2em;
}

/* line 9, ../sass/elements/_content.scss */
.wrapper-margin-lr {
  margin-left: 1.9em;
  margin-right: 1.9em;
}

/* line 13, ../sass/elements/_content.scss */
.wrapper-margin-tb {
  margin-top: 1.3em;
  margin-bottom: 1.2em;
}

/* line 17, ../sass/elements/_content.scss */
.content-wrapper {
  position: absolute;
  left: 17.5em;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #BBDCE5;
}

/* line 25, ../sass/elements/_content.scss */
.content-page-title-container {
  background-color: #B0D0D9;
  border-top: 1px solid #8ea7b0;
  color: #111;
}

/* line 30, ../sass/elements/_content.scss */
.content-section {
  height: 100%;
  padding-top: 4.8em;
  margin-top: -4.8em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 37, ../sass/elements/_content.scss */
.page-content {
  position: absolute;
  top: 9.8em;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

/* line 45, ../sass/elements/_content.scss */
.content-page-title {
  font-size: 2em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 54, ../sass/elements/_content.scss */
.article-wrapper {
  background-color: #fff;
  border-bottom: 0.1em solid #A9C7CF;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 59, ../sass/elements/_content.scss */
.article-wrapper.with-top-margin {
  margin-top: 2.8em;
}

/* line 64, ../sass/elements/_content.scss */
#page-holder {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 110.45em;
  padding-bottom: 5em;
}

/* line 1, ../sass/elements/_forms.scss */
button {
  cursor: pointer;
}

/* line 4, ../sass/elements/_forms.scss */
button, input, select, textarea {
  padding: 0;
  margin: 0;
  border: 0 none;
  background: none;
  outline: 0 none;
  font: inherit;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/elements/_forms.scss */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 19, ../sass/elements/_forms.scss */
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 22, ../sass/elements/_forms.scss */
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: transparent;
}

/* line 28, ../sass/elements/_forms.scss */
.field-holder {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 1px solid #d1d3d4;
  background-color: #fff;
  height: 2.4em;
}
/* line 35, ../sass/elements/_forms.scss */
.field-holder input, .field-holder select {
  height: 100%;
  font-weight: normal;
  padding-left: 0.6em;
  width: 100%;
  min-width: 6em;
  padding-right: 1.7em;
  -moz-box-shadow: inset 0 0 2px #d1d3d4;
  -webkit-box-shadow: inset 0 0 2px #d1d3d4;
  box-shadow: inset 0 0 2px #d1d3d4;
}
/* line 44, ../sass/elements/_forms.scss */
.field-holder .filed-buttons {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background-color: #d1d3d4;
  width: 1.7em;
}
/* line 52, ../sass/elements/_forms.scss */
.field-holder .filed-buttons button:hover {
  background-color: #c4c6c7;
}
/* line 55, ../sass/elements/_forms.scss */
.field-holder .filed-buttons button:active {
  background-color: #b7b9ba;
}
/* line 59, ../sass/elements/_forms.scss */
.field-holder .filed-buttons .sort-button {
  height: 50%;
  font-size: 1em;
  color: #EFEFF0;
  display: block;
  width: 100%;
  overflow: hidden;
}
/* line 66, ../sass/elements/_forms.scss */
.field-holder .filed-buttons .sort-button .fa {
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 70, ../sass/elements/_forms.scss */
.field-holder .filed-buttons .sort-button .fa-sort-up {
  margin-bottom: -0.3em;
}
/* line 73, ../sass/elements/_forms.scss */
.field-holder .filed-buttons .sort-button .fa-sort-down {
  margin-top: -0.3em;
}
/* line 78, ../sass/elements/_forms.scss */
.field-holder select {
  z-index: 2;
  position: relative;
  width: auto;
  min-width: 100%;
}
/* line 83, ../sass/elements/_forms.scss */
.field-holder select + .filed-buttons {
  line-height: 2.4em;
  text-align: center;
}
/* line 86, ../sass/elements/_forms.scss */
.field-holder select + .filed-buttons .sort-button {
  height: 100%;
}
/* line 91, ../sass/elements/_forms.scss */
.field-holder.date-field {
  border-color: #c8c8c8;
  width: auto;
}
/* line 94, ../sass/elements/_forms.scss */
.field-holder.date-field + .date-field {
  margin-left: 1em;
}
/* line 97, ../sass/elements/_forms.scss */
.field-holder.date-field input {
  width: 8.5em;
  padding-right: 2.2em;
}
/* line 101, ../sass/elements/_forms.scss */
.field-holder.date-field .calendar-button {
  background-color: #c8c8c8;
  width: 2.2em;
  overflow: hidden;
}
/* line 105, ../sass/elements/_forms.scss */
.field-holder.date-field .calendar-button img {
  width: 5em;
  height: 5em;
  margin: -1.3em -1.4em;
}

/* line 113, ../sass/elements/_forms.scss */
.checkbox {
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #a7a9ac;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 0 0.2em #a7a9ac;
  -webkit-box-shadow: inset 0 0 0.2em #a7a9ac;
  box-shadow: inset 0 0 0.2em #a7a9ac;
}
/* line 123, ../sass/elements/_forms.scss */
.checkbox span {
  position: absolute;
  top: -0.65em;
  left: 0.38em;
  height: 1.1em;
  width: 0.4em;
  border-right: 0.2em solid #a7a9ac;
  border-bottom: 0.2em solid #a7a9ac;
  content: '';
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  display: none;
}
/* line 136, ../sass/elements/_forms.scss */
.checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  bottom: 100%;
  right: 100%;
}
/* line 143, ../sass/elements/_forms.scss */
.checkbox input:checked + span {
  display: block;
}

/* line 1, ../sass/elements/_tables.scss */
.table-container {
  width: 100%;
  overflow: auto;
}

/* line 5, ../sass/elements/_tables.scss */
.sortable-table {
  background-color: #fff;
  text-align: left;
  color: #434343;
}
/* line 9, ../sass/elements/_tables.scss */
.sortable-table thead {
  color: #000;
}
/* line 11, ../sass/elements/_tables.scss */
.sortable-table thead th {
  vertical-align: middle;
}
/* line 14, ../sass/elements/_tables.scss */
.sortable-table thead .titles-row th {
  background-color: #e8e8e8;
  position: relative;
  padding: 0 2.7em 0 1.8em;
  height: 3.5em;
}
/* line 19, ../sass/elements/_tables.scss */
.sortable-table thead .titles-row th.checkbox-cell {
  padding-left: 0.55em;
  padding-right: 0.45em;
}
/* line 24, ../sass/elements/_tables.scss */
.sortable-table thead .filters-row th {
  background-color: #f8f8f8;
  padding: 0.9em 0.6em;
  vertical-align: top;
}
/* line 28, ../sass/elements/_tables.scss */
.sortable-table thead .filters-row th.empty-cell {
  padding: 0;
}
/* line 31, ../sass/elements/_tables.scss */
.sortable-table thead .filters-row th:first-child {
  padding-left: 1.7em;
}
/* line 34, ../sass/elements/_tables.scss */
.sortable-table thead .filters-row th:last-child {
  padding-right: 1.7em;
}
/* line 37, ../sass/elements/_tables.scss */
.sortable-table thead .filters-row th .field-holder {
  width: 100%;
}
/* line 39, ../sass/elements/_tables.scss */
.sortable-table thead .filters-row th .field-holder.date-field {
  float: left;
  display: block;
  width: auto;
  clear: both;
}
/* line 44, ../sass/elements/_tables.scss */
.sortable-table thead .filters-row th .field-holder.date-field + .date-field {
  margin-top: 0.7em;
  margin-left: 0;
}
/* line 53, ../sass/elements/_tables.scss */
.sortable-table thead .sort-btns {
  position: absolute;
  right: 0.9em;
  top: 0.65em;
}
/* line 57, ../sass/elements/_tables.scss */
.sortable-table thead .sort-btns button {
  display: block;
  height: 1em;
}
/* line 61, ../sass/elements/_tables.scss */
.sortable-table thead .sort-btns img {
  width: 0.85em;
  height: 0.85em;
}
/* line 67, ../sass/elements/_tables.scss */
.sortable-table td, .sortable-table th {
  vertical-align: top;
}
/* line 71, ../sass/elements/_tables.scss */
.sortable-table.middle-text td, .sortable-table.middle-text th {
  vertical-align: middle;
}
/* line 75, ../sass/elements/_tables.scss */
.sortable-table tbody {
  white-space: nowrap;
}
/* line 77, ../sass/elements/_tables.scss */
.sortable-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}
/* line 80, ../sass/elements/_tables.scss */
.sortable-table tbody td {
  padding: 1.2em 1.8em;
}
/* line 82, ../sass/elements/_tables.scss */
.sortable-table tbody td.checkbox-cell {
  padding-left: 0.55em;
  padding-right: 0.45em;
}
/* line 86, ../sass/elements/_tables.scss */
.sortable-table tbody td.status-cell {
  color: #2b2b2b;
}
/* line 89, ../sass/elements/_tables.scss */
.sortable-table tbody td.link-cell {
  color: #0069cc;
  font-weight: bold;
}
/* line 92, ../sass/elements/_tables.scss */
.sortable-table tbody td.link-cell a {
  text-decoration: none;
  color: inherit;
}
/* line 95, ../sass/elements/_tables.scss */
.sortable-table tbody td.link-cell a:hover {
  text-decoration: underline;
}
/* line 100, ../sass/elements/_tables.scss */
.sortable-table tbody td.logo-cell {
  width: 1em;
  text-align: center;
}
/* line 103, ../sass/elements/_tables.scss */
.sortable-table tbody td.logo-cell img {
  vertical-align: middle;
  margin: -0.6em -1.6em;
  height: 3.2em;
}
/* line 109, ../sass/elements/_tables.scss */
.sortable-table tbody td.btn-cell {
  padding: 0.6em;
}
/* line 112, ../sass/elements/_tables.scss */
.sortable-table tbody td.min-width {
  width: 1px;
}
/* line 115, ../sass/elements/_tables.scss */
.sortable-table tbody td:last-child {
  padding-right: 1.9em;
}
/* line 119, ../sass/elements/_tables.scss */
.sortable-table tbody th, .sortable-table tbody td {
  line-height: 1.1em;
}
/* line 123, ../sass/elements/_tables.scss */
.sortable-table tbody.selectable-rows tr:hover, .sortable-table tbody.selectable-rows tr.selected {
  background-color: rgba(214, 25, 34, 0.25);
}
/* line 128, ../sass/elements/_tables.scss */
.sortable-table th + th, .sortable-table td + td {
  border-left: 2px solid rgba(255, 255, 255, 0.4);
}
/* line 131, ../sass/elements/_tables.scss */
.sortable-table + .paging-of-table {
  padding-top: 2em;
  padding-bottom: 3em;
}

/* line 1, ../sass/elements/_btns.scss */
.btn {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  -moz-box-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.1);
  border-bottom-width: 1px;
  margin: 0.3em;
}
/* line 13, ../sass/elements/_btns.scss */
.btn.block {
  display: block;
}
/* line 15, ../sass/elements/_btns.scss */
.btn.block + .btn {
  margin-top: 0.6em;
}
/* line 19, ../sass/elements/_btns.scss */
.btn .btn-icon {
  width: 2.6em;
  height: 2.5em;
  text-align: center;
  overflow: hidden;
  float: left;
}
/* line 25, ../sass/elements/_btns.scss */
.btn .btn-icon img {
  height: 4em;
  width: 4em;
  margin: -0.68em -0.65em;
  vertical-align: middle;
}
/* line 32, ../sass/elements/_btns.scss */
.btn .btn-text {
  padding: 0 1.8em;
  display: block;
  line-height: 2.55em;
}
/* line 37, ../sass/elements/_btns.scss */
.btn .btn-icon + .btn-text {
  margin-left: 2.6em;
  padding: 0 1em;
}
/* line 41, ../sass/elements/_btns.scss */
.btn.btn-blue {
  background-color: #00aeef;
}
/* line 43, ../sass/elements/_btns.scss */
.btn.btn-blue .btn-icon {
  background-color: #0d91d0;
}
/* line 47, ../sass/elements/_btns.scss */
.btn.btn-orange {
  background-color: #e48104;
}
/* line 49, ../sass/elements/_btns.scss */
.btn.btn-orange .btn-icon + .btn-text {
  margin-left: 2em;
}
/* line 53, ../sass/elements/_btns.scss */
.btn.btn-red {
  background-color: #ec1a3a;
}
/* line 56, ../sass/elements/_btns.scss */
.btn.btn-yellow {
  background-color: #f9d903;
}
/* line 59, ../sass/elements/_btns.scss */
.btn.btn-light-orange {
  background-color: #ff9001;
}
/* line 61, ../sass/elements/_btns.scss */
.btn.btn-light-orange .btn-icon {
  background-color: #e48104;
}

/* line 2, ../sass/elements/_grid.scss */
.grid-row:after {
  clear: both;
  display: block;
  content: '';
}
/* line 7, ../sass/elements/_grid.scss */
.grid-row.articles-grid {
  margin-left: -1.9em;
  margin-right: -1.9em;
}
/* line 10, ../sass/elements/_grid.scss */
.grid-row.articles-grid .grid-cell {
  padding-left: 1.9em;
  padding-right: 1.9em;
}

/* line 16, ../sass/elements/_grid.scss */
.grid-cell {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 19, ../sass/elements/_grid.scss */
.grid-cell.grid-1 {
  width: 100%;
}
/* line 22, ../sass/elements/_grid.scss */
.grid-cell.grid-1-3 {
  width: 33.3333%;
}
/* line 25, ../sass/elements/_grid.scss */
.grid-cell.grid-2-3 {
  width: 66.6666%;
}

/* line 1, ../sass/elements/_pagination.scss */
.paging-of-table {
  color: #000;
  font-weight: bold;
  font-size: 0.75em;
  padding: 1.2em 2.5em 2em;
  white-space: nowrap;
}
/* line 7, ../sass/elements/_pagination.scss */
.paging-of-table .paging-view-info {
  color: #333333;
  float: right;
  white-space: nowrap;
  font-size: 1.5em;
  line-height: 1.6em;
  padding-right: 0.4em;
}
/* line 15, ../sass/elements/_pagination.scss */
.paging-of-table .paging-element {
  display: inline-block;
  vertical-align: middle;
}
/* line 19, ../sass/elements/_pagination.scss */
.paging-of-table .paging-input {
  position: relative;
  border: 1px solid #ebebeb;
  margin: 0 1.2em;
  height: 2.1em;
}
/* line 24, ../sass/elements/_pagination.scss */
.paging-of-table .paging-input input {
  height: 100%;
  font-weight: normal;
  -moz-box-shadow: inset 0 0 2px #d1d3d4;
  -webkit-box-shadow: inset 0 0 2px #d1d3d4;
  box-shadow: inset 0 0 2px #d1d3d4;
}
/* line 31, ../sass/elements/_pagination.scss */
.paging-of-table .paging-page-select input {
  width: 4.3em;
  margin: 0 2.3em;
  text-align: center;
}
/* line 36, ../sass/elements/_pagination.scss */
.paging-of-table .paging-page-select .paging-btn {
  top: 0;
  bottom: 0;
  line-height: 2em;
}
/* line 40, ../sass/elements/_pagination.scss */
.paging-of-table .paging-page-select .paging-btn img {
  width: 1em;
}
/* line 43, ../sass/elements/_pagination.scss */
.paging-of-table .paging-page-select .paging-btn.digit-change-up {
  right: 0;
}
/* line 46, ../sass/elements/_pagination.scss */
.paging-of-table .paging-page-select .paging-btn.digit-change-down {
  left: 0;
}
/* line 51, ../sass/elements/_pagination.scss */
.paging-of-table .paging-items-count {
  margin: 0 0.8em;
}
/* line 53, ../sass/elements/_pagination.scss */
.paging-of-table .paging-items-count input {
  width: 6.6em;
  margin-right: 2.3em;
  padding-left: 1em;
  text-align: left;
}
/* line 59, ../sass/elements/_pagination.scss */
.paging-of-table .paging-items-count .paging-btn {
  right: 0;
  height: 50%;
  line-height: 1em;
}
/* line 63, ../sass/elements/_pagination.scss */
.paging-of-table .paging-items-count .paging-btn.digit-change-up {
  top: 0;
  vertical-align: top;
}
/* line 67, ../sass/elements/_pagination.scss */
.paging-of-table .paging-items-count .paging-btn.digit-change-down {
  vertical-align: bottom;
  top: 50%;
}
/* line 71, ../sass/elements/_pagination.scss */
.paging-of-table .paging-items-count .paging-btn img {
  height: 0.9em;
}
/* line 76, ../sass/elements/_pagination.scss */
.paging-of-table .paging-btn {
  background-color: #ebebeb;
  width: 2.3em;
  position: absolute;
  text-align: center;
  cursor: pointer;
}
/* line 82, ../sass/elements/_pagination.scss */
.paging-of-table .paging-btn:hover {
  background-color: #e0e0e0;
}
/* line 85, ../sass/elements/_pagination.scss */
.paging-of-table .paging-btn:active {
  background-color: #d0d0d0;
}
/* line 88, ../sass/elements/_pagination.scss */
.paging-of-table .paging-btn img {
  vertical-align: middle;
}

/* line 1, ../sass/pages/_dashboard.scss */
.cards-holder {
  margin: 0 -1.5em;
}
/* line 3, ../sass/pages/_dashboard.scss */
.cards-holder:after {
  content: '';
  clear: both;
  display: block;
}
/* line 8, ../sass/pages/_dashboard.scss */
.cards-holder .card-link, .cards-holder .one-card {
  float: left;
  width: 33.6em;
  margin: 0.6em 1.45em 1.1em;
  border-bottom: 0.1em solid #A9C7CF;
}
/* line 14, ../sass/pages/_dashboard.scss */
.cards-holder .card-link {
  height: 10em;
  text-decoration: none;
  text-align: center;
  line-height: 10em;
  background-color: #fff;
}
/* line 20, ../sass/pages/_dashboard.scss */
.cards-holder .card-link .card-link-text {
  font-size: 2em;
  font-weight: bold;
  color: #111;
  vertical-align: middle;
}
/* line 26, ../sass/pages/_dashboard.scss */
.cards-holder .card-link .card-icon-holder {
  float: left;
  width: 10em;
  height: 10em;
  text-align: center;
  line-height: 10em;
}
/* line 32, ../sass/pages/_dashboard.scss */
.cards-holder .card-link .card-icon-holder.bgcolor-1 {
  background-color: #0167BD;
}
/* line 35, ../sass/pages/_dashboard.scss */
.cards-holder .card-link .card-icon-holder.bgcolor-2 {
  background-color: #1E252B;
}
/* line 38, ../sass/pages/_dashboard.scss */
.cards-holder .card-link .card-icon-holder.bgcolor-3 {
  background-color: #FFB000;
}
/* line 42, ../sass/pages/_dashboard.scss */
.cards-holder .card-link img {
  vertical-align: middle;
  width: 4.75em;
  height: 4.75em;
  margin-top: -0.36em;
}
/* line 49, ../sass/pages/_dashboard.scss */
.cards-holder .one-card {
  height: 21.3em;
  position: relative;
  color: #fff;
  text-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.3);
}
/* line 54, ../sass/pages/_dashboard.scss */
.cards-holder .one-card .card-icon-holder {
  padding: 2.3em 1.7em 1em;
}
/* line 56, ../sass/pages/_dashboard.scss */
.cards-holder .one-card .card-icon-holder img {
  width: 4.5em;
  height: 4.5em;
}
/* line 61, ../sass/pages/_dashboard.scss */
.cards-holder .one-card .card-title {
  font-weight: bold;
  font-size: 2em;
  padding: 0.05em 0.8em;
}
/* line 66, ../sass/pages/_dashboard.scss */
.cards-holder .one-card .card-description {
  font-size: 1em;
  padding: 1.2em 1.7em;
  line-height: 1.2em;
}
/* line 71, ../sass/pages/_dashboard.scss */
.cards-holder .one-card .card-select-line {
  background-color: #E8E8E8;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #818181;
  text-transform: uppercase;
  padding: 0 0 0 1.8em;
  line-height: 4.1em;
  height: 4.4em;
  font-weight: bold;
  text-shadow: 0 0.1em 0.1em rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
/* line 85, ../sass/pages/_dashboard.scss */
.cards-holder .one-card .card-select-line span {
  font-size: 1.26em;
  display: block;
}
/* line 89, ../sass/pages/_dashboard.scss */
.cards-holder .one-card .card-select-line img {
  float: right;
  height: 4.4em;
  width: 4.4em;
  background-color: #fff;
  display: block;
  margin-left: 0.2em;
}
/* line 98, ../sass/pages/_dashboard.scss */
.cards-holder .one-card.bgcolor-1 {
  background-color: #0167BD;
}
/* line 101, ../sass/pages/_dashboard.scss */
.cards-holder .one-card.bgcolor-2 {
  background-color: #1E252B;
}
/* line 104, ../sass/pages/_dashboard.scss */
.cards-holder .one-card.bgcolor-3 {
  background-color: #FFB000;
}
/* line 107, ../sass/pages/_dashboard.scss */
.cards-holder .one-card.bgcolor-4 {
  background-color: #002A6C;
}
/* line 110, ../sass/pages/_dashboard.scss */
.cards-holder .one-card.bgcolor-5 {
  background-color: #EC1A3A;
}
/* line 113, ../sass/pages/_dashboard.scss */
.cards-holder .one-card.bgcolor-6 {
  background-color: #00309B;
}
/* line 116, ../sass/pages/_dashboard.scss */
.cards-holder .one-card.bgcolor-7 {
  background-color: #EB6C20;
}

/* line 122, ../sass/pages/_dashboard.scss */
.chart-container {
  height: 33.5em;
  width: 100%;
  margin-bottom: 5.5em;
}

/* line 127, ../sass/pages/_dashboard.scss */
.chart-info {
  font-weight: bold;
}
/* line 129, ../sass/pages/_dashboard.scss */
.chart-info .chart-point-info {
  padding-top: 2em;
  padding-bottom: 1.2em;
}
/* line 132, ../sass/pages/_dashboard.scss */
.chart-info .chart-point-info .month-name {
  font-size: 1.4em;
}
/* line 135, ../sass/pages/_dashboard.scss */
.chart-info .chart-point-info .amount-info {
  font-size: 3.65em;
  color: #0070cf;
}
/* line 140, ../sass/pages/_dashboard.scss */
.chart-info .article-wrapper {
  float: left;
  width: 100%;
  height: 20em;
  position: relative;
}
/* line 146, ../sass/pages/_dashboard.scss */
.chart-info .select-date {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e8e8e8;
  color: #060606;
  text-shadow: 0 0.1em 0.1em rgba(255, 255, 255, 0.9);
  padding-top: 1.6em;
  padding-bottom: 1.8em;
}
/* line 156, ../sass/pages/_dashboard.scss */
.chart-info .select-date span {
  font-size: 1.5em;
}
