@import "compass";
$images_dir: 'images/';

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    position: relative;
    font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
    min-width: 980px;
    &.moved * {
      cursor: move;
    }
}
a {
    outline: none;
    text-decoration: none;
    img {
        border: 0 none;
    }
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}
.clear-both {
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
}
.block {
    display: block;
}
.height-100 {
    height: 100%;
}

.absolute {
    position: absolute;
}
.background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}
.background-gallery {
  position: absolute;
  left: auto!important;
  right: 0!important;
  top: 0;
  display: block;
}
#section {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    z-index: 1;
    font-family: "Open Sans";
    color: #FFF;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: url($images_dir + "header-bg.png") left top repeat-x;
    z-index: 2;
}

#nav {
    position: fixed;
    z-index: 2;
    top: 50%;
    right: 40px;
    opacity: 0.45;
    margin-top: -80px;
    &:hover, &.active-slide-0, &.active-slide-1 {
      opacity: 1;
    }
}
.nav-item {
  display: block;
  width: 18px;
  height: 18px;
  background: url($images_dir + "navigation.png") -1px -18px no-repeat;
  position: relative;
  &+& {
    margin-top: 5px;
  }
  &.active {
    background-position: -1px 0;
  }
}
#page {
  width: 100%;
  height: 100%;
  min-width: 980px;
  overflow: hidden;
  position: relative;
}
.name-article {
  position: absolute;
  right: 100%;
  color: #FFF;
  font-size: 12px;
  padding-right: 12px;
  white-space: nowrap;
  opacity: 0.75;
  &:hover, .active & {
    opacity: 1;
  }
}
#logotype {
  display: block;
  height: 48px;
  width: 160px;
  margin: -8px 10px -8px 30px;
  img {
    display: block;
  }
}



.header-content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 21px 0;
    min-width: 600px;
}

.article {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url($images_dir + "bg-noise.png");
  .content-article, .second-content-article {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 3;
    height: 100%;
  }
  .content-article {
    top: 50%;
  }
  .content-container {
    position: relative;
  }
}

h1 {
  font-size: 75px;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 300;
}
h2 {
  font-size: 55px;
  font-weight: 300;
  margin: 0 0 18px;
  text-indent: -0.1em;
  line-height: 60px;
}
#footer {
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 100%;
  color: #FFF;
  z-index: 3;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
  .social-share {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &+li {
        margin-left: 19px;
      }
    }
  }
  .title-share {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 18px;
  }
  .footer-content {
    max-width: 1280px;
    margin: 0 auto;
  }
  .copyright {
    font-size: 15px;
    margin: -15px 50px 0;
    white-space: nowrap;
    color: #fff;
  }
  a {
    text-decoration: underline;
    color: inherit;
    &:hover {
      color: #FFF;
    }
    &.float-right + a.float-right {
      margin-right: 18px;
    }
  }
}
.main-link {
  font-size: 45px;
  border-bottom: 1px solid;
  font-weight: 300;
  &:hover {
    color: #0095fc;
  }
  &:active {
    color: #2f7ec1;
  }
}

.article-text {
  margin-left: 56%;
  margin-right: 95px;
  position: absolute;
  p {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
  }
}

.image-content {
  position: absolute;
}

.app-buttons {
  margin-top: 28px;
  margin-right: -95px;
}
.app-button {
  display: block;
  float: left;
  height: 55px;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.app-store {
    width: 162px;
    background: url($images_dir + "app-store.png") center center no-repeat;
  }
  &.google-play {
    width: 166px;
    background: url($images_dir + "google-play.png") center center no-repeat;
  }
  &+.app-button {
    margin-left: 20px;
  }
}
.article {
  a {
    color: inherit;
  }
  &.item-1 {
    background-color: #e6e6e6;
    background-image: url($images_dir + "bg-noise.png");
    .content-article {
      text-align: center;
      color: #0d6cca;
      margin-top: -110px;
      h1 {
        margin: 0 80px;
      }
    }
  }
  &.item-2, &.item-4, &.item-5, &.item-6 {
    background-color: #3074bb;
    .article-text {
      h2 {
        color: #fff;
      }
      p {
        color: #adc2df;
      }
    }
  }
  &.item-2 {
    .content-article {
      margin-top: -280px;
    }
    .article-text {
      padding-top: 100px;
    }
    .image-content {
      &.cert {
        left: 1%;
        width: 54%;
        max-width: 670px;
      }
      &.mobile {
        right: 46%;
        width: 27%;
        max-width: 330px;
        margin-top: 40px;
      }
    }
  }
  &.item-4 {
    .content-article {
      margin-top: -250px;
      width: 100%;
      max-width: 100%;
    }
    .article-text {
      padding-top: 120px;
    }
    .image-content {
      right: 48%;
      &.s1 {
        margin-top: 55px;
      }
      &.s2 {
        margin-top: 228px;
        margin-right: 320px;
      }
      &.s3 {
        margin-top: 310px;
        margin-right: 50px;
      }
      &.s4 {
        margin-top: 245px;
        margin-right: 36px;
      }
      &.ss {
        margin-top: 360px;
        margin-right: -115px;
      }
    }
  }
  &.item-5 {
    background-color: #217dd1;
    .content-article {
      margin-top: -190px;
      height: 360px!important;
    }
    .article-text {
      padding-top: 70px;
      margin-right: 56%;
      margin-left: 95px;
      width: 360px;
    }
    .image-content {
      right: -5%;
      width: 67%;
      max-width: 857px;
      bottom: 0;
      &.shadow-50 {
        margin-bottom: -85px;
      }
    }
  }
  &.item-3 {
    background: #215eb1;
    .content-article {
      margin-top: -310px;
    }
    .article-text {
      padding-top: 200px;
      margin-right: 56%;
      margin-left: 95px;
      max-width: 620px;
    }
    .image-content {
      right: 95px;
    }
  }
  &.item-6 {
    text-align: center;
    .content-article {
      margin-top: -140px;
    }
    .footer-text {
      font-size: 45px;
      line-height: 49px;
      font-weight: 100;
      margin: 0 100px;
      p {
        margin-top: 0;
      }
      .mail-link {
        color: #ffe300;
        border-bottom: 1px solid #719f92;
      }
    }
  }
}


.article {
  .bottom-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 726px;
    background: url($images_dir + "down-dark.png") center top repeat-x;
    z-index: 1;
  }
  .top-light {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 710px;
    background: url($images_dir + "top-light_1.png") center top no-repeat;
    z-index: 2;
  }
}

.button {
  font-family: Arial, Tahoma, Verdana, sans-serif, Lucida Sans;
  outline: none;
  @include border-radius(2px);
  border-width: 1px 0 0;
  border-style: solid;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  .text-button, .icon-button {
    display: block;
    height: 100%;
    line-height: 18px;
  }
  .text-button {
    white-space: nowrap;
    padding: 6px 20px 8px;
    @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.15));
  }
  .icon-button {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    float: left;
  }
  &.blue {
    background: #4299DC;
    @include background-image(linear-gradient(#4299dc, #0f6dcb));
    border-color: #4299dc;
    color: #fff;
    &:hover {
      background: #1aa8ff;
      @include background-image(linear-gradient(#1aa8ff, #007fed));
      border-color: #1aa8ff;
      color: #FFF;
    }
    &:active {
      background: #1866b2;
      @include background-image(linear-gradient(#1866b2, #3685c6));
      border-color: #094988;
      color: #fff;
    }
  }
}
.icon-button {
  &.plus {
    width: 33px;
    height: 33px;
    margin-top: -1px;
    background: url($images_dir + "plus-icon.png") center center no-repeat;
  }
  &+.text-button {
    margin-left: 34px;
  }
}

.add-button {
    margin-right: 30px;
}


$social-spacing: 2px;
@import "social/*.png";

.social-button {
  @include border-radius(2px);
  @include text-shadow(rgba(0,0,0,0.2) 0 -1px 0);
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  &:hover {
    color: #FFF;
  }
  &:active {
    @include box-shadow(rgba(0,0,0,0.3) 0 2px 8px inset);
  }
  span {
    @extend .social-sprite;
    display: block;
    padding-left: 50px;
    height: 100%;
  }
  &.small {
    width: 33px;
    overflow: hidden;
  }
  &.twitter {
    background: #00bbf1;
    @include background-image(linear-gradient(#00bbf1,#009ff1));
    &:hover {
      background: #00d2ff;
      @include background-image(linear-gradient(#00d2ff,#00b3ff));
    }
    &:active {
      background: #00a0f1;
      @include background-image(linear-gradient(#00a0f1,#00baf1));
    }
    span {
      @include social-sprite-position(twitter);
    }
  }
  &.facebook {
    background: #5175c0;
    @include background-image(linear-gradient(#5175c0,#3b5a98));
    &:hover {
      background: #5b84d8;
      @include background-image(linear-gradient(#5b84d8,#4365ab));
    }
    &:active {
      background: #3c5a99;
      @include background-image(linear-gradient(#3c5a99,#5175c0));
    }
    span {
      @include social-sprite-position(facebook);
    }
  }
  &.vkontakte {
    background: #3285c9;
    @include background-image(linear-gradient(#3285c9,#0f64b5));
    &:hover {
      background: #3794e2;
      @include background-image(linear-gradient(#3794e2,#1071cb));
    }
    &:active {
      background: #1065b6;
      @include background-image(linear-gradient(#1065b6,#3184c8));
    }
    span {
      @include social-sprite-position(vkontakte);
    }
  }
}
