@font-face {
  font-family: 'AvenirNext';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/AvenirNR.eot);
  src: url(../fonts/AvenirNR.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNR.woff2) format("woff2"), url(../fonts/AvenirNR.woff) format("woff"), url(../fonts/AvenirNR.ttf) format("truetype"), url(../fonts/AvenirNR.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/AvenirNB.eot);
  src: url(../fonts/AvenirNB.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNB.woff2) format("woff2"), url(../fonts/AvenirNB.woff) format("woff"), url(../fonts/AvenirNB.ttf) format("truetype"), url(../fonts/AvenirNB.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/AvenirNT.eot);
  src: url(../fonts/AvenirNT.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNT.woff2) format("woff2"), url(../fonts/AvenirNT.woff) format("woff"), url(../fonts/AvenirNT.ttf) format("truetype"), url(../fonts/AvenirNT.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/AvenirNH.eot);
  src: url(../fonts/AvenirNH.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNH.woff2) format("woff2"), url(../fonts/AvenirNH.woff) format("woff"), url(../fonts/AvenirNH.ttf) format("truetype"), url(../fonts/AvenirNH.svg) format("svg");
}
/* line 46, ../sass/style.scss */
html {
  height: 100%;
}

/* line 49, ../sass/style.scss */
body {
  background-color: #fff;
  position: relative;
  font: 15px AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  min-width: 320px;
  margin: 0 auto;
  color: #2b2b2b;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 188px;
}

/* line 61, ../sass/style.scss */
textarea, input[type="text"], input:not([type]) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #fff;
  background: none;
  text-align: left;
  line-height: 26px;
  padding: 4px 18px;
  font-family: AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 0;
}
/* line 72, ../sass/style.scss */
textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder {
  color: #fff;
}
/* line 75, ../sass/style.scss */
textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder {
  color: #fff;
}
/* line 78, ../sass/style.scss */
textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input:not([type]):-moz-placeholder {
  color: #fff;
}
/* line 81, ../sass/style.scss */
textarea:focus:-ms-input-placeholder, input[type="text"]:focus:-ms-input-placeholder, input:not([type]):focus:-ms-input-placeholder {
  color: transparent;
}
/* line 84, ../sass/style.scss */
textarea:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input:not([type]):focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 87, ../sass/style.scss */
textarea:focus:-moz-placeholder, input[type="text"]:focus:-moz-placeholder, input:not([type]):focus:-moz-placeholder {
  color: transparent;
}

/* line 91, ../sass/style.scss */
textarea {
  resize: none;
}

/* line 95, ../sass/style.scss */
.float-left {
  float: left;
}

/* line 98, ../sass/style.scss */
.float-right {
  float: right;
}

/* line 101, ../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 104, ../sass/style.scss */
.text-right {
  text-align: right;
}

/* line 107, ../sass/style.scss */
.text-left {
  text-align: left;
}

/* line 110, ../sass/style.scss */
.clear-both {
  clear: both;
}

/* line 113, ../sass/style.scss */
.bold-text {
  font-weight: bold;
}

/* line 116, ../sass/style.scss */
.center-content {
  max-width: 1200px;
  margin: 0 auto;
  width: 94%;
}

/* line 121, ../sass/style.scss */
.clearfix {
  clear: both;
}
/* line 123, ../sass/style.scss */
.clearfix:after, .clearfix:before {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

/* line 130, ../sass/style.scss */
h2, h3 {
  font-weight: 200;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

/* line 136, ../sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 139, ../sass/style.scss */
.bolder {
  font-weight: 900;
}

/* line 142, ../sass/style.scss */
.article-title {
  padding-bottom: 16px;
}

/* line 145, ../sass/style.scss */
.description-article {
  font-size: 20px;
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}

/* line 151, ../sass/style.scss */
button {
  border: 0 none;
}

/* line 154, ../sass/style.scss */
button, input {
  -webkit-appearance: none;
  outline: none;
}

/* line 158, ../sass/style.scss */
.btn {
  cursor: pointer;
  color: #fff;
  background-color: #0131ff;
  white-space: nowrap;
  line-height: 49px;
  height: 50px;
  padding: 0 27px;
  -moz-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 171, ../sass/style.scss */
.btn:hover {
  background-color: #ff4c04;
}
/* line 174, ../sass/style.scss */
.btn:active {
  background-color: #e94300;
}

/* line 178, ../sass/style.scss */
.main-menu {
  line-height: 32px;
  font-size: 17px;
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
}
/* line 188, ../sass/style.scss */
.main-menu ul {
  list-style-type: none;
  padding: 20px 0 28px;
  margin: 0 auto;
  text-align: center;
}
/* line 194, ../sass/style.scss */
.main-menu li {
  display: inline-block;
  margin: 0 2%;
}
/* line 198, ../sass/style.scss */
.main-menu a {
  text-decoration: none;
  color: #292929;
  display: block;
}
/* line 202, ../sass/style.scss */
.main-menu a:hover, .main-menu a.active {
  color: #1655bf;
}

/* line 207, ../sass/style.scss */
a.anchor {
  position: relative;
  display: block;
  top: -82px;
}
/* line 211, ../sass/style.scss */
.main-menu + a.anchor {
  top: 0;
}

/* HEADER */
/* line 217, ../sass/style.scss */
h1 {
  font-size: 50px;
  margin: 1em 0;
  font-weight: 200;
  line-height: 1.15em;
}

/* line 223, ../sass/style.scss */
header {
  position: relative;
  z-index: 2;
  height: 545px;
  line-height: 480px;
  font-size: 17px;
  margin-top: 84px;
  padding: 0;
  background: url(images/header-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
}
/* line 238, ../sass/style.scss */
header .header-content {
  display: inline-block;
  vertical-align: middle;
  line-height: initial;
}
/* line 243, ../sass/style.scss */
header .btn {
  padding: 0 35px;
}

/* line 56, slide-icons/*.png */
.slide-icon {
  background-image: url('images/sprites/slide-icons-sc5f8d7afbc.png');
  background-repeat: no-repeat;
}

/* line 252, ../sass/style.scss */
.slide-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
}
/* line 257, ../sass/style.scss */
.slide-icon.icon-1 {
  background-position: 0 0;
}
/* line 260, ../sass/style.scss */
.slide-icon.icon-2 {
  background-position: 0 -51px;
  margin-left: -80px;
  margin-right: 20px;
}

/* line 266, ../sass/style.scss */
.slide-block {
  display: inline-block;
  line-height: 100px;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  font-size: 17px;
}
/* line 273, ../sass/style.scss */
.slide-block.slide-block-logo {
  width: 25%;
}
/* line 275, ../sass/style.scss */
.slide-block.slide-block-logo img {
  vertical-align: middle;
}
/* line 279, ../sass/style.scss */
.slide-block.slide-block-with-icon {
  width: 34%;
  padding-left: 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 284, ../sass/style.scss */
.slide-block .text-slide {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  line-height: 1.5em;
  margin: 0;
}

/* line 292, ../sass/style.scss */
.slider-container {
  margin-top: 40px;
  margin-bottom: 32px;
  position: relative;
}
/* line 296, ../sass/style.scss */
.slider-container .slide-block {
  display: inline-block;
  vertical-align: middle;
}
/* line 300, ../sass/style.scss */
.slider-container .slider-list {
  overflow: hidden;
  margin: 0 8%;
  padding: 19px 0 32px;
}
/* line 304, ../sass/style.scss */
.slider-container .slider-list .slider-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  left: 0;
  -moz-transition: left 0.2s linear;
  -o-transition: left 0.2s linear;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
}
/* line 313, ../sass/style.scss */
.slider-container .slider-list .slider-item {
  float: left;
  width: 100%;
  text-align: justify;
}

/* line 320, ../sass/style.scss */
footer {
  background-color: #f9f9f9;
  padding: 30px 0 26px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 327, ../sass/style.scss */
footer .left-footer-block {
  color: #555;
  line-height: 26px;
  float: left;
  white-space: nowrap;
}
/* line 332, ../sass/style.scss */
footer .left-footer-block p {
  margin: 0;
}
/* line 336, ../sass/style.scss */
footer .right-footer-block {
  float: right;
  white-space: nowrap;
  color: #292929;
  padding: 41px 0;
  font-size: 18px;
}
/* line 344, ../sass/style.scss */
footer .right-block-item + .right-block-item {
  margin-left: 34px;
}
/* line 347, ../sass/style.scss */
footer .right-block-item .black-icon {
  margin-right: 5px;
  margin-top: -2px;
}

/* line 353, ../sass/style.scss */
.social-icon {
  background: url(images/social-icons.png) no-repeat;
  display: inline-block;
  vertical-align: inherit;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 15px 0 0;
}
/* line 361, ../sass/style.scss */
.social-icon.vkontakte {
  background-position: -124px 0;
}
/* line 364, ../sass/style.scss */
.social-icon.facebook {
  background-position: -0px 0;
}
/* line 367, ../sass/style.scss */
.social-icon.twitter {
  background-position: -31px 0;
}
/* line 370, ../sass/style.scss */
.social-icon.blogger {
  background-position: -434px 0;
}

/* line 56, black-icons/*.png */
.black-icon {
  background-image: url('images/sprites/black-icons-saa6c983831.png');
  background-repeat: no-repeat;
}

/* line 378, ../sass/style.scss */
.black-icon {
  width: 32px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
/* line 383, ../sass/style.scss */
.black-icon.icon-1 {
  background-position: 0 0;
  width: 14px;
}
/* line 387, ../sass/style.scss */
.black-icon.icon-7 {
  background-position: 0 -28px;
  height: 14px;
  width: 22px;
}

/* line 72, theme-icons/*.png */
.theme-icon {
  background-image: url('images/sprites/theme-icons-s025e1d24cf.png');
  background-repeat: no-repeat;
}

/* line 397, ../sass/style.scss */
.theme-icon {
  display: inline-block;
  vertical-align: top;
  margin: -8px 0;
}
/* line 401, ../sass/style.scss */
.theme-icon.icon-1, .theme-icon.icon-2, .theme-icon.icon-3 {
  height: 103px;
}
/* line 404, ../sass/style.scss */
.theme-icon.icon-1 {
  width: 110px;
  background-position: 0 0;
}
/* line 408, ../sass/style.scss */
.theme-icon.icon-2 {
  width: 112px;
  background-position: 0 -107px;
}
/* line 412, ../sass/style.scss */
.theme-icon.icon-3 {
  background-position: 0 -214px;
}
/* line 415, ../sass/style.scss */
.theme-icon.icon-3, .theme-icon.icon-4 {
  width: 121px;
}
/* line 418, ../sass/style.scss */
.theme-icon.icon-4 {
  height: 101px;
  background-position: 0 -321px;
}

/* line 423, ../sass/style.scss */
.icons-list {
  list-style-type: none;
  line-height: 120px;
  text-align: center;
  padding: 6.25% 0 4.84%;
  margin: 0 10%;
}
/* line 429, ../sass/style.scss */
.icons-list:after {
  clear: both;
  content: '';
  display: block;
}
/* line 434, ../sass/style.scss */
.icons-list .icon-item {
  display: block;
  float: left;
  width: 25%;
  height: 83px;
}
/* line 439, ../sass/style.scss */
.icons-list .icon-item + .icon-item {
  margin-left: -1px;
  border-left: 1px solid #dfdfdf;
}

/* line 56, arrows-paging/*.png */
.button-arrow {
  background-image: url('images/sprites/arrows-paging-s531008a2f1.png');
  background-repeat: no-repeat;
}

/* line 448, ../sass/style.scss */
.button-arrow {
  display: inline-block;
  vertical-align: middle;
}

/* line 453, ../sass/style.scss */
section.quest-section {
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
  padding-top: 50px;
}
/* line 458, ../sass/style.scss */
section.quest-section .preview-examples {
  text-align: center;
  white-space: nowrap;
  padding: 5.75% 0;
}
/* line 463, ../sass/style.scss */
section.quest-section .notebook-example, section.quest-section .tablet-example {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -14.9%;
}
/* line 469, ../sass/style.scss */
section.quest-section .notebook-example {
  z-index: 1;
  max-width: 732px;
  width: 62%;
}
/* line 473, ../sass/style.scss */
section.quest-section .notebook-example .example-screen {
  left: 12%;
  top: 6%;
  width: 75.96%;
}
/* line 478, ../sass/style.scss */
section.quest-section .notebook-example .gloss {
  right: 9.4%;
  top: 0.5%;
  width: 32.66%;
}
/* line 484, ../sass/style.scss */
section.quest-section .tablet-example {
  z-index: 2;
  margin-left: -11.3%;
  margin-top: 5.8%;
  width: 41%;
  max-width: 481px;
}
/* line 490, ../sass/style.scss */
section.quest-section .tablet-example .example-screen {
  left: 9.25%;
  top: 10%;
  width: 81.5%;
}
/* line 495, ../sass/style.scss */
section.quest-section .tablet-example .gloss {
  top: 0;
  right: 0.7%;
  width: 42.62%;
}
/* line 501, ../sass/style.scss */
section.quest-section .example-bg {
  vertical-align: top;
  width: 100%;
}
/* line 505, ../sass/style.scss */
section.quest-section .example-screen, section.quest-section .gloss {
  position: absolute;
}
/* line 509, ../sass/style.scss */
section.process-section {
  z-index: 1;
  position: relative;
}
/* line 510, ../sass/style.scss */
section.process-section .prototypes-article {
  padding-top: 12%;
}
/* line 515, ../sass/style.scss */
section.process-section .prototypes-list {
  font-size: 0;
  line-height: 0;
  list-style-type: none;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  padding: 4.42% 0 3.92%;
}
/* line 523, ../sass/style.scss */
section.process-section .prototypes-list img {
  vertical-align: top;
  width: 100%;
}
/* line 527, ../sass/style.scss */
section.process-section .prototypes-list li {
  display: inline-block;
  vertical-align: top;
  max-width: 54%;
}
/* line 531, ../sass/style.scss */
section.process-section .prototypes-list li + li {
  margin-left: -9%;
  margin-top: 8.22%;
}
/* line 537, ../sass/style.scss */
section.process-section .site-preview {
  border: 1px solid rgba(0, 0, 0, 0.4);
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  max-width: 1000px;
  width: 98%;
  margin: 5.2% auto -6.5%;
  font-size: 0;
  line-height: 0;
}
/* line 547, ../sass/style.scss */
section.process-section .site-preview img {
  width: 100%;
  vertical-align: bottom;
}
/* line 552, ../sass/style.scss */
section.process-section .prototype-container {
  border: 1px solid rgba(0, 0, 0, 0.4);
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}
/* line 557, ../sass/style.scss */
section.process-section .content-prototype {
  background-color: #e9e9e9;
  padding: 22px 0 26px;
}
/* line 560, ../sass/style.scss */
section.process-section .content-prototype img {
  max-width: 100%;
}
/* line 565, ../sass/style.scss */
section.style-section {
  background-color: #f6f6f6;
}
/* line 567, ../sass/style.scss */
section.style-section .icons-article {
  padding-top: 10.17%;
  padding-bottom: 3.75%;
}
/* line 571, ../sass/style.scss */
section.style-section .colors-list {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 48px 0;
}
/* line 576, ../sass/style.scss */
section.style-section .colors-list li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
}
/* line 582, ../sass/style.scss */
section.style-section .colors-list li.color-1 {
  background-color: #0063f4;
}
/* line 585, ../sass/style.scss */
section.style-section .colors-list li.color-2 {
  background-color: #204272;
}
/* line 588, ../sass/style.scss */
section.style-section .colors-list li.color-3 {
  background-color: #2f3032;
}
/* line 591, ../sass/style.scss */
section.style-section .colors-list li.color-4 {
  background-color: #4b4c4e;
}
/* line 594, ../sass/style.scss */
section.style-section .colors-list li.color-5 {
  background-color: #efefef;
}
/* line 597, ../sass/style.scss */
section.style-section .colors-list li.color-6 {
  background-color: #fff;
  border: 7px solid #efefef;
}
/* line 601, ../sass/style.scss */
section.style-section .colors-list li + li {
  margin-left: 1.35%;
}
/* line 607, ../sass/style.scss */
section.finish-section {
  padding-top: 48px;
  padding-bottom: 12px;
}
/* line 610, ../sass/style.scss */
section.finish-section h3 {
  line-height: 57px;
  color: #2244ec;
}
/* line 614, ../sass/style.scss */
section.finish-section .paging-buttons {
  text-align: center;
  padding: 59px 0;
}
/* line 618, ../sass/style.scss */
section.finish-section .page-btn {
  font-weight: 800;
  width: 90%;
  max-width: 399px;
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: 0 1%;
  font-size: 20px;
}
/* line 630, ../sass/style.scss */
section.finish-section .page-btn .button-arrow {
  width: 48px;
  height: 48px;
}
/* line 635, ../sass/style.scss */
section.finish-section .page-btn.left-btn .button-arrow {
  background-position: 0 0;
  margin-right: 39px;
  margin-left: -1px;
}
/* line 642, ../sass/style.scss */
section.finish-section .page-btn.right-btn .button-arrow {
  background-position: 0 -52px;
  margin-left: 39px;
  margin-right: -1px;
}

@media screen and (max-width: 1100px) {
  /* line 653, ../sass/style.scss */
  .slider-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 656, ../sass/style.scss */
  .slider-container .slider-list {
    margin: 0;
  }
  /* line 659, ../sass/style.scss */
  .slider-container .slide-block {
    display: block;
  }
  /* line 661, ../sass/style.scss */
  .slider-container .slide-block.slide-block-logo {
    width: 100%;
    line-height: 80px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 800px) {
  /* line 672, ../sass/style.scss */
  .slider-container .slide-block.slide-block-with-icon {
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 800px) {
  /* line 681, ../sass/style.scss */
  .slider-container .slider-list .slider-item {
    text-align: center;
  }
  /* line 685, ../sass/style.scss */
  .slider-container .slide-block.slide-block-with-icon {
    display: inline-block;
    width: 100%;
  }
  /* line 688, ../sass/style.scss */
  .slider-container .slide-block.slide-block-with-icon + .slide-block-with-icon {
    margin-top: 25px;
  }

  /* line 694, ../sass/style.scss */
  .slide-icon.icon-1 {
    margin-left: -28px;
  }
}
@media screen and (max-width: 600px) {
  /* line 700, ../sass/style.scss */
  .slider-container .slide-block {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) and (min-width: 480px) {
  /* line 706, ../sass/style.scss */
  header {
    height: 445px;
    line-height: 400px;
  }

  /* line 710, ../sass/style.scss */
  h1 {
    font-size: 40px;
  }

  /* line 713, ../sass/style.scss */
  section.process-section .site-preview {
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 480px) and (min-width: 430px) {
  /* line 718, ../sass/style.scss */
  h2, h3 {
    font-size: 40px;
  }

  /* line 721, ../sass/style.scss */
  section.process-section .site-preview {
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 430px) {
  /* line 726, ../sass/style.scss */
  h2, h3 {
    font-size: 30px;
  }

  /* line 729, ../sass/style.scss */
  section.process-section .site-preview {
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 480px) {
  /* line 734, ../sass/style.scss */
  header {
    height: 345px;
    line-height: 320px;
  }

  /* line 738, ../sass/style.scss */
  h1 {
    font-size: 28px;
  }

  /* line 741, ../sass/style.scss */
  .description-article {
    font-size: 15px;
  }

  /* line 745, ../sass/style.scss */
  section.quest-section {
    padding-top: 35px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 470px) {
  /* line 751, ../sass/style.scss */
  .icons-list .icon-item {
    width: 50%;
    margin-bottom: 10%;
  }
  /* line 754, ../sass/style.scss */
  .icons-list .icon-item + .icon-item {
    border-left: 0 none;
    margin-left: 0;
  }
  /* line 758, ../sass/style.scss */
  .icons-list .icon-item:nth-child(even) {
    margin-left: -1px;
    border-left: 1px solid #dfdfdf;
  }
}
@media screen and (max-width: 1100px) {
  /* line 765, ../sass/style.scss */
  .icons-list .icon-item {
    width: 140px;
    float: none;
    height: auto;
    padding: 10px 0;
    line-height: 141px;
    margin: 0 auto;
  }
  /* line 772, ../sass/style.scss */
  .icons-list .icon-item + .icon-item {
    border-left: 0 none;
    border-top: 1px solid #dfdfdf;
    margin-left: auto;
  }
  /* line 777, ../sass/style.scss */
  .icons-list .icon-item .theme-icon {
    vertical-align: middle;
  }
}
