&.form-table {
  .table-row {
    position: relative;
    z-index: 1;
  }
  .label {
    width: 34%;
    color: $color_4;
  }
  .field-container {
    width: 66%;
    padding-right: 0;
    position: relative;
    margin: -17px 0;
    padding-top: 17px;
    padding-bottom: 17px;
    .block {
      margin: -17px 0;
      input, textarea, .textarea {
        width: 100%;
        line-height: 17px;
        padding: 17px 0 18px;
      }
    }
  }
}