&.staff-table {
  .table-cell {
    &.user-name {
      padding-left: 11px;
      width: 37%;
      .avatar {
        float: left;
      }
      .user-name-text {
        display: block;
        margin-left: 41px;
        overflow: hidden
      }
    }
    &.categories-staff {
      width: 31%;
      padding: 0 10px;
      .category-title {
        color: $color_4;
        line-height: 17px;
        + .category-title {
          margin-top: 13px;
        }
        &.active {
          color: $color_2;
        }
      }
    }
    &.roles-staff {
      width: 32%;
      padding-right: 10px;
      .select-holder {
        line-height: 17px;
        ~ .select-holder {
          margin-top: 13px;
        }
      }
      .chosen-drop {
        right: 0;
        min-width: 100%;
      }
      .chosen-search {
        position: relative;
        width: 1px;
        height: 1px;
        float: left;
        overflow: hidden;
        input {
          position: absolute;
        }
      }
    }
  }
}
&.search-staff-table {
  .no-filter-result {
    text-align: center;
    color: $color_4;
    display: none;
    background-color: $bg-color-2;
  }
  .table-cell {
    white-space: nowrap;
    float: none;
    .avatar {
      float: left;
    }
    .user-name-text {
      margin-left: 41px;
      display: block;
      overflow: hidden;
    }
  }
}