&.tasks-table {
  .name-task {
    white-space: nowrap;
    width: 57%;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 35px;
      @include background(linear-gradient(left, rgba(30,87,153,0) 0%, rgba(255,255,255,1) 100%));
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .table-row {
    &.onread {
      .name-task:after {
        @include background(linear-gradient(left, rgba(242, 243, 245, 0) 0%, rgba(242, 243, 245, 1) 100%));
      }
    }
  }
  .short-info {
    width: 43%;
    padding: 0 10px 0 42px;
    span {
      + span {
        margin-left: 0.86em;
      }
    }
  }
}