@import 'compass';
body {
  margin: 10px;
  font: 15px Arial, sans-serif;
  background: url(images/body-background.png);
  position: relative;
}
input, select, textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
}
ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a, input, button, textarea, select {
  outline: none;
}
a img {
  border: 0 none;
}
button {
  border: 0 none;
  margin: 0;
  padding: 0;
  background: none;
}
.bold {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.no-decoration {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.small {
  font-size: 0.73em;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear-both {
  height: 0;
  line-height: 0;
  float: none;
  font-size: 0;
}
table tr {
  td:first-child {
    width: 200px;
  }
}
.first-title {
  padding-top: 45px;
}
.no-active {
  @include opacity(0.5);
}
table td {
  padding: 10px 20px;
}
table td.h1 {
  padding-top: 40px;
  padding-bottom: 25px;
}
.title-element {
  color: #888888;
  @include text-shadow(0 1px 0 #ffffff);
}
.no-bold {
  font-weight: normal;
}
.gray-text {
  color: #929292;
}
.dark-gray-text {
  color: #666666;
}
.white-text {
  color: #fff;
}
.arial-font {
  font-family: Arial, sans-serif;
}
.verdana-font {
  font-family: Verdana, sans-serif;
}
@mixin clear() {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
