@import "compass";
$images_dir: 'images/';

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
html {
  background: #035e03;
}
body {
    margin: 0;
    position: relative;
    font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
    min-width: 1000px;
    font-size: 15px;
}
a {
    outline: none;
    text-decoration: none;
    img {
        border: 0 none;
    }
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}
.clear-both {
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
}
.block {
    display: block;
}
.height-100 {
    height: 100%;
}
.absolute {
    position: absolute;
}
#section {
  position: relative;
  z-index: 1;
  font-family: "Open Sans";
  color: #fff;
  margin-top: 75px;
  padding: 0 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
}
#section-content {
  max-width: 1100px;
  min-width: 820px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
#header {
  height: 75px;
  background: #fff;
  position: relative;
  z-index: 2;
}
#page {
  width: 100%;
  min-height: 100%;
  min-width: 980px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  margin-top: -75px;
  z-index: 1;
  background: url($images_dir + "page-background-shadow.png") center 75px;
}
#logotype {
  display: block;
  height: 48px;
  width: 160px;
  margin: -8px 10px -8px 30px;
  img {
    display: block;
  }
}
.header-content {
    max-width: 1280px;
    min-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 21px 0;
}
.text-content {
  background: url($images_dir + "content-background.png") right bottom no-repeat;
  padding: 80px 0 84px;
  .text-block {
    font-size: 20px;
    width: 425px;
  }
  .content-buttons {
    .button {
      float: left;
      + .button {
        margin-left: 20px;
      }
    }
  }
  p {
    line-height: 28px;
    margin-bottom: 2em;
  }
}
h1 {
  font-family: "Open Sans", Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  font-weight: bold;
}
#footer {
  color: #fff;
  z-index: 3;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
  line-height: 17px;
  position: relative;
  .footer-shadow {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  .footer-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 28px 0;
    position: relative;
    z-index: 1;
  }
  .copyright {
    white-space: nowrap;
    margin: 0 30px;
    color: rgba(255, 255, 255, 0.5);
  }
  a {
    text-decoration: underline;
    color: inherit;
    &:hover {
      color: #FFF;
    }
    &.float-right + a.float-right {
      margin-right: 18px;
    }
  }
}
.button {
  font-family: Arial, Tahoma, Verdana, sans-serif, Lucida Sans;
  outline: none;
  @include border-radius(2px);
  border-width: 1px 0 0;
  border-style: solid;
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  .text-button, .icon-button {
    display: block;
    height: 100%;
  }
  .text-button {
    white-space: nowrap;
    padding: 6px 20px 8px;
    @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.15));
  }
  .icon-button {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    float: left;
  }
  &.blue {
    background: #4299DC;
    @include background-image(linear-gradient(#4299dc, #0f6dcb));
    border-color: #4299dc;
    color: #fff;
    &:hover {
      background: #1aa8ff;
      @include background-image(linear-gradient(#1aa8ff, #007fed));
      border-color: #1aa8ff;
      color: #FFF;
    }
    &:active {
      background: #1866b2;
      @include background-image(linear-gradient(#1866b2, #3685c6));
      border-color: #094988;
      color: #fff;
    }
  }
  &.grey {
    background: #f1f1f1;
    @include background-image(linear-gradient(#ffffff,#f1f1f1));
    border: 1px solid #cdcdcd;
    color: #0d6cca;
    &:hover {
      background: #dfdfdf;
      @include background-image(linear-gradient(#fefefe,#dfdfdf));
      color: #474747;
    }
    &:active {
      background: #dfdfdf;
      @include background-image(linear-gradient(#dfdfdf,#fefefe));
      color: #0d6cca;
    }
    &:hover, &:active {
      color: #0d6cca;
    }
  }
  &.big {
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    display: block;
    height: 50px;
    .text-button {
      padding: 0;
      margin: 0 30px;
    }
  }
}
.icon-button {
  &.plus {
    width: 33px;
    height: 33px;
    margin-top: -1px;
    background: url($images_dir + "plus-icon.png") center center no-repeat;
  }
  &+.text-button {
    margin-left: 34px;
  }
}
.add-button {
    margin-right: 30px;
}
.shadow-background {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
