@import 'compass';
@mixin clear() {
  content: '';
  clear: both;
  display: block;
};
@font-face {
  font-family: 'Intro';
  src: url('../fonts/intro.eot');
  src: url('../fonts/intro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro.woff2') format('woff2'),
  url('../fonts/intro.woff') format('woff'),
  url('../fonts/intro.ttf') format('truetype'),
  url('../fonts/intro.svg#Intro') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url('../fonts/intro-black-italic.eot');
  src: url('../fonts/intro-black-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro-black-italic.woff2') format('woff2'),
  url('../fonts/intro-black-italic.woff') format('woff'),
  url('../fonts/intro-black-italic.ttf') format('truetype'),
  url('../fonts/intro-black-italic.svg#intro_black_italicitalic') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  position: relative;
  font: 15px Intro;
  min-width: 1100px;
  max-width: 1920px;
  margin: 0 auto;
}
input {
  &[type="text"], &:not([type]) {
    @include box-sizing(border-box);
    @include border-radius(6px);
    @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, 0.1));
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    height: 37px;
    line-height: 26px;
    padding: 4px 0;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 24px;
    &:-ms-input-placeholder {
      color: #cccccc;
    }
    &::-webkit-input-placeholder {
      color: #cccccc;
    }
    &:-moz-placeholder {
      color: #cccccc;
    }
    &:focus:-ms-input-placeholder {
      color: transparent;
    }
    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    &:focus:-moz-placeholder {
      color: transparent;
    }
  }
}
select, textarea, button {
  font-family: Intro, sans-serif;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.clear-both {
  clear: both;
}
.bold-text {
  font-weight: bold;
}
.btn {
  line-height: 41px;
  white-space: nowrap;
  padding: 0 14px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  @include border-radius(6px);
  @include box-sizing(border-box);
  text-decoration: none;
  font-size: 22px;
  border: 1px solid;
  @include box-shadow(inset 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 -1px 2px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  outline: none;
  &:hover {
    text-decoration: none;
  }
  &.btn-orange {
    @include background-image(linear-gradient(top, #fd9832 0%, #d16c08 100%));
    border-color: #eb8a00;
    @include text-shadow(0 2px 2px rgba(65, 31, 0, 0.24));
    &:hover {
      @include background-image(linear-gradient(top, #ff9932 0%, #ff8b08 100%));
    }
    &:active {
      @include background-image(linear-gradient(bottom, #ff9932 0%, #ff8b08 100%));
    }
    input + & {
      span + span {
        display: none;
      }
    }
    input:checked + & {
      border-color: #a17500;
      color: #333333;
      @include background-image(linear-gradient(top, #f3f3f3 0%, #bebebe 100%));
      @include text-shadow(none);
      padding: 0 11px;
      span {
        display: none;
        + span {
          display: block;
        }
      }
    }
  }
  &.btn-blue {
    @include background-image(linear-gradient(bottom, #338dcc 0%, #58a4ea 100%));
    @include text-shadow(0 2px 2px rgba(0, 35, 65, 0.24));
    border-color: #a17500;
    &:hover {
      @include background-image(linear-gradient(bottom, #41b2ff 0%, #61b4ff 100%));
    }
    &:active {
      @include background-image(linear-gradient(top, #41b2ff 0%, #61b4ff 100%));
    }
  }
}
a {
  img {
    border: 0 none;
  }
}
.clearfix {
  clear: both;
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
}
.logotype {
  display: block;
  margin-left: 3px;
  img {
    width: 289px;
    height: 82px;
  }
}
header {
  background: url(images/background-header.jpg) center top no-repeat;
  @include background-size(cover);
  padding-top: 29px;
}
.contacts-block {
  padding: 11px 0;
  color: #3f3f3f;
  .call-text {
    font-size: 23px;
    span {
      color: #fca146;
    }
  }
  .phone-number {
    font-size: 31px;
    line-height: 31px;
    margin-right: 3px;
    padding-top: 5px;
    span {
      color: #686765;
    }
  }
  small {
    letter-spacing: -0.022em;
  }
  .btn {
    text-align: center;
    margin: 8px 2px;
  }
}
h1, h2, h3 {
  margin: 0;
}
.orange-text {
  color: #ff9933;
}
h1 {
  font-size: 23px;
  color: #3e3e3e;
  margin: 12px 0 12px 4px;
  strong {
    color: #ff9933;
  }
}
.uppercase {
  text-transform: uppercase;
}
.title-block {
  color: #fff;
  border: 1px solid #252525;
  margin: 16px 4px auto 6px;
  padding: 12px 30px 14px;
  @include border-radius(6px);
  @include background-image(linear-gradient(top, #5b5b5b 0%, #3e3e3e 100%));
  span {
    color: #ff9933;
  }
  h2 {
    margin: 0 0 6px;
    font-size: 36px;
  }
  .description-title {
    font-size: 22px;
    display: block;
    text-align: center;
  }
}
.center-content {
  width: 96%;
  max-width: 1115px;
  margin: 0 auto;
  &:after {
    @include clear();
  }
}

.callback-form {
  color: #fff;
  float: right;
  margin-top: 17px;
  margin-right: 4px;
  margin-bottom: 16px;
  width: 404px;
  text-align: center;
  @include border-radius(6px);
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  .head-form {
    font-weight: bold;
    border-top: 1px solid #ff7f00;
    @include border-top-radius(6px);
    @include background-image(linear-gradient(top, #ff9933 0%, #c96500 100%));
    padding: 15px 20px 13px;
    .title-cb-form {
      font-size: 23px;
      padding: 2px 0 1px;
      display: block;
    }
    .text-cb-form {
      font-size: 18px;
      line-height: 21px;
    }
  }
  .content-form {
    @include background-image(linear-gradient(top, #717171 0%, #3e3e3e 100%));
    @include border-bottom-radius(6px);
  }
  form {
    padding: 14px 0 12px;
    label {
      display: block;
      margin: 4px 0 3px;
    }
    input {
      width: 310px;
    }
    button {
      margin: 12px 0 8px;
      line-height: 39px;
      width: 310px;
    }
  }
}
.brands-list {
  @include background-image(linear-gradient(top, #e8e8e8 0%, #ececec 50%, #e8e8e8 100%));
  position: relative;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    &:after {
      @include clear();
    }
  }
  li {
    display: block;
    float: left;
    width: 25%;
    text-align: right;
    line-height: 110px;
    height: 110px;
  }
  img {
    vertical-align: middle;
  }
  .tooltip-brands {
    position: absolute;
    left: 50%;
    top: 0;
    width: 510px;
    height: 121px;
    margin-left: -438px;
    margin-top: -93px;
    color: #d4d4d4;
    font-weight: bold;
    .tooltip-bg {
      width: 100%;
      height: 100%;
      position: relative;
      &:after, &:before {
        position: absolute;
        content: '';
        z-index: 1;
      }
      &:after {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(images/brands-tooltip.png) center center no-repeat;
      }
      &:before {
        left: 12px;
        top: 17px;
        right: 4px;
        bottom: 45px;
        @include box-shadow(0 0 115px rgba(255, 255, 255, 1), 0 0 115px rgba(255, 255, 255, 1),0 0 115px rgba(255, 255, 255, 1));
      }
    }
    .tooltip-text {
      padding: 24px 0 0 50px;
      position: relative;
      z-index: 2;
      &:after {
        @include clear();
      }
      .big-text {
        font-size: 53px;
        color: #fff;
        line-height: 52px;
        span {
          font-size: 36px;
          display: inline-block;
          vertical-align: middle;
          margin-top: -8px;
          padding: 0 5px;
          line-height: 40px;
          color: #d4d4d4;
        }
      }
      .tooltip-normal-text {
        font-size: 23px;
        line-height: 23px;
        text-indent: 10px;
        margin-top: -2px;
        .light-grey-text {
          font-size: 26px;
          text-indent: 7px;
          display: block;
        }
      }
    }
  }
}
.white-text {
  color: #fff;
}

a {
  &:hover {
    text-decoration: none;
  }
}
.main-menu {
  background-color: #3e3e3e;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  font-size: 18px;
  float: left;
  width: 100%;
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;
    @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.6));
    background-color: rgba(62, 62, 62, 0.95);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    @include box-shadow(inset 0 3px 7px rgba(0, 0, 0, 0.6));
  }
  ul {
    list-style-type: none;
    color: #fff;
    text-align: center;
    line-height: 36px;
    padding: 20px 0 17px;
    position: relative;
    z-index: 2;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
    @include transition(0.2s color linear);
    &:hover {
      border-bottom: 0 none;
    }
    &.active {
      text-decoration: none;
      color: #ff9933;
      border-bottom: 0 none;
    }
  }
  li {
    display: inline-block;
    + li {
      padding-left: 32px;
      margin-left: 12px;
      &:before {
        content: '';
        display: inline-block;
        margin-left: -36px;
        margin-top: -1px;
        width: 16px;
        height: 16px;
        background: url(images/menu-icon-home.png) center center no-repeat;
        margin-right: 9px;
        vertical-align: middle;
      }
    }
  }
}
.small-text {
  font-size: 0.93em;
  line-height: 1.2em;
}

section {
  h2 {
    font-size: 44px;
    line-height: 39px;
    color: #333333;
  }
}
.first-section {
  margin-top: 76px;
  padding-top: 45px;
  background: url(images/section-bg-1.jpg) center top no-repeat;
  @include background-size(cover);
  padding-bottom: 69px;
  h2 {
    float: left;
    width: 600px;
    margin-left: 46px;
    position: relative;
    z-index: 2;
  }
  .center-content {
    position: relative;
    z-index: 2;
  }
  .promo-block-section {
    height: 241px;
    width: 791px;
    margin: 0 auto;
    position: relative;
    background: url(images/section-lent.png) center center no-repeat;
    color: #3e3e3e;
    top: -3px;
    left: 2px;
    .text-block {
      position: absolute;
      font-weight: bold;
      font-size: 18px;
      .text-block-content {
        div {
          font-size: 25px;
        }
      }
      &.text-block-1 {
        top: 148px;
        left: 38px;
        text-align: center;
        width: 451px;
        height: 55px;
        background: url(images/litle-home-2.png) left 3px no-repeat;
        .text-block-content {
          background: url(images/litle-home-1.png) right 3px no-repeat;
          padding: 11px 0;
          div {
            margin-top: 7px;
          }
        }
      }
      &.text-block-2 {
        right: 43px;
        top: 23px;
        text-align: right;
        width: 196px;
        background: url(images/litle-home-3.png) left top no-repeat;
        .text-block-content {
          padding-top: 46px;
          div {
            margin-right: -12px;
            margin-top: 3px;
          }
        }
      }
    }
  }
  .section-text {
    color: #fff;
    text-align: right;
    display: block;
    margin-right: 270px;
    font-size: 44px;
    margin-left: 57px;
    padding-top: 20px;
    line-height: 39px;
    margin-bottom: 36px;
  }
  .btn {
    display: block;
    width: 310px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: -52px;
    font-size: 21px;
    line-height: 39px;
  }
}

.two-section {
  width: 100%;
  overflow: hidden;
  padding-top: 319px;
  margin-top: -319px;
  position: relative;
  .section-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    background: url(images/section-bg-2.jpg) center center no-repeat;
    width: 1565px;
    height: 826px;
    margin-left: -604px;
  }
  .resident-outset-text {
    display: block;
    color: #414141;
    position: absolute;
    bottom: 155px;
    transform: rotateZ(-13.5deg);
    left: 50%;
    margin-left: -200px;
    font-size: 15px;
  }
  .center-content {
    position: relative;
    z-index: 1;
  }
  .section-content {
    float: left;
    width: 60%;
    margin-right: -20%;
    position: relative;
    z-index: 1;
    .work-order-text {
      padding-left: 20px;
      font-size: 22px;
      font-weight: bold;
      padding-top: 22px;
      h3 {
        font-size: 44px;
        line-height: 40px;
        + span {
          margin-left: 133px;
        }
      }
    }
    .special-text {
      display: block;
      color: #333333;
      font-size: 22px;
      padding-left: 17px;
      margin-top: -23px;
      line-height: 25px;
    }
    .btn {
      margin-top: 16px;
      margin-left: 16px;
      margin-bottom: 16px;
    }
    .callback-description {
      display: block;
      font-weight: bold;
      color: #4c4c4c;
      padding-left: 18px;
      font-size: 14px;
      line-height: 18px;
    }
    .work-orders-map {
      position: relative;
      width: 499px;
      height: 265px;
      background: url(images/orders-map.png);
      margin-top: 23px;
      margin-left: 9px;
      font-weight: bold;
      text-align: center;
      color: #4c4c4c;
      line-height: 19px;
      .work-order-block {
        position: absolute;
        &.work-order-text-1 {
          top: 100px;
          width: 111px;
        }
        &.work-order-text-2 {
          top: 173px;
          left: 140px;
          width: 155px;
        }
        &.work-order-text-3 {
          top: 95px;
          left: 307px;
          width: 141px;
        }
        &.work-order-text-4 {
          left: 520px;
          top: 211px;
          text-align: left;
          sup {
            margin-top: -11px;
            vertical-align: top;
            font-size: 1em;
          }
        }
      }
    }
  }
  h2 {
    margin-right: 163px;
    text-align: right;
    padding-top: 46px;
    margin-left: 38px;
    color: #3f3f3f;
    span {
      font-size: 147px;
      float: right;
      line-height: initial;
      margin-left: 12px;
      color: #6d6c6a;
    }
  }
  .big-man-block {
    width: 795px;
    height: 1288px;
    float: right;
    background: url(images/big-man.png) center center no-repeat;
    position: relative;
    margin-right: -269px;
    margin-top: -280px;
    margin-bottom: -182px;
    .big-man-dialog {
      background: url(images/big-man-tooltip.png) center center no-repeat;
      width: 506px;
      height: 259px;
      position: absolute;
      top: 234px;
      left: -116px;
      color: #fff;
      font-weight: bold;
    }
    .big-man-text {
      margin: 114px auto auto 91px;
      font-size: 16px;
      strong {
        font-size: 25px;
      }
    }
  }
}

.three-section {
  margin-top: 2px;
  padding-top: 36px;
  background: url(images/section-bg-3.jpg) center top no-repeat;
  @include background-size(cover);
  .section-lent {
    width: 1088px;
    height: 248px;
    background: url(images/three-section-lent.png);
    color: #686765;
    margin-left: -14px;
    .lent-text {
      margin-left: 130px;
      padding-top: 42px;
      font-size: 25px;
    }
    h2 {
      margin-bottom: 15px;
      color: inherit;
      span {
        font-size: 58px;
      }
    }
    strong {
      line-height: 25px;
    }
  }
  .section-description {
    color: #fff;
    @include text-shadow(0 2px 6px rgba(0, 0, 0, 0.6));
    font-weight: bold;
    margin-top: -78px;
    margin-left: 32px;
    font-size: 23px;
    @include transform(rotateZ(-1deg));
    margin-bottom: 0;
  }
  .options-blocks {
    color: #fff;
    font-weight: bold;
    position: relative;
    height: 275px;
    list-style-type: none;
    padding: 0;
    font-size: 26px;
    line-height: 25px;
    @include text-shadow(0 2px 6px rgba(0, 0, 0, 0.6));
    margin: 85px 0 0;
    .option-block {
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      &.option-block-1 {
        background-image: url(images/option-image-1.png);
        height: 168px;
        top: 2px;
        left: 30px;
        padding-left: 174px;
        p {
          width: 287px;
          margin-top: 49px;
        }
      }
      &.option-block-2 {
        background-image: url(images/option-image-2.png);
        bottom: 3px;
        height: 141px;
        left: 50%;
        margin-left: -104px;
        padding-left: 185px;
        p {
          margin-top: 53px;
          width: 275px;
        }
      }
      &.option-block-3 {
        background-image: url(images/option-image-3.png);
        left: 725px;
        height: 118px;
        top: 17px;
        padding-left: 150px;
        p {
          margin-top: 16px;
        }
      }
    }
  }
  .button-line {
    color: #fff;
    font-weight: bold;
    padding: 33px 0 34px;
    margin: 0 53px 0 17px;
    font-size: 19px;
    text-align: right;
    p {
      margin: 0;
      line-height: 23px;
    }
    .btn {
      margin-right: 38px;
      margin-left: 28px;
    }
  }
}

.catalog-section {
  .catalog-line-title {
    background-color: #ff9933;
    padding: 18px 0 23px;
    h2 {
      color: #333333;
      text-align: right;
      padding: 41px 0;
      span {
        color: #fff;
        font-size: 58px;
      }
      b {
        font-size: 58px;
      }
    }
    p {
      color: #fff;
      position: relative;
      font-size: 19px;
      font-weight: bold;
      margin: 0 0 0 96px;
      width: 350px;
      padding: 43px 0;
      line-height: 17px;
      span {
        font-size: 24px;
      }
      &:before {
        content: '';
        width: 7px;
        @include border-radius(4px);
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        background-color: #de8933;
        left: 0;
        margin-left: -49px;
      }
    }
  }
  .home-bg {
    position: relative;
    .checkbox {
      position: absolute;
      top: 50%;
      left: 50%;
      overflow: hidden;
      margin-left: -67px;
      margin-top: -1px;
      input {
        float: left;
        margin: -30px auto auto -30px;
      }
    }
    img {
      width: 100%;
      display: block;
    }
  }
  .catalog-list {
    font-size: 30px;
    .one-catalog-item {
      float: left;
      width: 25%;
      &.catalog-item-1 {
        h3 {
          background-color: #78091b;
        }
        .link-to-price {
          background-color: #2c0b11;
        }
        .special-table-item {
          background-color: #470510;
          td:first-child {
            color: #ffd4db;
          }
        }
      }
      &.catalog-item-2 {
        h3 {
          background-color: #3b1c00;
        }
        .link-to-price {
          background-color: #160c04;
        }
        .special-table-item {
          background-color: #231100;
          td:first-child {
            color: #ffe8d3;
          }
        }
      }
      &.catalog-item-3 {
        h3 {
          background-color: #69292c;
        }
        .link-to-price {
          background-color: #291617;
        }
        .special-table-item {
          background-color: #3e181a;
          td:first-child {
            color: #ffd8da;
          }
        }
      }
      &.catalog-item-4 {
        h3 {
          background-color: #da603b;
        }
        .link-to-price {
          background-color: #532e24;
        }
        .special-table-item {
          background-color: #803823;
          td:first-child {
            color: #ffded4;
          }
        }
      }
      .special-table-item {
        margin-top: 2px;
        padding: 1.166em 0;
        position: relative;
      }
      table {
        font-weight: bold;
        color: #fff;
        text-align: left;
        margin: 0 auto;
        font-size: 0.63333em;
        tr {
          td {
            padding: 0.737em 1.21em;
            + td {
              width: 36%;
              white-space: nowrap;
              position: relative;
              &:after {
                content: '';
                position: absolute;
                background-color: rgba(255, 255, 255, 0.3);
                width: 7px;
                left: 0;
                margin-left: -4px;
                top: 0;
                bottom: 0;
              }
            }
          }
          &:first-child {
            td + td {
              &:after {
                @include border-top-radius(4px);
              }
            }
          }
          td:first-child {
            text-align: right;
          }
          &:last-child {
            td + td {
              &:after {
                @include border-bottom-radius(4px);
              }
            }
          }
        }
      }
      .link-to-price {
        color: #fff;
        font-weight: bold;
        text-align: center;
        margin-top: 2px;
        padding: 1em 0;
        font-size: 0.8em;
        a {
          color: inherit;
        }
      }
      h3 {
        text-align: center;
        color: #fff;
        font-size: 1em;
        padding: 0.8em 0;
        margin-top: 2px;
      }
    }
  }
  .showed-collections {
    margin-top: 2px;
    text-align: center;
    background: url(images/catalog-bg-3.jpg) center top no-repeat;
    @include background-size(cover);
    padding: 65px 0;
    h2 {
      color: #fff;
      margin-bottom: 15px;
      + strong {
        font-size: 22px;
      }
    }
    .catalog-article {
      h4 {
        background-color: #85452b;
        color: #fff;
      }
      p {
        color: #ffcc99;
        margin: 18px 0;
        line-height: 17px;
        font-size: 14px;
      }
    }
    .catalog-article-item {
      display: inline-block;
      vertical-align: top;
      h4 {
        margin: 0;
        font-size: 22px;
        padding: 9px 0 8px 0;
      }
      .background-container {
        position: relative;
        img {
          display: block;
        }
      }
      .checkbox {
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        margin-left: -61px;
        margin-top: -21px;
        input {
          float: left;
          margin: -30px auto auto -30px;
        }
      }
    }
    .article-level-2 {
      padding-top: 48px;
      .catalog-article-item {
        width: 434px;
        + .catalog-article-item {
          margin-left: 35px;
        }
      }
    }
    .article-level-3 {
      padding-top: 48px;
      padding-bottom: 8px;
      .catalog-article-item {
        width: 255px;
        padding: 0 20px;
        p {
          margin-left: -20px;
          margin-right: -20px;
        }
        + .catalog-article-item {
          margin-left: 26px;
        }
        .checkbox {
          margin-top: -1px;
        }
        h4 {
          font-size: 20px;
        }
      }
    }
    .article-colors {
      color: #fff;
      font-weight: bold;
      padding: 33px 0 12px;
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          width: 194px;
          margin: 0 -34px;
          vertical-align: top;
          img {
            vertical-align: top;
          }
          span {
            display: block;
            margin-top: 26px;
          }
        }
      }
    }
    .article-price {
      font-weight: bold;
      color: #fff;
      padding: 44px 0 10px;
      .success-price {
        font-size: 23px;
        margin-bottom: 20px;
        span {
          font-size: 47px;
          margin-right: 6px;
        }
        sup {
          font-size: 14px;
        }
      }
      .in-price-title {
        font-size: 22px;
      }
      .special-option-list {
        list-style-type: none;
        margin: 16px 0;
        font-size: 18px;
        line-height: 19px;
        padding: 0;
        li {
          display: block;
          padding: 1px 0;
        }
      }
    }
    .original-price-button {
      margin-top: 23px;
      line-height: 44px;
      margin-bottom: 19px;
    }
    .callback-info {
      color: #fff;
      displaY: block;
      font-size: 14px;
    }
    .catalog-options-list {
      list-style-type: none;
      padding: 51px 0 10px;
      font-size: 23px;
      line-height: 40px;
      margin: 0;
      font-weight: bold;
      color: #fff;
      li {
        display: block;
      }
      a {
        color: inherit;
      }
    }
  }
  .article-catalog-title {
    color: #fff;
    font-size: 25px;
    margin: 35px 0 2px;
    strong {
      color: #ffcc99;
    }
  }
}

.projects-section {
  background: url(images/section-bg-4.jpg) center top no-repeat;
  @include background-size(cover);
  text-align: center;
  padding: 50px 0;
  h3 {
    font-size: 44px;
  }
  h4 {
    font-size: 30px;
    margin: 43px 0 20px;
  }
  .description-company {
    font-size: 24px;
    font-weight: bold;
    margin: 9px 0;
    line-heighT: 29px;
  }
  .projects-menu {
    list-style-type: none;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin: 0;
    padding: 12px 0;
    a {
      color: inherit;
      &.active {
        text-decoration: none;
        color: #666666;
        cursor: default;
      }
    }
    li {
      display: inline-block;
      + li {
        margin-left: 39px;
      }
    }
  }
  .object-info {
    .location-object {
      padding: 26px 0 20px;
    }
    .location-object-title {
      display: block;
      font-weight: bold;
      font-size: 20px;
    }
    .object-address {
      font-weight: bold;
      font-size: 14px;
      color: #666666;
    }
  }
  .object-gallery {
    padding: 48px 60px 0 25px;
    .object-image-preview {
      border: 3px solid #fff;
      @include border-radius(3px);
      width: 597px;
      height: 394px;
      overflow: hidden;
      + .btn {
        margin: 21px 2px 0;
        line-height: 46px;
        padding: 0 7px;
      }
      img {
        display: block;
        width: 100%;
        min-height: 100%;
      }
    }
    .object-photos {
      margin-left: 611px;
      text-align: left;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        border: 3px solid #fff;
        @include border-radius(3px);
        display: inline-block;
        width: 182px;
        height: 120px;
        margin: 0 6px 12px 8px;
        overflow: hidden;
        cursor: pointer;
        @include box-shadow(0 0 0 rgba(255, 255, 255, 0));
        @include transition(0.3s box-shadow linear);
        &:hover {
          @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.6));
        }
        img {
          display: block;
          width: 100%;
          min-height: 100%;
        }
      }
    }
    .object-comment {
      padding: 0 11px;
      margin-top: -2px;
      .object-comments-title {
        font-weight: bold;
        font-size: 20px;
      }
      p {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        margin: 13px 0 18px;
        color: #666666;
      }
      .comment-author {
        font-weight: bold;
        font-size: 14px;
      }
    }
    .object-navigation {
      font-weight: bold;
      padding: 23px 0 0;
      color: #333333;
      font-size: 14px;
      margin: 0 21px 0 11px;
      line-height: 44px;
      a {
        color: inherit;
        &.prev-control {
          padding-left: 35px;
          background: url(images/slider-arrow-l.png) left center no-repeat;
        }
        &.next-control {
          padding-right: 35px;
          background: url(images/slider-arrow-r.png) right center no-repeat;
        }
      }
    }
  }
}
.map-section {
  .title-line {
    background-color: #ff9933;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    h3 {
      font-size: 44px;
    }
  }
  .address-block {
    position: relative;
    width: 791px;
    left: 50%;
    margin-left: -393px;
    float: left;
    z-index: 2;
    .btn {
      margin: 32px 35px;
      padding: 0 11px;
      position: relative;
      z-index: 3;
    }
  }
  .address-lent {
    margin-top: -139px;
    height: 241px;
    width: 791px;
    position: relative;
    background: url(images/section-lent.png) center center no-repeat;
    color: #3e3e3e;
    font-weight: bold;
    .phones-info-block {
      position: absolute;
      right: 14px;
      width: 238px;
      top: 35px;
      .title-phones {
        font-size: 18px;
      }
      .phone-number {
        font-size: 25px;
        line-height: 37px;
        text-indent: -2px;
      }
      .work-time-office {
        text-align: center;
        font-size: 18px;
        margin: -6px 0 0 -23px;
        line-height: 22px;
        color: #666;
      }
    }
    .address-info-block {
      position: absolute;
      top: 156px;
      left: 50px;
      .title-address {
        font-size: 25px;
      }
      .dop-address-info {
        font-size: 18px;
        padding: 4px 0;
        color: #666;
      }
    }
  }
  .map-container {
    width: 100%;
    height: 595px;
  }
}
footer {
  padding: 26px 0 23px;
  background-color: #ff9933;
  color: #fff;
  font-weight: bold;
  .mails-list {
    width: 55%;
    .footer-block-container {
      padding-left: 65px;
    }
  }
  .creator {
    width: 45%;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.4);
      width: 7px;
      margin-left: -4px;
      @include border-radius(3px);
      top: 0;
      bottom: 0;
      left: 0;
    }
    .footer-block-container {
      font-size: 20px;
      padding-left: 47px;
      padding-top: 11px;
      line-height: 23px;
      span {
        color: #000;
      }
    }
  }
  .email-title {
    font-size: 30px;
    line-height: 39px;
  }
  .email-item {
    color: #000;
    font-size: 16px;
    margin-right: 5px;
    ~ .email-item {
      margin-left: 4px;
    }
  }
}
a.anchor {
  position: relative;
  display: block;
  top: -73px;
  .main-menu + & {
    top: 0;
  }
}
@media screen and (max-width: 1900px) and (min-width: 1700px) {
  .catalog-section .catalog-list {
    font-size: 25px;
  }
}
@media screen and (max-width: 1700px) and (min-width: 1450px) {
  .catalog-section .catalog-list {
    font-size: 22px;
  }
}
@media screen and (max-width: 1450px) {
  .catalog-section .catalog-list .one-catalog-item {
    width: 50%;
  }
}