.box-modal {
margin-top:90px;
	position: relative;
	width: 850px;
	height:600px !important;
	padding: 0px;
	background: #fff;
	color: #3c3c3c;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
overflow:hidden;
}
.box-modal img {
width:100% !important;
}
.box-modal .pp_close
{

}
.box-modal_close { position: absolute; right: 0px; top: 0px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }