body {
	margin: 0;
	font-family: "PT Serif";
	background-color: #f2f2f2;
	font-size: 14px;
}
small {
	font-size: 0.6em;
}
a img {
	border: 0 none;
}
.logotype {
	margin-top: 32px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear-both {
	clear: both;
	font-size: 0;
	line-height: 0;
	height: 0;
}
.width-50 {
	width: 50%;
}
.block {
	display: block;
}
.bold {
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}
.top-background {
	height: 146px;
	overflow: hidden;
	line-height: 146px
}
.top-background img {
	width: 100%;
	vertical-align: bottom;
}
header {
	height: 112px;
	line-height: 120px;
}
header a {
	color: #ced7e8;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}
header nav {
	text-align: right;
	font-size: 14px;
}
header nav ul {
	text-align: left;
	white-space: nowrap;
	line-height: 16px;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;	
	list-style-type: none;
}
header nav li {
	display: inline-block;
	white-space: initial;
	max-width: 188px;
	vertical-align: top;
	min-height: 32px;
	margin: 0;
	padding: 0;
	border-left: 2px solid #768db9;
}
header nav li:last-child, 
header nav li.last-item {
	width: auto;
}
header nav li:last-child a, 
header nav li.last-item a {
	padding-right: 0;
}
header nav li a {
	display: block;
	padding-left: 20px;
	padding-right: 60px;
}
header nav li .active {
	color: #22c2fe;
	text-decoration: none!important;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.blue-background {
	background-color: #003789;
}
.blue-color {
	color: #003789;
}
.light-blue-color {
	color: #22c2fe;
}
.black-color {
	color: #000;
}
.gray-color {
	color: #808080;
}
.center-content {
	width: 986px;
	margin-left: auto;
	margin-right: auto;
}
.content-block {
	margin-top: -78px;
	background: #fff;
	color: #023785;
	position: relative;
}
.content-section {
	margin: 0 25px;
	padding: 20px 0 0;
}
.title-page {
	margin: 0;
	color: #179bb2;
	font-style: italic;
	font-size: 24px;
}
.description-page {
	line-height: 39px;
	font-size: 30px;
	font-weight: normal;
	display: block;
	margin: 20px 0 30px;	
}
.section {
	padding-bottom: 63px;
}
.section+.section {
	border-top: 1px solid #d9d9d9;
} 
.content-header img {
	display: block;
}
.sidebar {
	padding-top: 41px;
	width: 285px;
}
.section-text {
	padding-top: 35px;
	color: #4d74af;
	font-size: 20px;
}
.section-text a {
	color: #03368f;
}
.section-text a.black-color {
	color: #000;
}
.section-text p {
	line-height: 32px;
	margin: 25px 0;
}
.section-text strong {
	color: #013588;
	font-size: 21px;
	line-height: 29px;
}
.section-text strong.block {
	margin-top: 40px;
	margin-bottom: 25px;
	line-height: 24px;
}
.spec {
	padding-left: 28px;
	border-left: 1px solid;
}
.sidebar + .section-text {
	margin-right: 310px;
}
.sidebar-block-content {
	padding: 15px 20px;
	background: #f2f2f2;
	border: 1px solid #e9e9e9;
	font-family: "PT Sans";
	font-size: 14px;
}
.sidebar-block-header {
	line-height: 17px;
	font-size: 16px;
	padding: 17px 15px 16px 20px;
	font-weight: bold;
	font-family: "PT Sans";
	color: #003789;
}
a.sidebar-block-header {
	display: block;
	text-decoration: none;
}
.sidebar-block-header.blue-background {
	color: #cbd6ea;
}
.sidebar-block + .sidebar-block {
	margin-top: 20px;
}
.sidebar-text {
	line-height: 17px;
}
.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidebar li {
	display: block;
}
.sidebar-links {
	margin-top: -5px;
	line-height: 24px;
}
.sidebar-links a {
	color: #003889;
}
.uppercase {
	text-transform: uppercase;
}
.big-letter {
	letter-spacing: 0.1em;
}
.clients-graph {
	width: 622px;
	padding-top: 25px;
}
.clients-graph p {
	margin-top: 0;
}
.clients-graph .graph-line + .graph-line {
	margin-top: 10px;	
}
.clients-graph .graph-line {
	font-size: 12px;
	line-height: 20px;
}
.graph-line-indicator {
	margin-left: 46px;
	border-bottom: 1px solid #003789;
	position: relative;
	height: 20px;
	width: 576px;
}
.graph-line-indicator .filled-line {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20px;
	overflow: hidden;
}
.graph-line-indicator .count-clients {
	width: 90px;
	position: absolute;
	left: 288px;
	margin-left: -45px;
	text-align: center;
	color: #003789;
	line-height: 24px;
}
.graph-line-indicator .filled-line .count-clients {
	position: relative;
	color: #fff;
}
.work-time {
	white-space: nowrap;
}
.work-time-title {
	text-indent: 10px;
}
.delimiter-quote {
	width: 94px;
	height: 1px;
	margin: 5px 0;
	background-color: #003789;
}
.quote-section {
	position: relative;
}
.quote-section .author-quote {
	color: #003789;
}

.quote-section .post-author {
	line-height: 12px;
	color: #000;
	font-family: "Open Sans";
	font-size: 10px;
	width: 140px;
}
.quote-section {
	margin-top: 60px;
}
.quote-section p {
	margin-bottom: 0;
}
.quote-section .contacts-author {
	line-height: 32px;
}
.quote-section .name-author {
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	margin-top: -10px;
}
.quote-section .name-author span {
	margin-left: -140px;
}

footer {
	background: #fff;
	padding-top: 14px;
	font-size: 12px;
	font-family: "PT Sans";
	color: #fff;
}
footer .copy {
	padding-left: 25px;
}
footer ul {
	list-style-type: none;
	padding: 0;
	margin: -10px 0 0;	
}
footer a {
	text-decoration: none;	
	color: #22c2fe;
}
footer a:hover {
	text-decoration: underline;
}
.footer-content {
	height: 167px;
}
.footer-blocks {
	padding: 25px 0 20px;
	margin: 0 25px;
}
.footer-block {
	float: left;
	line-height: 22px;
}
.footer-block-content {
	height: 76px;
	padding-left: 20px;
	padding-top: 5px;
}
.footer-block.office-block {
	width: 270px;
}
.office-block .footer-block-content {
	border-left: 1px solid #ccd7e9;
}
.footer-block.contacts-block {
	width: 230px;
}
.contacts-block .footer-block-content {
	border-left: 2px solid #768db9;
}
.footer-block.worktime-block {
	width: 224px;
}
.worktime-block .footer-block-content {
	border-left: 2px solid #768db9;
}
.footer-block.links-block {
	width: 210px;
}
.links-block .footer-block-content {
	border-left: 2px solid #1281c6;
}
.icon {
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	backgound-position: center center;
}
.inline-block {
	display: inline-block;
}
.icon.link-icon {
	background-image: url(images/icons/links.png);
}
.icon.share-icon {
	background-image: url(images/icons/share.png);
}
.icon.mail-icon {
	background-image: url(images/icons/mail.png);
}
.icon.download-icon {
	background-image: url(images/icons/download.png);
	margin-top: 8px;
	width: 13px;
}

