@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue.eot');
    src: url('fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue.woff') format('woff'),
         url('fonts/HelveticaNeue.ttf') format('truetype'),
         url('fonts/HelveticaNeue.svg#Helvetica Neue') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueLight.eot');
    src: url('fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLight.woff') format('woff'),
         url('fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('fonts/HelveticaNeueLight.svg#Helvetica Neue') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueThin.eot');
    src: url('fonts/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueThin.woff') format('woff'),
         url('fonts/HelveticaNeueThin.ttf') format('truetype'),
         url('fonts/HelveticaNeueThin.svg#Helvetica Neue') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueUltraLight.eot');
    src: url('fonts/HelveticaNeueUltraLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueUltraLight.woff') format('woff'),
         url('fonts/HelveticaNeueUltraLight.ttf') format('truetype'),
         url('fonts/HelveticaNeueUltraLight.svg#Helvetica Neue') format('svg');
    font-weight: 100;
    font-style: normal;
}

#page {
    height: 100%;
}
#page-content {
    position: relative;
    top: 0;
    height: 100%;
}
body {
    font-size: 100px;
}
@media screen and (min-width: 1900px) {
    #page-content {
        font-size: 100%;
    }
}
@media screen and (min-width: 1800px) and (max-width: 1900px) {
    #page-content {
		font-size: 95%;
	}
}
@media screen and (min-width: 1700px) and (max-width: 1800px) {
    #page-content {
		font-size: 90%;
	}
}
@media screen and (min-width: 1600px) and (max-width: 1700px) {
    #page-content {
		font-size: 85%;
	}
}
@media screen and (min-width: 1500px) and (max-width: 1600px) {
    #page-content {
		font-size: 80%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
    #page-content {
		font-size: 75%;
	}
}
@media screen and (min-width: 1300px) and (max-width: 1400px) {
    #page-content {
		font-size: 70%;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
    #page-content {
		font-size: 65%;
	}
}
@media screen and (min-width: 1100px) {
    .header-nav {
        font-size: 100%;
    }
    .portfolio-block-content {
        margin-top: 30px;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
    #page-content {
		font-size: 60%;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
    #page-content {
		font-size: 55%;
	}
    .header-nav {
        font-size: 95%;
    }
    .portfolio-block-content {
        margin-top: 28px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
    #page-content {
		font-size: 50%;
	}
    .header-nav {
        font-size: 85%;
    }
	.portfolio-block-content {
		margin-top: 25px;
	}
}
@media screen and (min-width: 800px) and (max-width: 900px) {
    #page-content {
		font-size: 45%;
	}
    .header-nav {
        font-size: 75%;
    }
	.portfolio-block-content {
		margin-top: 22px;
	}
}
@media screen and (min-width: 700px) and (max-width: 800px) {
    #page-content {
		font-size: 40%;
	}
    .header-nav {
        font-size: 65%;
    }
	.portfolio-block-content {
		margin-top: 19px;
	}
}
@media screen and (min-width: 600px) and (max-width: 700px) {
    #page-content {
		font-size: 35%;
	}
    .header-nav {
        font-size: 55%;
    }
	.portfolio-block-content {
		margin-top: 16px;
	}
}
@media screen and (min-width: 500px) and (max-width: 600px) {
    #page-content {
		font-size: 30%;
	}
    .header-nav {
        font-size: 45%;
    }
	.portfolio-block-content {
		margin-top: 13px;
	}
}
@media screen and (max-width: 500px) {
    .header-nav {
        font-size: 40%;
    }
    .portfolio-block-content {
        margin-top: 12px;
    }
    #page-content {
		font-size: 25%;
	}
}


body {
	margin: 0;
	position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma;
	font-style: normal;
	font-weight: 400;
	min-width: 640px;
	background-color: #f1f1f1;
}
h1 {
	font-weight: 100;
	text-align: center;
	color: #FFF;
	font-size: 105%;
	line-height: 120px;
	position: absolute;
	width: 100%;
	top: 50%;
    margin: -1em 0;
}
.first-paging-block, .last-paging-block {
    font-size: 18%;
    font-weight: 300;
    text-align: center;
}
.first-paging-block {
    color: #FFF;
    top: 60%;
    position: relative;

}
.last-paging-block {
    position: absolute;
    left: 0;
    width: 100%;
    color: #999999;
    bottom: 2%;
    line-height: 3em;
}

.scroll-button {
	margin: 1.6em auto 0;
	cursor: pointer;
}
.scroll-button img {
    width: 100%;
    display: block;
}
.scroll-button .image-to-next-page {
    margin: 0 auto;
    max-width: 64px;
    max-height: 64px;
    width: 3.7em;
}
.scroll-button .image-to-next-page .normal {
    position: relative;
}
.scroll-button .image-to-next-page .hover {
    display: none;
}
.scroll-button .image-to-next-page:hover .normal {
    display: none;
}
.scroll-button .image-to-next-page:hover .hover {
    display: block;
}
.more-info-link {
    display: block;
    font-size: 25%;
    color: #FFF;
    border: 1px solid #FFF;
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 40.6%;
    left: 29.7%;
    margin-left: -1px;
    border-radius: 0.15em;
    font-weight: 200;
    text-decoration: none;
    line-height: 2.10em;
    height: 2.21em;
}
body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	direction: ltr;
}
.header-nav {
	min-width: 410px;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: url(images/black-bg.png);
	z-index: 100;
	font-weight: 200;
}
.rose-color {
	color: #ff6666;
}
.blue-color {
	color: #35a7c1;
}
.white-color {
    color: #FFF
}
.header-nav ul {
    font-size: 20%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.header-nav li {
	display: block;
	white-space: nowrap;
	margin: 0;
    line-height: 3em;
}
.header-nav .logotype-item+li {
    margin-left: 1.5em;
}
.header-nav .main-page-link {
	background: url(images/black-bg.png);
    padding: 0 1.7em;
}
.portfolio-block {
	position: absolute;
	z-index: 2;
	max-width: 681px;
	max-height: 601px;
	width: 80%;
	height: 70%;
	left: 100%;
	margin-left: -11%;
	top: 50%;
}
.container-about {
    position: absolute;
    z-index: 2;
    max-width: 1200px;
    max-height: 910px;
    width: 90%;
    height: 80%;
    left: 50%;
    top: 50%;
}
.container-about.contacts {
    width: 98%;
}
.portfolio-text {
	margin: 0 10.7%;
	color: #FFF;
    height: 100%;
    position: relative;
}
.portfolio-text h3 {
	font-size: 75%;
	font-weight: 100;
	padding: 0.37em 0 0.26em;
    text-indent: -0.04em;
	margin: 0;
}
.portfolio-text p, .portfolio-text .list-params {
	font-size: 18%;
	font-weight: 300;
}
.portfolio-text .list-params {
	list-style-type: none;
	padding: 0;
	margin: 1.42em 0 0;
}
.portfolio-text .list-params li {
	display: block;
	padding: 0.25em 1em;
}
.portfolio-text .list-params .colorized {
	font-size: 130%;
}
.portfolio-text .list-params span {
    margin-left: -0.79em;
}
.portfolio-content {
	font-size: 100px;
}
.portfolio-text p {
	color: #999999;
	margin: 0;
}
.blue-elements .colorized {
	color: #2bb2ff;
}
.green-elements .colorized {
	color: #bbd368;
}
.light-blue-elements .colorized {
     color: #3bc7e5;
}
.red-elements .colorized {
    color: #e90101;
}
.yellow-elements .colorized {
    color: #ffc600;
}
.violette-elements .colorized {
    color: #b07cff;
}
.portfolio-block .portfolio-block-content {
    background: url(images/black-bg.png);
    left: -100%;
}
.portfolio-block-content {
	width: 100%;
	height: 100%;
	position: relative;
	top: -50%;
}
.container-about .portfolio-block-content {
    left: -50%;
}
.header-nav a {
	display: block;
	color: #FFF;
	text-decoration: none;
    padding: 0 1.5em;
}
.pre-slash:before {
	content: "/";
}

h1 .pre-slash:before, .header-nav .pre-slash:before {
	color: #35a7c1;
	padding: 0 0.3em;
}
.header-nav a.second-links:hover:before {
    color: #ff6666;
}
.section-page {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    z-index: 1;
}

.content-section {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
    z-index: 2;
}
.bi {
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}
.mask-section-content {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/mask-images.png) fixed;
}
.about-section {
	background-color: #f1f1f1;
}
.content-section-text {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}
.about-section.about-1 {

}
.about-section h2 {
	text-align: center;
    color: #222;
	font-weight: 100;
	font-size: 75%;
	margin: 0;
}
.about-me-text {
	font-size: 23%;
	max-width: 1320px;
	font-weight: 300;
	color: #333;
	text-align: center;
	margin: 2em 0 0;
}
.about-me-text br {
    line-height: 3em;
}
.slider-block {
	position: relative;
}
.slider-container {
	width: 100%;
	overflow: hidden;
    font-size: 23%;
    margin: 3em 0;
}
.slider-block ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200%;
}
.slider-block li {
	display: block;
	margin: 0;
	padding: 0;
	width: 50%;
	float: left;
	position: relative;
}
.paging-slider {
	text-align: center;
    font-size: 1.5%;
}
.paging-slider img {
	margin: 0 1%;
	cursor: pointer;
	max-width: 17px;
	width: 1.5%;
}
.logo-one {
	width: 20%;
	float: left;
	position: relative;
	z-index: 1;
}

.logo-one+.logo-one:after {
    content: '';
    display: block;
    position: absolute;
    font-size: 0;
    width: 1px;
    background-image: url(images/crop.png);
    top: 10%;
    bottom: 10%;
    left: 0;
}
.logo-one+.clear ~ .logo-one:before {
    content: '';
    display: block;
    font-size: 0;
    height: 1px;
    background-image: url(images/crop.png);
    width: 89%;
    margin: -1px auto 0;
}


.logo-one img {
	display: block;
	width: 100%;
}
.clear {
	clear: both;
}
.height-null {
	height: 0;
	line-height: 0;
	font-size: 0;
}
.slider-paging {
	width: 2.1%;
    line-height: 2.1%;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -3em;
	cursor: pointer;
    font-size: 23%;
}
.slider-paging.next {
	left: 100%;
	margin-left: 6.6%;
}
.slider-paging.prev {
	right: 100%;
	margin-right: 6.6%;
}
.dotted-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.content-about-text {
	width: 75%;
	max-width: 1200px;
	margin: 0.5em auto 0.7em;
	color: #fff;
	position: relative;
	z-index: 2;
}
.container-about .big-text {
	font-size: 75%;
	text-align: center;
	text-transform: lowercase;
	display: block;
}
.list-specs {
	list-style-type: none;
	padding: 0;
	font-weight: 300;
    color: #FFF;
	margin: 2em 10% 0 12.5%;
	font-size: 23%;
}
.ultralight {
    font-weight: 100;
}
.list-specs li {
	padding: 0.32em 0;
}

.social-buttons-about {
	font-size: 20%;
	text-align: center;
	vertical-align: top;
	padding: 5em 0;
}
.social-buttons-about a+a {
	margin-left: 3.3%;
}
.content-about-text a {
	color: white;
}
.social-buttons-about img {
	width: 20%;
	max-width: 176px;
}
#loading-page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 200;
}
.loading-indicator {
    position: relative;
    height: 300px;
    width: 400px;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -200px;
    display: block;
}
.title-contacts {
    font-size: 75%;
    font-weight: 100;
    margin-bottom: 1.9em;
    color: #222222;
    text-align: center;
}
.menu-contacts {
    margin: 0 auto;
    width: 8em;
    line-height: 40%;
}
.menu-contacts .slash {
    margin-right: 0.3em;
}
.menu-contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 23%;
    font-weight: 300;
    color: #999999;
}
.menu-contacts .value-contacts {
    color: #222;
}
.menu-contacts li {
    display: block;
    white-space: nowrap;
    padding: 0.13em 0;
}
.social-buttons-contacts {
    float: right;
    width: 3em;
    margin-top: 0.15em;
}
.social-buttons-contacts a {
    display: block;
    float: right;
}
.social-buttons-contacts a+a {
    margin-right: 0.2em;
}
.social-buttons-contacts img {
    width: 1.3em;
    max-width: 108px;
    display: block;
}
a img {
    border: 0 none;
}
.list-items-pages {
    position: absolute;
    width: 20px;
    left: 60px;
    z-index: 2;
    height: 100%;
    font-size: 0.2em;
    display: none;
}
.list-items-pages img {
    width: 0.7em;
    max-width: 13px;
    cursor: pointer;
}


.cont-items-pages {
    margin-top: -2em;
    position: relative;
    top: 50%;
    width: 0.7em;
}
