$color-0: #000000;
$color-1: #1e252c;
$color-2: #17305a;
$color-3: #1a468d;
$color-4: #0071b9;
$color-5: #bcdce5;
$color-6: #ffffff;

$menu-color-1: #1E252B;
$menu-color-2: #2B333A;
$menu-color-3: #36434F;

$content-wrapper-color: #BBDCE5;
$content-title-bgcolor: #B0D0D9;
$content-title-border: #8ea7b0;


$cards-color-1: #0167BD;
$cards-color-2: #1E252B;
$cards-color-3: #FFB000;
$cards-color-4: #002A6C;
$cards-color-5: #EC1A3A;
$cards-color-6: #00309B;
$cards-color-7: #EB6C20;