body, html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font: 14px 'Ubuntu', sans-serif;
  position: relative;
}
a {
  outline: 0 none;
  img {
    border: 0 none;
  }
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
h2 {
  text-indent: -0.14em;
}

/* Datepicker */
datepicker {
  float: none;
}
.fa {
  font-size: inherit;
}
.center-text {
  text-align: center;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.nowrap {
  white-space: nowrap;
}
.block {
  displaY: block;
}