.left-section, .right-section {
    float: none;
}
.left-section.width-75 {
    width: auto;
}
.right-section.width-25 {
    width: auto;
}
.right-section, .right-section + .left-section {
    margin-top: 1.33em;
}
.right-section .section-page {
    height: auto;
    padding-bottom: 1.5em;
}
.availability-block {
    float: left;
}
.availability-block + .availability-block {
    margin-left: 10%;
    margin-top: 0;
}
.section-page {
    margin-left: 0;
    margin-right: 0;
}
.header-content {
    text-align: center;
}
.blue-hint .arrow-hint {
    display: none;
}
.blue-hint {
    margin-top: 0!important;
}
#footer {
    height: 2.74em;
}
.footer-content {
    padding: 0.66em 0;
}
.one-footer-block {
    line-height: 1.33em;
    padding: 0;
    float: none;
    width: auto;
}
.one-footer-block.links-group {
    padding-left: 2em;
}
.one-footer-block.links-group a {
    padding-left: 0.8em;
}
.servers-content .cities-list {
    width: 9em;
}
#servers-table-container {
    margin-left: 9em;
}
.legend {
    font-size: 1.5em;
    line-height: 1.15em;
    margin-left: 0;
}
.message-block .text-message {
    font-size: 1em;
}
#logo {
    font-size: 2.25em;
    line-height: 1.75em;
    margin-left: 0;
}
