body {
    font-size: 42px;
}
.legend-item span {
    width: 27px;
    height: 27px;
}
#servers-table-container a {
    border-width: 0 2px 2px 0;
}
.footer-content {
    border-top-width: 2px;
}
.wrapper + .wrapper {
    border-top-width: 2px;
}
.section-page.border {
    border-width: 2px;
}
text {
    font-size: inherit;
}
svg path {
    stroke-width: 4px;
}
