.blue-hint {
    position: absolute;
    font-size: 1em;
    line-height: 1.27em;
    z-index: 301;
    width: auto;
    max-width: 16.67em;
    margin-top: -7px;
}
.blue-hint.hint-position-bottom {
    margin-top: 7px;
}
.blue-hint a {
    color: inherit;
}
.blue-hint a:hover, .blue-hint a:active {
    color: inherit;
    text-decoration: none;
}
.blue-hint .content-hint {
    border-radius: 0.13em;
    -moz-border-radius: 0.13em;
    -webkit-border-radius: 0.13em;
    position: relative;
    background: rgba(74,129,200,0.9);
    width: 100%;
    color: #fff;
    cursor: default;
}
.blue-hint .title-hint {
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    font-weight: bold;
    background: rgba(74,129,200,0.9);
    text-align: center;
    padding: 0.33em 0.66em;
}
.blue-hint .text-hint {
    padding: 0.33em 0.66em;
}
.blue-hint .arrow-hint {
    background: url(images/hint-arrows.png) no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -7px;
    width: 16px;
    height: 7px;
    margin-left: -8px;
}
.blue-hint .title-hint+.text-hint+.arrow-hint {
    background-position: 0 0;
}
.blue-hint.hint-position-top .text-hint+.arrow-hint {
    top: 100%;
    background-position: 0 -7px;
    margin-top: 0;
}
