html {
  height: 100%;
}
.home-link {
  background-image: url('images/sprites/home-icon.png');
  background-repeat: no-repeat;
}

.home-about-icon {
  background-image: url('images/sprites/home-about-icons.png');
  background-repeat: no-repeat;
}

.matching-icon-list {
  background-image: url('images/sprites/matching.png');
  background-repeat: no-repeat;
}

.icon-advantage-item {
  background-image: url('images/sprites/advantage.png');
  background-repeat: no-repeat;
}

.process-list-icon {
  background-image: url('images/sprites/process-list.png');
  background-repeat: no-repeat;
}

.transfer-icon {
  background-image: url('images/sprites/transfer-icons.png');
  background-repeat: no-repeat;
}

.payment-icon {
  background-image: url('images/sprites/payments-icons.png');
  background-repeat: no-repeat;
}

.gallery-button {
  background-image: url('images/sprites/gallery-buttons.png');
  background-repeat: no-repeat;
}

.player-button {
  background-image: url('images/sprites/player-buttons.png');
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'AFuturica';
  src: url("fonts/afuturica-webfont.eot");
  src: url("fonts/afuturica-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/afuturica-webfont.woff2") format("woff2"), url("fonts/afuturica-webfont.woff") format("woff"), url("fonts/afuturica-webfont.ttf") format("truetype"), url("fonts/afuturica-webfont.svg#a_futuricaregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AFuturica';
  src: url("fonts/afuturicamedium-webfont.eot");
  src: url("fonts/afuturicamedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/afuturicamedium-webfont.woff2") format("woff2"), url("fonts/afuturicamedium-webfont.woff") format("woff"), url("fonts/afuturicamedium-webfont.ttf") format("truetype"), url("fonts/afuturicamedium-webfont.svg#a_futuricamediumregular") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AFuturica';
  src: url("fonts/afuturica_extrabold-webfont.eot");
  src: url("fonts/afuturica_extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/afuturica_extrabold-webfont.woff2") format("woff2"), url("fonts/afuturica_extrabold-webfont.woff") format("woff"), url("fonts/afuturica_extrabold-webfont.ttf") format("truetype"), url("fonts/afuturica_extrabold-webfont.svg#a_futuricaextrabold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'AFuturica';
  src: url("fonts/afuturicablack-webfont.eot");
  src: url("fonts/afuturicablack-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/afuturicablack-webfont.woff2") format("woff2"), url("fonts/afuturicablack-webfont.woff") format("woff"), url("fonts/afuturicablack-webfont.ttf") format("truetype"), url("fonts/afuturicablack-webfont.svg#a_futuricablackregular") format("svg");
  font-weight: 900;
  font-style: normal;
}
body {
  margin: 0;
  padding: 100px 0 0;
  font: 16px AFuturica, Arial, sans-serif normal normal;
  color: #898989;
  background-color: #eee;
  min-width: 980px;
}

a {
  text-decoration: none;
}

a img {
  border: 0;
}

img {
  vertical-align: middle;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

input, button {
  -webkit-appearance: none;
  outline: none;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 0 9px;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  vertical-align: middle;
  text-align: center;
  border: 0 none;
  font-family: inherit;
}

input[type="text"] {
  font-weight: 600;
  color: #473423;
  background-color: rgba(255, 255, 255, 0.75);
  width: 292px;
}
input[type="text"]:-ms-input-placeholder {
  color: #473423;
}
input[type="text"]::-webkit-input-placeholder {
  color: #473423;
}
input[type="text"]:-moz-placeholder {
  color: #473423;
}
input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}
input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}

button {
  border: 0;
  background-color: #58aa46;
  color: #fff;
  text-transform: uppercase;
  width: 288px;
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.clear-after:after {
  content: "";
  display: block;
  clear: both;
}

.normal-text {
  font-weight: 400;
}

.medium-text {
  font-weight: 600;
}

.bold-text {
  font-weight: 800;
}

.black-text {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}

.display-block {
  display: block;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.center-content {
  width: 960px;
  margin: 0 auto;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  color: #473423;
  background-color: #fff;
  z-index: 20;
}
header nav {
  line-height: 25px;
  padding: 18px 0;
}
header ul {
  padding: 19px 0 0;
}
header a {
  color: #776045;
  font-size: 0.75em;
}
header a:hover, header a.selected {
  color: #57ab48;
}
header li + li {
  margin-left: 17px;
}
header .button {
  line-height: 30px;
  height: 29px;
  padding: 0 12px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}
header .header-contacts {
  margin-top: -14px;
}
header .header-phone {
  font-size: 18px;
  line-height: 43px;
}
header .home-link {
  display: inline-block;
  width: 17px;
  height: 15px;
  margin: -5px 4px 0;
  vertical-align: middle;
  background-position: 0 -17px;
}
header .home-link:hover, header .home-link.selected {
  background-position: 0 0;
}

.button {
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.button.green-border {
  border: 3px solid #58aa46;
}
.button.green-color {
  color: #58aa46;
}

.home-section {
  background: url(images/home-background.jpg) top center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 842px;
  color: #fff;
}

.logotype-block {
  margin: 17px 16px;
}
.logotype-block .short-about {
  margin-left: 79px;
  width: 180px;
  padding-top: 6px;
}
.logotype-block .short-about .black-text {
  line-height: 15px;
  font-size: 14.4px;
}
.logotype-block .short-about .medium-text {
  line-height: 20px;
  font-size: 13.4px;
}

h1 {
  font-size: 67px;
}
h1 small {
  font-size: 36px;
}

h2 {
  font-weight: 900;
  color: #58aa46;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
}

h3 {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

.home-section-content {
  padding-top: 255px;
}

.home-form {
  margin-top: 50px;
}
.home-form strong {
  font-size: 22px;
}
.home-form input + input {
  margin-left: 15px;
}
.home-form .fields-container {
  width: 616px;
  margin: 0 auto;
  padding: 25px 0;
}

.home-about-icon {
  width: 64px;
  height: 61px;
  margin: 0 auto;
}
.home-about-icon.green-peace {
  background-position: 0 0;
}
.home-about-icon.time-fair {
  background-position: 0 -189px;
}
.home-about-icon.temp-explore {
  background-position: 0 -126px;
}
.home-about-icon.transfer {
  background-position: 0 -252px;
}
.home-about-icon.pack {
  background-position: 0 -63px;
}

.product-about-section {
  font-size: 16px;
  line-height: 24px;
  color: #776045;
  border-top: 3px solid #fff;
  margin-top: -5px;
}
.product-about-section .container-about-content {
  background-color: #fff;
  margin-top: 2px;
  height: 395px;
}
.product-about-section ul {
  padding-top: 94px;
}
.product-about-section .home-about-text {
  padding-top: 25px;
}

.about-product {
  background-color: #f8f8f8;
  padding: 120px 0;
}
.about-product h2 {
  margin-bottom: 75px;
}
.about-product .about-image-container {
  padding: 6px;
  border: 1px solid #dddddd;
  margin-left: 40px;
}
.about-product .about-text {
  margin-left: 454px;
  margin-right: 28px;
  color: #898989;
  text-align: center;
}
.about-product .about-text p {
  text-align: left;
}
.about-product .button {
  padding: 0 20px;
  height: 40px;
  line-height: 41px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  margin-top: 35px;
}

.matching-section {
  background: url(images/matching-background.jpg) top center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;
  padding: 97px 0 83px;
}
.matching-section h2 {
  margin-bottom: 62px;
}
.matching-section .section-content {
  height: 385px;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
}
.matching-section .block-content {
  height: 100%;
}
.matching-section .block-content h3 {
  float: left;
  width: 100%;
  padding: 35px 0 50px;
  line-height: 15px;
}
.matching-section .block-content.float-left {
  width: 277px;
  font-size: 18px;
}
.matching-section .block-content.float-left ul {
  padding-right: 22px;
  text-align: right;
  margin-top: 100px;
}
.matching-section .block-content.float-right {
  width: 324px;
  color: #473423;
  font-size: 14px;
}
.matching-section .block-content.float-right ul {
  padding-left: 25px;
}
.matching-section .block-content.float-right h3 {
  padding-left: 80px;
}
.matching-section .block-content.float-left + .block-content.float-right + .block-content {
  margin: 0 324px 0 277px;
  background-color: #fff;
  font-size: 14px;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
  font-weight: 800;
}
.matching-section .block-content.float-left + .block-content.float-right + .block-content ul {
  padding-left: 18px;
}
.matching-section .block-content.float-left + .block-content.float-right + .block-content h3 {
  padding-left: 73px;
}
.matching-section .block-content ul {
  line-height: 33px;
}
.matching-section .block-content ul p {
  margin-left: 55px;
}
.matching-section .block-content ul li + li {
  margin-top: 40px;
}
.matching-section .matching-icon-list {
  width: 34px;
  height: 33px;
  float: left;
  background-position: 0 0;
}
.matching-section .matching-icon-list.no-match {
  background-position: 0 -35px;
}

.advantage-section {
  padding-top: 95px;
  background-color: #fff;
}
.advantage-section h2 {
  font-size: 30px;
  font-weight: 800;
}
.advantage-section ul {
  line-height: 72px;
  color: #898989;
  margin: 80px 40px 0 143px;
  padding-bottom: 80px;
}
.advantage-section ul h4 {
  font-size: 24px;
  color: #58aa46;
  font-weight: 400;
}
.advantage-section ul p {
  font-size: 18px;
}
.advantage-section ul li + li {
  margin-top: 40px;
}
.advantage-section .content-item {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  width: 680px;
}
.advantage-section .icon-advantage-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 67px;
  height: 53px;
}
.advantage-section .icon-advantage-item.item-1 {
  background-position: 0 0;
}
.advantage-section .icon-advantage-item.item-2 {
  background-position: 0 -55px;
}
.advantage-section .icon-advantage-item.item-3 {
  background-position: 0 -110px;
}
.advantage-section .icon-advantage-item.item-4 {
  background-position: 0 -165px;
}
.advantage-section .icon-advantage-item.item-5 {
  background-position: 0 -220px;
}

.gallery-button {
  cursor: pointer;
}

.gallery-section {
  background-color: #fdfcfb;
  padding: 85px 0 113px;
}
.gallery-section .photos-slider {
  height: 640px;
  overflow: hidden;
  margin-top: 60px;
  width: 100%;
  position: relative;
}
.gallery-section .photos-slider .gallery-button {
  position: absolute;
  top: 50%;
  width: 46px;
  height: 79px;
  margin-top: -39px;
  cursor: pointer;
}
.gallery-section .photos-slider .gallery-button.left-arrow {
  left: 0;
  margin-left: 127px;
  background-position: 0 -53px;
}
.gallery-section .photos-slider .gallery-button.right-arrow {
  right: 0;
  margin-right: 127px;
  background-position: 0 -134px;
}
.gallery-section .photos-slider .slides-container {
  width: 200%;
}
.gallery-section .one-col-slider img {
  display: block;
  width: 320px;
  height: 320px;
}
.gallery-section .video-block {
  padding-top: 50px;
}
.gallery-section .video-block .title-video {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  padding: 16px 0 23px;
}
.gallery-section .player-button {
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  cursor: pointer;
}
.gallery-section .player-button + .player-button {
  margin-left: 30px;
}
.gallery-section .player-button.play {
  width: 12px;
  background-position: 0 -45px;
}
.gallery-section .player-button.pause {
  width: 12px;
  background-position: 0 -30px;
}
.gallery-section .player-button.prev {
  width: 12px;
  background-position: 0 -60px;
}
.gallery-section .player-button.next {
  width: 12px;
  background-position: 0 0;
}
.gallery-section .player-button.prev-seek {
  width: 18px;
  background-position: 0 -75px;
}
.gallery-section .player-button.next-seek {
  width: 19px;
  background-position: 0 -15px;
}
.gallery-section .video-player {
  margin-right: 324px;
  height: 423px;
  border: 1px solid #e9e9e9;
  position: relative;
}
.gallery-section .video-player .video-frame {
  height: 100%;
}
.gallery-section .video-player .mask-video-player {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
}
.gallery-section .video-player .control {
  height: 41px;
  line-height: 41px;
  background-color: #e8e8e8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
  text-align: center;
  z-index: 6;
}
.gallery-section .video-player .control.no-active .player-button {
  display: none;
}
.gallery-section .video-player .play-button {
  background-position: 0 -268px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
}
.gallery-section .video-list {
  width: 314px;
  height: 425px;
  position: relative;
}
.gallery-section .video-list .gallery-button {
  position: absolute;
  left: 50%;
  width: 41px;
  height: 24px;
  margin-left: -20px;
  cursor: pointer;
}
.gallery-section .video-list .gallery-button.top-arrow {
  bottom: 100%;
  margin-bottom: 27px;
  background-position: 0 -242px;
}
.gallery-section .video-list .gallery-button.top-arrow.disabled {
  background-position: 0 -215px;
}
.gallery-section .video-list .gallery-button.bottom-arrow {
  top: 100%;
  margin-top: 27px;
  background-position: 0 -27px;
}
.gallery-section .video-list .gallery-button.bottom-arrow.disabled {
  background-position: 0 0;
}
.gallery-section .video-list ul {
  height: 100%;
  overflow: hidden;
}
.gallery-section .video-list li {
  padding-bottom: 11px;
}
.gallery-section .video-list li.opened .mask-preview {
  display: none;
}
.gallery-section .video-list .video-preview {
  position: relative;
  border: 1px solid #e9e9e9;
  width: 306px;
  height: 205px;
}
.gallery-section .video-list .video-preview img {
  width: 100%;
  height: 100%;
}
.gallery-section .video-list .video-preview .mask-preview {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background-color: rgba(88, 170, 70, 0.75);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: -1px;
  line-height: 204px;
  padding: 0 50px;
  text-align: center;
}
.gallery-section .video-list .video-preview .mask-preview p {
  color: #fff;
  display: inline-block;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
}

.callback-form-section {
  background: url(images/contacts-bg.png) #fff;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.callback-form-section h3 {
  width: 690px;
  text-align: center;
  line-height: 36px;
  font-size: 30px;
  font-weight: 900;
  color: #58aa46;
  text-transform: none;
}
.callback-form-section form {
  background: url(images/contacts-form-bg.png) 415px bottom no-repeat;
  padding-top: 69px;
  padding-bottom: 79px;
}
.callback-form-section form .fieldset {
  width: 268px;
  margin-top: 53px;
  margin-left: 114px;
}
.callback-form-section form .fieldset input, .callback-form-section form .fieldset button {
  width: 100%;
}
.callback-form-section form .fieldset .fieldset-row + .fieldset-row {
  margin-top: 8px;
}
.callback-form-section form .fieldset input {
  border: 1px solid #e8e8e8;
}

.process-section {
  position: relative;
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 150px;
  overflow: hidden;
}
.process-section .background-process-section {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: url(images/tree-left.jpg) left top no-repeat;
}
.process-section .background-process-section .content-process-section {
  background: url(images/tree-right.jpg) right top no-repeat;
  height: 100%;
}
.process-section .center-content {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1780px) {
    .process-section .background-process-section {
    right: auto;
    width: 1780px;
    left: 50%;
    margin-left: -890px;
  }
}
.process-list {
  font-weight: 600;
  margin-top: 95px;
  font-size: 16px;
  color: #473423;
  text-align: center;
}
.process-list p {
  margin-top: 15px;
}
.process-list li {
  position: relative;
}
.process-list li + li:after {
  display: block;
  content: "";
  position: absolute;
  width: 17px;
  height: 29px;
  left: -8px;
  top: 10px;
  background-image: url(images/process-arrow.png);
}

.process-list-icon {
  width: 72px;
  height: 55px;
  margin: 0 auto;
  line-height: 24px;
}
.process-list-icon.step-1 {
  background-position: 0 0;
}
.process-list-icon.step-2 {
  background-position: 0 -57px;
}
.process-list-icon.step-3 {
  background-position: 0 -114px;
}
.process-list-icon.step-4 {
  background-position: 0 -171px;
}
.process-list-icon.step-5 {
  background-position: 0 -228px;
}

.payments-section {
  background: url(images/payments-section-background.png) #f8f8f8;
  padding-top: 100px;
}
.payments-section h2 {
  padding-bottom: 33px;
}
.payments-section p {
  line-height: 24px;
  margin-top: 35px;
}
.payments-section strong {
  font-size: 18px;
  color: #58aa46;
}

.payments-section-content {
  padding: 0 47px 78px;
}

.transfers-icons-block, .payments-icons-block {
  margin-top: 24px;
}

.transfer-icon {
  border: 1px solid #eee6d5;
  height: 34px;
}
.transfer-icon.transfer-icon-1 {
  background-position: 0 0;
  width: 121px;
}
.transfer-icon.transfer-icon-2 {
  background-position: 0 -36px;
  width: 93px;
}
.transfer-icon.transfer-icon-3 {
  background-position: 0 -72px;
  width: 71px;
}
.transfer-icon.transfer-icon-4 {
  background-position: 0 -108px;
  width: 125px;
}
.transfer-icon.transfer-icon-5 {
  background-position: 0 -144px;
  width: 52px;
}
.transfer-icon.transfer-icon-6 {
  background-position: 0 -180px;
  width: 59px;
}
.transfer-icon.transfer-icon-7 {
  background-position: 0 -216px;
  width: 67px;
}
.transfer-icon + .transfer-icon {
  margin-left: 6px;
}

.payment-icon {
  width: 50px;
  height: 30px;
}
.payment-icon.payment-icon-1 {
  background-position: 0 0;
}
.payment-icon.payment-icon-2 {
  background-position: 0 -32px;
}
.payment-icon.payment-icon-3 {
  background-position: 0 -64px;
}
.payment-icon.payment-icon-4 {
  background-position: 0 -96px;
}
.payment-icon.payment-icon-5 {
  background-position: 0 -128px;
}
.payment-icon + .payment-icon {
  margin-left: 7px;
}

.about-section {
  background-color: #fff;
  padding-bottom: 86px;
  font-weight: 600;
  line-height: 24px;
}
.about-section .center-content {
  padding-bottom: 10px;
  padding-top: 107px;
  background: url(images/about-background.png) 15px bottom no-repeat;
}
.about-section .about-section-content {
  margin-left: 320px;
  margin-top: 70px;
  margin-right: 45px;
}
.about-section p {
  text-indent: 35px;
}
.about-section p + p {
  margin-top: 1em;
}

.contacts-section {
  padding-top: 99px;
  background: url(images/contacts-background.png) #fff;
}
.contacts-section .contacts-map {
  width: 110px;
  height: 115px;
  background: url(images/contacts-map.png) no-repeat;
}
.contacts-section .address-block {
  padding: 65px 0;
}
.contacts-section .address-block .address-block-content {
  margin: 0 150px 0 240px;
}
.contacts-section .address-text {
  margin-left: 133px;
  font-weight: 600;
  color: #473423;
  font-size: 18px;
  line-height: 30px;
}
.contacts-section .phones {
  color: #57ab48;
  font-weight: 800;
}
.contacts-section .map-container {
  height: 516px;
  position: relative;
}
.contacts-section .map {
  height: 100%;
}
.contacts-section .contacts-form {
  position: absolute;
  z-index: 1;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 45px;
  text-align: center;
  padding-bottom: 64px;
}
.contacts-section .contacts-form .one-field-container {
  width: 292px;
  display: inline-block;
}
.contacts-section .contacts-form .one-field-container + .one-field-container {
  margin-left: 14px;
}
.contacts-section .contacts-form input {
  border: 1px solid #e8e8e8;
}
.contacts-section .contacts-form h3 {
  line-height: 26px;
  color: #57ab48;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  width: 490px;
  margin: 0 auto 25px;
  text-transform: none;
}

footer {
  color: #473423;
  font-size: 14px;
  line-height: 24px;
  padding: 37px 0 38px;
  background-color: #fff;
  white-space: nowrap;
}
footer .float-left {
  font-weight: 600;
}

.green-color {
  color: #57ab48;
}

.to-back-button {
  width: 46px;
  height: 46px;
  display: block;
  position: fixed;
  background-image: url(images/back-button/to-begin.png);
  right: 30px;
  bottom: 30px;
}
.to-back-button:hover {
  background-image: url(images/back-button/to-begin-enabled.png);
}
.to-back-button.selected {
  display: none;
}

.anchor {
  display: block;
}
.anchor.padding-anchor {
  margin-top: -40px;
  padding-bottom: 40px;
}

.callback-form-popup {
  width: 562px;
  height: 347px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -281px;
  margin-top: -190px;
  background-color: rgba(255, 255, 255, 0.75);
  display: none;
  z-index: 7;
  text-align: center;
}
.callback-form-popup.alert-popup {
  height: auto;
}
.callback-form-popup.alert-popup h4 {
  margin: 30px;
  padding-top: 0;
}
.callback-form-popup h4 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 27px;
  line-height: 26px;
  padding-top: 30px;
  color: #58aa46;
}
.callback-form-popup form {
  padding: 30px;
}
.callback-form-popup .form-row {
  width: 282px;
  margin: 0 auto;
}
.callback-form-popup .form-row + .form-row {
  margin-top: 13px;
}
.callback-form-popup input, .callback-form-popup button {
  width: 100%;
}
.callback-form-popup input {
  border: 1px solid #e8e8e8;
}

.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.popup-background {
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.form-row {
  position: relative;
}

.error-field {
  position: absolute;
  background-color: #58AA46;
  color: #fff;
  bottom: 100%;
  margin-bottom: 1px;
  font-size: 10px;
  padding: 2px 10px;
  font-weight: bold;
  right: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.close-popup-button {
  float: right;
  margin: 11px 12px 0 0;
  background: url(images/close-button.png) center center no-repeat;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
