@media screen and (max-width: 800px) and (min-width: 420px) {
  footer {
    .footer-col {
      width: 50%;
    }
  }
}
@media screen and (max-width: 800px) {
  footer {
    .footer-menu {
      margin: 0;
    }
  }
}
@media screen and (max-width: 420px) {
  footer {
    .footer-col {
      float: none!important;
      width: 300px;
      margin: 0 auto;
      text-align: center;
      + .footer-col {
        padding-top: 0;
      }
      .submenu li {
        display: inline-block;
        margin: 0 5px;
        &:before {
          margin-right: 5px;
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }
    .logotype {
      float: none!important;
      display: inline-block;
      margin: 0;
    }
    .copyright, .social-block {
      float: none!important;
      text-align: center;
    }
    .footer-menu-block {
      padding-bottom: 80px;
    }
  }
}
