@media screen and (max-width: 900px) {
  header {
    padding-bottom: 15px;
    .logotype {
      img {
        width: 60px;
        height: auto;
      }
    }
    .languages-selection, .header-menu {
      line-height: 24px;
      margin: 16px 0;
    }
    .center-content {
      position: relative;
    }
  }
  #content {
    margin-top: 95px;
  }
}

@media only screen and (max-width: 800px) {
  header {
    text-align: inherit;
    .show-hide-menu {
      display: block;
    }
    .header-menu {
      display: none;
      position: absolute;
      li {
        display: block;
      }
    }
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  header {
    .header-menu {
      right: 5px;
      top: 100%;
      background-color: rgba(229, 229, 229, 0.9);
      @include border-radius(5px);
      margin: 0;
      ul {
        position: relative;
        padding: 10px 18px;
      }
      ul:after {
        content: '';
        position: absolute;
        border-width: 0 9px 9px;
        border-style: solid;
        border-color: transparent transparent rgba(229, 229, 229, 0.9);
        bottom: 100%;
        right: 113px;
      }
      li {
        display: block;
        margin: 0;
        width: 150px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  header {
    .center-content {
      margin: 0;
      padding: 0 3%;
      width: auto;
    }
    .header-menu {
      left: 0;
      right: 0;
      top: 100%;
      background-color: rgba(229, 229, 229, 0.9);
      overflow: hidden;
      li {
        a {
          display: block;
          line-height: 60px;
          height: auto;
          padding: 0 20px;
          margin: -5px -20px;
        }
      }
    }
  }
}
