body {
    margin: 0;
    background: url(images/bg_orn_medium.jpg);
    color: #FFF;
    font: 13px Arial, Helvetica, Verdana, Tahoma normal normal;
}
a:hover {
    color: yellow;
    text-decoration: none;
}
#anim-head {
    margin: 30px auto;
    width: 960px;
    height:560px;
}
.logotype {
    margin: 0 auto;
    display: block;
    position: relative;
}
.logotype img.logo_img {
    width: 100%;
}
.cell-content {
    padding: 15px 0;
    text-align: center;
}
.cell-content img {
    vertical-align: middle;
}
.title-item {
    text-align: center;
    font-weight: bold;
    margin: 10px 0 0;
}
.header-cell {
    display: block;
    color: #FFF;
}