/* line 2, ../sass/_reset.scss */
body {
  margin: 10px;
  font: 15px Arial, sans-serif;
  background: url(images/body-background.png);
  position: relative;
}

/* line 8, ../sass/_reset.scss */
input, select, textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
}

/* line 15, ../sass/_reset.scss */
ul, li {
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/_reset.scss */
ul {
  list-style-type: none;
}

/* line 22, ../sass/_reset.scss */
a, input, button, textarea, select {
  outline: none;
}

/* line 25, ../sass/_reset.scss */
a img {
  border: 0 none;
}

/* line 28, ../sass/_reset.scss */
button {
  border: 0 none;
  margin: 0;
  padding: 0;
  background: none;
}

/* line 34, ../sass/_reset.scss */
.bold {
  font-weight: bold;
}

/* line 37, ../sass/_reset.scss */
.pointer {
  cursor: pointer;
}

/* line 40, ../sass/_reset.scss */
.inline-block {
  display: inline-block;
  vertical-align: middle;
}

/* line 44, ../sass/_reset.scss */
.block {
  display: block;
}

/* line 47, ../sass/_reset.scss */
.inline {
  display: inline;
}

/* line 50, ../sass/_reset.scss */
.no-decoration {
  text-decoration: none;
}

/* line 53, ../sass/_reset.scss */
.text-center {
  text-align: center;
}

/* line 56, ../sass/_reset.scss */
.small {
  font-size: 0.73em;
}

/* line 59, ../sass/_reset.scss */
.float-right {
  float: right;
}

/* line 62, ../sass/_reset.scss */
.float-left {
  float: left;
}

/* line 65, ../sass/_reset.scss */
.clear-both {
  height: 0;
  line-height: 0;
  float: none;
  font-size: 0;
}

/* line 72, ../sass/_reset.scss */
table tr td:first-child {
  width: 200px;
}

/* line 76, ../sass/_reset.scss */
.first-title {
  padding-top: 45px;
}

/* line 79, ../sass/_reset.scss */
.no-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 82, ../sass/_reset.scss */
table td {
  padding: 10px 20px;
}

/* line 85, ../sass/_reset.scss */
table td.h1 {
  padding-top: 40px;
  padding-bottom: 25px;
}

/* line 89, ../sass/_reset.scss */
.title-element {
  color: #888888;
  text-shadow: 0 1px 0 #ffffff;
}

/* line 93, ../sass/_reset.scss */
.no-bold {
  font-weight: normal;
}

/* line 96, ../sass/_reset.scss */
.gray-text {
  color: #929292;
}

/* line 99, ../sass/_reset.scss */
.dark-gray-text {
  color: #666666;
}

/* line 102, ../sass/_reset.scss */
.white-text {
  color: #fff;
}

/* line 105, ../sass/_reset.scss */
.arial-font {
  font-family: Arial, sans-serif;
}

/* line 108, ../sass/_reset.scss */
.verdana-font {
  font-family: Verdana, sans-serif;
}

/* line 1, ../sass/lego/_links.scss */
a, .link {
  color: #347abf;
}
/* line 3, ../sass/lego/_links.scss */
a:hover, .link:hover {
  color: #0087ff;
}
/* line 6, ../sass/lego/_links.scss */
a:active, .link:active {
  color: #00367c;
}
/* line 10, ../sass/lego/_links.scss */
a.white-text:hover, a.white-text:active, .link.white-text:hover, .link.white-text:active {
  color: #fff;
}
/* line 15, ../sass/lego/_links.scss */
a.no-decoration:hover, a.no-decoration:active, .link.no-decoration:hover, .link.no-decoration:active {
  text-decoration: underline;
}
/* line 19, ../sass/lego/_links.scss */
a.blue-text-link, a.white-text-link, a.gray-text-link, .link.blue-text-link, .link.white-text-link, .link.gray-text-link {
  text-decoration: none;
}
/* line 23, ../sass/lego/_links.scss */
a.white-text-link:hover, a.white-text-link:active, a.gray-text-link:hover, a.gray-text-link:active, .link.white-text-link:hover, .link.white-text-link:active, .link.gray-text-link:hover, .link.gray-text-link:active {
  border-bottom: 1px dotted;
}
/* line 27, ../sass/lego/_links.scss */
a.blue-text-link, .link.blue-text-link {
  color: #a5bcd9;
  border-bottom: 1px dotted;
}
/* line 30, ../sass/lego/_links.scss */
a.blue-text-link:hover, .link.blue-text-link:hover {
  color: #98bff7;
}
/* line 33, ../sass/lego/_links.scss */
a.blue-text-link:active, .link.blue-text-link:active {
  color: #00367c;
}
/* line 37, ../sass/lego/_links.scss */
a.white-text-link, .link.white-text-link {
  color: #fff;
}
/* line 39, ../sass/lego/_links.scss */
a.white-text-link:active, .link.white-text-link:active {
  color: #c8dbee;
}
/* line 43, ../sass/lego/_links.scss */
a.gray-text-link, .link.gray-text-link {
  color: #a4a4a4;
}
/* line 45, ../sass/lego/_links.scss */
a.gray-text-link:hover, .link.gray-text-link:hover {
  color: #7f7f7f;
}
/* line 48, ../sass/lego/_links.scss */
a.gray-text-link:active, .link.gray-text-link:active {
  color: #333333;
}
/* line 52, ../sass/lego/_links.scss */
a.gray-text-link.small:hover, a.gray-text-link.small:active, .link.gray-text-link.small:hover, .link.gray-text-link.small:active {
  border: none;
  text-decoration: underline;
}
/* line 56, ../sass/lego/_links.scss */
a.gray-text-link.small:hover, .link.gray-text-link.small:hover {
  color: #a6a6a6;
}
/* line 59, ../sass/lego/_links.scss */
a.gray-text-link.small:active, .link.gray-text-link.small:active {
  color: #7f7f7f;
}

/* line 65, ../sass/lego/_links.scss */
.blue-text-pseudo {
  color: #86b5e4;
}
/* line 67, ../sass/lego/_links.scss */
.blue-text-pseudo:hover, .blue-text-pseudo:active {
  color: #0095fc;
}

/* line 3, ../sass/lego/_buttons.scss */
.button {
  font-size: 15px;
  font-family: Arial, sans-serif;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  height: 31px;
  line-height: 31px;
}
/* line 11, ../sass/lego/_buttons.scss */
.button.white {
  color: #474747;
  padding: 0 19px;
  border: 1px solid #cccccc;
  background: #f1f1f1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
/* line 17, ../sass/lego/_buttons.scss */
.button.white:hover {
  background: #ffffff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
  background-image: -moz-linear-gradient(#ffffff, #dfdfdf);
  background-image: -webkit-linear-gradient(#ffffff, #dfdfdf);
  background-image: linear-gradient(#ffffff, #dfdfdf);
}
/* line 21, ../sass/lego/_buttons.scss */
.button.white:active, .button.white.active {
  background: #dfdfdf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(#dfdfdf, #ffffff);
  background-image: -webkit-linear-gradient(#dfdfdf, #ffffff);
  background-image: linear-gradient(#dfdfdf, #ffffff);
  -moz-box-shadow: 0 1px 0 #d8d8d8 inset;
  -webkit-box-shadow: 0 1px 0 #d8d8d8 inset;
  box-shadow: 0 1px 0 #d8d8d8 inset;
}
/* line 26, ../sass/lego/_buttons.scss */
.button.white.disable {
  cursor: default;
}
/* line 28, ../sass/lego/_buttons.scss */
.button.white.disable, .button.white.disable:active, .button.white.disable:hover {
  color: #a0a0a0;
}
/* line 31, ../sass/lego/_buttons.scss */
.button.white.disable:active, .button.white.disable:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
/* line 34, ../sass/lego/_buttons.scss */
.button.white.disable:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 39, ../sass/lego/_buttons.scss */
.button.blue {
  padding: 0 20px;
  color: #fff;
  background: #489edd;
  border-top: 1px solid #489edd;
  border-bottom: 1px solid #0f6dcb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4OWVkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmNmRjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #489edd), color-stop(100%, #0f6dcb));
  background-image: -moz-linear-gradient(#489edd, #0f6dcb);
  background-image: -webkit-linear-gradient(#489edd, #0f6dcb);
  background-image: linear-gradient(#489edd, #0f6dcb);
}
/* line 46, ../sass/lego/_buttons.scss */
.button.blue:hover {
  background: #00a4ff;
  border-bottom-color: #007ef2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTRmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2VmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a4ff), color-stop(100%, #007ef2));
  background-image: -moz-linear-gradient(#00a4ff, #007ef2);
  background-image: -webkit-linear-gradient(#00a4ff, #007ef2);
  background-image: linear-gradient(#00a4ff, #007ef2);
}
/* line 51, ../sass/lego/_buttons.scss */
.button.blue:active, .button.blue.active {
  background: #1569b8;
  border-bottom-color: #2f82c8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1NjliOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmODJjOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1569b8), color-stop(100%, #2f82c8));
  background-image: -moz-linear-gradient(#1569b8, #2f82c8);
  background-image: -webkit-linear-gradient(#1569b8, #2f82c8);
  background-image: linear-gradient(#1569b8, #2f82c8);
  border-top-color: #02478a;
}
/* line 58, ../sass/lego/_buttons.scss */
.button.flat, label.decor-button input[type="checkbox"] + span {
  border: 1px solid #cdcdcd;
  color: #a9a9a9;
  height: 31px;
  line-height: 31px;
  padding: 0 19px;
}
/* line 65, ../sass/lego/_buttons.scss */
.button.flat.dinamic:hover, label.decor-button input[type="checkbox"] + span:hover, label.decor-button input[type="checkbox"]:focus + span {
  border-color: #9b9b9b;
  color: #808080;
}
/* line 70, ../sass/lego/_buttons.scss */
.button.flat.dinamic:active, label.decor-button input[type="checkbox"] + span.dinamic:active, label.decor-button input[type="checkbox"]:checked + span, .button.flat.active, label.decor-button input[type="checkbox"] + span.active {
  color: #fff;
  border-color: #9c9c9c;
  background: url(images/flat-button-bg.png);
}
/* line 77, ../sass/lego/_buttons.scss */
.button.square, label.decor-button.square input[type="checkbox"] + span {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
/* line 81, ../sass/lego/_buttons.scss */
.button.square.blue, label.decor-button.square input[type="checkbox"] + span.blue {
  width: 33px;
}
/* line 84, ../sass/lego/_buttons.scss */
.button.square.flat, label.decor-button input[type="checkbox"] + span.square, label.decor-button.square input[type="checkbox"] + span, .button.square.white, label.decor-button.square input[type="checkbox"] + span.white {
  width: 31px;
}
/* line 88, ../sass/lego/_buttons.scss */
.button.rounded, label.decor-button.rounded input[type="checkbox"] + span {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  line-height: 26px;
  height: 26px;
}
/* line 92, ../sass/lego/_buttons.scss */
.button.rounded.blue, label.decor-button.rounded input[type="checkbox"] + span.blue {
  padding: 0 15px;
}
/* line 95, ../sass/lego/_buttons.scss */
.button.rounded.flat, label.decor-button input[type="checkbox"] + span.rounded, label.decor-button.rounded input[type="checkbox"] + span, .button.rounded.white, label.decor-button.rounded input[type="checkbox"] + span.white {
  padding: 0 14px;
}

/* line 101, ../sass/lego/_buttons.scss */
label.decor-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
/* line 105, ../sass/lego/_buttons.scss */
label.decor-button input[type="checkbox"] {
  position: absolute;
  margin-top: -30px;
}
/* line 108, ../sass/lego/_buttons.scss */
label.decor-button input[type="checkbox"] + span {
  display: inline-block;
  cursor: pointer;
}

/* line 1, ../sass/lego/_contextual.scss */
.blue-hint {
  position: absolute;
  font-size: 15px;
  line-height: 19px;
  z-index: 301;
  width: auto;
  max-width: 250px;
  margin-top: -7px;
}
/* line 9, ../sass/lego/_contextual.scss */
.blue-hint.hint-position-bottom {
  margin-top: 7px;
}
/* line 12, ../sass/lego/_contextual.scss */
.blue-hint .content-hint {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  background: rgba(74, 129, 200, 0.9);
  width: 100%;
  color: #FFF;
  cursor: default;
}
/* line 20, ../sass/lego/_contextual.scss */
.blue-hint .title-hint {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
  background: rgba(74, 129, 200, 0.9);
  text-align: center;
  padding: 5px 10px;
}
/* line 27, ../sass/lego/_contextual.scss */
.blue-hint .text-hint {
  padding: 5px 10px;
}
/* line 30, ../sass/lego/_contextual.scss */
.blue-hint .arrow-hint {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -7px;
  width: 16px;
  height: 7px;
  margin-left: -8px;
}
/* line 41, ../sass/lego/_contextual.scss */
.blue-hint .title-hint + .text-hint + .arrow-hint {
  background-position: 0 0;
}
/* line 44, ../sass/lego/_contextual.scss */
.blue-hint.hint-position-top .text-hint + .arrow-hint {
  top: 100%;
  background-position: 0 -7px;
  margin-top: 0;
}

/* line 1, ../sass/lego/_texts.scss */
body {
  color: #333333;
  font-size: 15px;
}

/* line 5, ../sass/lego/_texts.scss */
h1, h2, h3, h4, h5, p {
  margin: 0;
}

/* line 8, ../sass/lego/_texts.scss */
h1, .h1 {
  font-size: 1.9em;
}

/* line 11, ../sass/lego/_texts.scss */
h2, .h2 {
  font-size: 1.2em;
}

/* line 14, ../sass/lego/_texts.scss */
h3, .h3 {
  font-size: 1em;
}

/* line 17, ../sass/lego/_texts.scss */
p {
  margin: 0;
}

/* line 22, ../sass/lego/_texts.scss */
.sign.arial-font {
  font-size: 0.85em;
}
/* line 25, ../sass/lego/_texts.scss */
.sign.verdana-font {
  font-size: 0.75em;
}

/* line 232, social/*.png */
.social-sprite, .social-button .inset {
  background-image: url('images/sprites/social-s52185cf0ba.png');
  background-repeat: no-repeat;
}

/* line 4, ../sass/lego/_social.scss */
.social-button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 33px;
  line-height: 33px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
/* line 12, ../sass/lego/_social.scss */
.social-button, .social-button:hover, .social-button:active {
  color: #fff;
}
/* line 15, ../sass/lego/_social.scss */
.social-button .inset {
  display: block;
  padding: 0 18px 0 53px;
  height: 33px;
  text-align: center;
}
/* line 22, ../sass/lego/_social.scss */
.social-button.mini {
  width: 33px;
  height: 33px;
  color: #0069cd;
}
/* line 26, ../sass/lego/_social.scss */
.social-button.mini .inset {
  padding: 0;
  font-weight: normal;
}
/* line 29, ../sass/lego/_social.scss */
.social-button.mini .inset:before {
  height: 33px;
  width: 45px;
  float: left;
  display: block;
  content: '';
}
/* line 37, ../sass/lego/_social.scss */
.social-button.mini.without-text {
  overflow: hidden;
}
/* line 41, ../sass/lego/_social.scss */
.social-button.gray {
  background-color: #474747;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3NDc0NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3MzczNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #474747), color-stop(100%, #373737));
  background-image: -moz-linear-gradient(#474747, #373737);
  background-image: -webkit-linear-gradient(#474747, #373737);
  background-image: linear-gradient(#474747, #373737);
  color: #9e9e9e;
}
/* line 45, ../sass/lego/_social.scss */
.social-button.gray:hover, .social-button.gray:active {
  color: #fff;
}
/* line 49, ../sass/lego/_social.scss */
.social-button.gray.mini:hover, .social-button.gray.mini:active {
  color: #0069cd;
}

/* line 56, ../sass/lego/_social.scss */
.facebook {
  background: #4e71c0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlNzFjMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNWE5YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4e71c0), color-stop(100%, #3a5a9c));
  background-image: -moz-linear-gradient(#4e71c0, #3a5a9c);
  background-image: -webkit-linear-gradient(#4e71c0, #3a5a9c);
  background-image: linear-gradient(#4e71c0, #3a5a9c);
}
/* line 59, ../sass/lego/_social.scss */
.facebook:hover {
  background: #5982db;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5ODJkYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQyNjRhZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5982db), color-stop(100%, #4264af));
  background-image: -moz-linear-gradient(#5982db, #4264af);
  background-image: -webkit-linear-gradient(#5982db, #4264af);
  background-image: linear-gradient(#5982db, #4264af);
}
/* line 63, ../sass/lego/_social.scss */
.facebook:active {
  background: #3a589b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNTg5YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRmNzNjMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a589b), color-stop(100%, #4f73c2));
  background-image: -moz-linear-gradient(#3a589b, #4f73c2);
  background-image: -webkit-linear-gradient(#3a589b, #4f73c2);
  background-image: linear-gradient(#3a589b, #4f73c2);
}
/* line 67, ../sass/lego/_social.scss */
.facebook .inset {
  background-position: 0 -35px;
}
/* line 71, ../sass/lego/_social.scss */
.facebook.gray .inset {
  background-position: 0 0;
}
/* line 75, ../sass/lego/_social.scss */
.facebook.gray:hover .inset, .facebook.gray:active .inset {
  background-position: 0 -35px;
}

/* line 82, ../sass/lego/_social.scss */
.twitter {
  background: #00d1ff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwZDFmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWZmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d1ff), color-stop(100%, #009ff4));
  background-image: -moz-linear-gradient(#00d1ff, #009ff4);
  background-image: -webkit-linear-gradient(#00d1ff, #009ff4);
  background-image: linear-gradient(#00d1ff, #009ff4);
}
/* line 85, ../sass/lego/_social.scss */
.twitter:hover {
  background: #00d2ff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwZDJmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYjJmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d2ff), color-stop(100%, #00b2ff));
  background-image: -moz-linear-gradient(#00d2ff, #00b2ff);
  background-image: -webkit-linear-gradient(#00d2ff, #00b2ff);
  background-image: linear-gradient(#00d2ff, #00b2ff);
}
/* line 89, ../sass/lego/_social.scss */
.twitter:active {
  background: #009ff4;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWZmNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYmFmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ff4), color-stop(100%, #00baf4));
  background-image: -moz-linear-gradient(#009ff4, #00baf4);
  background-image: -webkit-linear-gradient(#009ff4, #00baf4);
  background-image: linear-gradient(#009ff4, #00baf4);
}
/* line 93, ../sass/lego/_social.scss */
.twitter .inset {
  background-position: 0 -595px;
}
/* line 97, ../sass/lego/_social.scss */
.twitter.gray .inset {
  background-position: 0 -560px;
}
/* line 101, ../sass/lego/_social.scss */
.twitter.gray:hover .inset, .twitter.gray:active .inset {
  background-position: 0 -595px;
}

/* line 108, ../sass/lego/_social.scss */
.google {
  background: #df4a32;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmNGEzMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M2MzExOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df4a32), color-stop(100%, #c63119));
  background-image: -moz-linear-gradient(#df4a32, #c63119);
  background-image: -webkit-linear-gradient(#df4a32, #c63119);
  background-image: linear-gradient(#df4a32, #c63119);
}
/* line 111, ../sass/lego/_social.scss */
.google:hover {
  background: #ff583b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTgzYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViM2IxZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff583b), color-stop(100%, #eb3b1d));
  background-image: -moz-linear-gradient(#ff583b, #eb3b1d);
  background-image: -webkit-linear-gradient(#ff583b, #eb3b1d);
  background-image: linear-gradient(#ff583b, #eb3b1d);
}
/* line 115, ../sass/lego/_social.scss */
.google:active {
  background: #c63018;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2MzAxOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmNGEzMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c63018), color-stop(100%, #df4a32));
  background-image: -moz-linear-gradient(#c63018, #df4a32);
  background-image: -webkit-linear-gradient(#c63018, #df4a32);
  background-image: linear-gradient(#c63018, #df4a32);
}
/* line 119, ../sass/lego/_social.scss */
.google .inset {
  background-position: 0 -105px;
}
/* line 123, ../sass/lego/_social.scss */
.google.gray .inset {
  background-position: 0 -70px;
}
/* line 127, ../sass/lego/_social.scss */
.google.gray:hover .inset, .google.gray:active .inset {
  background-position: 0 -105px;
}

/* line 134, ../sass/lego/_social.scss */
.vkontakte {
  background: #3183c8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxODNjOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEwNjViNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3183c8), color-stop(100%, #1065b5));
  background-image: -moz-linear-gradient(#3183c8, #1065b5);
  background-image: -webkit-linear-gradient(#3183c8, #1065b5);
  background-image: linear-gradient(#3183c8, #1065b5);
}
/* line 137, ../sass/lego/_social.scss */
.vkontakte:hover {
  background: #3592e1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1OTJlMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExNzFjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3592e1), color-stop(100%, #1171cb));
  background-image: -moz-linear-gradient(#3592e1, #1171cb);
  background-image: -webkit-linear-gradient(#3592e1, #1171cb);
  background-image: linear-gradient(#3592e1, #1171cb);
}
/* line 141, ../sass/lego/_social.scss */
.vkontakte:active {
  background: #0f64b5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmNjRiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMwODNjOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0f64b5), color-stop(100%, #3083c8));
  background-image: -moz-linear-gradient(#0f64b5, #3083c8);
  background-image: -webkit-linear-gradient(#0f64b5, #3083c8);
  background-image: linear-gradient(#0f64b5, #3083c8);
}
/* line 145, ../sass/lego/_social.scss */
.vkontakte .inset {
  background-position: 0 -665px;
}
/* line 149, ../sass/lego/_social.scss */
.vkontakte.gray .inset {
  background-position: 0 -630px;
}
/* line 153, ../sass/lego/_social.scss */
.vkontakte.gray:hover .inset, .vkontakte.gray:active .inset {
  background-position: 0 -665px;
}

/* line 160, ../sass/lego/_social.scss */
.kaixin {
  background: #e91916;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5MTkxNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e91916), color-stop(100%, #b30000));
  background-image: -moz-linear-gradient(#e91916, #b30000);
  background-image: -webkit-linear-gradient(#e91916, #b30000);
  background-image: linear-gradient(#e91916, #b30000);
}
/* line 163, ../sass/lego/_social.scss */
.kaixin:hover {
  background: #ff2426;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMjQyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QxMDEwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff2426), color-stop(100%, #d10101));
  background-image: -moz-linear-gradient(#ff2426, #d10101);
  background-image: -webkit-linear-gradient(#ff2426, #d10101);
  background-image: linear-gradient(#ff2426, #d10101);
}
/* line 167, ../sass/lego/_social.scss */
.kaixin:active {
  background: #cf0000;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlMjQyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cf0000), color-stop(100%, #fe2426));
  background-image: -moz-linear-gradient(#cf0000, #fe2426);
  background-image: -webkit-linear-gradient(#cf0000, #fe2426);
  background-image: linear-gradient(#cf0000, #fe2426);
}
/* line 171, ../sass/lego/_social.scss */
.kaixin .inset {
  background-position: 0 -245px;
}
/* line 175, ../sass/lego/_social.scss */
.kaixin.gray .inset {
  background-position: 0 -175px;
}
/* line 180, ../sass/lego/_social.scss */
.kaixin:hover .inset {
  background-position: 0 -210px;
}
/* line 185, ../sass/lego/_social.scss */
.kaixin:active .inset {
  background-position: 0 -140px;
}

/* line 191, ../sass/lego/_social.scss */
.renren {
  background: #0087e1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODdlMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTVhOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0087e1), color-stop(100%, #0055a9));
  background-image: -moz-linear-gradient(#0087e1, #0055a9);
  background-image: -webkit-linear-gradient(#0087e1, #0055a9);
  background-image: linear-gradient(#0087e1, #0055a9);
}
/* line 194, ../sass/lego/_social.scss */
.renren:hover {
  background: #00a1ff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTFmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNjhjMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a1ff), color-stop(100%, #0068c3));
  background-image: -moz-linear-gradient(#00a1ff, #0068c3);
  background-image: -webkit-linear-gradient(#00a1ff, #0068c3);
  background-image: linear-gradient(#00a1ff, #0068c3);
}
/* line 198, ../sass/lego/_social.scss */
.renren:active {
  background: #0054a8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTRhOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODZlMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0054a8), color-stop(100%, #0086e0));
  background-image: -moz-linear-gradient(#0054a8, #0086e0);
  background-image: -webkit-linear-gradient(#0054a8, #0086e0);
  background-image: linear-gradient(#0054a8, #0086e0);
}
/* line 202, ../sass/lego/_social.scss */
.renren .inset {
  background-position: 0 -525px;
}
/* line 206, ../sass/lego/_social.scss */
.renren.gray .inset {
  background-position: 0 -455px;
}
/* line 211, ../sass/lego/_social.scss */
.renren:hover .inset {
  background-position: 0 -490px;
}
/* line 216, ../sass/lego/_social.scss */
.renren:active .inset {
  background-position: 0 -420px;
}

/* line 222, ../sass/lego/_social.scss */
.weibo {
  background: #f12800;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxMjgwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QzMDEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f12800), color-stop(100%, #d30100));
  background-image: -moz-linear-gradient(#f12800, #d30100);
  background-image: -webkit-linear-gradient(#f12800, #d30100);
  background-image: linear-gradient(#f12800, #d30100);
}
/* line 225, ../sass/lego/_social.scss */
.weibo:hover {
  background: #ff3600;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzYwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwMDEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3600), color-stop(100%, #f00100));
  background-image: -moz-linear-gradient(#ff3600, #f00100);
  background-image: -webkit-linear-gradient(#ff3600, #f00100);
  background-image: linear-gradient(#ff3600, #f00100);
}
/* line 229, ../sass/lego/_social.scss */
.weibo:active {
  background: #d20000;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwMjcwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d20000), color-stop(100%, #f02700));
  background-image: -moz-linear-gradient(#d20000, #f02700);
  background-image: -webkit-linear-gradient(#d20000, #f02700);
  background-image: linear-gradient(#d20000, #f02700);
}
/* line 233, ../sass/lego/_social.scss */
.weibo .inset {
  background-position: 0 -805px;
}
/* line 237, ../sass/lego/_social.scss */
.weibo.gray .inset {
  background-position: 0 -735px;
}
/* line 242, ../sass/lego/_social.scss */
.weibo:hover .inset {
  background-position: 0 -770px;
}
/* line 247, ../sass/lego/_social.scss */
.weibo:active .inset {
  background-position: 0 -700px;
}

/* line 253, ../sass/lego/_social.scss */
.qq {
  background: #0092f1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTJmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNGU5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0092f1), color-stop(100%, #004e95));
  background-image: -moz-linear-gradient(#0092f1, #004e95);
  background-image: -webkit-linear-gradient(#0092f1, #004e95);
  background-image: linear-gradient(#0092f1, #004e95);
}
/* line 256, ../sass/lego/_social.scss */
.qq:hover {
  background: #00acff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWNmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNjBhZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00acff), color-stop(100%, #0060ad));
  background-image: -moz-linear-gradient(#00acff, #0060ad);
  background-image: -webkit-linear-gradient(#00acff, #0060ad);
  background-image: linear-gradient(#00acff, #0060ad);
}
/* line 260, ../sass/lego/_social.scss */
.qq:active {
  background: #005097;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTA5NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTJmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005097), color-stop(100%, #0092f1));
  background-image: -moz-linear-gradient(#005097, #0092f1);
  background-image: -webkit-linear-gradient(#005097, #0092f1);
  background-image: linear-gradient(#005097, #0092f1);
}
/* line 264, ../sass/lego/_social.scss */
.qq .inset {
  background-position: 0 -385px;
}
/* line 268, ../sass/lego/_social.scss */
.qq.gray .inset {
  background-position: 0 -315px;
}
/* line 273, ../sass/lego/_social.scss */
.qq:hover .inset {
  background-position: 0 -350px;
}
/* line 278, ../sass/lego/_social.scss */
.qq:active .inset {
  background-position: 0 -280px;
}

/* line 286, ../sass/lego/_social.scss */
.kaixin.mini .inset, .renren.mini .inset, .weibo.mini .inset, .qq.mini .inset {
  width: 32px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 1, ../sass/lego/_inputs.scss */
input, select, textarea, .textarea {
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
  font: 15px Arial, sans-serif;
  outline: none;
  color: #333333;
}

/* line 10, ../sass/lego/_inputs.scss */
textarea, .textarea, input[type="password"], input[type="text"], .text-field {
  -moz-transition: box-shadow 0.2s ease, border-color 0.2s ease;
  -o-transition: box-shadow 0.2s ease, border-color 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease, border-color 0.2s ease;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  -moz-box-shadow: 0 1px 2px #ececec inset, 0 0 0 transparent;
  -webkit-box-shadow: 0 1px 2px #ececec inset, 0 0 0 transparent;
  box-shadow: 0 1px 2px #ececec inset, 0 0 0 transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #cecece;
  background-color: #fff;
  line-height: 17px;
  padding: 4px 9px 5px;
}
/* line 19, ../sass/lego/_inputs.scss */
textarea.empty, .textarea.empty, input[type="password"].empty, input[type="text"].empty, .text-field.empty {
  color: #adadad;
}
/* line 23, ../sass/lego/_inputs.scss */
textarea.hovered:hover, .textarea.hovered:hover, input[type="password"].hovered:hover, input[type="text"].hovered:hover, .text-field.hovered:hover {
  -moz-box-shadow: 0 0 0 transparent inset, 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent inset, 0 0 0 transparent;
  box-shadow: 0 0 0 transparent inset, 0 0 0 transparent;
  border-color: #b3b3b3;
}
/* line 25, ../sass/lego/_inputs.scss */
textarea.hovered:hover.empty, .textarea.hovered:hover.empty, input[type="password"].hovered:hover.empty, input[type="text"].hovered:hover.empty, .text-field.hovered:hover.empty {
  color: #7a7a7a;
}
/* line 31, ../sass/lego/_inputs.scss */
textarea:focus, textarea.hovered:focus, .textarea:focus, .textarea.hovered:focus, input[type="password"]:focus, input[type="password"].hovered:focus, input[type="text"]:focus, input[type="text"].hovered:focus, .text-field:focus, .text-field.hovered:focus {
  -moz-box-shadow: 0 0 0 transparent inset, 0 0 2px #ffe279;
  -webkit-box-shadow: 0 0 0 transparent inset, 0 0 2px #ffe279;
  box-shadow: 0 0 0 transparent inset, 0 0 2px #ffe279;
  border-color: #dbc883;
}

/* line 36, ../sass/lego/_inputs.scss */
.textarea {
  vertical-align: bottom;
}

/* line 39, ../sass/lego/_inputs.scss */
.user-avatar {
  display: block;
}
/* line 41, ../sass/lego/_inputs.scss */
.user-avatar img {
  display: block;
}
/* line 45, ../sass/lego/_inputs.scss */
.user-avatar.min img {
  width: 30px;
  height: 30px;
}

/* line 51, ../sass/lego/_inputs.scss */
textarea, .textarea {
  overflow: auto;
  resize: vertical;
  width: 300px;
}

/* line 56, ../sass/lego/_inputs.scss */
.comment-form {
  white-space: nowrap;
  position: relative;
}
/* line 59, ../sass/lego/_inputs.scss */
.comment-form .user-avatar {
  margin-right: 13px;
}
/* line 62, ../sass/lego/_inputs.scss */
.comment-form textarea, .comment-form .textarea {
  resize: none;
  width: 500px;
  height: 61px;
  padding: 5px 9px 6px;
}
/* line 67, ../sass/lego/_inputs.scss */
.comment-form textarea.empty, .comment-form .textarea.empty {
  height: 30px;
}
/* line 69, ../sass/lego/_inputs.scss */
.comment-form textarea.empty + button, .comment-form .textarea.empty + button {
  display: none;
}
/* line 74, ../sass/lego/_inputs.scss */
.comment-form button {
  overflow: hidden;
  background: url(images/icons/comment-icon.png) no-repeat;
  width: 16px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 100%;
  margin-top: -26px;
  margin-left: 8px;
}
/* line 84, ../sass/lego/_inputs.scss */
.comment-form button:hover, .comment-form button:focus {
  background-position: 0 -29px;
}
/* line 87, ../sass/lego/_inputs.scss */
.comment-form button:active {
  background-position: 0 -58px;
}

/* line 94, ../sass/lego/_inputs.scss */
input[type="password"], input[type="text"], .text-field {
  width: 150px;
  height: 28px;
}
/* line 97, ../sass/lego/_inputs.scss */
.fields-group input[type="password"], .fields-group input[type="text"], .fields-group .text-field {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}
/* line 101, ../sass/lego/_inputs.scss */
.fields-group input[type="password"] + .select, .fields-group input[type="text"] + .select, .fields-group .text-field + .select {
  margin-left: -1px;
}
/* line 105, ../sass/lego/_inputs.scss */
input[type="password"].rounded, input[type="text"].rounded, .text-field.rounded {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  padding-left: 14px;
}
/* line 109, ../sass/lego/_inputs.scss */
.spinner-field input[type="password"], input[type="password"].big, .spinner-field input[type="text"], input[type="text"].big, .spinner-field .text-field, .text-field.big {
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
}
/* line 113, ../sass/lego/_inputs.scss */
.spinner-field input[type="password"].rounded, input[type="password"].big.rounded, .spinner-field input[type="text"].rounded, input[type="text"].big.rounded, .spinner-field .text-field.rounded, .text-field.big.rounded {
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}

/* line 119, ../sass/lego/_inputs.scss */
input[type="text"].search, .text-field.search {
  padding-left: 26px;
  background-image: url(images/inputs/search-icon.png);
  background-repeat: no-repeat;
}
/* line 123, ../sass/lego/_inputs.scss */
input[type="text"].search.empty, .text-field.search.empty {
  background-position: 9px -20px;
}
/* line 125, ../sass/lego/_inputs.scss */
input[type="text"].search.empty.big, .text-field.search.empty.big {
  background-position: 9px -17px;
}
/* line 129, ../sass/lego/_inputs.scss */
input[type="text"].search, input[type="text"].search:hover, input[type="text"].search:focus, .text-field.search, .text-field.search:hover, .text-field.search:focus {
  background-position: 9px 6px;
}
/* line 130, ../sass/lego/_inputs.scss */
input[type="text"].search.big, input[type="text"].search:hover.big, input[type="text"].search:focus.big, .text-field.search.big, .text-field.search:hover.big, .text-field.search:focus.big {
  background-position: 9px 9px;
}
/* line 136, ../sass/lego/_inputs.scss */
.spinner-field input[type="text"], .spinner-field .text-field {
  font-size: 18px;
  text-align: center;
  padding-right: 16px;
  padding-left: 0;
}

/* line 144, ../sass/lego/_inputs.scss */
.spinner-field {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 33px;
}
/* line 150, ../sass/lego/_inputs.scss */
.spinner-field.bottom-border input {
  border-bottom: 3px solid #cecece;
}
/* line 155, ../sass/lego/_inputs.scss */
.spinner-field.top-border input {
  border-top: 3px solid #cecece;
}
/* line 160, ../sass/lego/_inputs.scss */
.spinner-field.bottom-border input, .spinner-field.top-border input {
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 165, ../sass/lego/_inputs.scss */
.spinner-field input {
  display: block;
  width: 100%;
  float: left;
}

/* line 172, ../sass/lego/_inputs.scss */
.spinner-buttons {
  font-size: 10px;
  display: block;
  float: right;
  text-align: center;
  height: 31px;
  vertical-align: top;
  margin: 4px 0 auto -18px;
  cursor: pointer;
  width: 18px;
  color: #c1c1c1;
  position: relative;
  z-index: 1;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 186, ../sass/lego/_inputs.scss */
.top-border .spinner-buttons {
  margin-top: 5px;
}
/* line 189, ../sass/lego/_inputs.scss */
.bottom-border .spinner-buttons {
  margin-top: 3px;
}
/* line 192, ../sass/lego/_inputs.scss */
.spinner-buttons .spinner-button {
  display: block;
  line-height: 12px;
}
/* line 195, ../sass/lego/_inputs.scss */
.spinner-buttons .spinner-button + .spinner-button {
  margin-top: 2px;
}
/* line 198, ../sass/lego/_inputs.scss */
.spinner-buttons .spinner-button:active, .spinner-buttons .spinner-button.active {
  color: #199ffd;
}
/* line 203, ../sass/lego/_inputs.scss */
.top-border .spinner-buttons .spinner-button + .spinner-button, .bottom-border .spinner-buttons .spinner-button + .spinner-button {
  margin-top: 1px;
}
/* line 207, ../sass/lego/_inputs.scss */
input.hovered:hover + .spinner-buttons, input:focus + .spinner-buttons {
  color: #474747;
}

/* line 213, ../sass/lego/_inputs.scss */
label, .label {
  color: #333333;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

/* line 72, inputs/checkbox/*.png */
.checkbox-sprite, input[type="checkbox"].decor + span {
  background-image: url('images/sprites/inputs/checkbox-se7fa1cc868.png');
  background-repeat: no-repeat;
}

/* line 221, ../sass/lego/_inputs.scss */
input[type="checkbox"].decor {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  margin-left: -30px;
}
/* line 225, ../sass/lego/_inputs.scss */
input[type="checkbox"].decor + span {
  background-position: 0 -66px;
  display: inline-block;
  padding-left: 19px;
  text-indent: 3px;
  line-height: 24px;
  height: 20px;
  overflow: hidden;
  vertical-align: middle;
}
/* line 235, ../sass/lego/_inputs.scss */
input[type="checkbox"].decor + span:hover {
  background-position: 0 -44px;
}
/* line 240, ../sass/lego/_inputs.scss */
input[type="checkbox"].decor:checked + span {
  background-position: 0 -22px;
}
/* line 242, ../sass/lego/_inputs.scss */
input[type="checkbox"].decor:checked + span:hover {
  background-position: 0 0;
}
/* line 248, ../sass/lego/_inputs.scss */
input[type="checkbox"].decor:focus + span {
  background-position: 0 -66px;
}
/* line 252, ../sass/lego/_inputs.scss */
input[type="checkbox"].decor:focus:checked + span {
  background-position: 0 0;
}

/* line 56, inputs/select/*.png */
.select-sprite, .select .select-button, .select .select-option.selected span {
  background-image: url('images/sprites/inputs/select-s16e4eeae5a.png');
  background-repeat: no-repeat;
}

/* line 265, ../sass/lego/_inputs.scss */
.fields-group input:focus, .fields-group .select:focus {
  position: relative;
  z-index: 2;
}

/* line 271, ../sass/lego/_inputs.scss */
.select {
  display: inline-block;
  vertical-align: middle;
  color: #474747;
  position: relative;
  line-height: 26px;
}
/* line 274, ../sass/lego/_inputs.scss */
.select .select-original-container {
  height: 1px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
}
/* line 281, ../sass/lego/_inputs.scss */
.select.block {
  display: block;
}
/* line 289, ../sass/lego/_inputs.scss */
.fields-group .select + input {
  margin-left: -1px;
}
/* line 293, ../sass/lego/_inputs.scss */
.select .select-active-area {
  background: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  -moz-box-shadow: 0 0 0 transparent inset, 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent inset, 0 0 0 transparent;
  box-shadow: 0 0 0 transparent inset, 0 0 0 transparent;
  -moz-transition: box-shadow 0.2s ease, border-color 0.2s ease;
  -o-transition: box-shadow 0.2s ease, border-color 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease, border-color 0.2s ease;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
}
/* line 305, ../sass/lego/_inputs.scss */
.select .select-active-area:hover, .select .select-active-area.focus {
  background: #dfdfdf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #dfdfdf));
  background-image: -moz-linear-gradient(#fdfdfd, #dfdfdf);
  background-image: -webkit-linear-gradient(#fdfdfd, #dfdfdf);
  background-image: linear-gradient(#fdfdfd, #dfdfdf);
  border-color: #bbbbbb;
}
/* line 310, ../sass/lego/_inputs.scss */
.select .select-active-area:active, .select .select-active-area.active {
  background: #fbfbfb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #fbfbfb));
  background-image: -moz-linear-gradient(#e0e0e0, #fbfbfb);
  background-image: -webkit-linear-gradient(#e0e0e0, #fbfbfb);
  background-image: linear-gradient(#e0e0e0, #fbfbfb);
  -moz-box-shadow: 0 1px 0 #d8d8d8 inset, 0 0 1px #ffe279;
  -webkit-box-shadow: 0 1px 0 #d8d8d8 inset, 0 0 1px #ffe279;
  box-shadow: 0 1px 0 #d8d8d8 inset, 0 0 1px #ffe279;
  border-color: #ceb868;
}
/* line 317, ../sass/lego/_inputs.scss */
.select .select-list-container {
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  margin: -1px 0;
  max-height: 182px;
  border: 1px solid #bbbbbb;
  background: #fff;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 329, ../sass/lego/_inputs.scss */
.fields-group .select .select-list-container {
  max-height: none;
}
/* line 332, ../sass/lego/_inputs.scss */
.fields-group .select .hidden-item {
  padding-right: 26px;
}
/* line 335, ../sass/lego/_inputs.scss */
.fields-group .select .select-button {
  padding-left: 11px;
}
/* line 339, ../sass/lego/_inputs.scss */
.select .select-list {
  color: #333;
  position: relative;
}
/* line 343, ../sass/lego/_inputs.scss */
.select .select-button {
  background-position: 100% -22px;
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0 0 0 13px;
  margin-right: 4px;
}
/* line 352, ../sass/lego/_inputs.scss */
.select .select-button-text {
  overflow: hidden;
  margin-right: 18px;
  white-space: nowrap;
}
/* line 357, ../sass/lego/_inputs.scss */
.select .select-option {
  display: block;
  white-space: nowrap;
  cursor: default;
  height: 26px;
}
/* line 362, ../sass/lego/_inputs.scss */
.select .select-option:hover {
  background: #eef3f9;
}
/* line 365, ../sass/lego/_inputs.scss */
.select .select-option span {
  padding: 0 16px 0 10px;
  display: inline-block;
}
/* line 369, ../sass/lego/_inputs.scss */
.select .select-option.selected {
  background-color: #ffdb54;
}
/* line 371, ../sass/lego/_inputs.scss */
.select .select-option.selected span {
  background-position: 100% 7px;
}
/* line 377, ../sass/lego/_inputs.scss */
.select .hidden-item {
  padding: 0 36px 0 10px;
  height: 0;
  visibility: hidden;
}

/* line 384, ../sass/lego/_inputs.scss */
.radio-group {
  position: relative;
  white-space: nowrap;
  font-weight: bold;
}
/* line 388, ../sass/lego/_inputs.scss */
.radio-group a {
  text-decoration: none;
}
/* line 391, ../sass/lego/_inputs.scss */
.radio-group:after {
  clear: both;
  content: '';
  height: 0;
  display: block;
  line-height: 0;
}
/* line 398, ../sass/lego/_inputs.scss */
.radio-group input {
  position: absolute;
  margin-top: -30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: inherit;
}
/* line 404, ../sass/lego/_inputs.scss */
.radio-group label, .radio-group li {
  display: block;
  float: left;
  min-width: 35px;
}
/* line 409, ../sass/lego/_inputs.scss */
.radio-group label:first-child span, .radio-group label:first-child a, .radio-group li:first-child span, .radio-group li:first-child a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 414, ../sass/lego/_inputs.scss */
.radio-group label:last-child span, .radio-group label:last-child a, .radio-group li:last-child span, .radio-group li:last-child a {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 422, ../sass/lego/_inputs.scss */
.radio-group.rounded label:first-child span, .radio-group.rounded label:first-child a, .radio-group.rounded li:first-child span, .radio-group.rounded li:first-child a {
  -moz-border-radius-topleft: 14px;
  -webkit-border-top-left-radius: 14px;
  border-top-left-radius: 14px;
  -moz-border-radius-bottomleft: 14px;
  -webkit-border-bottom-left-radius: 14px;
  border-bottom-left-radius: 14px;
  padding-left: 16px;
}
/* line 428, ../sass/lego/_inputs.scss */
.radio-group.rounded label:last-child span, .radio-group.rounded label:last-child a, .radio-group.rounded li:last-child span, .radio-group.rounded li:last-child a {
  -moz-border-radius-topright: 14px;
  -webkit-border-top-right-radius: 14px;
  border-top-right-radius: 14px;
  -moz-border-radius-bottomright: 14px;
  -webkit-border-bottom-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-right: 16px;
}
/* line 433, ../sass/lego/_inputs.scss */
.radio-group.rounded label span, .radio-group.rounded label a, .radio-group.rounded li span, .radio-group.rounded li a {
  padding: 0 14px;
}
/* line 439, ../sass/lego/_inputs.scss */
.radio-group.rounded span, .radio-group.rounded a, .radio-group.min-size span, .radio-group.min-size a {
  line-height: 26px;
  height: 26px;
}
/* line 444, ../sass/lego/_inputs.scss */
.radio-group span, .radio-group a {
  position: relative;
  display: block;
  font-size: 15px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  text-align: center;
  height: 31px;
  line-height: 31px;
  padding: 0 7px;
}
/* line 454, ../sass/lego/_inputs.scss */
.radio-group span:hover, .radio-group a:hover {
  z-index: 2;
}
/* line 458, ../sass/lego/_inputs.scss */
.radio-group input:checked + span, .radio-group li.active a, .radio-group a:active {
  z-index: 1;
}
/* line 462, ../sass/lego/_inputs.scss */
.radio-group.square label, .radio-group.square li {
  min-width: 0;
}
/* line 465, ../sass/lego/_inputs.scss */
.radio-group.square span, .radio-group.square a {
  width: 32px;
  padding: 0;
}
/* line 472, ../sass/lego/_inputs.scss */
.radio-group li.no-active, .radio-group li.no-active span, .radio-group li.no-active a, .radio-group label.no-active, .radio-group label.no-active span, .radio-group label.no-active a {
  cursor: default;
}
/* line 480, ../sass/lego/_inputs.scss */
.radio-group.blue li span, .radio-group.blue li a, .radio-group.blue li.no-active span, .radio-group.blue li.no-active a, .radio-group.blue label span, .radio-group.blue label a, .radio-group.blue label.no-active span, .radio-group.blue label.no-active a {
  color: #fff;
  border-top: 1px solid #489edd;
  border-bottom: 1px solid #0f6dcb;
  background: #489edd;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4OWVkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmNmRjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #489edd), color-stop(100%, #0f6dcb));
  background-image: -moz-linear-gradient(#489edd, #0f6dcb);
  background-image: -webkit-linear-gradient(#489edd, #0f6dcb);
  background-image: linear-gradient(#489edd, #0f6dcb);
}
/* line 490, ../sass/lego/_inputs.scss */
.radio-group.blue label:hover span, .radio-group.blue a:hover {
  background: #00a4ff;
  border-bottom-color: #007ef2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTRmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2VmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a4ff), color-stop(100%, #007ef2));
  background-image: -moz-linear-gradient(#00a4ff, #007ef2);
  background-image: -webkit-linear-gradient(#00a4ff, #007ef2);
  background-image: linear-gradient(#00a4ff, #007ef2);
}
/* line 496, ../sass/lego/_inputs.scss */
.radio-group.blue label:active span, .radio-group.blue label.active span, .radio-group.blue li.active a, .radio-group.blue a:active {
  background: #1569b8;
  border-bottom-color: #2f82c8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1NjliOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmODJjOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1569b8), color-stop(100%, #2f82c8));
  background-image: -moz-linear-gradient(#1569b8, #2f82c8);
  background-image: -webkit-linear-gradient(#1569b8, #2f82c8);
  background-image: linear-gradient(#1569b8, #2f82c8);
  border-top-color: #02478a;
}
/* line 503, ../sass/lego/_inputs.scss */
.radio-group.blue input:checked + span {
  background: #1569b8;
  border-bottom-color: #2f82c8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1NjliOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmODJjOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1569b8), color-stop(100%, #2f82c8));
  background-image: -moz-linear-gradient(#1569b8, #2f82c8);
  background-image: -webkit-linear-gradient(#1569b8, #2f82c8);
  background-image: linear-gradient(#1569b8, #2f82c8);
  border-top-color: #02478a;
}
/* line 511, ../sass/lego/_inputs.scss */
.radio-group.blue label + label span, .radio-group.blue label + label a, .radio-group.blue li + li span, .radio-group.blue li + li a {
  border-left: 1px solid #0f6dcb;
}
/* line 519, ../sass/lego/_inputs.scss */
.radio-group.white li span, .radio-group.white li a, .radio-group.white li.no-active span, .radio-group.white li.no-active a, .radio-group.white label span, .radio-group.white label a, .radio-group.white label.no-active span, .radio-group.white label.no-active a {
  color: #474747;
  border: 1px solid #cccccc;
  background: #f1f1f1;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
/* line 528, ../sass/lego/_inputs.scss */
.radio-group.white label:hover span, .radio-group.white a:hover {
  background: #ffffff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
  background-image: -moz-linear-gradient(#ffffff, #dfdfdf);
  background-image: -webkit-linear-gradient(#ffffff, #dfdfdf);
  background-image: linear-gradient(#ffffff, #dfdfdf);
}
/* line 532, ../sass/lego/_inputs.scss */
.radio-group.white label:active span, .radio-group.white label.active span, .radio-group.white a:active, .radio-group.white li.active a {
  background: #dfdfdf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(#dfdfdf, #ffffff);
  background-image: -webkit-linear-gradient(#dfdfdf, #ffffff);
  background-image: linear-gradient(#dfdfdf, #ffffff);
  -moz-box-shadow: 0 1px 0 #d8d8d8 inset;
  -webkit-box-shadow: 0 1px 0 #d8d8d8 inset;
  box-shadow: 0 1px 0 #d8d8d8 inset;
}
/* line 538, ../sass/lego/_inputs.scss */
.radio-group.white input:checked + span {
  background: #dfdfdf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(#dfdfdf, #ffffff);
  background-image: -webkit-linear-gradient(#dfdfdf, #ffffff);
  background-image: linear-gradient(#dfdfdf, #ffffff);
}
/* line 546, ../sass/lego/_inputs.scss */
.radio-group.flat label:hover span, .radio-group.flat a:hover {
  border-color: #9b9b9b;
  color: #808080;
}
/* line 550, ../sass/lego/_inputs.scss */
.radio-group.flat label:active span, .radio-group.flat label.active span, .radio-group.flat li.active a, .radio-group.flat a:active {
  border-color: #9b9b9b;
  color: #fff;
  background: url(images/flat-button-bg.png);
}
/* line 555, ../sass/lego/_inputs.scss */
.radio-group.flat label span, .radio-group.flat label.no-active span, .radio-group.flat li a, .radio-group.flat li.no-active a {
  border: 1px solid #cdcdcd;
  color: #a9a9a9;
  background: none;
}
/* line 561, ../sass/lego/_inputs.scss */
.radio-group.flat input:checked + span {
  border-color: #9b9b9b;
  border-right-width: 1px;
  color: #fff;
  background: url(images/flat-button-bg.png);
}
/* line 570, ../sass/lego/_inputs.scss */
.radio-group.white label + label span, .radio-group.white li + li a, .radio-group.flat label + label span, .radio-group.flat li + li a {
  margin-left: -1px;
}

/* line 80, likes/*.png */
.likes-sprite, .likes-list li .comments-button {
  background-image: url('images/sprites/likes-s11b01da47a.png');
  background-repeat: no-repeat;
}

/* line 4, ../sass/lego/_likes.scss */
.likes-list {
  font-size: 15px;
  text-align: center;
}
/* line 7, ../sass/lego/_likes.scss */
.likes-list:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
/* line 12, ../sass/lego/_likes.scss */
.likes-list li {
  float: left;
  line-height: 28px;
  display: block;
}
/* line 16, ../sass/lego/_likes.scss */
.likes-list li.likes-counter, .likes-list li .likes-button, .likes-list li .comments-button {
  border-style: solid;
  border-color: #cecece;
  background-color: #fff;
  color: #a0bae2;
  font-weight: bold;
}
/* line 23, ../sass/lego/_likes.scss */
.likes-list li.likes-counter {
  padding: 0 10px;
  border-width: 1px 1px 1px 0;
}
/* line 27, ../sass/lego/_likes.scss */
.likes-list li .likes-button, .likes-list li .comments-button {
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 38px;
  border-width: 1px 0 1px 1px;
  text-decoration: none;
  display: block;
  height: 28px;
}
/* line 34, ../sass/lego/_likes.scss */
.likes-list li .likes-button:hover, .likes-list li .likes-button:active, .likes-list li .likes-button.active, .likes-list li .comments-button:hover, .likes-list li .comments-button:active, .likes-list li .comments-button.active {
  border-color: #b5b5b5;
}
/* line 37, ../sass/lego/_likes.scss */
.likes-list li .likes-button:hover, .likes-list li .comments-button:hover {
  color: #0095fc;
}
/* line 40, ../sass/lego/_likes.scss */
.likes-list li .likes-button:active, .likes-list li .likes-button.active, .likes-list li .comments-button:active, .likes-list li .comments-button.active {
  color: #00367c;
  background-color: #86b5e4;
}
/* line 45, ../sass/lego/_likes.scss */
.likes-list li .comments-button {
  background-position: 12px 8px;
}
/* line 48, ../sass/lego/_likes.scss */
.likes-list li .comments-button:hover {
  background-position: 12px -34px;
}
/* line 51, ../sass/lego/_likes.scss */
.likes-list li .comments-button:active, .likes-list li .comments-button.active {
  background-position: 12px -13px;
}
/* line 56, ../sass/lego/_likes.scss */
.likes-list li.selected .comments-button {
  background-position: 12px -55px;
}
/* line 58, ../sass/lego/_likes.scss */
.likes-list li.selected .comments-button:active {
  background-position: 12px -76px;
}
/* line 64, ../sass/lego/_likes.scss */
.likes-list li.selected .likes-button, .likes-list li.selected .comments-button {
  background-color: #86b5e4;
  color: #fff;
  border-color: #cdcdcd;
}
/* line 68, ../sass/lego/_likes.scss */
.likes-list li.selected .likes-button:hover, .likes-list li.selected .comments-button:hover {
  background-color: #7ac4f8;
}
/* line 71, ../sass/lego/_likes.scss */
.likes-list li.selected .likes-button:active, .likes-list li.selected .comments-button:active {
  background-color: #86b5e4;
  color: #c8dbee;
}
/* line 78, ../sass/lego/_likes.scss */
.likes-list li:last-child .likes-button, .likes-list li:last-child .comments-button {
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 41px;
  border-right-width: 1px;
}
/* line 84, ../sass/lego/_likes.scss */
.likes-list li.likes-user {
  border-right: 1px solid #cecece;
}

/* line 88, pagination/*.png */
.pagination-sprite, .radio-group.pagination li.previous a, .radio-group.pagination li.next a {
  background-image: url('images/sprites/pagination-see391770c3.png');
  background-repeat: no-repeat;
}

/* line 7, ../sass/lego/_pagination.scss */
.radio-group.pagination li.previous a, .radio-group.pagination li.next a {
  font-size: 0;
  text-indent: -50px;
  overflow: hidden;
}
/* line 13, ../sass/lego/_pagination.scss */
.radio-group.pagination li.previous.active, .radio-group.pagination li.previous:active, .radio-group.pagination li.next.active, .radio-group.pagination li.next:active {
  background: url(images/flat-button-bg.png);
}
/* line 17, ../sass/lego/_pagination.scss */
.radio-group.pagination li.previous a {
  background-position: 9px -126px;
}
/* line 19, ../sass/lego/_pagination.scss */
.radio-group.pagination li.previous a:hover {
  background-position: 9px -99px;
}
/* line 22, ../sass/lego/_pagination.scss */
.radio-group.pagination li.previous a:active {
  background-position: 9px -72px;
}
/* line 26, ../sass/lego/_pagination.scss */
.radio-group.pagination li.next a {
  background-position: 12px -45px;
}
/* line 28, ../sass/lego/_pagination.scss */
.radio-group.pagination li.next a:hover {
  background-position: 12px -18px;
}
/* line 31, ../sass/lego/_pagination.scss */
.radio-group.pagination li.next a:active {
  background-position: 12px 9px;
}
/* line 36, ../sass/lego/_pagination.scss */
.radio-group.pagination li.no-active {
  display: none;
}
/* line 39, ../sass/lego/_pagination.scss */
.radio-group.pagination li.no-active + li:not(.no-active) a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 45, ../sass/lego/_pagination.scss */
.radio-group.pagination li:nth-last-child(3) a {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 51, ../sass/lego/_pagination.scss */
.radio-group.pagination li.active ~ :nth-last-child(3) a {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 56, ../sass/lego/_pagination.scss */
.radio-group.pagination li.active ~ :nth-last-child(2) a {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
