/* line 4, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* line 9, ../sass/style.scss */
body {
  margin: 0;
  position: relative;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
  min-width: 980px;
}
/* line 14, ../sass/style.scss */
body.moved * {
  cursor: move;
}

/* line 18, ../sass/style.scss */
a {
  outline: none;
  text-decoration: none;
}
/* line 21, ../sass/style.scss */
a img {
  border: 0 none;
}

/* line 25, ../sass/style.scss */
.float-left {
  float: left;
}

/* line 29, ../sass/style.scss */
.float-right {
  float: right;
}

/* line 32, ../sass/style.scss */
.clear-both {
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}

/* line 38, ../sass/style.scss */
.block {
  display: block;
}

/* line 41, ../sass/style.scss */
.height-100 {
  height: 100%;
}

/* line 45, ../sass/style.scss */
.absolute {
  position: absolute;
}

/* line 48, ../sass/style.scss */
.background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

/* line 57, ../sass/style.scss */
.background-gallery {
  position: absolute;
  left: auto !important;
  right: 0 !important;
  top: 0;
  display: block;
}

/* line 64, ../sass/style.scss */
#section {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
  z-index: 1;
  font-family: "Open Sans";
  color: #FFF;
}

/* line 73, ../sass/style.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background: url("images/header-bg.png") left top repeat-x;
  z-index: 2;
}

/* line 83, ../sass/style.scss */
#nav {
  position: fixed;
  z-index: 2;
  top: 50%;
  right: 40px;
  opacity: 0.45;
  margin-top: -80px;
}
/* line 90, ../sass/style.scss */
#nav:hover, #nav.active-slide-0, #nav.active-slide-1 {
  opacity: 1;
}

/* line 94, ../sass/style.scss */
.nav-item {
  display: block;
  width: 18px;
  height: 18px;
  background: url("images/navigation.png") -1px -18px no-repeat;
  position: relative;
}
/* line 100, ../sass/style.scss */
.nav-item + .nav-item {
  margin-top: 5px;
}
/* line 103, ../sass/style.scss */
.nav-item.active {
  background-position: -1px 0;
}

/* line 107, ../sass/style.scss */
#page {
  width: 100%;
  height: 100%;
  min-width: 980px;
  overflow: hidden;
  position: relative;
}

/* line 114, ../sass/style.scss */
.name-article {
  position: absolute;
  right: 100%;
  color: #FFF;
  font-size: 12px;
  padding-right: 12px;
  white-space: nowrap;
  opacity: 0.75;
}
/* line 122, ../sass/style.scss */
.name-article:hover, .active .name-article {
  opacity: 1;
}

/* line 126, ../sass/style.scss */
#logotype {
  display: block;
  height: 48px;
  width: 160px;
  margin: -8px 10px -8px 30px;
}
/* line 131, ../sass/style.scss */
#logotype img {
  display: block;
}

/* line 138, ../sass/style.scss */
.header-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 21px 0;
  min-width: 600px;
}

/* line 146, ../sass/style.scss */
.article {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("images/bg-noise.png");
}
/* line 151, ../sass/style.scss */
.article .content-article {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 3;
  top: 50%;
  height: 100%;
}
/* line 159, ../sass/style.scss */
.article .content-container {
  position: relative;
}

/* line 163, ../sass/style.scss */
.second-slider {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 12;
}

/* line 170, ../sass/style.scss */
h1 {
  font-size: 75px;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 300;
}

/* line 176, ../sass/style.scss */
h2 {
  font-size: 55px;
  font-weight: 300;
  margin: 0 0 18px;
  text-indent: -0.1em;
  line-height: 60px;
}

/* line 183, ../sass/style.scss */
#footer {
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 100%;
  color: #FFF;
  z-index: 3;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
}
/* line 191, ../sass/style.scss */
#footer .social-share {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 195, ../sass/style.scss */
#footer .social-share li {
  display: inline-block;
}
/* line 197, ../sass/style.scss */
#footer .social-share li + li {
  margin-left: 19px;
}
/* line 202, ../sass/style.scss */
#footer .title-share {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 18px;
}
/* line 207, ../sass/style.scss */
#footer .footer-content {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 211, ../sass/style.scss */
#footer .copyright {
  font-size: 13px;
  white-space: nowrap;
  margin: 0 50px;
  color: rgba(255, 255, 255, 0.5);
}
/* line 217, ../sass/style.scss */
#footer a {
  text-decoration: underline;
  color: inherit;
}
/* line 220, ../sass/style.scss */
#footer a:hover {
  color: #FFF;
}
/* line 223, ../sass/style.scss */
#footer a.float-right + a.float-right {
  margin-right: 18px;
}

/* line 228, ../sass/style.scss */
.main-link {
  font-size: 45px;
  border-bottom: 1px solid;
  font-weight: 300;
}
/* line 232, ../sass/style.scss */
.main-link:hover {
  color: #0095fc;
}
/* line 235, ../sass/style.scss */
.main-link:active {
  color: #2f7ec1;
}
/* line 239, ../sass/style.scss */
.article.item-7 .main-link:hover {
  color: #63d5ff;
}
/* line 242, ../sass/style.scss */
.article.item-7 .main-link:active {
  color: #0095fc;
}

/* line 248, ../sass/style.scss */
.article-text {
  margin-left: 56%;
  margin-right: 95px;
  position: absolute;
}
/* line 252, ../sass/style.scss */
.article-text p {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* line 259, ../sass/style.scss */
.image-content {
  position: absolute;
}

/* line 264, ../sass/style.scss */
.article a {
  color: inherit;
}
/* line 267, ../sass/style.scss */
.article.item-1 {
  background: url("images/bg-noise.png") #e6e6e6;
}
/* line 269, ../sass/style.scss */
.article.item-1 .content-article {
  text-align: center;
  color: #0d6cca;
  margin-top: -110px;
}
/* line 273, ../sass/style.scss */
.article.item-1 .content-article h1 {
  margin: 0 80px;
}
/* line 278, ../sass/style.scss */
.article.item-1-1 {
  background: url("images/bg-noise.png") #e6e6e6;
}
/* line 280, ../sass/style.scss */
.article.item-1-1 .content-article {
  margin-top: -340px;
}
/* line 283, ../sass/style.scss */
.article.item-1-1 .article-text {
  padding-top: 160px;
}
/* line 285, ../sass/style.scss */
.article.item-1-1 .article-text h2 {
  color: #333;
}
/* line 288, ../sass/style.scss */
.article.item-1-1 .article-text p {
  color: #919191;
}
/* line 292, ../sass/style.scss */
.article.item-1-1 .image-content {
  left: 1%;
  width: 54%;
  max-width: 670px;
}
/* line 298, ../sass/style.scss */
.article.item-2 {
  background-color: #ff691d;
}
/* line 300, ../sass/style.scss */
.article.item-2 .content-article {
  margin-top: -250px;
  height: 590px !important;
}
/* line 304, ../sass/style.scss */
.article.item-2 .article-text {
  padding-top: 120px;
}
/* line 307, ../sass/style.scss */
.article.item-2 .image-content {
  left: 5%;
}
/* line 309, ../sass/style.scss */
.article.item-2 .image-content.z1 {
  margin-top: 160px;
}
/* line 312, ../sass/style.scss */
.article.item-2 .image-content.z2 {
  margin-top: 161px;
  margin-left: 100px;
}
/* line 316, ../sass/style.scss */
.article.item-2 .image-content.z3 {
  margin-left: 105px;
}
/* line 319, ../sass/style.scss */
.article.item-2 .image-content.r1 {
  margin-left: 138px;
  margin-top: 60px;
}
/* line 325, ../sass/style.scss */
.article.item-3 {
  background-color: #217dd1;
}
/* line 327, ../sass/style.scss */
.article.item-3 .content-article {
  margin-top: -190px;
}
/* line 331, ../sass/style.scss */
.article.item-3 .article-text {
  padding-top: 70px;
  margin-right: 56%;
  margin-left: 95px;
  max-width: 620px;
}
/* line 337, ../sass/style.scss */
.article.item-3 .image-content {
  right: 95px;
}
/* line 339, ../sass/style.scss */
.article.item-3 .image-content.soc-2 {
  margin-top: 255px;
  margin-right: 14px;
}
/* line 343, ../sass/style.scss */
.article.item-3 .image-content.img-2 {
  margin-top: 31px;
  width: 400px;
  margin-right: 22px;
  height: 211px;
}
/* line 349, ../sass/style.scss */
.article.item-3 .image-content.img-3 {
  margin-top: 58px;
  width: 360px;
  margin-right: 42px;
  height: 190px;
}
/* line 355, ../sass/style.scss */
.article.item-3 .image-content.img-4 {
  margin-top: 84px;
  width: 320px;
  margin-right: 62px;
  height: 169px;
}
/* line 363, ../sass/style.scss */
.article.item-4 {
  background-color: #5cd421;
}
/* line 365, ../sass/style.scss */
.article.item-4 .content-article {
  margin-top: -300px;
}
/* line 368, ../sass/style.scss */
.article.item-4 .article-text {
  padding-top: 170px;
}
/* line 372, ../sass/style.scss */
.article.item-4 .image-content.mobil-1 {
  left: 10px;
}
/* line 375, ../sass/style.scss */
.article.item-4 .image-content.mobil-2 {
  margin-top: 78px;
  left: 21%;
}
/* line 380, ../sass/style.scss */
.article.item-4 .app-buttons {
  margin-top: 28px;
  margin-right: -95px;
}
/* line 384, ../sass/style.scss */
.article.item-4 .app-button {
  display: block;
  float: left;
  height: 55px;
  opacity: 0.9;
}
/* line 389, ../sass/style.scss */
.article.item-4 .app-button:hover {
  opacity: 1;
}
/* line 392, ../sass/style.scss */
.article.item-4 .app-button.app-store {
  width: 162px;
  background: url("images/app-store.png") center center no-repeat;
}
/* line 396, ../sass/style.scss */
.article.item-4 .app-button.google-play {
  width: 166px;
  background: url("images/google-play.png") center center no-repeat;
}
/* line 400, ../sass/style.scss */
.article.item-4 .app-button + .app-button {
  margin-left: 20px;
}
/* line 405, ../sass/style.scss */
.article.item-5 {
  background: #215eb1;
}
/* line 407, ../sass/style.scss */
.article.item-5 .content-article {
  margin-top: -310px;
}
/* line 410, ../sass/style.scss */
.article.item-5 .article-text {
  padding-top: 200px;
  margin-right: 56%;
  margin-left: 95px;
  max-width: 620px;
}
/* line 416, ../sass/style.scss */
.article.item-5 .image-content {
  right: 95px;
}
/* line 421, ../sass/style.scss */
.article.item-6 .content-article {
  margin-top: -270px;
}
/* line 424, ../sass/style.scss */
.article.item-6 .article-text {
  right: auto;
  width: 766px;
  left: 50%;
  margin-left: -383px;
}
/* line 430, ../sass/style.scss */
.article.item-6 p {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px 0;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
}
/* line 439, ../sass/style.scss */
.article.item-7 {
  text-align: center;
}
/* line 441, ../sass/style.scss */
.article.item-7 .content-article {
  margin-top: -30px;
}

/* line 447, ../sass/style.scss */
.article .bottom-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 726px;
  background: url("images/down-dark.png") center top repeat-x;
  z-index: 1;
}
/* line 456, ../sass/style.scss */
.article .top-light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 710px;
  background: url("images/top-light_1.png") center top no-repeat;
  z-index: 2;
}

/* line 467, ../sass/style.scss */
.button {
  font-family: Arial, Tahoma, Verdana, sans-serif, Lucida Sans;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border-width: 1px 0 0;
  border-style: solid;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
/* line 480, ../sass/style.scss */
.button .text-button, .button .icon-button {
  display: block;
  height: 100%;
  line-height: 18px;
}
/* line 485, ../sass/style.scss */
.button .text-button {
  white-space: nowrap;
  padding: 6px 20px 8px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
/* line 490, ../sass/style.scss */
.button .icon-button {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  float: left;
}
/* line 494, ../sass/style.scss */
.button.blue {
  background: #4299DC;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4299dc), color-stop(100%, #0f6dcb));
  background-image: -webkit-linear-gradient(#4299dc, #0f6dcb);
  background-image: -moz-linear-gradient(#4299dc, #0f6dcb);
  background-image: -o-linear-gradient(#4299dc, #0f6dcb);
  background-image: linear-gradient(#4299dc, #0f6dcb);
  border-color: #4299dc;
  color: #fff;
}
/* line 499, ../sass/style.scss */
.button.blue:hover {
  background: #1aa8ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1aa8ff), color-stop(100%, #007fed));
  background-image: -webkit-linear-gradient(#1aa8ff, #007fed);
  background-image: -moz-linear-gradient(#1aa8ff, #007fed);
  background-image: -o-linear-gradient(#1aa8ff, #007fed);
  background-image: linear-gradient(#1aa8ff, #007fed);
  border-color: #1aa8ff;
  color: #FFF;
}
/* line 505, ../sass/style.scss */
.button.blue:active {
  background: #1866b2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1866b2), color-stop(100%, #3685c6));
  background-image: -webkit-linear-gradient(#1866b2, #3685c6);
  background-image: -moz-linear-gradient(#1866b2, #3685c6);
  background-image: -o-linear-gradient(#1866b2, #3685c6);
  background-image: linear-gradient(#1866b2, #3685c6);
  border-color: #094988;
  color: #fff;
}
/* line 512, ../sass/style.scss */
.button.grey {
  background: #f1f1f1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  border: 1px solid #cdcdcd;
  color: #474747;
}
/* line 517, ../sass/style.scss */
.button.grey:hover {
  background: #dfdfdf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(#fefefe, #dfdfdf);
  background-image: -moz-linear-gradient(#fefefe, #dfdfdf);
  background-image: -o-linear-gradient(#fefefe, #dfdfdf);
  background-image: linear-gradient(#fefefe, #dfdfdf);
  color: #474747;
}
/* line 522, ../sass/style.scss */
.button.grey:active {
  background: #dfdfdf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #fefefe));
  background-image: -webkit-linear-gradient(#dfdfdf, #fefefe);
  background-image: -moz-linear-gradient(#dfdfdf, #fefefe);
  background-image: -o-linear-gradient(#dfdfdf, #fefefe);
  background-image: linear-gradient(#dfdfdf, #fefefe);
  color: #474747;
}
/* line 527, ../sass/style.scss */
.button.grey .text-button {
  padding-bottom: 7px;
}
/* line 531, ../sass/style.scss */
.button.follow {
  color: #0d6cca;
  width: 310px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* line 537, ../sass/style.scss */
.button.follow:hover, .button.follow:active {
  color: #0d6cca;
}
/* line 540, ../sass/style.scss */
.button.follow .text-button {
  line-height: 35px;
  font-size: 22px;
  text-shadow: 0 1px 0 white;
}

/* line 548, ../sass/style.scss */
.icon-button.plus {
  width: 33px;
  height: 33px;
  margin-top: -1px;
  background: url("images/plus-icon.png") center center no-repeat;
}
/* line 554, ../sass/style.scss */
.icon-button + .text-button {
  margin-left: 34px;
}

/* line 559, ../sass/style.scss */
.add-button {
  margin-right: 30px;
}

/* line 563, ../sass/style.scss */
.video-container {
  width: 765px;
  height: 430px;
  margin: 0 auto;
  background: url("images/popa.png") center center #eaf0f1;
  position: relative;
  cursor: pointer;
}

/* line 571, ../sass/style.scss */
.play-button {
  width: 85px;
  height: 61px;
  background: url("images/play-youtube.png") center 0 no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -43px;
  margin-top: -31px;
}
/* line 580, ../sass/style.scss */
.video-container:hover .play-button {
  background-position: center -61px;
}
/* line 583, ../sass/style.scss */
.video-container.active .play-button {
  display: none;
}

/* line 58, social/*.png */
.social-sprite, .social-button span {
  background: url('images/sprites/social-sd1b9d106de.png') no-repeat;
}

/* line 591, ../sass/style.scss */
.social-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}
/* line 602, ../sass/style.scss */
.social-button:hover {
  color: #FFF;
}
/* line 605, ../sass/style.scss */
.social-button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px inset;
}
/* line 608, ../sass/style.scss */
.social-button span {
  display: block;
  padding-left: 50px;
  height: 100%;
}
/* line 614, ../sass/style.scss */
.social-button.small {
  width: 33px;
  overflow: hidden;
}
/* line 618, ../sass/style.scss */
.social-button.twitter {
  background: #00bbf1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00bbf1), color-stop(100%, #009ff1));
  background-image: -webkit-linear-gradient(#00bbf1, #009ff1);
  background-image: -moz-linear-gradient(#00bbf1, #009ff1);
  background-image: -o-linear-gradient(#00bbf1, #009ff1);
  background-image: linear-gradient(#00bbf1, #009ff1);
}
/* line 621, ../sass/style.scss */
.social-button.twitter:hover {
  background: #00d2ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d2ff), color-stop(100%, #00b3ff));
  background-image: -webkit-linear-gradient(#00d2ff, #00b3ff);
  background-image: -moz-linear-gradient(#00d2ff, #00b3ff);
  background-image: -o-linear-gradient(#00d2ff, #00b3ff);
  background-image: linear-gradient(#00d2ff, #00b3ff);
}
/* line 625, ../sass/style.scss */
.social-button.twitter:active {
  background: #00a0f1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a0f1), color-stop(100%, #00baf1));
  background-image: -webkit-linear-gradient(#00a0f1, #00baf1);
  background-image: -moz-linear-gradient(#00a0f1, #00baf1);
  background-image: -o-linear-gradient(#00a0f1, #00baf1);
  background-image: linear-gradient(#00a0f1, #00baf1);
}
/* line 629, ../sass/style.scss */
.social-button.twitter span {
  background-position: 0 0;
}
/* line 633, ../sass/style.scss */
.social-button.facebook {
  background: #5175c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5175c0), color-stop(100%, #3b5a98));
  background-image: -webkit-linear-gradient(#5175c0, #3b5a98);
  background-image: -moz-linear-gradient(#5175c0, #3b5a98);
  background-image: -o-linear-gradient(#5175c0, #3b5a98);
  background-image: linear-gradient(#5175c0, #3b5a98);
}
/* line 636, ../sass/style.scss */
.social-button.facebook:hover {
  background: #5b84d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b84d8), color-stop(100%, #4365ab));
  background-image: -webkit-linear-gradient(#5b84d8, #4365ab);
  background-image: -moz-linear-gradient(#5b84d8, #4365ab);
  background-image: -o-linear-gradient(#5b84d8, #4365ab);
  background-image: linear-gradient(#5b84d8, #4365ab);
}
/* line 640, ../sass/style.scss */
.social-button.facebook:active {
  background: #3c5a99;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c5a99), color-stop(100%, #5175c0));
  background-image: -webkit-linear-gradient(#3c5a99, #5175c0);
  background-image: -moz-linear-gradient(#3c5a99, #5175c0);
  background-image: -o-linear-gradient(#3c5a99, #5175c0);
  background-image: linear-gradient(#3c5a99, #5175c0);
}
/* line 644, ../sass/style.scss */
.social-button.facebook span {
  background-position: 0 -70px;
}
/* line 648, ../sass/style.scss */
.social-button.vkontakte {
  background: #3285c9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3285c9), color-stop(100%, #0f64b5));
  background-image: -webkit-linear-gradient(#3285c9, #0f64b5);
  background-image: -moz-linear-gradient(#3285c9, #0f64b5);
  background-image: -o-linear-gradient(#3285c9, #0f64b5);
  background-image: linear-gradient(#3285c9, #0f64b5);
}
/* line 651, ../sass/style.scss */
.social-button.vkontakte:hover {
  background: #3794e2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3794e2), color-stop(100%, #1071cb));
  background-image: -webkit-linear-gradient(#3794e2, #1071cb);
  background-image: -moz-linear-gradient(#3794e2, #1071cb);
  background-image: -o-linear-gradient(#3794e2, #1071cb);
  background-image: linear-gradient(#3794e2, #1071cb);
}
/* line 655, ../sass/style.scss */
.social-button.vkontakte:active {
  background: #1065b6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1065b6), color-stop(100%, #3184c8));
  background-image: -webkit-linear-gradient(#1065b6, #3184c8);
  background-image: -moz-linear-gradient(#1065b6, #3184c8);
  background-image: -o-linear-gradient(#1065b6, #3184c8);
  background-image: linear-gradient(#1065b6, #3184c8);
}
/* line 659, ../sass/style.scss */
.social-button.vkontakte span {
  background-position: 0 -35px;
}
