<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>BBA::{{currentRouteParams.htmlTitle}}</title>

        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,300,300italic,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link href="css/angular-datepicker.css" type="text/css" rel="stylesheet" />
        <link href="css/style.css" type="text/css" rel="stylesheet" />

        <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.min.js"></script>

        <script src="js/app.js"></script>

        <script src="js/directives/angular-datepicker.js"></script>

        <script src="js/urls/urls.js"></script>
        <script src="js/urls/configuration.js"></script>
        <script src="js/urls/dashboard.js"></script>

        <script src="js/controllers/configuration.js"></script>
        <script src="js/controllers/dashboard.js"></script>
        <script src="js/controllers/manifesting.js"></script>
        <script src="js/controllers/orders.js"></script>
        <script src="js/controllers/quote-and-book.js"></script>
        <script src="js/controllers/pending-shipments.js"></script>
        <script src="js/controllers/reporting.js"></script>
        <script src="js/controllers/returns.js"></script>
        <script src="js/controllers/tracking.js"></script>

        <script src="js/controllers/dashboard/my-profile.js"></script>
        <script src="js/controllers/configuration/profile-manager/profiles-manager.js"></script>
        <script src="js/controllers/configuration/profile-manager/profiles-manager-creator.js"></script>
        <script src="js/controllers/configuration/warehouses.js"></script>
        <script src="js/controllers/configuration/packaging.js"></script>
        <script src="js/controllers/configuration/inventory.js"></script>
        <script src="js/controllers/configuration/shipping.js"></script>
        <script src="js/controllers/configuration/currency.js"></script>
        <script src="js/controllers/configuration/address-book.js"></script>


    </head>
    <body>

        <aside class="left-sidebar">
            <nav class="main-menu">
                <a href="#" class="logotype">
                    <img src="images/bba_logo.svg" alt="BBA"/>
                </a>
                <div class="main-menu-block" ng-include="menuTemplate" ng-controller="menuController"></div>
            </nav>
        </aside>

        <div class="content-wrapper">
            <div class="top-bar wrapper-padding-lr">
                <button class="burger-btn">
                    <img src="images/icons/buttons/burger_icon.svg"/>
                </button>
                <form class="search-form">
                    <label>
                        <img class="search-icon" src="images/icons/buttons/search_icon.svg">
                        <input type="text" name="q" placeholder="Search Completed Shipments">
                    </label>
                </form>
                <div class="user-navigation">
                    <div class="user-name-holder">
                        <a href="#dashboard/my-profile" class="user-name-text">Andrew Mastromanno</a>
                    </div>
                    <a href="#" class="exit-button">
                        <img src="images/icons/buttons/logout_icon.svg">
                    </a>
                </div>
            </div>
            <div class="content-section">
                <div class="content-page-title-container wrapper-padding-tb wrapper-padding-lr">
                    <h1 class="content-page-title"> {{currentRouteParams.pageTitle}} </h1>
                </div>
                <div class="page-content wrapper-padding-tb">
                    <div class="wrapper-padding-lr" id="page-holder" data-ng-view></div>
                </div>
            </div>
        </div>


    </body>
</html>