.full-width-btn {
  @include box-sizing(border-box);
  padding: 14px 0;
  border: 0 none;
  margin: 0;
  display: block;
  width: 100%;
  line-height: 20px;
  font-size: 1em;
  background: #fff;
  color: $color_3;
  cursor: pointer;
  outline: none;
  &.disable-btn {
    background: transparent;
    color: $color_4;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e6e7e9;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  &:hover {
    color: $color_3;
  }
  &:active {
    color: $color_6;
  }
}