.chosen-container {
  width: auto!important;
  white-space: nowrap;
  &.chosen-with-drop {
    position: relative;
    z-index: 3;
    &.top-position {
      .chosen-drop {
        bottom: 0;
        top: auto;
        margin-bottom: 1.8em;
      }
    }
    .chosen-drop {
      display: block;
      @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
      top: 100%;
      margin-top: 8px;
    }
  }
  .group-option {
    margin-left: 0.7em;
  }
  .chosen-results {
    li + .group-result {
      padding-top: 0.3em;
      margin-top: 0.3em;
      border-top: 1px solid $bg-color-2;
    }
  }
  .group-result {
    color: $color_4;
    margin: 0 -0.8em;
    padding: 0 0.8em;
  }
  .chosen-single {
    display: block;
    white-space: nowrap;
    span, div, b {
      display: inline-block;
      vertical-align: middle;
    }
    b {
      width: 10px;
      height: 10px;
      background: url(images/select.svg) center center no-repeat;
      margin-left: 0.6em;
    }
  }
  &.no-active-variant {
    .chosen-single {
      color: $color_4;
    }
  }
  &.chosen-with-drop .chosen-single {
    b {
      background: url(images/select-active.svg) center center no-repeat;
    }
  }
  &.chosen-with-drop .chosen-single, .chosen-single:hover {
    color: $color_3;
  }

}
.chosen-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    line-height: 17px;
    padding: 2px 0;
  }
}
.chosen-choices {
  display: none;
}
.search-choice {
  display: none;
}
.chose-label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.chosen-drop {
  display: none;
  position: absolute;
  background-color: $color_1;
  color: $color_2;
  border: 1px solid $bg-color-2;
  padding: 0.3em 0.8em;
  @include border-radius(1px);
}
.chosen-results {
  li {
    &.active-result {
      &:hover, &.highlighted {
        color: $color_3;
      }
      &:active {
        color: #b20000;
      }
    }
    &.result-selected {
      color: $color_4!important;
    }
  }
}

.staff-item {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.7em;
  position: relative;
  z-index: 2;
  .delete-staff {
    cursor: pointer;
    margin-left: 0.2em;
    vertical-align: middle;
    margin-top: -2px;
  }
}
.radio-staff-container {
  position: relative;
  display: inline;
  z-index: 3;
  input {
    position: absolute;
    top: 100%;
    right: 0;
    height: 0;
    &:focus {
      position: static;
      height: auto;
    }
  }
}