$menu-bottom-border-color: rgba(0, 0, 0, 0.06);
.app-menu-list {
  padding: 1.2em 0 0;
  line-height: 1.4em;
  position: relative;
  left: 0.15em;
  margin: 0 0.15em 0 0;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  width: 200%;
  @include box-sizing(border-box);
  &.right-items {
    padding-right: 0.825em;
    float: right;
    .app-menu-item {
      float: right;
      + .app-menu-item {
        margin-left: 0;
        margin-right: 1.65em;
      }
    }
  }
}
.app-menu-container {
  position: relative;
}
.app-menu-item {
  display: block;
  float: left;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  + .app-menu-item {
    margin-left: 1.65em;
  }
  .app-menu-item-text {
    display: block;
    padding-bottom: 0.8em;
    border-bottom: 2px solid transparent;
  }
  @include transition(color linear 0.1s);
  cursor: pointer;
  &.active {
    .app-menu-item-text {
      border-color: initial;
    }
    &.no-border {
      .app-menu-item-text {
        border-color: transparent;
        font-weight: bold;
        color: $color_3;
      }
    }
  }
  &.float-right {
    margin-right: 0.825em;
    + .app-menu-item {
      margin-right: 1.65em;
      margin-left: 0;
    }
  }
}
.app-menu-block {
  overflow: hidden;
  padding-left: 19px;
  padding-right: 10px;
}
.app-menu-line {
  border-bottom: 1px solid $menu-bottom-border-color;
}