.content-table {
  margin: 0 0 90px;
  overflow: visible;
  font-size: 14px;
  background-color: #fff;
  position: relative;
  .table-row {
    padding: 17px 0;
    border-bottom: 1px solid #e6e7e9;
    display: block;
    line-height: 17px;
    .avatar {
      margin: -8px 0;
    }
    &.onread {
      background-color: $bg-color-2;
      .avatar {
        @include opacity(0.5);
      }
    }
    &:after, &:before {
      clear: both;
      content: '';
      display: table;
      width: 100%;
    }
    &.error-row {
      margin-top: -1px;
      border: 1px solid $color_5;
      .table-cell {
        &:first-child {
          margin-left: -1px;
        }
      }
    }
    cursor: url('images/t-cursor.png'), default;
  }
  .table-cell {
    float: left;
    @include box-sizing(border-box);
    padding: 0 20px;
    &:first-child {
      padding: 0 10px 0 18px;
    }
    &.label {
    }
  }
  @import 'tables/tasks';
  @import 'tables/form';
  @import 'tables/staff';
}
