p {
  margin: 0;
}
.normal-text {
  font-size: 1em;
  line-height: 20px;
  color: $color_4;
}
.space-line {
  height: 48px;
}
.errors-container {
  position: absolute;
  top: 0;
  z-index: 7;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
}
.error-screen {
  background-color: rgba(138, 141, 153, 0.5);
  color: $color_1;
  padding: 16px 17px 16px 20px;
  line-height: 18px;
  .error-screen-btns {
    float: right;
    white-space: nowrap;
  }
  .error-screen-btn {
    display: inline-block;
    line-height: 20px;
    cursor: pointer;
    color: $color_3;
    &:active {
      color: $color_6;
    }
    + .error-screen-btn {
      margin-left: 15px;
    }
    &.error-screen-close {
      width: 10px;
      height: 10px;
      background: url(images/close-white.svg) center center no-repeat;
      margin-left: 20px;
    }
  }
  + .error-screen {
    border-top: 1px solid rgba(138, 141, 153, 0.5);
  }
}