@import 'compass';
$color_1: #fff;
$color_2: #000;
$color_3: #fd4c50;
$color_4: #8A8D99;
$color_5: #FFB2B2;
$color_6: #b20000;
$bg-color-1: #fff;
$bg-color-2: #f2f3f5;

html, body {
  height: 100%;
  min-height: 300px;
}
body {
  margin: 0;
  font: 14px/17px Arial, "MS Trebuchet", sans-serif;
  background-color: $bg-color-1;
}

a {
  text-decoration: none;
  img {
    border: 0;
  }
}

img, svg {
  vertical-align: middle;
}
.block {
  display: block;
}
@import "menu";
@import "tables";
@import "chose";
@import "buttons";
@import "texts";
@import "login-screen";

.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
.float-right {
  float: right;
}
.content-wrapper {
  padding: 20px;
}
.bold {
  font-weight: bold;
}
.loader-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 6;
  left: 0;
  right: 0;
  background-color: rgba(242, 243, 245, 0.5);
}

.link {
  color: $color_2;
  @include transition(color linear 0.05s);
  a {
    color: inherit;
    text-decoration: none;
  }
  .link-opacity {
    color: $color_4;
  }
  &:hover {
    &, .link-opacity {
      color: $color_3;
    }
  }
  &:active {
    &, .link-opacity {
      color: $color_6;
    }
  }
  &.link-opacity {
    color: $color_4;
    &:hover {
      color: $color_3;
    }
    &:active {
      color: $color_6;
    }
  }
}
.svg-link {
  path {
    @include transition(all linear 0.1s);
    fill: $color_2;
  }
  polyline {
    @include transition(all linear 0.1s);
    stroke: $color_2;
  }
  .link-opacity {
    path {
      fill: $color_4;
    }
    polyline {
      stroke: $color_2;
    }
  }
  &:hover {
    &, .link-opacity {
      path {
        fill: $color_3;
      }
      polyline {
        stroke: $color_3;
      }
    }
  }
  &:active {
    &, .link-opacity {
      path {
        fill: $color_6;
      }
      polyline {
        stroke: $color_6;
      }
    }
  }
  &.link-opacity {
    path {
      fill: $color_4;
    }
    polyline {
      stroke: $color_4;
    }
    &:hover {
      path {
        fill: $color_3;
      }
      polyline {
        stroke: $color_3;
      }
    }
    &:active {
      path {
        fill: $color_6;
      }
      polyline {
        stroke: $color_6;
      }
    }
  }
  &.active {
    &.link-opacity {
      path {
        fill: $color_2;
      }
      polyline {
        stroke: $color_2;
      }
    }
  }
}

.red-color {
  color: $color_3;
}
.small-digit {
  font-size: 0.93em;
}

.content-block {
  padding-left: 19px;
  padding-right: 10px;
}
.app-container {
  width: 440px;
  height: 500px;
  background-color: $bg-color-2;
  position: relative;
  overflow: hidden;
}
.app-content-container {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.app-header {
  &:after, &:before {
    display: table;
    content: '';
    clear: both;
    font-size: 0;
  }
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
  z-index: 2;
  background: inherit;
  .app-settings-btn {
    float: right;
    margin-top: -4px;
    margin-right: 7px;
    cursor: pointer;
  }
  .app-logo {
    display: block;
    float: left;
    width: 130px;
    height: 14px;
    img {
      width: 100%;
    }
  }
}
.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
.circle-btn {
  background-color: $color_3;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  color: $color_1;
  cursor: pointer;
  @include border-radius(50%);
  line-height: 48px;
  text-align: center;
  font-size: 24px;
}

.pages-list-container {
  width: 200%;
  height: 451px;
  .pages-item {
    float: left;
    width: 50%;
    position: relative;
    height: 100%;
  }
}
.page-item-content {
  position: relative;
  height: 100%;
  &:after {
    clear: both;
    display: block;
    content: '';
  }
}
.hidden {
  display: none;
}
.relative-container {
  position: relative;
  height: 100%;
}
.app-content-inside {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}
.search-input + .app-content-inside {
  top: 52px;
}

/* Элементы форм */
.textarea {
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
}
input[type="text"], input[type="password"], input:not([type]), textarea, .textarea {
  font: inherit;
  @include box-sizing(border-box);
  color: inherit;
  border: 0 none;
  outline: none;
  padding: 0;
  background: none;
  vertical-align: top;
  &.hidden-field {
    height: 0;
    overflow: hidden;
    display: block;
  }
  -webkit-appearance: none;
  &:-ms-input-placeholder {
    color: $color_4;
  }
  &::-webkit-input-placeholder {
    color: $color_4;
  }
  &:-moz-placeholder {
    color: $color_4;
  }
  &:focus {
    &:-ms-input-placeholder {
      color: transparent;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
  }
}
input {
  &.search-input {
    padding: 17px 10px 17px 18px;
    width: 100%;
    background-color: $bg-color-2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 3;
  }
}
textarea {
  resize: vertical;
  overflow: hidden;
}
.radio-button {
  display: inline-block;
  position: relative;
  input {
    right: 100%;
    bottom: 100%;
    margin: 0;
    font-size: 0;
    line-height: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    &:checked + span {
      color: $color_3;
      font-weight: bold;
    }
  }
}
.checkbox-text {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  color: $color-4;
  white-space: nowrap;
  &:hover {
    color: $color-3;
  }
  input {
    position: absolute;
    right: 100%;
    margin: 0;
    padding: 0;
    &:checked {
      + span {
        color: $color_2;

      }
    }
  }
}

.avatar {
  @include border-radius(50%);
  &.avatar_32 {
    width: 32px;
    height: 32px;
  }
}

/* Datepicker */
.ui-datepicker {
  background-color: $bg-color-1;;
  @include border-radius(2px);
  border: 1px solid #e6e7e9;
  font-size: 14px;
  color: $color_4;
  margin-left: -58px;
  display: none;
  @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
  margin-top: 8px;
}
.ui-datepicker-header {
  border-bottom: 1px solid #e6e7e9;
  text-align: center;
  padding: 0.5em;
  line-height: 17px;
}
.ui-datepicker-calendar {
  font: inherit;
  color: inherit;
  border-spacing: 0;
  margin: 10px;
  a, span {
    color: $color_2;
    display: block;
    margin: 1px 0;
  }
  th, td {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
  }
  td {
    padding: 0;
    a, span {
      padding: 4px 6px;
    }
    a {
      background-color: $bg-color-2;
      &:hover {
        color: $color_3;
      }
      &:active {
        color: #b20000;
      }
    }
    &.ui-datepicker-days-cell-over {
      a {
        color: $color_3;
      }
    }
    span {
      color: $color_4;
    }
    &.ui-datepicker-other-month {
      a {
        background-color: $bg-color-1;
        color: $color_4;
        &:hover {
          color: $color_3;
        }
      }
    }
    &.ui-datepicker-today {
      a {
        background-color: $color_4;
        color: #000;
      }
    }
    &.ui-datepicker-current-day {
      a {
        background-color: $color_3;
        color: #000;
      }
    }
  }
}
.ui-datepicker-prev, .ui-datepicker-next {
  cursor: pointer;
  padding: 2px;
  .ui-icon {
    width: 10px;
    height: 10px;
    display: block;
    margin-top: 3px;
  }
}
.ui-datepicker-prev {
  float: left;
  .ui-icon {
    background: url(images/back.svg) center center no-repeat;
  }
}
.ui-datepicker-next {
  float: right;
  .ui-icon {
    background: url(images/next.svg) center center no-repeat;
  }
}

.chose-button {
  white-space: nowrap;
  img {
    margin-left: 5px;
  }
}
.reset-btn-container {
  text-align: center;
  padding: 0.2em 0 0.7em;
  .link {
    cursor: pointer;
  }
}