body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.card-content {
    background-color: #f9f9f9;
    width: 700px;
    margin: 0 auto;
    min-height: 100%;
}
.ranger-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.ranger-container {
    position: fixed;
    top: 0;
    left: 50%;
    width: 384px;
    margin-left: -192px;
    margin-top: 100px;
    z-index: 11;
}
.ranger-content-block {
    border: 15px solid #87de87;
    background-color: #fff;
    text-align: center;
    padding: 20px 15px 15px;
}
.ranger-container .ranger-button {
    box-sizing: border-box;
    background-color: #87de87;
    border: 0 none;
    line-height: 15px;
    padding: 5px 13px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    margin: 0 14px;
    cursor: pointer;
}
.ranger-container .ranger-button:hover {
    background-color: #61a361;
}
.ranger-container input {
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    text-align: center;
    line-height: 15px;
    padding: 5px;
    width: 81px;
    margin: 0;
}
.ranger-container .ranger-line {
    background-color: #cccccc;
    height: 8px;
    position: relative;
    margin: 14px 0 40px;
}
.ranger-container .ranger-toggle {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #87de87;
    width: 20px;
    height: 26px;
    border-radius: 4px;
    margin-left: -10px;
    margin-top: -9px;
    cursor: pointer;
}

.plants-list {
    padding: 30px;
}

.plant-item {
    width: 330px;
    padding: 22px 0;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    background-color: #f9f9f9;
    border-radius: 4px;
}
.plant-item-content {
    margin: 0 10px;
}
.plant-item-title-row, .plant-item-value-row {
    display: inline-block;
}
.plant-item-row {
    padding: 3px 0;
}
.plant-item-title-row {
    color: #4d4d4d;
}
.plant-item-value-row {
    margin-left: 5px;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    line-height: 24px;
    padding: 0 20px;
    background-color: #fff;
}

.plant-item-value-row.plant-status-success {
    color: #1ea134;
}
.plant-item-value-row.plant-status-failed {
    color: #a61600;
}
.plant-item-button-line {
    text-align: center;
    margin-top: 20px;
}
.plant-item-button {
    box-sizing: border-box;
    background-color: #87de87;
    border: 0 none;
    line-height: 15px;
    padding: 5px 13px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    margin: 0 14px;
    cursor: pointer;
    display: inline-block;
}
.plant-item-button:hover {
    background-color: #61a361;
}


.head-lk-page {
    background-color: #87de87;
    color: #fff;
    padding: 33px 21px 33px 28px;
    line-height: 43px;
}
.head-lk-page .head-lk-text {
    margin: 0;
    font-size: 25px;
}
.head-lk-page .head-lk-text.big {
    font-size: 30px;
}
.head-lk-page:after {
    clear: both;
    content: '';
    display: block;
}
.head-lk-button {
    float: right;
    display: block;
    background-color: #87de87;
    line-height: 44px;
    height: 45px;
    padding: 0 18px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    font-size: 25px;
    margin: -1px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.head-lk-button:hover {
    background-color: #61a361;
}









.content-page-lk {
    width: 640px;
    margin: 0 auto;
    padding: 30px 0;
}
.graph-container {
    width: 100%;
    height: 265px;
}
.info-block {
    padding: 25px;
}
.info-block.border-bottom {
    border-bottom: 1px solid #989898;
}

.btn-green {
    box-sizing: border-box;
    background-color: #87de87;
    border: 0 none;
    line-height: 15px;
    padding: 8px 13px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.btn-green:hover {
    background-color: #61a361;
}
.info-block .btn-green {
    margin-top: 25px;
}
.google-visualization-tooltip {
    border: 0 none!important;
    background-color: #fff!important;
    box-shadow: none!important;
}
.graph-tooltip {
    background-color: #f2f2f2;
    color: #000;
    padding: 5px;
    line-height: 16px;
}
.map-container {
    width: 100%;
    height: 260px;
    background-color: #fff;
}
.info-block-title {
    font-size: 28px;
    color: #888;
    margin: 20px 0;
}
.info-block .info-block-title {
    margin-top: 0;
}

.checkbox-toggler {
    display: inline-block;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    line-height: 20px;
    padding: 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 80px;
    cursor: pointer;
}
.checkbox-toggler .checkbox-toggler-btn {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    background-color: #87de87;
    width: 35px;
    text-align: center;
}
.checkbox-toggler .checkbox-toggler-btn:after, .checkbox-toggler .checkbox-toggler-btn:before {
    display: block;
    content: '';
    border-style: solid;
}
.checkbox-toggler .checkbox-toggler-btn:before {
    margin: 6px 0 6px 5px;
    float: left;
    border-width: 4px 8px 4px 0;
    border-color: transparent #fff;
}
.checkbox-toggler .checkbox-toggler-btn:after {
    margin: 6px 5px 6px 0;
    float: right;
    border-width: 4px 0 4px 8px;
    border-color: transparent #fff;
}
.checkbox-toggler .checkbox-toggler-text {
    display: block;
    padding: 0 4px;
}
.checkbox-toggler .checkbox-toggler-text.check-on {
    text-align: left;
    display: none;
}
.checkbox-toggler .checkbox-toggler-text.check-off {
    text-align: right;
}
.checkbox-toggler input {
    position: absolute;
    right: 100%;
    bottom: 100%;
}
.checkbox-toggler input:checked ~ .check-off {
    display: none;
}
.checkbox-toggler input:checked ~ .check-on {
    display: block;
}
.checkbox-toggler input:checked ~ .checkbox-toggler-btn {
    right: 0;
    left: auto;
}

.plant-item-row input {
    box-sizing: border-box;
    font: inherit;
    line-height: 24px;
}
.date-block {
    width: 130px;
}
.plant-item-row .btn-green {
    line-height: 18px;
    padding: 4px 13px 4px;
    margin-top: 0;
}
.ui-widget {
    font-size: 0.9em;
}
.btn-green.no-hover {
    cursor: default;
}
.btn-green.no-hover:hover {
    background-color: #87de87;
}

.btn-green.with-arrow:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff transparent;
}
.btn-green.with-arrow.top-arrow:after {
    border-width: 0 4px 8px 4px;
    margin-top: -2px;
}
.btn-green.with-arrow.bottom-arrow:after {
    border-width: 8px 4px 0 4px;
}





