@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-bold.woff2') format('woff2'),
    url('../fonts/proximanova-bold.woff') format('woff'),
    url('../fonts/proximanova-bold.ttf') format('truetype'),
    url('../fonts/proximanova-bold.svg#proxima_novabold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-light.woff2') format('woff2'),
    url('../fonts/proximanova-light.woff') format('woff'),
    url('../fonts/proximanova-light.ttf') format('truetype'),
    url('../fonts/proximanova-light.svg#proxima_novalight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-reg.eot');
    src: url('../fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-reg.woff2') format('woff2'),
    url('../fonts/proximanova-reg.woff') format('woff'),
    url('../fonts/proximanova-reg.ttf') format('truetype'),
    url('../fonts/proximanova-reg.svg#proxima_novaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-sbold.eot');
    src: url('../fonts/proximanova-sbold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-sbold.woff2') format('woff2'),
    url('../fonts/proximanova-sbold.woff') format('woff'),
    url('../fonts/proximanova-sbold.ttf') format('truetype'),
    url('../fonts/proximanova-sbold.svg#proxima_novasemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: 'Proxima Nova', Arial, Verdana, sans-serif;
    min-width: 320px;
    position: relative;
}
section {
    background-size: cover;
    position: relative;
    min-height: 100%;
}
section + section {
    background-color: green;
}
.logotype {
    max-width: 80%;
    margin: 21px 0;
}
.members-of {
    color: #fff;
    position: relative;
    margin-top: -87px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.55em;
    margin-bottom: 34px;
}
section.start-section {
    text-align: center;
    background-image: url(images/bg.jpg);
}
section.start-section .content-section {
    position: relative;
    left: 0;
    right: 0;
    padding: 80px 0 180px;
}
section.start-section .center-text {
    color: #fff;
    font-size: 1.05em;
    line-height: 32px;
    width: 490px;
    margin: 0 auto;
    max-width: 95%;
}
section.start-section .logotypes-list {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 46px 0 10px;
}
section.start-section .logotypes-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
section.start-section .logotypes-list li {
    display: inline-block;
}
section.start-section .logotypes-list li + li {
    margin-left: 1.5%;
}
section.start-section .logotypes-list ul a {
    display: block;
    height: 70px;
    line-height: 70px;
    width: 136px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-align: center;
}
section.start-section .logotypes-list ul img {
    vertical-align: middle;
}
section.start-section .logotypes-list ul a:hover {
    border-color: #d2d9e6;
}
.map-block-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.arrow-down {
    width: 34px;
    height: 14px;
    display: block;
    margin: 6px auto 0;
    background: url(images/arrow-down.png) center center no-repeat;
    cursor: pointer;
}
.contacts-content {
    box-sizing: border-box;
    background-color: #fff;
    width: 644px;
    border-radius: 2px;
    top: 13%;
    padding: 26px 0 22px;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
    position: relative;

}
.contacts-content-down-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #fff transparent;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}
.contacts-content:after {
    content: '';
    display: block;
    clear: both;
}
.address-block {
    line-height: 28px;
    color: #343536;
    float: left;
    width: 300px;
    padding: 2px 0;
    margin-left: 39px;
}
.contacts-block {
    margin-left: 369px;
    margin-right: 39px;
}
.contacts-content table {
    font-family: inherit;
    line-height: 33px;
    width: 236px;
}
.contacts-content table a {
    color: #4ab98e;
    text-decoration: underline;
}
.contacts-content table a:hover {
    text-decoration: none;
}
.contacts-content .label-item {
    color: #717171;
}
.contacts-content .value-item {
    color: #3d3e3e;
    padding-left: 14px;
}
#map {
    width: 100%;
    height: 100%;
}
.map-block-mask {
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 480px) {
    section.start-section .center-text {
        font-size: 0.85em;
        line-height: 26px;
    }
}

@media screen and (max-height: 640px) {
    section.start-section .content-section {
        padding-top: 40px;
    }
}
@media screen and (max-height: 580px) {
    .logotype {
        margin: 10px 0;
    }
}