/* line 6, ../sass/_reset.scss */
html {
  height: 100%;
}

/* line 9, ../sass/_reset.scss */
body {
  margin: 0;
  font: 20px 'Open Sans', sans-serif normal normal;
  position: relative;
  min-height: 100%;
  min-width: 320px;
  color: #4d4d4d;
}

/* line 17, ../sass/_reset.scss */
a {
  color: #b6d067;
  text-decoration: none;
}
/* line 20, ../sass/_reset.scss */
a:hover {
  color: #849d4f;
  text-decoration: underline;
}

/* line 25, ../sass/_reset.scss */
img {
  border: 0 none;
  vertical-align: middle;
}

/* line 29, ../sass/_reset.scss */
h1, h2, h3, h4, h5, p {
  margin: 0;
}

/* line 32, ../sass/_reset.scss */
h1, h2 {
  text-align: center;
}

/* line 35, ../sass/_reset.scss */
h2 {
  color: #b6cf69;
  font-size: 1.8em;
  line-height: 1.4em;
  margin: 0.8em 0;
}

/* line 41, ../sass/_reset.scss */
.text-center {
  text-align: center;
}

/* line 44, ../sass/_reset.scss */
.text-left {
  text-align: left;
}

/* line 47, ../sass/_reset.scss */
.text-right {
  text-align: right;
}

/* line 50, ../sass/_reset.scss */
.float-left {
  float: left;
}

/* line 53, ../sass/_reset.scss */
.float-right {
  float: right;
}

/* line 56, ../sass/_reset.scss */
.clear-both {
  clear: both;
}

/* line 59, ../sass/_reset.scss */
.clearfix {
  content: '';
  display: table;
}

/* line 64, ../sass/_reset.scss */
.normal-text {
  font-size: 0.7em;
  line-height: 1.25em;
}
/* line 67, ../sass/_reset.scss */
.normal-text p {
  margin: 17px 0;
}
/* line 70, ../sass/_reset.scss */
.normal-text b {
  color: #b6d067;
}

/* line 74, ../sass/_reset.scss */
.nowrap {
  white-space: nowrap;
}

/* line 77, ../sass/_reset.scss */
.no-visibility {
  visibility: hidden;
}

/* line 80, ../sass/_reset.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 83, ../sass/_reset.scss */
.bold {
  font-weight: bold;
}

/* line 86, ../sass/_reset.scss */
.italic {
  font-style: italic;
}

/* line 89, ../sass/_reset.scss */
h1 {
  font-size: 1.5em;
  line-height: 1.2em;
}

/* line 1, ../sass/page_elements/_header.scss */
header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  color: #58595b;
  background-color: transparent;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
/* line 10, ../sass/page_elements/_header.scss */
header.scrolled-page {
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}
/* line 13, ../sass/page_elements/_header.scss */
header.scrolled-page .header-content {
  padding: 5px 8px;
}
/* line 16, ../sass/page_elements/_header.scss */
header.scrolled-page .header-logotype {
  margin-top: 6px;
}
/* line 18, ../sass/page_elements/_header.scss */
header.scrolled-page .header-logotype img {
  width: 150px;
}
/* line 23, ../sass/page_elements/_header.scss */
header .header-content {
  padding: 26px 5.7% 26px 6%;
  position: relative;
  -moz-transition: padding 0.2s ease-in;
  -o-transition: padding 0.2s ease-in;
  -webkit-transition: padding 0.2s ease-in;
  transition: padding 0.2s ease-in;
}
/* line 27, ../sass/page_elements/_header.scss */
header .header-content:after {
  clear: both;
  content: '';
  display: block;
}
/* line 31, ../sass/page_elements/_header.scss */
header .header-logotype {
  display: block;
  float: left;
  margin-top: 0;
  -moz-transition: margin 0.2s ease-in;
  -o-transition: margin 0.2s ease-in;
  -webkit-transition: margin 0.2s ease-in;
  transition: margin 0.2s ease-in;
}
/* line 36, ../sass/page_elements/_header.scss */
header .header-logotype img {
  width: 230px;
  -moz-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
/* line 41, ../sass/page_elements/_header.scss */
header .header-menu {
  font-size: 18px;
  font-weight: bold;
  float: right;
  line-height: 42px;
}
/* line 46, ../sass/page_elements/_header.scss */
header .header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 52, ../sass/page_elements/_header.scss */
header .header-menu li {
  display: inline-block;
}
/* line 54, ../sass/page_elements/_header.scss */
header .header-menu li + li {
  margin-left: 8px;
}
/* line 58, ../sass/page_elements/_header.scss */
header .header-menu a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 31px;
  margin-top: 6px;
  line-height: 30px;
  padding: 0 8px;
  margin: 0 -8px;
}
/* line 67, ../sass/page_elements/_header.scss */
header .header-menu a:hover {
  background-color: #b6d067;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 74, ../sass/page_elements/_header.scss */
header .show-hide-menu {
  height: 38px;
  width: 38px;
  text-align: center;
  color: inherit;
  line-height: 38px;
  margin: 2px;
  float: right;
  display: none;
  font-size: 32px;
  cursor: pointer;
}
/* line 85, ../sass/page_elements/_header.scss */
header .show-hide-menu.active-menu {
  color: #b6d067;
}
/* line 87, ../sass/page_elements/_header.scss */
header .show-hide-menu.active-menu + .header-menu {
  display: block;
}

@media only screen and (max-width: 800px) and (min-width: 720px) {
  /* line 95, ../sass/page_elements/_header.scss */
  header .header-content {
    padding: 26px 3%;
  }
}
@media only screen and (max-width: 720px) and (min-width: 640px) {
  /* line 101, ../sass/page_elements/_header.scss */
  header .header-content {
    padding: 5px 8px;
  }
  /* line 103, ../sass/page_elements/_header.scss */
  header .header-content .header-logotype {
    margin-top: 6px;
  }
  /* line 105, ../sass/page_elements/_header.scss */
  header .header-content .header-logotype img {
    width: 150px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 113, ../sass/page_elements/_header.scss */
  header .header-menu {
    display: none;
  }
  /* line 116, ../sass/page_elements/_header.scss */
  header .show-hide-menu {
    display: block;
  }
}
@media only screen and (max-width: 640px) and (min-width: 480px) {
  /* line 123, ../sass/page_elements/_header.scss */
  header .header-menu {
    position: absolute;
    right: 5px;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
    margin-top: -15px;
  }
  /* line 131, ../sass/page_elements/_header.scss */
  header .header-menu ul {
    position: relative;
    padding: 10px 18px;
  }
  /* line 134, ../sass/page_elements/_header.scss */
  header .header-menu ul:after {
    content: '';
    position: absolute;
    border-width: 0 9px 9px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.9);
    bottom: 100%;
    right: 41px;
  }
  /* line 144, ../sass/page_elements/_header.scss */
  header .header-menu li {
    display: block;
    margin: 0;
    width: 150px;
  }
  /* line 148, ../sass/page_elements/_header.scss */
  header .header-menu li + li {
    margin: 0;
  }
  /* line 154, ../sass/page_elements/_header.scss */
  header.scrolled-page .header-menu {
    margin-top: 10px;
  }
  /* line 157, ../sass/page_elements/_header.scss */
  header.scrolled-page .header-menu ul:after {
    right: 16px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 167, ../sass/page_elements/_header.scss */
  header {
    background-color: rgba(255, 255, 255, 0.95);
  }
  /* line 169, ../sass/page_elements/_header.scss */
  header .header-content {
    padding: 5px 8px;
    position: relative;
  }
  /* line 172, ../sass/page_elements/_header.scss */
  header .header-content .header-logotype {
    margin-top: 6px;
  }
  /* line 174, ../sass/page_elements/_header.scss */
  header .header-content .header-logotype img {
    width: 150px;
  }
  /* line 178, ../sass/page_elements/_header.scss */
  header .header-content .header-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    display: block;
    overflow: hidden;
  }
  /* line 186, ../sass/page_elements/_header.scss */
  header .header-content .header-menu a {
    display: block;
    line-height: 60px;
    height: auto;
    padding: 0 20px;
    margin: -5px -20px;
  }
  /* line 193, ../sass/page_elements/_header.scss */
  header .header-content .header-menu li {
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: height 0.2s, padding ease-in;
    -o-transition: height 0.2s, padding ease-in;
    -webkit-transition: height 0.2s, padding ease-in;
    transition: height 0.2s, padding ease-in;
  }
  /* line 205, ../sass/page_elements/_header.scss */
  header .header-content .show-hide-menu.active-menu + .header-menu li {
    height: 76px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
/* line 1, ../sass/page_elements/_footer.scss */
footer {
  background-color: #111113;
  color: #777;
  font-size: 0.6em;
  padding: 46px 0 48px;
  line-height: 2.4em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 11, ../sass/page_elements/_footer.scss */
footer:after {
  clear: both;
  content: '';
  display: block;
}
/* line 14, ../sass/page_elements/_footer.scss */
footer .footer-menu {
  width: 1140px;
  max-width: 95%;
  margin: 0 auto;
}
/* line 19, ../sass/page_elements/_footer.scss */
footer .foot_1_of_4 {
  width: 25%;
  margin-bottom: 2em;
}
/* line 23, ../sass/page_elements/_footer.scss */
footer h5 {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
  margin-bottom: 1em;
}
/* line 31, ../sass/page_elements/_footer.scss */
footer .contacts-col .fa {
  margin-left: -2em;
  margin-top: 7px;
  float: left;
}
/* line 35, ../sass/page_elements/_footer.scss */
footer .contacts-col .fa:before {
  font-size: 1.2em;
}
/* line 39, ../sass/page_elements/_footer.scss */
footer .contacts-col li {
  padding-left: 2em;
  padding-right: 25px;
}
/* line 47, ../sass/page_elements/_footer.scss */
footer .social-links h5 {
  margin-bottom: 1.5em;
}
/* line 50, ../sass/page_elements/_footer.scss */
footer .social-links .fa {
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  line-height: 30px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background-color 0.2s, color ease-in;
  -o-transition: background-color 0.2s, color ease-in;
  -webkit-transition: background-color 0.2s, color ease-in;
  transition: background-color 0.2s, color ease-in;
  background-color: #fff;
  color: #313134;
}
/* line 60, ../sass/page_elements/_footer.scss */
footer .social-links .fa.fa-thumbs-o-up {
  background: none;
  font-size: 1.2em;
  color: #fff;
}
/* line 66, ../sass/page_elements/_footer.scss */
footer .social-links a {
  width: 1.55em;
  height: 1.55em;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.6em;
  text-decoration: none;
}
/* line 75, ../sass/page_elements/_footer.scss */
footer .social-links a:hover {
  text-decoration: none;
}
/* line 77, ../sass/page_elements/_footer.scss */
footer .social-links a:hover .fa {
  color: #fff;
}
/* line 79, ../sass/page_elements/_footer.scss */
footer .social-links a:hover .fa.fa-facebook {
  background-color: #3A5897;
}
/* line 82, ../sass/page_elements/_footer.scss */
footer .social-links a:hover .fa.fa-thumbs-o-up {
  background: none;
}
/* line 85, ../sass/page_elements/_footer.scss */
footer .social-links a:hover .fa.fa-twitter {
  background-color: #00BDEC;
}
/* line 88, ../sass/page_elements/_footer.scss */
footer .social-links a:hover .fa.fa-pinterest-p {
  background-color: #CD1D1F;
}
/* line 93, ../sass/page_elements/_footer.scss */
footer .social-links a + a {
  margin-left: 0.2em;
}
/* line 98, ../sass/page_elements/_footer.scss */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 103, ../sass/page_elements/_footer.scss */
footer a {
  text-decoration: none;
  color: inherit;
}
/* line 106, ../sass/page_elements/_footer.scss */
footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 750px) and (min-width: 480px) {
  /* line 113, ../sass/page_elements/_footer.scss */
  .col.foot_1_of_4 {
    width: 50%;
    vertical-align: top;
  }
  /* line 116, ../sass/page_elements/_footer.scss */
  .col.foot_1_of_4:nth-child(3) {
    clear: both;
  }
}
@media only screen and (max-width: 480px) {
  /* line 122, ../sass/page_elements/_footer.scss */
  .col.foot_1_of_4 {
    width: 100%;
    float: none;
    text-align: center;
  }
  /* line 127, ../sass/page_elements/_footer.scss */
  .col.foot_1_of_4:not(.contacts-col) li {
    padding: 0 0.8em;
    margin: 0.6em 0;
    line-height: 1.4em;
  }
  /* line 131, ../sass/page_elements/_footer.scss */
  .col.foot_1_of_4:not(.contacts-col) li + li {
    border-left: 1px solid #777;
  }
  /* line 137, ../sass/page_elements/_footer.scss */
  .col.foot_1_of_4 .contacts-col li {
    padding-right: 0;
  }
  /* line 141, ../sass/page_elements/_footer.scss */
  .col.foot_1_of_4 li {
    display: inline-block;
  }
  /* line 143, ../sass/page_elements/_footer.scss */
  .col.foot_1_of_4 li.clear-both {
    display: block;
  }
}
/* All blocks from grid framework */
/*  COLUMN SETUP  */
/* line 3, ../sass/page_elements/_blocks.scss */
.col {
  display: block;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*  GROUPING  */
/* line 10, ../sass/page_elements/_blocks.scss */
.group:before, .group:after {
  content: "";
  display: table;
}

/* line 14, ../sass/page_elements/_blocks.scss */
.group:after {
  clear: both;
}

/*  GRID OF THREE  */
/* line 19, ../sass/page_elements/_blocks.scss */
.span_3_of_3 {
  width: 100%;
}

/* line 22, ../sass/page_elements/_blocks.scss */
.span_2_of_3, .foot_2_of_3 {
  width: 66.66%;
}

/* line 25, ../sass/page_elements/_blocks.scss */
.span_1_of_3, .foot_1_of_3 {
  width: 33.33%;
}

/*  GRID OF THREE  */
/* line 31, ../sass/page_elements/_blocks.scss */
.item_3_of_3 {
  width: 100%;
}

/* line 34, ../sass/page_elements/_blocks.scss */
.item_2_of_3 {
  width: 66.66%;
}

/* line 37, ../sass/page_elements/_blocks.scss */
.item_1_of_3 {
  width: 33.33%;
}

/*  GRID OF TWO  */
/* line 42, ../sass/page_elements/_blocks.scss */
.span_2_of_2 {
  width: 100%;
}

/* line 45, ../sass/page_elements/_blocks.scss */
.span_1_of_2, .foot_1_of_2 {
  width: 50%;
}

@media only screen and (max-width: 680px) {
  /* line 50, ../sass/page_elements/_blocks.scss */
  .span_2_of_3, .span_1_of_3 {
    width: 100%;
  }
}
/* line 4, ../sass/_page.scss */
.content-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

/* line 8, ../sass/_page.scss */
.content-page {
  padding-bottom: 272px;
  padding-top: 94px;
}

/* line 13, ../sass/_page.scss */
.title-page-line {
  background-color: #b6cf67;
  color: #fff;
  text-align: center;
  margin-top: 9px;
  padding: 43px 5.6% 49px;
}
/* line 19, ../sass/_page.scss */
.title-page-line strong {
  font-size: 0.9em;
  line-height: 1.1em;
  margin: 0.4em 0;
}
/* line 24, ../sass/_page.scss */
.title-page-line .title-text {
  color: inherit;
}

/* line 28, ../sass/_page.scss */
.title-text {
  color: #b6cf67;
  font-size: 1.8em;
  margin: 0;
}

@media only screen and (max-width: 750px) and (min-width: 480px) {
  /* line 35, ../sass/_page.scss */
  .content-page {
    padding-bottom: 394px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 40, ../sass/_page.scss */
  .content-page {
    padding-bottom: 511px;
    padding-top: 52px;
  }
}
/* Based fields */
/* line 4, ../sass/elements/_form_elements.scss */
input, select, textarea, button, select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  outline: none;
  vertical-align: middle;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

/* line 14, ../sass/elements/_form_elements.scss */
button {
  cursor: pointer;
}

/* line 18, ../sass/elements/_form_elements.scss */
input:not([type]), input[type="email"], input[type="text"], input[type="password"] {
  color: inherit;
}
/* line 20, ../sass/elements/_form_elements.scss */
input:not([type]):focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder, input[type="text"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder {
  color: transparent !important;
}
/* line 23, ../sass/elements/_form_elements.scss */
input:not([type]):focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder {
  color: transparent !important;
}
/* line 26, ../sass/elements/_form_elements.scss */
input:not([type]):focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="text"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder {
  color: transparent !important;
}

/* line 33, ../sass/elements/_form_elements.scss */
input:not([type]), input[type="email"], input[type="text"], .select, select {
  width: 100%;
  line-height: 21px;
  height: 26px;
  padding: 2px 10px 3px;
  -moz-box-shadow: 0 0 2px #fff;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff;
  font-size: 0.74em;
  font-weight: 600;
}
/* line 41, ../sass/elements/_form_elements.scss */
input:not([type]):-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, .select:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #ccc;
}
/* line 44, ../sass/elements/_form_elements.scss */
input:not([type])::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, .select::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #ccc;
}
/* line 47, ../sass/elements/_form_elements.scss */
input:not([type]):-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="text"]:-moz-placeholder, .select:-moz-placeholder, select:-moz-placeholder {
  color: #ccc;
}

/* line 52, ../sass/elements/_form_elements.scss */
.select {
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: default;
  color: #8f8f8f;
  font-weight: 600;
  text-align: left;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 62, ../sass/elements/_form_elements.scss */
.select .select-active-area, .select .select-list-container, .select .hidden-items {
  display: block;
}
/* line 65, ../sass/elements/_form_elements.scss */
.select .hidden-items {
  white-space: nowrap;
  font-weight: bold;
}
/* line 70, ../sass/elements/_form_elements.scss */
.select:after {
  position: absolute;
  content: '';
  display: block;
  right: 9px;
  top: 10px;
  width: 0;
  height: 0;
  border-width: 7px 4px 0;
  border-color: #b6d168 transparent transparent;
  border-style: solid;
  z-index: 2;
}
/* line 83, ../sass/elements/_form_elements.scss */
.select.active {
  background-color: #f1f1f1;
}
/* line 85, ../sass/elements/_form_elements.scss */
.select.active:after {
  border-width: 0 4px 7px;
  border-color: transparent transparent #b6d168;
  top: 8px;
}
/* line 91, ../sass/elements/_form_elements.scss */
.select .select-button-text {
  overflow: hidden;
  white-space: nowrap;
}
/* line 95, ../sass/elements/_form_elements.scss */
.select .select-original-container {
  height: 1px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 103, ../sass/elements/_form_elements.scss */
.select .select-list-container {
  position: absolute;
  left: 0;
  right: 0;
  -moz-box-shadow: 0 0 2px #fff;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff;
}
/* line 109, ../sass/elements/_form_elements.scss */
.select .select-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  color: #cccccc;
}
/* line 116, ../sass/elements/_form_elements.scss */
.select .select-option {
  display: block;
  border-bottom: 1px solid #fafafa;
  line-height: 25px;
  padding: 0 10px;
  cursor: pointer;
}
/* line 122, ../sass/elements/_form_elements.scss */
.select .select-option + .select-option {
  border-top: 1px solid #f1f1f1;
}
/* line 125, ../sass/elements/_form_elements.scss */
.select .select-option:hover, .select .select-option.selected {
  font-weight: 700;
  color: #b5ce66;
}
/* line 130, ../sass/elements/_form_elements.scss */
.select .no-visibility {
  height: 0;
}
/* line 133, ../sass/elements/_form_elements.scss */
.select select {
  background: none;
  color: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 140, ../sass/elements/_form_elements.scss */
fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}
/* line 144, ../sass/elements/_form_elements.scss */
fieldset.with-active-select {
  position: relative;
  z-index: 20;
}

/* line 150, ../sass/elements/_form_elements.scss */
legend {
  padding: 0;
}

/* line 154, ../sass/elements/_form_elements.scss */
.radio-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
/* line 158, ../sass/elements/_form_elements.scss */
.radio-button input {
  position: absolute;
  bottom: 100%;
  right: 100%;
  margin: 2px;
}
/* line 163, ../sass/elements/_form_elements.scss */
.radio-button input + span {
  position: relative;
  display: block;
  padding-left: 26px;
}
/* line 167, ../sass/elements/_form_elements.scss */
.radio-button input + span:after, .radio-button input + span:before {
  position: absolute;
  content: '';
  display: block;
  cursor: pointer;
}
/* line 173, ../sass/elements/_form_elements.scss */
.radio-button input + span:after {
  width: 16px;
  height: 16px;
  border: 1px solid;
  left: 0;
  top: 50%;
  margin-top: -9px;
  -moz-transition: border-color 0.1s linear;
  -o-transition: border-color 0.1s linear;
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
}
/* line 182, ../sass/elements/_form_elements.scss */
.radio-button input + span:before {
  width: 0;
  height: 0;
  left: 9px;
  top: 50%;
  margin: 0;
  background-color: #fff;
  -moz-transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear, background-color 50ms linear;
  -o-transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear, background-color 50ms linear;
  -webkit-transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear, background-color 50ms linear;
  transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear, background-color 50ms linear;
}
/* line 194, ../sass/elements/_form_elements.scss */
.radio-button input:checked + span:before {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #b5ce66;
}
/* line 201, ../sass/elements/_form_elements.scss */
.radio-button input:checked + span:after {
  border-color: #b5ce66;
}
/* line 209, ../sass/elements/_form_elements.scss */
.radio-button input[type="radio"] + span:after, .radio-button input[type="radio"] + span:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 216, ../sass/elements/_form_elements.scss */
.switch-light {
  display: inline-block;
  height: 30px;
  width: 100px;
  position: relative;
  overflow: visible;
  padding: 0;
  margin-top: 0;
  font-weight: bold;
  cursor: pointer;
}
/* line 226, ../sass/elements/_form_elements.scss */
.switch-light span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 229, ../sass/elements/_form_elements.scss */
.switch-light input {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
/* line 235, ../sass/elements/_form_elements.scss */
.switch-light input:checked ~ span:before {
  border-color: #b6cf67;
  box-shadow: inset 0 0 0 30px #b6cf67;
}
/* line 240, ../sass/elements/_form_elements.scss */
.switch-light input:checked ~ span span:last-of-type {
  opacity: 1;
  color: white;
}
/* line 244, ../sass/elements/_form_elements.scss */
.switch-light input:checked ~ span span:first-of-type {
  opacity: 0;
}
/* line 249, ../sass/elements/_form_elements.scss */
.switch-light input:checked ~ a {
  right: 0;
  left: 100%;
  margin-left: -30px;
}
/* line 256, ../sass/elements/_form_elements.scss */
.switch-light > span {
  line-height: 30px;
  vertical-align: middle;
  height: 30px;
  position: absolute;
  left: -100px;
  width: 100%;
  margin: 0;
  text-align: left;
  z-index: 4;
}
/* line 266, ../sass/elements/_form_elements.scss */
.switch-light > span:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100px;
  top: 0;
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 30px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
}
/* line 280, ../sass/elements/_form_elements.scss */
.switch-light > span span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: block;
  margin-left: 100px;
  text-align: center;
  width: 100%;
  opacity: 0;
}
/* line 290, ../sass/elements/_form_elements.scss */
.switch-light > span span:first-of-type {
  opacity: 1;
  padding-left: 30px;
}
/* line 294, ../sass/elements/_form_elements.scss */
.switch-light > span span:last-of-type {
  padding-right: 30px;
}
/* line 299, ../sass/elements/_form_elements.scss */
.switch-light a {
  display: block;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none;
  position: absolute;
  right: 50%;
  top: 0;
  z-index: 4;
  height: 100%;
  padding: 0;
  left: 0;
  width: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 100%;
  -moz-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* line 1, ../sass/elements/_buttons.scss */
.btn {
  line-height: 24px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 10px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  cursor: pointer;
}
/* line 16, ../sass/elements/_buttons.scss */
.btn.btn-red {
  background-color: #cc1421;
  color: #fff;
  text-decoration: none;
}
/* line 20, ../sass/elements/_buttons.scss */
.btn.btn-red:hover {
  background-color: #901219;
}
/* line 24, ../sass/elements/_buttons.scss */
.btn.btn-green {
  background-color: #b6cf67;
  color: #fff;
  text-decoration: none;
}
/* line 28, ../sass/elements/_buttons.scss */
.btn.btn-green:hover {
  background-color: #849d4f;
}
/* line 32, ../sass/elements/_buttons.scss */
.btn.btn-disabled {
  background-color: #f1f1f1;
  border: 1px solid #cccccc;
  color: #b6d067;
  cursor: default;
  padding: 0;
}
/* line 39, ../sass/elements/_buttons.scss */
.btn .number-button {
  float: right;
  padding: 0 14px;
  border-left: 1px solid;
  border-color: inherit;
}
/* line 45, ../sass/elements/_buttons.scss */
.btn.btn-big {
  padding: 7px 20px;
  font-weight: 600;
  line-height: 20px;
}

/* line 1, ../sass/page_elements/_modal.scss */
.fade {
  opacity: 0;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
/* line 4, ../sass/page_elements/_modal.scss */
.fade.in {
  opacity: 1;
}

/* line 8, ../sass/page_elements/_modal.scss */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  font-size: 13px;
}
/* line 17, ../sass/page_elements/_modal.scss */
.modal .modal-dialog {
  position: relative;
  z-index: 1050;
  width: auto;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
/* line 26, ../sass/page_elements/_modal.scss */
.modal.fade .modal-dialog {
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
}
/* line 32, ../sass/page_elements/_modal.scss */
.modal.in .modal-dialog {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 36, ../sass/page_elements/_modal.scss */
.modal .modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  outline: none;
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}
/* line 45, ../sass/page_elements/_modal.scss */
.modal .modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
/* line 49, ../sass/page_elements/_modal.scss */
.modal .modal-header .close {
  margin-top: -2px;
}
/* line 53, ../sass/page_elements/_modal.scss */
.modal .modal-title {
  margin: 0;
  line-height: 1.428571429;
  font-size: 18px;
}
/* line 58, ../sass/page_elements/_modal.scss */
.modal .modal-body {
  position: relative;
  padding: 20px;
}
/* line 62, ../sass/page_elements/_modal.scss */
.modal p {
  margin: 0 0 20px 0;
}
/* line 65, ../sass/page_elements/_modal.scss */
.modal .modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #ddd;
}
/* line 70, ../sass/page_elements/_modal.scss */
.modal .modal-footer:before, .modal .modal-footer:after {
  display: table;
  content: " ";
}
/* line 74, ../sass/page_elements/_modal.scss */
.modal .modal-footer .btn {
  font-weight: normal;
  padding: 5px 30px;
}

/* line 80, ../sass/page_elements/_modal.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  display: none;
}
/* line 89, ../sass/page_elements/_modal.scss */
.modal-backdrop.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 92, ../sass/page_elements/_modal.scss */
.modal-backdrop.in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  /* line 98, ../sass/page_elements/_modal.scss */
  .modal .modal-dialog {
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* line 103, ../sass/page_elements/_modal.scss */
  .modal .modal-content {
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* line 109, ../sass/page_elements/_modal.scss */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #555;
  text-shadow: 0 1px 0 #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/* line 118, ../sass/page_elements/_modal.scss */
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

/* line 1, ../sass/pages/_landing.scss */
.promo-section {
  padding: 1.7em 0 0;
}
/* line 3, ../sass/pages/_landing.scss */
.promo-section:after, .promo-section:before {
  display: table;
  content: '';
}

/* line 8, ../sass/pages/_landing.scss */
.how-it-works-list {
  list-style-type: none;
  margin: 0 43px 0 51px;
  padding: 45px 0;
  font-size: 0.584em;
  letter-spacing: 0.015em;
  color: #555;
}
/* line 15, ../sass/pages/_landing.scss */
.how-it-works-list p {
  margin: 1.6em 0;
  line-height: 1.2em;
}
/* line 19, ../sass/pages/_landing.scss */
.how-it-works-list:after {
  clear: both;
  content: '';
  display: block;
}
/* line 22, ../sass/pages/_landing.scss */
.how-it-works-list li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  text-align: center;
}
/* line 28, ../sass/pages/_landing.scss */
.how-it-works-list li.item-1 {
  width: 25%;
}
/* line 30, ../sass/pages/_landing.scss */
.how-it-works-list li.item-1 p {
  margin-left: 13px;
  margin-right: 40px;
}
/* line 35, ../sass/pages/_landing.scss */
.how-it-works-list li.item-2 {
  width: 19%;
}
/* line 38, ../sass/pages/_landing.scss */
.how-it-works-list li.item-3 {
  width: 26%;
}
/* line 40, ../sass/pages/_landing.scss */
.how-it-works-list li.item-3 p {
  margin-left: 26px;
  margin-right: 26px;
}
/* line 45, ../sass/pages/_landing.scss */
.how-it-works-list li.item-4 {
  width: 13%;
}
/* line 47, ../sass/pages/_landing.scss */
.how-it-works-list li.item-4 p {
  margin-right: 5px;
}
/* line 51, ../sass/pages/_landing.scss */
.how-it-works-list li.item-5 {
  width: 17%;
}
/* line 54, ../sass/pages/_landing.scss */
.how-it-works-list li .icon-container {
  height: 87px;
  line-height: 87px;
  margin-bottom: 0.2em;
}
/* line 58, ../sass/pages/_landing.scss */
.how-it-works-list li .icon-container img {
  vertical-align: bottom;
}

/* line 64, ../sass/pages/_landing.scss */
section.how-it-works {
  padding: 16px 0 46px;
}

/* line 67, ../sass/pages/_landing.scss */
.promo-article {
  background-repeat: no-repeat;
}
/* line 69, ../sass/pages/_landing.scss */
.promo-article:before {
  content: '';
  display: table;
}
/* line 73, ../sass/pages/_landing.scss */
.promo-article.promo-article-1, .promo-article.promo-article-3 {
  background-color: #fff;
}
/* line 75, ../sass/pages/_landing.scss */
.promo-article.promo-article-1 .promo-article-text, .promo-article.promo-article-3 .promo-article-text {
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 79, ../sass/pages/_landing.scss */
.promo-article.promo-article-2, .promo-article.promo-article-4 {
  background-color: #f2f5ea;
}
/* line 81, ../sass/pages/_landing.scss */
.promo-article.promo-article-2 .promo-article-text, .promo-article.promo-article-4 .promo-article-text {
  float: right;
  background-color: rgba(242, 245, 234, 0.8);
}
/* line 87, ../sass/pages/_landing.scss */
.promo-article:after {
  clear: both;
  content: '';
  display: block;
}
/* line 90, ../sass/pages/_landing.scss */
.promo-article.promo-article-1 {
  height: 525px;
  background-image: url(images/article-1-bg.png);
  background-position: right 15px;
}
/* line 94, ../sass/pages/_landing.scss */
.promo-article.promo-article-1 .promo-article-text {
  margin-left: 65px;
  margin-top: 20px;
}
/* line 98, ../sass/pages/_landing.scss */
.promo-article.promo-article-1 p {
  width: 360px;
}
/* line 102, ../sass/pages/_landing.scss */
.promo-article.promo-article-2 {
  height: 465px;
  background-image: url(images/article-2-bg.png);
  background-position: left bottom;
}
/* line 106, ../sass/pages/_landing.scss */
.promo-article.promo-article-2 .promo-article-text {
  margin-top: 34px;
  margin-right: 47px;
}
/* line 110, ../sass/pages/_landing.scss */
.promo-article.promo-article-2 h3 {
  font-size: 1.2em;
  line-height: 52px;
  padding: 0 13px;
}
/* line 115, ../sass/pages/_landing.scss */
.promo-article.promo-article-2 p {
  width: 380px;
}
/* line 119, ../sass/pages/_landing.scss */
.promo-article.promo-article-3 {
  height: 570px;
  background-image: url(images/article-3-bg.png);
  background-position: right 38px;
}
/* line 123, ../sass/pages/_landing.scss */
.promo-article.promo-article-3 .promo-article-text {
  margin-top: 103px;
  margin-left: 32px;
}
/* line 127, ../sass/pages/_landing.scss */
.promo-article.promo-article-3 h3 {
  font-size: 1.5em;
  line-height: 59px;
  padding: 0 39px;
}
/* line 132, ../sass/pages/_landing.scss */
.promo-article.promo-article-3 p {
  width: 365px;
}
/* line 136, ../sass/pages/_landing.scss */
.promo-article.promo-article-4 {
  height: 467px;
  background-image: url(images/article-4-bg.png);
  background-position: left -32px;
}
/* line 140, ../sass/pages/_landing.scss */
.promo-article.promo-article-4 .promo-article-text {
  margin-top: 37px;
  margin-right: 47px;
}
/* line 144, ../sass/pages/_landing.scss */
.promo-article.promo-article-4 h3 {
  font-size: 1em;
  padding: 0 29px;
  line-height: 50px;
}
/* line 149, ../sass/pages/_landing.scss */
.promo-article.promo-article-4 p {
  width: 380px;
}
/* line 153, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 {
  background-color: #f2f5ea;
  text-align: center;
}
/* line 156, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 h3 {
  font-size: 1em;
  padding: 0 29px;
  line-height: 50px;
  min-width: 300px;
}
/* line 162, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 .promo-article-text {
  float: none;
  width: auto;
  max-width: 100%;
  padding-top: 37px;
}
/* line 168, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 .menu {
  list-style-type: none;
  padding: 65px 0 6px;
  margin: 0;
}
/* line 172, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 .menu:after {
  clear: both;
  content: '';
  display: block;
}
/* line 175, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 .menu li {
  float: left;
  width: 33.33%;
  margin: 25px 0;
}
/* line 180, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 .menu a {
  width: 226px;
  height: 160px;
  overflow: hidden;
  margin: 0 auto;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
/* line 186, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 .menu a:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 190, ../sass/pages/_landing.scss */
.promo-article.promo-article-5 .menu a, .promo-article.promo-article-5 .menu img {
  display: block;
}

/* line 196, ../sass/pages/_landing.scss */
.promo-article-text {
  color: #58595b;
  float: left;
  padding-top: 40px;
  padding-bottom: 1.7em;
  width: 460px;
  max-width: 95%;
}
/* line 203, ../sass/pages/_landing.scss */
.promo-article-text p {
  margin: 1.7em auto 0;
  line-height: 1.24em;
}
/* line 207, ../sass/pages/_landing.scss */
.promo-article-text .ps-article {
  color: #b6cf67;
  text-indent: -0.2em;
  display: block;
  text-align: center;
  margin-top: 1.7em;
}
/* line 214, ../sass/pages/_landing.scss */
.promo-article-text h3 {
  font-size: 1.49em;
  height: 66px;
  padding: 0 15px;
  border: 10px solid #b6cf67;
  border-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 58px;
  position: relative;
  margin-bottom: 31px;
}
/* line 225, ../sass/pages/_landing.scss */
.promo-article-text h3 .title-arrow {
  display: block;
  margin: -10px;
  position: absolute;
  top: 100%;
  height: 45px;
  overflow: hidden;
  left: 0;
  right: 0;
  background: url(images/h3-arrow.png) center top no-repeat;
}
/* line 235, ../sass/pages/_landing.scss */
.promo-article-text h3 .title-arrow:after, .promo-article-text h3 .title-arrow:before {
  width: 50%;
  height: 10px;
  background-color: #b6cf67;
  content: '';
  display: block;
  position: relative;
  top: 0;
}
/* line 244, ../sass/pages/_landing.scss */
.promo-article-text h3 .title-arrow:after {
  margin-left: -33px;
  float: left;
}
/* line 248, ../sass/pages/_landing.scss */
.promo-article-text h3 .title-arrow:before {
  float: right;
  margin-right: -33px;
}

@media only screen and (max-width: 600px) {
  /* line 259, ../sass/pages/_landing.scss */
  .promo-article.promo-article-1 .promo-article-text, .promo-article.promo-article-2 .promo-article-text, .promo-article.promo-article-3 .promo-article-text, .promo-article.promo-article-4 .promo-article-text {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 740px) and (min-width: 520px) {
  /* line 268, ../sass/pages/_landing.scss */
  .how-it-works-list {
    text-align: center;
  }
  /* line 270, ../sass/pages/_landing.scss */
  .how-it-works-list li {
    width: 49% !important;
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  /* line 275, ../sass/pages/_landing.scss */
  .how-it-works-list li p {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }

  /* line 282, ../sass/pages/_landing.scss */
  .promo-article.promo-article-5 .menu {
    margin: 0 6%;
  }
  /* line 284, ../sass/pages/_landing.scss */
  .promo-article.promo-article-5 .menu li {
    width: 50%;
  }
}
@media only screen and (max-width: 520px) {
  /* line 291, ../sass/pages/_landing.scss */
  section.how-it-works {
    padding-bottom: 0;
  }

  /* line 294, ../sass/pages/_landing.scss */
  .how-it-works-list {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  /* line 298, ../sass/pages/_landing.scss */
  .how-it-works-list li {
    width: 100% !important;
  }
  /* line 300, ../sass/pages/_landing.scss */
  .how-it-works-list li .icon-container {
    height: auto;
    line-height: inherit;
  }
  /* line 304, ../sass/pages/_landing.scss */
  .how-it-works-list li p {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  /* line 310, ../sass/pages/_landing.scss */
  .promo-article.promo-article-5 {
    padding-bottom: 0;
  }
  /* line 312, ../sass/pages/_landing.scss */
  .promo-article.promo-article-5 .menu {
    padding-top: 15px;
  }
  /* line 314, ../sass/pages/_landing.scss */
  .promo-article.promo-article-5 .menu li {
    width: 100%;
  }
}
/* For header form */
/* line 323, ../sass/pages/_landing.scss */
.head-page {
  background: url(images/header-background.jpg) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  padding-top: 94px;
}
/* line 328, ../sass/pages/_landing.scss */
.head-page h1 {
  max-width: 800px;
  width: 98%;
  margin: 1.35em auto 1.2em;
}

/* line 334, ../sass/pages/_landing.scss */
.head-form-wrapper {
  padding: 0 0 101px;
  width: 98%;
  max-width: 904px;
  margin: 0 auto;
}
/* line 339, ../sass/pages/_landing.scss */
.head-form-wrapper .form-fieldsets {
  background-color: #000;
  padding: 25px 44px 114px;
  position: relative;
  margin-bottom: 12px;
}
/* line 345, ../sass/pages/_landing.scss */
.head-form-wrapper .submit-button {
  height: 59px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #b6cf67;
  display: block;
  font-size: 26px;
}
/* line 355, ../sass/pages/_landing.scss */
.head-form-wrapper .submit-button:hover {
  background-color: #c4e16d;
}

/* line 362, ../sass/pages/_landing.scss */
.head-page fieldset {
  line-height: 1em;
}
/* line 365, ../sass/pages/_landing.scss */
.head-page .form-field-holder {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
  /* line 372, ../sass/pages/_landing.scss */
  .promo-section h2 {
    margin: 0;
  }
  /* line 375, ../sass/pages/_landing.scss */
  .promo-section .promo-article {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
  }
  /* line 380, ../sass/pages/_landing.scss */
  .promo-section .promo-article.promo-article-1 {
    padding-top: 10px;
  }
  /* line 383, ../sass/pages/_landing.scss */
  .promo-section .promo-article .promo-article-text {
    margin: 0 5px;
    padding-top: 20px;
    max-width: 100%;
    width: auto;
  }
  /* line 388, ../sass/pages/_landing.scss */
  .promo-section .promo-article .promo-article-text h3 {
    font-size: 0.9em;
    display: block;
    padding: 0;
  }
  /* line 393, ../sass/pages/_landing.scss */
  .promo-section .promo-article .promo-article-text p {
    margin-top: 2.7em;
    width: auto;
  }
  /* line 397, ../sass/pages/_landing.scss */
  .promo-section .promo-article .promo-article-text h3, .promo-section .promo-article .promo-article-text p {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 408, ../sass/pages/_landing.scss */
  .promo-section .promo-article-4 .promo-article-text h3 {
    font-size: 0.8em;
    line-height: 58px;
  }
}
/* line 417, ../sass/pages/_landing.scss */
.lending-page header {
  color: #fff;
}
/* line 419, ../sass/pages/_landing.scss */
.lending-page header.scrolled-page {
  background-color: rgba(0, 0, 0, 0.9);
}
/* line 423, ../sass/pages/_landing.scss */
.lending-page footer {
  position: static;
}

@media only screen and (max-width: 640px) and (min-width: 480px) {
  /* line 431, ../sass/pages/_landing.scss */
  .lending-page header .header-menu {
    background-color: rgba(0, 0, 0, 0.9);
  }
  /* line 434, ../sass/pages/_landing.scss */
  .lending-page header .header-menu ul:after {
    border-bottom-color: rgba(0, 0, 0, 0.9);
  }
}
@media only screen and (max-width: 480px) {
  /* line 445, ../sass/pages/_landing.scss */
  .lending-page header {
    background-color: rgba(0, 0, 0, 0.95);
  }
  /* line 447, ../sass/pages/_landing.scss */
  .lending-page header .header-menu {
    background-color: rgba(0, 0, 0, 0.95);
  }
}
/* line 1, ../sass/pages/_draft_02.scss */
.steps-line {
  list-style-type: none;
  margin: 0 0 29px;
  text-align: center;
  line-height: 45px;
  font-size: 0.69em;
  font-weight: 900;
  padding: 40px 0 27px;
  counter-reset: li-counter;
}
/* line 10, ../sass/pages/_draft_02.scss */
.steps-line li {
  white-space: nowrap;
  display: inline-block;
  line-height: 31px;
  margin: 0 5%;
  counter-increment: li-counter;
}
/* line 16, ../sass/pages/_draft_02.scss */
.steps-line li:before {
  content: counter(li-counter);
  display: inline-block;
  width: 32px;
  height: 32px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #b6cf67;
  color: #fff;
  text-align: center;
  line-height: 31px;
  margin-right: 9px;
  vertical-align: top;
  font-size: 1.2em;
}

/* line 32, ../sass/pages/_draft_02.scss */
.packs-list {
  list-style-type: none;
  text-align: center;
  color: #535456;
  margin: 29px 10% 0;
  padding: 0;
  font-size: 0.7em;
  line-height: 1.2em;
}
/* line 40, ../sass/pages/_draft_02.scss */
.packs-list.about-packs-list {
  padding: 25px 0 0;
}
/* line 43, ../sass/pages/_draft_02.scss */
.packs-list li {
  padding: 8px 0;
}
/* line 46, ../sass/pages/_draft_02.scss */
.packs-list span {
  display: block;
}
/* line 49, ../sass/pages/_draft_02.scss */
.packs-list .icon-flavour-pack {
  width: 90px;
  height: 88px;
  margin-bottom: 15px;
}
/* line 54, ../sass/pages/_draft_02.scss */
.packs-list .flavour-pack-special {
  padding-top: 2px;
}
/* line 58, ../sass/pages/_draft_02.scss */
.packs-list .flavour-pack-name, .packs-list .flavour-serving-name {
  font-weight: bold;
}
/* line 61, ../sass/pages/_draft_02.scss */
.packs-list .flavour-serving-name {
  margin: 11px 0 6px;
}
/* line 64, ../sass/pages/_draft_02.scss */
.packs-list .btn {
  margin-top: 27px;
}
/* line 67, ../sass/pages/_draft_02.scss */
.packs-list .select {
  display: inline-block;
  width: auto;
  padding-right: 22px;
  border: 1px solid #b5b5b5;
  margin: 23px 0;
}
/* line 73, ../sass/pages/_draft_02.scss */
.packs-list .select .select-list-container {
  border: 1px solid #b5b5b5;
  margin: -1px;
}

/* line 79, ../sass/pages/_draft_02.scss */
.flavours-region-select {
  list-style-type: none;
  padding: 0;
  margin: 62px 0 64px;
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  color: #555555;
  line-height: 33px;
}
/* line 88, ../sass/pages/_draft_02.scss */
.flavours-region-select li {
  display: inline-block;
  margin: 0 4%;
}

/* line 93, ../sass/pages/_draft_02.scss */
.btn-container {
  text-align: center;
  padding-bottom: 80px;
}
/* line 96, ../sass/pages/_draft_02.scss */
.btn-container .btn {
  line-height: 29px;
  padding: 0 25px;
  vertical-align: top;
}

/* line 102, ../sass/pages/_draft_02.scss */
.flavours-info-block {
  background-color: #f8f8f8;
  color: #585858;
  padding: 39px 0;
}
/* line 106, ../sass/pages/_draft_02.scss */
.flavours-info-block .btn-container {
  padding: 64px 0 15px;
}
/* line 108, ../sass/pages/_draft_02.scss */
.flavours-info-block .btn-container .btn {
  width: 200px;
  line-height: 24px;
}
/* line 113, ../sass/pages/_draft_02.scss */
.flavours-info-block .included-condiments {
  float: left;
  width: 40%;
  margin-left: 14%;
}
/* line 117, ../sass/pages/_draft_02.scss */
.flavours-info-block .included-condiments .included-products-list {
  list-style-type: none;
  padding: 0;
  font-size: 0.7em;
  margin: 23px 3px 0 -10px;
}
/* line 122, ../sass/pages/_draft_02.scss */
.flavours-info-block .included-condiments .included-products-list .included-item {
  width: 25%;
  display: block;
  float: left;
  vertical-align: top;
  margin-bottom: 25px;
  text-align: center;
}
/* line 129, ../sass/pages/_draft_02.scss */
.flavours-info-block .included-condiments .included-products-list .included-item:nth-child(odd) {
  clear: both;
}
/* line 132, ../sass/pages/_draft_02.scss */
.flavours-info-block .included-condiments .included-products-list .included-item img {
  display: block;
  margin: 0 auto 6px;
}
/* line 139, ../sass/pages/_draft_02.scss */
.flavours-info-block .pack-info-text {
  float: left;
  width: 36%;
  margin-left: 1.5%;
}
/* line 143, ../sass/pages/_draft_02.scss */
.flavours-info-block .pack-info-text p {
  font-size: 0.7em;
  line-height: 1.23em;
}
/* line 148, ../sass/pages/_draft_02.scss */
.flavours-info-block h3 {
  font-size: 1.2em;
  margin: 13px 0;
}

/* line 154, ../sass/pages/_draft_02.scss */
.flavours-page .normal-text {
  text-align: center;
  padding: 44px 0;
  margin: 0 17%;
}

/* line 160, ../sass/pages/_draft_02.scss */
.flavours-form-buttons {
  padding: 94px 0 131px;
  letter-spacing: 75px;
  text-align: center;
}
/* line 164, ../sass/pages/_draft_02.scss */
.flavours-form-buttons .btn {
  letter-spacing: normal;
  width: 200px;
}

@media screen and (max-width: 840px) {
  /* line 171, ../sass/pages/_draft_02.scss */
  .flavours-info-block .included-condiments, .flavours-info-block .pack-info-text {
    margin-left: 5.6%;
    margin-right: 5.6%;
    float: none;
    width: auto;
  }
  /* line 179, ../sass/pages/_draft_02.scss */
  .flavours-info-block .included-condiments .included-products-list .included-item {
    width: 25%;
    display: inline-block;
    min-width: 120px;
    vertical-align: top;
  }
  /* line 184, ../sass/pages/_draft_02.scss */
  .flavours-info-block .included-condiments .included-products-list .included-item:nth-child(odd) {
    clear: none;
  }
}
@media screen and (max-width: 450px) {
  /* line 195, ../sass/pages/_draft_02.scss */
  .payment-form .card-expiry-col {
    float: none;
  }
  /* line 197, ../sass/pages/_draft_02.scss */
  .payment-form .card-expiry-col + .card-expiry-col {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 204, ../sass/pages/_draft_02.scss */
  .flavours-region-select {
    padding-left: 5.6%;
    padding-right: 5.6%;
  }
  /* line 207, ../sass/pages/_draft_02.scss */
  .flavours-region-select li {
    display: block;
    margin: 0;
    text-align: left;
  }

  /* line 213, ../sass/pages/_draft_02.scss */
  .steps-line {
    padding-left: 5.6%;
    padding-right: 5.6%;
  }
  /* line 216, ../sass/pages/_draft_02.scss */
  .steps-line li {
    display: block;
    margin: 0;
    text-align: left;
  }
  /* line 220, ../sass/pages/_draft_02.scss */
  .steps-line li + li {
    margin-top: 10px;
  }
}
@media screen and (max-width: 420px) {
  /* line 229, ../sass/pages/_draft_02.scss */
  .payment-form .selection-pay-type li {
    display: block;
    text-align: center;
  }
  /* line 232, ../sass/pages/_draft_02.scss */
  .payment-form .selection-pay-type li + li {
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  /* line 241, ../sass/pages/_draft_02.scss */
  .packs-list .item_1_of_3 {
    width: 60%;
    display: inline-block;
    float: none;
  }
  /* line 245, ../sass/pages/_draft_02.scss */
  .packs-list .item_1_of_3 + .item_1_of_3 {
    margin-top: 10px;
  }
}
/* line 1, ../sass/pages/_recipe.scss */
.recipe-page {
  padding: 37px 0 92px;
  color: #58595b;
}
/* line 4, ../sass/pages/_recipe.scss */
.recipe-page.interactive-recipe-page {
  padding-top: 31px;
  padding-bottom: 30px;
}
/* line 8, ../sass/pages/_recipe.scss */
.recipe-page .recipe-page-head {
  margin: 0 7.5% 0 10%;
  padding: 32px 0;
  position: relative;
}
/* line 12, ../sass/pages/_recipe.scss */
.recipe-page .recipe-page-head .timer-btn {
  position: absolute;
  right: 0;
  bottom: 32px;
  min-width: 200px;
}
/* line 18, ../sass/pages/_recipe.scss */
.recipe-page .recipe-page-head:after {
  clear: both;
  content: '';
  display: block;
}
/* line 22, ../sass/pages/_recipe.scss */
.recipe-page .recipe-media-buttons {
  margin-left: 12px;
  width: 356px;
}
/* line 25, ../sass/pages/_recipe.scss */
.recipe-page .recipe-media-buttons:after {
  clear: both;
  content: '';
  display: block;
}
/* line 29, ../sass/pages/_recipe.scss */
.recipe-page .recipe-media-block {
  float: left;
  width: 50%;
}
/* line 32, ../sass/pages/_recipe.scss */
.recipe-page .recipe-media-block .btn-disabled {
  width: 150px;
  float: left;
  margin-top: -1px;
}
/* line 36, ../sass/pages/_recipe.scss */
.recipe-page .recipe-media-block .btn-disabled + .btn {
  float: right;
}
/* line 41, ../sass/pages/_recipe.scss */
.recipe-page .recipe-media-container {
  background-color: #d2d2d2;
  width: 356px;
  height: 156px;
  margin: 9px auto 14px 12px;
  overflow: hidden;
}
/* line 47, ../sass/pages/_recipe.scss */
.recipe-page .recipe-media-container img {
  width: 100%;
  min-height: 100%;
}
/* line 52, ../sass/pages/_recipe.scss */
.recipe-page .recipe-chef-message {
  margin-left: 50%;
  padding-left: 55px;
}
/* line 56, ../sass/pages/_recipe.scss */
.recipe-page .title-chef-message {
  text-transform: uppercase;
  font-size: 1.2em;
}
/* line 61, ../sass/pages/_recipe.scss */
.recipe-page .recipe-legend {
  font-size: 0.7em;
  margin: -6px 5.5% 0;
  padding: 0;
  font-weight: bold;
  line-height: 33px;
  list-style-type: none;
}
/* line 68, ../sass/pages/_recipe.scss */
.recipe-page .recipe-legend:after {
  clear: both;
  content: '';
  display: block;
  display: block;
  content: '';
}
/* line 73, ../sass/pages/_recipe.scss */
.recipe-page .recipe-legend li {
  display: block;
  float: left;
  width: 33.33%;
  text-align: center;
}
/* line 79, ../sass/pages/_recipe.scss */
.recipe-page .recipe-legend .legend-circle {
  height: 32px;
  width: 32px;
  margin-top: -2px;
}
/* line 85, ../sass/pages/_recipe.scss */
.recipe-page .recipe-ingredients-list {
  list-style-type: none;
  line-height: 20px;
  font-size: 0.7em;
  margin: 0 13%;
  padding: 36px 8px 18px;
}
/* line 91, ../sass/pages/_recipe.scss */
.recipe-page .recipe-ingredients-list li {
  display: block;
}
/* line 93, ../sass/pages/_recipe.scss */
.recipe-page .recipe-ingredients-list li + li {
  margin-top: 11px;
}
/* line 97, ../sass/pages/_recipe.scss */
.recipe-page .recipe-ingredients-list .legend-circle {
  height: 20px;
  width: 20px;
  margin-top: -2px;
}
/* line 103, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list {
  list-style-type: none;
  margin: 0 14%;
  padding: 0;
  line-height: 110px;
  font-size: 0.7em;
}
/* line 109, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list li {
  display: block;
}
/* line 111, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list li:after {
  clear: both;
  content: '';
  display: block;
}
/* line 114, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list li + li {
  margin-top: 50px;
}
/* line 118, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list .instructions-item-photo {
  width: 147px;
  height: 110px;
  background-color: #d2d2d2;
  margin-right: 22px;
  float: left;
}
/* line 124, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list .instructions-item-photo img {
  width: 100%;
  min-height: 100%;
}
/* line 129, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list .instructions-item-description-wrap {
  margin-left: 169px;
}
/* line 132, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list .instructions-item-description {
  line-height: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -5px;
}
/* line 138, ../sass/pages/_recipe.scss */
.recipe-page .instructions-list .instructions-item-description-title {
  font-weight: bold;
  color: #b6d067;
}
/* line 144, ../sass/pages/_recipe.scss */
.recipe-page .legend-circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
/* line 149, ../sass/pages/_recipe.scss */
.recipe-page .legend-circle.legend-circle-1 {
  background-color: #b6d067;
}
/* line 152, ../sass/pages/_recipe.scss */
.recipe-page .legend-circle.legend-circle-2 {
  background-color: #455810;
}
/* line 155, ../sass/pages/_recipe.scss */
.recipe-page .legend-circle.legend-circle-3 {
  background-color: #cc1421;
}
/* line 160, ../sass/pages/_recipe.scss */
.recipe-page .interactive-progress-line {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f1f1f1;
  position: relative;
  border: 1px solid #cccccc;
  height: 23px;
  margin: 0 7.5% 31px;
}
/* line 167, ../sass/pages/_recipe.scss */
.recipe-page .interactive-progress-line .interactive-steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 100%;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  font-size: 0.9em;
  line-height: 38px;
}
/* line 178, ../sass/pages/_recipe.scss */
.recipe-page .interactive-progress-line .interactive-steps li {
  display: block;
  font-weight: bold;
  float: left;
  width: 33%;
}
/* line 183, ../sass/pages/_recipe.scss */
.recipe-page .interactive-progress-line .interactive-steps li:first-child {
  text-indent: -9%;
}
/* line 186, ../sass/pages/_recipe.scss */
.recipe-page .interactive-progress-line .interactive-steps li:last-child {
  text-indent: 9%;
}
/* line 191, ../sass/pages/_recipe.scss */
.recipe-page .interactive-progress-line .interactive-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: -1px auto auto -1px;
  background-color: #b6d067;
  padding-left: 2px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 204, ../sass/pages/_recipe.scss */
.navigation-interactive {
  margin: 30px 10% 0;
  font-size: 15px;
  line-height: 40px;
}
/* line 208, ../sass/pages/_recipe.scss */
.navigation-interactive:after {
  clear: both;
  content: '';
  display: block;
}
/* line 211, ../sass/pages/_recipe.scss */
.navigation-interactive .fa {
  font-size: 40px;
  vertical-align: middle;
  margin-top: 2px;
  margin-bottom: -2px;
}
/* line 217, ../sass/pages/_recipe.scss */
.navigation-interactive span {
  display: block;
  vertical-align: middle;
  line-height: 20px;
}
/* line 222, ../sass/pages/_recipe.scss */
.navigation-interactive .navigation-interactive-next, .navigation-interactive .navigation-interactive-prev {
  max-width: 50%;
}
/* line 225, ../sass/pages/_recipe.scss */
.navigation-interactive .navigation-interactive-next {
  float: right;
  text-align: right;
}
/* line 228, ../sass/pages/_recipe.scss */
.navigation-interactive .navigation-interactive-next .fa {
  float: right;
  margin-left: 10px;
}
/* line 233, ../sass/pages/_recipe.scss */
.navigation-interactive .navigation-interactive-prev {
  float: left;
  text-align: left;
}
/* line 236, ../sass/pages/_recipe.scss */
.navigation-interactive .navigation-interactive-prev .fa {
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  /* line 245, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head {
    padding-top: 0;
    text-align: center;
  }
  /* line 248, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head .recipe-media-block {
    float: none;
    width: auto;
  }
  /* line 252, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head .recipe-media-container, .recipe-page .recipe-page-head .recipe-media-buttons {
    margin-left: auto;
    margin-right: auto;
  }
  /* line 256, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head .recipe-chef-message, .recipe-page .recipe-page-head .recipe-media-container, .recipe-page .recipe-page-head .recipe-media-buttons {
    max-width: 100%;
  }
  /* line 259, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head .recipe-chef-message {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 356px;
    margin-top: 30px;
  }
  /* line 266, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head .timer-btn {
    position: static;
  }
  /* line 271, ../sass/pages/_recipe.scss */
  .recipe-page.interactive-recipe-page .recipe-page-head {
    margin-top: 70px;
  }
}
@media screen and (max-width: 800px) and (min-width: 500px) {
  /* line 279, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-legend {
    text-align: center;
  }
  /* line 281, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-legend li {
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: auto;
    margin: 10px 0;
    padding: 0 10px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 500px) {
  /* line 296, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-legend li {
    display: block;
    padding: 0;
    margin: 20px 0;
    width: auto;
    float: none;
    text-align: left;
  }
  /* line 305, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-ingredients-list {
    margin: 0 5.5%;
  }
}
@media screen and (max-width: 500px) {
  /* line 313, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head .recipe-media-buttons {
    text-align: center;
  }
  /* line 315, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head .recipe-media-buttons .btn {
    float: none;
    vertical-align: top;
    width: 200px;
  }
  /* line 319, ../sass/pages/_recipe.scss */
  .recipe-page .recipe-page-head .recipe-media-buttons .btn + .btn {
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  /* line 329, ../sass/pages/_recipe.scss */
  .recipe-page .instructions-list {
    margin: 0 5.5%;
  }
  /* line 331, ../sass/pages/_recipe.scss */
  .recipe-page .instructions-list .instructions-item-description-wrap {
    line-height: 20px;
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
  }
  /* line 337, ../sass/pages/_recipe.scss */
  .recipe-page .instructions-list .instructions-item-photo {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  /* line 346, ../sass/pages/_recipe.scss */
  .recipe-page .interactive-progress-line .interactive-steps {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 600px) {
  /* line 351, ../sass/pages/_recipe.scss */
  .recipe-page .interactive-progress-line .interactive-steps {
    font-size: 0.5em;
    white-space: nowrap;
  }
  /* line 355, ../sass/pages/_recipe.scss */
  .recipe-page .interactive-progress-line .interactive-steps li:first-child {
    text-align: left;
  }
  /* line 358, ../sass/pages/_recipe.scss */
  .recipe-page .interactive-progress-line .interactive-steps li:last-child {
    text-align: right;
  }
  /* line 361, ../sass/pages/_recipe.scss */
  .recipe-page .interactive-progress-line .interactive-steps li:last-child, .recipe-page .interactive-progress-line .interactive-steps li:first-child {
    text-indent: 0;
  }
}
/* line 2, ../sass/pages/_basket.scss */
.basket-container {
  border: 1px solid #b3b3b3;
  margin: 56px 5.4% 43px 5.8%;
  padding: 21px 26px 68px;
  position: relative;
}
/* line 7, ../sass/pages/_basket.scss */
.basket-container .basket-list {
  list-style-type: none;
  margin: 51px 0;
  padding: 0;
  color: #58595b;
  line-height: 57px;
  font-size: 0.6em;
}
/* line 14, ../sass/pages/_basket.scss */
.basket-container .basket-list .preview-product {
  width: 80px;
  vertical-align: middle;
  margin-right: 18px;
}
/* line 19, ../sass/pages/_basket.scss */
.basket-container .basket-list .product-info {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.31em;
  margin-top: 7px;
}
/* line 25, ../sass/pages/_basket.scss */
.basket-container .basket-list .amount-products {
  margin-left: 72px;
}
/* line 28, ../sass/pages/_basket.scss */
.basket-container .basket-list li {
  display: block;
  margin-bottom: 52px;
}
/* line 33, ../sass/pages/_basket.scss */
.basket-container .total-amount-block {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2em;
  margin-right: 29px;
  margin-bottom: 23px;
}
/* line 40, ../sass/pages/_basket.scss */
.basket-container .total-amount-block span {
  font-weight: bold;
  color: #b6cf67;
}

/* line 47, ../sass/pages/_basket.scss */
.payment-form {
  margin: 23px 5.4% 64px 5.8%;
  background-color: #f1f1f1;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font-size: 0.7em;
  padding: 26px 25px 19px;
}
/* line 53, ../sass/pages/_basket.scss */
.payment-form .pay-button-container {
  padding: 30px 0;
  margin: 0 2px;
  color: #b6cf67;
}
/* line 57, ../sass/pages/_basket.scss */
.payment-form .pay-button-container .fa-play {
  font-size: 1.8em;
}
/* line 60, ../sass/pages/_basket.scss */
.payment-form .pay-button-container .button-with-info-pay {
  margin-left: 41px;
  width: 200px;
  text-align: center;
}
/* line 65, ../sass/pages/_basket.scss */
.payment-form .pay-button-container .btn {
  width: 100%;
  margin-bottom: 8px;
}
/* line 69, ../sass/pages/_basket.scss */
.payment-form .pay-button-container .secure-text {
  display: inline-block;
  padding-left: 17px;
  background: url(images/lock-icon.png) left center no-repeat;
}
/* line 75, ../sass/pages/_basket.scss */
.payment-form label:not(.radio-button) {
  display: block;
  font-weight: bold;
}
/* line 79, ../sass/pages/_basket.scss */
.payment-form input[type="text"], .payment-form .select {
  border: 1px solid #e4e4e4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 20px;
  height: 25px;
  width: 100%;
  max-width: 397px;
  margin-top: 3px;
  font-size: 0.9em;
  padding-left: 7px;
}
/* line 91, ../sass/pages/_basket.scss */
.payment-form .select:after {
  border-width: 6px 3px 0;
  right: 8px;
  top: 8px;
}
/* line 96, ../sass/pages/_basket.scss */
.payment-form .select .select-list-container {
  border: 1px solid #e4e4e4;
  margin: 0 -1px;
}
/* line 100, ../sass/pages/_basket.scss */
.payment-form .select .select-option {
  padding-left: 7px;
}
/* line 104, ../sass/pages/_basket.scss */
.payment-form .select.active:after {
  border-width: 0 3px 6px;
}
/* line 109, ../sass/pages/_basket.scss */
.payment-form .card-expiry-col {
  float: left;
  width: 151px;
}
/* line 112, ../sass/pages/_basket.scss */
.payment-form .card-expiry-col + .card-expiry-col {
  margin-left: 3.26%;
}
/* line 117, ../sass/pages/_basket.scss */
.payment-form .pay-field-row.text-row {
  margin-top: 20px;
  margin-bottom: 18px;
}
/* line 121, ../sass/pages/_basket.scss */
.payment-form .pay-field-row.radio-row {
  margin-top: 10px;
  padding-left: 2px;
}
/* line 124, ../sass/pages/_basket.scss */
.payment-form .pay-field-row.radio-row + .text-row {
  margin-top: 25px;
}
/* line 129, ../sass/pages/_basket.scss */
.payment-form .i-agree-row {
  font-size: 0.85em;
  margin-top: 2px;
}
/* line 132, ../sass/pages/_basket.scss */
.payment-form .i-agree-row a {
  text-decoration: none;
  color: #b6cf67;
}
/* line 135, ../sass/pages/_basket.scss */
.payment-form .i-agree-row a:hover {
  text-decoration: underline;
}
/* line 140, ../sass/pages/_basket.scss */
.payment-form .i-agree-row .radio-button input + span {
  padding-left: 17px;
}
/* line 146, ../sass/pages/_basket.scss */
.payment-form .radio-button input + span {
  padding-left: 24px;
}
/* line 151, ../sass/pages/_basket.scss */
.payment-form .radio-button input[type="checkbox"] + span:after {
  width: 11px;
  height: 11px;
  margin-left: 0;
  margin-top: -6px;
}
/* line 160, ../sass/pages/_basket.scss */
.payment-form .radio-button input[type="checkbox"]:checked + span:before {
  width: 7px;
  height: 7px;
  margin-left: -6px;
  margin-top: -3px;
}
/* line 170, ../sass/pages/_basket.scss */
.payment-form .selection-pay-type {
  list-style-type: none;
  padding: 0;
  margin: 0 0 51px;
  font-weight: bold;
  line-height: 30px;
}
/* line 176, ../sass/pages/_basket.scss */
.payment-form .selection-pay-type li {
  display: inline-block;
}
/* line 178, ../sass/pages/_basket.scss */
.payment-form .selection-pay-type li + li {
  margin-left: 12%;
}
/* line 182, ../sass/pages/_basket.scss */
.payment-form .selection-pay-type a {
  color: inherit;
  text-decoration: none;
}
/* line 185, ../sass/pages/_basket.scss */
.payment-form .selection-pay-type a.active {
  color: #b6cf67;
}

/* line 1, ../sass/pages/_survey.scss */
.survey-form-bg {
  background-color: #b6cf67;
  height: 200px;
}

/* line 5, ../sass/pages/_survey.scss */
.survey-form-wrapper {
  padding: 0 2%;
  margin-top: -200px;
  margin-bottom: 50px;
  font-size: 13px;
  color: #58595b;
  line-height: 20px;
}
/* line 12, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 16, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form input, .survey-form-wrapper .survey-form .select {
  border: 2px solid #d5d5d5;
  height: 44px;
  font-size: 15px;
  line-height: 35px;
}
/* line 22, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form input[type="email"]:focus, .survey-form-wrapper .survey-form input[type="text"]:focus {
  border-color: #b6cf67;
}
/* line 25, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form .select {
  cursor: pointer;
}
/* line 27, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form .select:after {
  top: 16px;
  border-width: 10px 8px 0;
}
/* line 31, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form .select.focus {
  border-color: #b6cf67;
}
/* line 35, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form .select.active:after {
  border-width: 0 8px 10px;
}
/* line 39, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form .select .hidden-items {
  padding-right: 25px;
}
/* line 42, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form .select .select-list-container {
  margin: 2px -2px;
  border: 2px solid #d5d5d5;
  border-top-width: 0;
}
/* line 46, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-form .select .select-list-container .select-option {
  line-height: 35px;
}
/* line 53, ../sass/pages/_survey.scss */
.survey-form-wrapper .fields-rows:after {
  clear: both;
  content: '';
  display: block;
}
/* line 57, ../sass/pages/_survey.scss */
.survey-form-wrapper .one-field {
  float: left;
  width: 46%;
  margin: 10px 2%;
  position: relative;
}
/* line 62, ../sass/pages/_survey.scss */
.survey-form-wrapper .one-field.center-align {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
/* line 68, ../sass/pages/_survey.scss */
.survey-form-wrapper .question-text {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
  padding: 0 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 77, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-questions-list {
  padding: 40px 10% 35px;
  position: relative;
  z-index: 1;
}
/* line 81, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-questions-list:after {
  content: '';
  display: block;
  height: 4px;
  margin: -6px auto;
  left: 10px;
  right: 10px;
  position: absolute;
  top: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
/* line 95, ../sass/pages/_survey.scss */
.survey-form-wrapper .survey-question.invisible {
  display: none;
}
/* line 99, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-list-footer {
  padding: 15px 0;
  border-top: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  text-align: center;
}
/* line 104, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-list-footer .btn {
  margin: 5px 10px;
}
/* line 106, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-list-footer .btn.on-progress {
  position: relative;
}
/* line 108, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-list-footer .btn.on-progress:before {
  text-transform: none;
  font-size: 9px;
  font-family: FontAwesome;
  text-decoration: inherit;
  position: absolute;
  font-weight: normal;
  top: 8px;
}
/* line 117, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-list-footer .btn.on-progress.forward {
  padding-right: 30px;
}
/* line 119, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-list-footer .btn.on-progress.forward:before {
  content: "\f054";
  right: 20px;
}
/* line 124, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-list-footer .btn.on-progress.backward {
  padding-left: 30px;
}
/* line 126, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-list-footer .btn.on-progress.backward:before {
  content: "\f053";
  left: 20px;
}
/* line 134, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-progress-bar {
  padding: 15px 10%;
  background-color: #f3f3f3;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #d7d7d7;
  text-align: center;
  color: #333;
}
/* line 142, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-progress-bar .progress-bar-indicator {
  background-color: #b6cf67;
  height: 22px;
  width: 0;
  -moz-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}
/* line 148, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-progress-bar .progress-text {
  font-weight: bold;
  font-size: 13px;
}
/* line 152, ../sass/pages/_survey.scss */
.survey-form-wrapper .questions-progress-bar .progress-bar-line {
  background-color: #fff;
  margin-top: 9px;
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
}
/* line 158, ../sass/pages/_survey.scss */
.survey-form-wrapper .finish-check-icon {
  color: #cacaca;
  font-size: 160px;
  margin: 0 0 10px 0;
}
/* line 163, ../sass/pages/_survey.scss */
.survey-form-wrapper .finish-survey-text {
  margin-bottom: 40px;
}
/* line 166, ../sass/pages/_survey.scss */
.survey-form-wrapper .submit-survey {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 35px;
}
/* line 173, ../sass/pages/_survey.scss */
.survey-form-wrapper .add-ingredient-button .btn {
  width: 100%;
  line-height: 44px;
}
/* line 178, ../sass/pages/_survey.scss */
.survey-form-wrapper label.error {
  font-size: 13px;
  position: absolute;
  top: -28px;
  right: -15px;
  z-index: 99;
  height: 25px;
  line-height: 25px;
  background-color: #ED0E0E;
  color: #fff;
  font-weight: normal;
  padding: 0 6px;
  white-space: nowrap;
}
/* line 191, ../sass/pages/_survey.scss */
.survey-form-wrapper label.error:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #ED0E0E;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -6px;
  left: 20%;
}
/* line 204, ../sass/pages/_survey.scss */
.survey-form-wrapper .terms-accept {
  padding-top: 10px;
  font-size: 14px;
}
/* line 208, ../sass/pages/_survey.scss */
.survey-form-wrapper .switch-light {
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  /* line 214, ../sass/pages/_survey.scss */
  .survey-form-wrapper .one-field {
    width: 96%;
  }
}
/* line 1, ../sass/_mobile.scss */
html.mobile {
  height: 100%;
}
/* line 3, ../sass/_mobile.scss */
html.mobile body {
  height: 100%;
}
/* line 6, ../sass/_mobile.scss */
html.mobile footer {
  position: static;
}
/* line 9, ../sass/_mobile.scss */
html.mobile .content-page {
  padding-bottom: 0;
}
/* line 2, ../sass/mobile/_landing.scss */
html.mobile.portrait .head-page, html.mobile.portrait .promo-section {
  box-sizing: border-box;
}
/* line 5, ../sass/mobile/_landing.scss */
html.mobile.portrait .promo-section {
  height: 500%;
}
/* line 8, ../sass/mobile/_landing.scss */
html.mobile.portrait section.how-it-works {
  min-height: 100%;
  padding-top: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 13, ../sass/mobile/_landing.scss */
html.mobile.portrait .promo-section {
  padding: 0;
}
/* line 15, ../sass/mobile/_landing.scss */
html.mobile.portrait .promo-section .content-wrapper {
  height: 100%;
}
/* line 18, ../sass/mobile/_landing.scss */
html.mobile.portrait .promo-section h2 {
  margin-top: 70px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
/* line 25, ../sass/mobile/_landing.scss */
html.mobile.portrait .promo-article {
  height: 20%;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 30, ../sass/mobile/_landing.scss */
html.mobile.portrait .promo-article.promo-article-1 {
  margin-top: -120px;
  background-position: right bottom;
}
/* line 33, ../sass/mobile/_landing.scss */
html.mobile.portrait .promo-article.promo-article-1 .promo-article-text {
  margin-top: 60px;
}
/* line 38, ../sass/mobile/_landing.scss */
html.mobile.portrait .promo-article-text {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  padding-top: 5px;
  margin: 0;
}
/* line 49, ../sass/mobile/_landing.scss */
html.mobile.landscape .promo-article {
  height: auto;
  padding: 5px;
}
/* line 53, ../sass/mobile/_landing.scss */
html.mobile.landscape .promo-article-text {
  margin: 0;
}
/* line 55, ../sass/mobile/_landing.scss */
html.mobile.landscape .promo-article-text h3 {
  font-size: 1.3em;
  margin-top: 20px;
}
/* line 59, ../sass/mobile/_landing.scss */
html.mobile.landscape .promo-article-text p {
  margin-top: 2em;
}
/* line 63, ../sass/mobile/_landing.scss */
html.mobile.landscape .head-page {
  padding-bottom: 10px;
}
/* line 68, ../sass/mobile/_landing.scss */
html.mobile .promo-section h2 {
  margin-bottom: 0;
}
/* line 72, ../sass/mobile/_landing.scss */
html.mobile .promo-article-text {
  max-width: 100%;
  width: auto;
}
/* line 76, ../sass/mobile/_landing.scss */
html.mobile .promo-article {
  max-width: 100%;
  width: auto;
}
/* line 79, ../sass/mobile/_landing.scss */
html.mobile .promo-article .content-wrapper {
  position: relative;
}
/* line 82, ../sass/mobile/_landing.scss */
html.mobile .promo-article h3 {
  padding: 0;
  display: block;
  line-height: 56px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 63px;
}
/* line 90, ../sass/mobile/_landing.scss */
html.mobile .promo-article p {
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 100%;
}
/* line 97, ../sass/mobile/_landing.scss */
html.mobile .promo-article.promo-article-5 .menu {
  margin: 0 20px;
}
/* line 99, ../sass/mobile/_landing.scss */
html.mobile .promo-article.promo-article-5 .menu li {
  width: 50%;
  margin: 6px 0;
}
/* line 102, ../sass/mobile/_landing.scss */
html.mobile .promo-article.promo-article-5 .menu li a {
  width: 150px;
  height: 106px;
}
/* line 105, ../sass/mobile/_landing.scss */
html.mobile .promo-article.promo-article-5 .menu li a img {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
/* line 114, ../sass/mobile/_landing.scss */
html.mobile .head-page {
  padding-top: 58px;
  margin-top: 0;
}
/* line 117, ../sass/mobile/_landing.scss */
html.mobile .head-page h1 {
  font-size: 0.9em;
  margin: 0.5em 0;
  line-height: 1.5em;
}
/* line 122, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper {
  margin: 0 6px;
  padding: 5px 0;
}
/* line 126, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper fieldset:first-child {
  margin-bottom: 10px;
}
/* line 130, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper input:not([type]), html.mobile .head-page .head-form-wrapper input[type="text"], html.mobile .head-page .head-form-wrapper .select, html.mobile .head-page .head-form-wrapper select {
  line-height: 29px;
  height: 34px;
}
/* line 135, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper .select:after {
  top: 14px;
}
/* line 139, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper .select.active:after {
  top: 12px;
}
/* line 143, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper .select .select-option {
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 30px;
}
/* line 149, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper .form-fieldsets {
  padding: 15px 3%;
  margin-bottom: 14px;
}
/* line 152, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper .form-fieldsets:before, html.mobile .head-page .head-form-wrapper .form-fieldsets:after {
  content: '';
  display: none;
}
/* line 157, ../sass/mobile/_landing.scss */
html.mobile .head-page .head-form-wrapper .submit-button {
  width: 100%;
}
/* line 2, ../sass/mobile/_header.scss */
html.mobile.portrait .head-page {
  height: 100%;
}
/* line 4, ../sass/mobile/_header.scss */
html.mobile.portrait .head-page .content-wrapper {
  position: relative;
  top: 50%;
  margin-top: -240px;
}
/* line 12, ../sass/mobile/_header.scss */
html.mobile.landscape .header-logotype {
  margin-top: 6px;
}
/* line 14, ../sass/mobile/_header.scss */
html.mobile.landscape .header-logotype img {
  width: 150px;
}
/* line 20, ../sass/mobile/_header.scss */
html.mobile.landscape .header-menu ul:after {
  clear: both;
  content: '';
  display: block;
}
/* line 23, ../sass/mobile/_header.scss */
html.mobile.landscape .header-menu ul li {
  float: left;
  width: 50%;
}
/* line 26, ../sass/mobile/_header.scss */
html.mobile.landscape .header-menu ul li a {
  line-height: 45px;
}
/* line 33, ../sass/mobile/_header.scss */
html.mobile header {
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 35, ../sass/mobile/_header.scss */
html.mobile header .header-content {
  padding: 8px 10px;
}
/* line 40, ../sass/mobile/_header.scss */
html.mobile .lending-page header {
  background-color: rgba(0, 0, 0, 0.95);
}
