<div class="cards-holder">
    <div class="one-card bgcolor-1">
        <div class="card-icon-holder">
            <img src="images/icons/cards/card-icon-1.svg"/>
        </div>
        <div class="card-title">BBA Profile Manager</div>
        <p class="card-description">
            Manage all of your BBA profiles through the manager
        </p>
        <a href="#configuration/profile-manager" class="card-select-line">
            <img src="images/icons/buttons/arrow-card.svg"/>
            <span>Select</span>
        </a>
    </div>
    <div class="one-card bgcolor-2">
        <div class="card-icon-holder">
            <img src="images/icons/cards/card-icon-3.svg"/>
        </div>
        <div class="card-title">Warehouses</div>
        <p class="card-description">
            Manage all of your warehouse transfers and locations through the
            warehouses management console
        </p>
        <a href="#configuration/warehouses" class="card-select-line">
            <img src="images/icons/buttons/arrow-card.svg"/>
            <span>Select</span>
        </a>
    </div>
    <div class="one-card bgcolor-3">
        <div class="card-icon-holder">
            <img src="images/icons/cards/card-icon-2.svg"/>
        </div>
        <div class="card-title">Packaging</div>
        <p class="card-description">
            Determine all of your packaging rules from the packaging panel
        </p>
        <a href="#configuration/packaging" class="card-select-line">
            <img src="images/icons/buttons/arrow-card.svg"/>
            <span>Select</span>
        </a>
    </div>
    <div class="one-card bgcolor-4">
        <div class="card-icon-holder">
            <img src="images/icons/cards/card-icon-4.svg"/>
        </div>
        <div class="card-title">Inventory Management</div>
        <p class="card-description">
            Manage your inventory, duties and taxation through the inventory
            management console
        </p>
        <a href="#configuration/inventory-management" class="card-select-line">
            <img src="images/icons/buttons/arrow-card.svg"/>
            <span>Select</span>
        </a>
    </div>
    <div class="one-card bgcolor-5">
        <div class="card-icon-holder">
            <img src="images/icons/cards/card-icon-5.svg"/>
        </div>
        <div class="card-title">Shipping Rules</div>
        <p class="card-description">
            Keep all your shipping rules in the one location with the shipping
            rules manager
        </p>
        <a href="#configuration/shipping-rules" class="card-select-line">
            <img src="images/icons/buttons/arrow-card.svg"/>
            <span>Select</span>
        </a>
    </div>
    <div class="one-card bgcolor-6">
        <div class="card-icon-holder">
            <img src="images/icons/cards/card-icon-6.svg"/>
        </div>
        <div class="card-title">Currency Converter</div>
        <p class="card-description">
            Convert your shipments into the right currency.
        </p>
        <a href="#configuration/currency-converter" class="card-select-line">
            <img src="images/icons/buttons/arrow-card.svg"/>
            <span>Select</span>
        </a>
    </div>
    <div class="one-card bgcolor-7">
        <div class="card-icon-holder">
            <img src="images/icons/cards/card-icon-7.svg"/>
        </div>
        <div class="card-title">Address Book</div>
        <p class="card-description">
            Manage all your addresses with the address book
        </p>
        <a href="#configuration/address-book" class="card-select-line">
            <img src="images/icons/buttons/arrow-card.svg"/>
            <span>Select</span>
        </a>
    </div>
</div>
