
<div class="cards-holder">
    <a href="#tracking" class="card-link">
        <span class="card-icon-holder bgcolor-1">
            <img src="images/icons/dashboard/tracking_icon.svg">
        </span>
        <span class="card-link-text">Tracking</span>
    </a>
    <a href="#reporting" class="card-link">
        <span class="card-icon-holder bgcolor-2">
            <img src="images/icons/dashboard/reporting_icon.svg">
        </span>
        <span class="card-link-text">Reporting</span>
    </a>
    <a href="#configuration/profile-manager" class="card-link">
        <span class="card-icon-holder bgcolor-3">
            <img src="images/icons/dashboard/profile_icon.svg">
        </span>
        <span class="card-link-text">Profile Manager</span>
    </a>
</div>

<div class="article-wrapper with-top-margin">
    <div class="wrapper-padding-lr wrapper-padding-tb">
        <h2>In Transit Shipments</h2>
    </div>
    <div class="table-container">
        <div class="paging-of-table">
            <span class="paging-element">Page</span>
            <div class="paging-page-select paging-input paging-element">
                <input type="text" value="1"/>
                <button class="paging-btn digit-change-up">
                    <img src="images/icons/inputs/pagination/next.svg" alt=">">
                </button>
                <button class="paging-btn digit-change-down">
                    <img src="images/icons/inputs/pagination/prev.svg" alt="<">
                </button>
            </div>
            <span class="paging-element">of 1 | View</span>
            <div class="paging-items-count paging-input paging-element">
                <input type="text" value="20"/>
                <button class="paging-btn digit-change-up">
                    <img src="images/icons/inputs/pagination/up.svg" alt=">">
                </button>
                <button class="paging-btn digit-change-down">
                    <img src="images/icons/inputs/pagination/down.svg" alt="<">
                </button>
            </div>
            <span class="paging-element">Records | Found total 1 records</span>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="sortable-table">
            <thead>
                <tr class="titles-row">
                    <th>
                        Date
                        <div class="sort-btns">
                            <button class="sort-up">
                                <img src="images/icons/inputs/sort/sort-up.svg">
                            </button>
                            <button class="sort-down">
                                <img src="images/icons/inputs/sort/sort-down.svg">
                            </button>
                        </div>
                    </th>
                    <th>Tracking&nbsp;No.
                        <div class="sort-btns">
                            <button class="sort-up">
                                <img src="images/icons/inputs/sort/sort-up.svg">
                            </button>
                            <button class="sort-down">
                                <img src="images/icons/inputs/sort/sort-down.svg">
                            </button>
                        </div>
                    </th>
                    <th>BBA Reference&nbsp;No.
                        <div class="sort-btns">
                            <button class="sort-up">
                                <img src="images/icons/inputs/sort/sort-up.svg">
                            </button>
                            <button class="sort-down">
                                <img src="images/icons/inputs/sort/sort-down.svg">
                            </button>
                        </div>
                    </th>
                    <th>Consignment&nbsp;No.
                        <div class="sort-btns">
                            <button class="sort-up">
                                <img src="images/icons/inputs/sort/sort-up.svg">
                            </button>
                            <button class="sort-down">
                                <img src="images/icons/inputs/sort/sort-down.svg">
                            </button>
                        </div>
                    </th>
                    <th>Carrier
                        <div class="sort-btns">
                            <button class="sort-up">
                                <img src="images/icons/inputs/sort/sort-up.svg">
                            </button>
                            <button class="sort-down">
                                <img src="images/icons/inputs/sort/sort-down.svg">
                            </button>
                        </div>
                    </th>
                    <th>Customer Reference&nbsp;No.
                        <div class="sort-btns">
                            <button class="sort-up">
                                <img src="images/icons/inputs/sort/sort-up.svg">
                            </button>
                            <button class="sort-down">
                                <img src="images/icons/inputs/sort/sort-down.svg">
                            </button>
                        </div>
                    </th>
                    <th>Amount Ex&nbsp;Tax
                        <div class="sort-btns">
                            <button class="sort-up">
                                <img src="images/icons/inputs/sort/sort-up.svg">
                            </button>
                            <button class="sort-down">
                                <img src="images/icons/inputs/sort/sort-down.svg">
                            </button>
                        </div>
                    </th>
                    <th>Actions</th>
                </tr>
                <tr class="filters-row">
                    <th>
                        <label class="field-holder date-field" datepicker date-format="dd/MM/yyyy">
                            <input type="text" placeholder="From">

                            <span class="filed-buttons calendar-button">
                                <img src="images/icons/buttons/calendar_icon.svg">
                            </span>
                        </label>
                        <label class="field-holder date-field" datepicker
                               date-format="dd/MM/yyyy"
                               date-set="2018/07/14"
                               date-set-hidden="true"
                               date-disabled-dates="['2018/07/14', '2018/09/07']"
                               date-min-limit="2014/08/11"
                               date-max-limit="2018/07/14">
                            <input type="text" placeholder="To">

                            <span class="filed-buttons calendar-button">
                                <img src="images/icons/buttons/calendar_icon.svg">
                            </span>
                        </label>
                    </th>
                    <th>
                        <div class="field-holder">
                            <input type="text" placeholder="Search"/>
                            <div class="filed-buttons">
                                <button class="sort-button">
                                    <i class="fa fa-sort-up"></i>
                                </button>
                                <button class="sort-button">
                                    <i class="fa fa-sort-down"></i>
                                </button>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="field-holder">
                            <input type="text" placeholder="Search"/>
                            <div class="filed-buttons">
                                <button class="sort-button">
                                    <i class="fa fa-sort-up"></i>
                                </button>
                                <button class="sort-button">
                                    <i class="fa fa-sort-down"></i>
                                </button>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="field-holder">
                            <input type="text" placeholder="Search"/>
                            <div class="filed-buttons">
                                <button class="sort-button">
                                    <i class="fa fa-sort-up"></i>
                                </button>
                                <button class="sort-button">
                                    <i class="fa fa-sort-down"></i>
                                </button>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="field-holder">
                            <select name="select">
                                <option ng-repeat="option in transitTable.carriers" value="{{option.value}}" id="asdf">
                                    {{option.text}}
                                </option>
                            </select>
                            <span class="filed-buttons">
                                <button class="sort-button">
                                    <i class="fa fa-sort-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th>
                        <div class="field-holder">
                            <input type="text" placeholder="Search"/>
                            <div class="filed-buttons">
                                <button class="sort-button">
                                    <i class="fa fa-sort-up"></i>
                                </button>
                                <button class="sort-button">
                                    <i class="fa fa-sort-down"></i>
                                </button>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="field-holder">
                            <input type="text" placeholder="Search"/>
                            <div class="filed-buttons">
                                <button class="sort-button">
                                    <i class="fa fa-sort-up"></i>
                                </button>
                                <button class="sort-button">
                                    <i class="fa fa-sort-down"></i>
                                </button>
                            </div>
                        </div>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>19/06/2015</td>
                    <td class="status-cell">In Transit</td>
                    <td class="link-cell">
                        <a href="#">BBA819928199</a>
                    </td>
                    <td>B123411B</td>
                    <td class="logo-cell">
                        <img src="images/shipping_company_logos/couriers_please.svg">
                    </td>
                    <td>1265554845</td>
                    <td>$166.50 AUD</td>
                    <td class="btn-cell">
                        <a href="#" class="btn btn-blue">
                            <span class="btn-icon">
                                <img src="images/icons/buttons/view_icon.svg">
                            </span>
                            <span class="btn-text">View</span>
                        </a>
                        <a href="#" class="btn btn-orange">
                            <span class="btn-icon">
                                <img src="images/icons/buttons/tracking_icon.svg">
                            </span>
                            <span class="btn-text">Tracking</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>19/06/2015</td>
                    <td class="status-cell">Awaiting Pickup</td>
                    <td class="link-cell">
                        <a href="#">BBA819928199</a>
                    </td>
                    <td>B123411B</td>
                    <td class="logo-cell">
                        <img src="images/shipping_company_logos/toll.svg">
                    </td>
                    <td>1265554845</td>
                    <td>$16.50 AUD</td>
                    <td class="btn-cell">
                        <a href="#" class="btn btn-blue">
                            <span class="btn-icon">
                                <img src="images/icons/buttons/view_icon.svg">
                            </span>
                            <span class="btn-text">View</span>
                        </a>
                        <a href="#" class="btn btn-orange">
                            <span class="btn-icon">
                                <img src="images/icons/buttons/tracking_icon.svg">
                            </span>
                            <span class="btn-text">Tracking</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>19/06/2015</td>
                    <td class="status-cell">In Transit</td>
                    <td class="link-cell">
                        <a href="#">BBA819928199</a>
                    </td>
                    <td>B123411B</td>
                    <td class="logo-cell">
                        <img src="images/shipping_company_logos/bba_custom.svg">
                    </td>
                    <td>1265554845</td>
                    <td>$6.50 AUD</td>
                    <td class="btn-cell">
                        <a href="#" class="btn btn-blue">
                            <span class="btn-icon">
                                <img src="images/icons/buttons/view_icon.svg">
                            </span>
                            <span class="btn-text">View</span>
                        </a>
                        <a href="#" class="btn btn-orange">
                            <span class="btn-icon">
                                <img src="images/icons/buttons/tracking_icon.svg">
                            </span>
                            <span class="btn-text">Tracking</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>19/06/2015</td>
                    <td class="status-cell">In Transit</td>
                    <td class="link-cell">
                        <a href="#">BBA819928199</a>
                    </td>
                    <td>B123411B</td>
                    <td class="logo-cell">
                        <img src="images/shipping_company_logos/fastways.svg">
                    </td>
                    <td>1265554845</td>
                    <td>$79.50 AUD</td>
                    <td class="btn-cell">
                        <a href="#" class="btn btn-blue">
                            <span class="btn-icon">
                                <img src="images/icons/buttons/view_icon.svg">
                            </span>
                            <span class="btn-text">View</span>
                        </a>
                        <a href="#" class="btn btn-orange">
                            <span class="btn-icon">
                                <img src="images/icons/buttons/tracking_icon.svg">
                            </span>
                            <span class="btn-text">Tracking</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="paging-of-table">
            <div class="paging-view-info">View Items | 10/10</div>
            <span class="paging-element">Page</span>
            <div class="paging-page-select paging-input paging-element">
                <input type="text" value="1"/>
                <button class="paging-btn digit-change-up">
                    <img src="images/icons/inputs/pagination/next.svg" alt=">">
                </button>
                <button class="paging-btn digit-change-down">
                    <img src="images/icons/inputs/pagination/prev.svg" alt="<">
                </button>
            </div>
            <span class="paging-element">of 1 | View</span>
            <div class="paging-items-count paging-input paging-element">
                <input type="text" value="20"/>
                <button class="paging-btn digit-change-up">
                    <img src="images/icons/inputs/pagination/up.svg" alt=">">
                </button>
                <button class="paging-btn digit-change-down">
                    <img src="images/icons/inputs/pagination/down.svg" alt="<">
                </button>
            </div>
            <span class="paging-element">Records | Found total 1 records</span>
        </div>
    </div>
</div>
<div class="grid-row articles-grid">
    <div class="grid-cell grid-2-3">
        <div class="article-wrapper with-top-margin">
            <div class="wrapper-padding-lr wrapper-padding-tb">
                <div class="float-right nowrap">
                    <label class="field-holder date-field" datepicker date-format="dd/MM/yyyy">
                        <input type="text" placeholder="From">

                            <span class="filed-buttons calendar-button">
                                <img src="images/icons/buttons/calendar_icon.svg">
                            </span>
                    </label>
                    <label class="field-holder date-field" datepicker date-format="dd/MM/yyyy">
                        <input type="text" placeholder="To">

                            <span class="filed-buttons calendar-button">
                                <img src="images/icons/buttons/calendar_icon.svg">
                            </span>
                    </label>
                </div>
                <h2>Monthly Overview</h2>
            </div>
            <div class="wrapper-margin-lr">
                <canvas class="chart-container" id="dashboard-chart" chart></canvas>
            </div>
        </div>
    </div>
    <div class="grid-cell grid-1-3 chart-info">
        <div class="center-text article-wrapper with-top-margin">
            <div class="wrapper-padding-tb">
                <h2>Spend</h2>
                <div class="chart-point-info">
                    <div class="month-name">August</div>
                    <div class="amount-info">$5330</div>
                </div>
            </div>
            <div class="select-date wrapper-padding-tb">
                <span>Select Date</span>
            </div>
        </div>
        <div class="center-text article-wrapper with-top-margin">
            <div class="wrapper-padding-tb">
                <h2>
                    Net Spend<br/>
                    <small>Annually</small>
                </h2>
                <div class="chart-point-info">
                    <div class="month-name">August</div>
                    <div class="amount-info">$158,030</div>
                </div>
            </div>
            <div class="select-date wrapper-padding-tb">
                <span>Select Date</span>
            </div>
        </div>
    </div>
</div>
