.map-section {
  background-color: #f1f1f1;
}
.contact-us-form {
  padding: 64px 0;
  &:after {
    @include clear();
  }
  .fields-col {
    width: 318px;
  }
  textarea, input {
    width: 100%;
    margin: 3px 0;
  }
  textarea {
    height: 245px;
    resize: none;
  }
  label {
    display: block;
    input {
      font-weight: normal;
    }
    + label {
      margin-top: 41px;
    }
  }
  .button {
    margin-top: 11px;
  }
  .contacts-info-col {
    font-size: 0.9em;
    line-height: 1.59em;
    width: 330px;
    .label-block {
      font-size: 1em;
      padding-bottom: 3px;
    }
    .contacts-info-row {
      + .contacts-info-row {
        margin-top: 56px;
      }
    }
  }
  .phone-icon {
    width: 43px;
    height: 41px;
    background: url(images/contacts-us/phone-contacts.png) center center no-repeat;
    margin: -5px -55px;
  }
  .code {
    margin: 6px -22px;
    vertical-align: top;
  }
}
.map-section {
  padding: 70px 0 155px;
  line-height: 20px;
  .label-block {
    font-size: 0.9em;
    margin: 0 1px;
  }
  .map-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 49px;
    height: 55px;
    margin: 0 3px;
    background: url(images/contacts-us/map-icon.png) center center no-repeat;
  }
  .map-container {
    height: 368px;
    width: 100%;
    margin: 18px 0;
  }
}
@import "responsive/contact";