<div class="privacy-block">
    <div>
        <h3 >Соглашение об обработке персональных данных</h3>
    </div>
    Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
    <br><br>
    Все лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных.
    <br><br>
    Под персональными данными Гражданина понимается нижеуказанная информация: общая информация (Ф.И.О.), номер телефона, адрес электронной почты.
    <br><br>
    Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
    <br><br>
    Исполнитель использует информацию для выполнения своих обязательств перед Клиентом.
    <br><br>
    Исполнитель обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Исполнителем информации агентам третьим лицам, действующим на основании договора с Исполнителем, для исполнения обязательств перед Клиентом.<br>
</div>
