body {
	position: relative;
	margin: 0;
	background-color: #797979;	
	font-family: "PT Sans";
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.page {
	width: 1000px;
	margin: 0 auto;
	background-image: url(images/pattern.jpg);
}
.header__title {
	margin: 0;
	padding-top: 30px;
	clear: both;
	text-align: center;
}
.header__title__image {
	vertical-align: top;
}
.logotype {
	padding-top: 60px;
	padding-left: 45px;
	float: left;
}
.logotype__image {
	display: block;
}
.logotype__text {
	font-size: 10px;
	display: block;
	margin-top: -6px;
	margin-left: 7px;
}
.secret-stamp {
	float: right;
	width: 252px;
	height: 106px;
	padding-right: 54px;
	padding-top: 48px;
}
.secret-stamp__image {
	display: block;
}
.field-decor {
	display: inline-block;	
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}
.field-decor__input {
	position: absolute;
	left: -20px;
	visibility: hidden;
}
.field-decor__decoration {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url(images/inputs.png);
	background-repeat: no-repeat;
}
.checkbox-btn {
	width: 19px;
	height: 18px;
	float: left;
	margin-top: 5px;
}
.checkbox-btn__decor {
	background-position: 0 0;
}
.checkbox-btn__input:checked + .checkbox-btn__decor {
	width: 24px;
	height: 28px;
	background-position: 0 -18px;
}
.radio-btn {
	width: 28px;
	height: 28px;
}
.radio-btn__decor {
	background-position: 0 -46px;
}
.radio-btn__input:checked + .radio-btn__decor {
	background-position: 0 -74px;
}
.input-text {
	box-sizing: border-box;
	margin-top: -7px;
	height: 52px;
	padding: 11px 14px;	
	background: url(images/dark-line.png) center bottom repeat-x;
	border-style: none;
	outline: none;
	font-size: 30px;
	line-height: 32px;
	font-family: "Courier New";	
}
.input-text__name__name {
	width: 629px;
}
.input-text__name__birthyear {
	width: 620px;
}
.input-text__name__address {
	width: 578px;
}
.input-text__name__skype {
	width: 699px;
}
.input-text__name__email {
	width: 699px;
}
.input-text__name__date {
	width: 206px;
	margin-top: -10px;
	vertical-align: top;	
}
.form {
	padding: 53px 120px 59px 109px;
}
.form__fieldset__row {
	line-height: 60px;
}
.form__fieldset__row:after {
	clear: both;
	content: "";
	display: block;
}
.form__fieldset__row_type_graduate {
	margin-top: 10px;
}
.form__fieldset_chapter_experies {
	margin-top: 26px;
}
.form__fieldset_chapter_js-experies {
	margin-top: 77px;
	padding-left: 8px;
	padding-bottom: 20px;
}
.label-text {
	font-weight: bold;
	vertical-align: middle;
	line-height: 28px;
}
.label-text_chapter_base {
	color: #2f1b15;
	font-size: 22px;
}
.label-text__container {
	margin-left: 28px;
}
.label-text_chapter_experies {
	color: #000000;
	font-size: 21px;
}
.label-text__input__checkbox {
	line-height: 25px;
}
.link-in-label {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid;
	font-size: 22px;
	line-height: 24px;
	color: #014f98;
}
.link-in-label:hover {
	border-bottom-style: none;
}
.radio-group {
	display: inline-block;
	margin-left: 27px;
}
.radio-group__item {
	display: inline-block;
}
.radio-group__item + .radio-group__item {
	margin-left: 15px;
}
.small-text {
	padding-left: 19px;
	padding-top: 10px;
	color: #3d3d3d;
}
.small-text__label {
	float: left;
	margin-left: -19px;
	font-size: 36px;
	line-height: 38px;
}
.small-text__desc {
	line-height: 22px;
	font-size: 14px;
}
.checkboxs-group {
	padding-top: 20px;
}
.checkboxs-group:after {
	display: block;
	content: "";
	clear: both;
}
.checkboxs-group__coll_position_left {
	width: 260px;	
}
.checkboxs-group__coll_position_center {
	width: 280px;
}
.checkboxs-group__coll_position_right {
	width: 230px;
}
.checkbox-group__coll__item + .checkbox-group__coll__item{
	margin-top: 7px;
}
.field-changer {
	position: relative;	
	height: 70px;
	margin-top: 40px;
	background: url(images/dark-line.png) center top repeat-x;	
}
.field-changer__item {
	position: absolute;
	height: 25px;
	top: 1px;	
	border-left: 2px solid #41261b;
}
.field-changer__item_position_center {
	height: 13px;
}
.field-changer__item + .field-changer__item {
	border-left-style: none;
	border-right: 2px solid #41261b;
}
.field-changer__item__label {
	margin-left: 100%;
	margin-top: 29px;
	width: 170px;
	font-weight: bold;
	font-size: 13px;
	line-height: 19px;
	color: #2f1b15;
	cursor: pointer;
}
.field-changer__item__label_position_last {
	margin-left: 0;
	margin-right: -2px;
	float: right;
	text-align: right;
}
.field-changer__item__label_position_center {
	position: relative;
	left: -3px;
}
.field-changer__item__label_position_first {
	position: relative;
	left: -2px;
}
.field-changer__item__hidden-label {
	height: 25px;
	width: 8px;
	margin-left: -3px;
	top: 2px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}
.field-changer__item__hidden-label_position_center {
	height: 13px;
}
.field-changer__arrow-changer {
	position: absolute;
	width: 17px;
	height: 14px;
	margin-left: -8px;
	margin-bottom: 4px;
	bottom: 100%;
	background-image: url(images/changer-arrow.png);
	cursor: move;
}
.field-changer-mask {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: move;
}


