<div class="article-wrapper">
    <div class="wrapper-padding-lr wrapper-padding-tb">
        <h2>Current Profiles</h2>
    </div>
    <div class="table-container">
        <div class="wrapper-padding-lr float-right">
            <a href="#configuration/profile-manager/create" class="btn btn-light-orange">
            <span class="btn-icon">
                <img src="images/icons/buttons/add_new_icon.svg">
            </span>
                <span class="btn-text">Create</span>
            </a>
        </div>

        <div class="paging-of-table">
            <span class="paging-element">Page</span>
            <div class="paging-page-select paging-input paging-element">
                <input type="text" value="1"/>
                <button class="paging-btn digit-change-up">
                    <img src="images/icons/inputs/pagination/next.svg" alt=">">
                </button>
                <button class="paging-btn digit-change-down">
                    <img src="images/icons/inputs/pagination/prev.svg" alt="<">
                </button>
            </div>
            <span class="paging-element">of 1 | View</span>
            <div class="paging-items-count paging-input paging-element">
                <input type="text" value="20"/>
                <button class="paging-btn digit-change-up">
                    <img src="images/icons/inputs/pagination/up.svg" alt=">">
                </button>
                <button class="paging-btn digit-change-down">
                    <img src="images/icons/inputs/pagination/down.svg" alt="<">
                </button>
            </div>
            <span class="paging-element">Records | Found total 1 records</span>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="sortable-table middle-text">
            <thead>
            <tr class="titles-row">
                <th class="checkbox-cell">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span></span>
                    </label>
                </th>
                <th>
                    BBA Profile Name
                    <div class="sort-btns">
                        <button class="sort-up">
                            <img src="images/icons/inputs/sort/sort-up.svg">
                        </button>
                        <button class="sort-down">
                            <img src="images/icons/inputs/sort/sort-down.svg">
                        </button>
                    </div>
                </th>
                <th>Actions</th>
            </tr>
            <tr class="filters-row">
                <th class="empty-cell"></th>
                <th>
                    <div class="field-holder">
                        <input type="text" placeholder="Search"/>
                        <div class="filed-buttons">
                            <button class="sort-button">
                                <i class="fa fa-sort-up"></i>
                            </button>
                            <button class="sort-button">
                                <i class="fa fa-sort-down"></i>
                            </button>
                        </div>
                    </div>
                </th>
                <th class="btn-cell">
                    <div class="float-left">
                        <a href="#" class="btn btn-yellow block">
                            <span class="btn-text">Search</span>
                        </a>
                        <a href="#" class="btn btn-orange block">
                            <span class="btn-text">Reset</span>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="selectable-rows">
            <tr>
                <td class="min-width checkbox-cell">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span></span>
                    </label>
                </td>
                <td class="link-cell">
                    <a href="#">China to Melbourne IKA Air</a>
                </td>
                <td class="btn-cell min-width">
                    <a href="#configuration/profile-manager/create" class="btn btn-blue">
                        <span class="btn-icon">
                            <img src="images/icons/buttons/edit_icon.svg">
                        </span>
                        <span class="btn-text">Edit/View</span>
                    </a>
                    <a href="#" class="btn btn-red">
                        <span class="btn-text">Delete</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="min-width checkbox-cell">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span></span>
                    </label>
                </td>
                <td class="link-cell">
                    <a href="#">China to Melbourne IKA Air</a>
                </td>
                <td class="btn-cell min-width">
                    <a href="#configuration/profile-manager/create" class="btn btn-blue">
                        <span class="btn-icon">
                            <img src="images/icons/buttons/edit_icon.svg">
                        </span>
                        <span class="btn-text">Edit/View</span>
                    </a>
                    <a href="#" class="btn btn-red">
                        <span class="btn-text">Delete</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="min-width checkbox-cell">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span></span>
                    </label>
                </td>
                <td class="link-cell">
                    <a href="#">China to Melbourne IKA Air</a>
                </td>
                <td class="btn-cell min-width">
                    <a href="#configuration/profile-manager/create" class="btn btn-blue">
                        <span class="btn-icon">
                            <img src="images/icons/buttons/edit_icon.svg">
                        </span>
                        <span class="btn-text">Edit/View</span>
                    </a>
                    <a href="#" class="btn btn-red">
                        <span class="btn-text">Delete</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="min-width checkbox-cell">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span></span>
                    </label>
                </td>
                <td class="link-cell">
                    <a href="#">China to Melbourne IKA Air</a>
                </td>
                <td class="btn-cell min-width">
                    <a href="#configuration/profile-manager/create" class="btn btn-blue">
                        <span class="btn-icon">
                            <img src="images/icons/buttons/edit_icon.svg">
                        </span>
                        <span class="btn-text">Edit/View</span>
                    </a>
                    <a href="#" class="btn btn-red">
                        <span class="btn-text">Delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="paging-of-table">
            <div class="paging-view-info">View Items | 10/10</div>
            <span class="paging-element">Page</span>
            <div class="paging-page-select paging-input paging-element">
                <input type="text" value="1"/>
                <button class="paging-btn digit-change-up">
                    <img src="images/icons/inputs/pagination/next.svg" alt=">">
                </button>
                <button class="paging-btn digit-change-down">
                    <img src="images/icons/inputs/pagination/prev.svg" alt="<">
                </button>
            </div>
            <span class="paging-element">of 1 | View</span>
            <div class="paging-items-count paging-input paging-element">
                <input type="text" value="20"/>
                <button class="paging-btn digit-change-up">
                    <img src="images/icons/inputs/pagination/up.svg" alt=">">
                </button>
                <button class="paging-btn digit-change-down">
                    <img src="images/icons/inputs/pagination/down.svg" alt="<">
                </button>
            </div>
            <span class="paging-element">Records | Found total 1 records</span>
        </div>
    </div>
</div>
