.slider-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slider-list:after {
    content: '';
    display: block;
    clear: both;
}
.slider-item {
    display: block;
    float: left;
    box-sizing: border-box;
    padding: 0 45px;
}
.slider-item + .slider-item {
    display: none;
}
.slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: #F3F3F3;
    padding: 10px 0 15px;
    -webkit-border-top-left-radius: 14px;
    -webkit-border-bottom-right-radius: 14px;
    -moz-border-radius-topleft: 14px;
    -moz-border-radius-bottomright: 14px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.slider-nav-btn {
    position: absolute;
    top: 45px;
    color: #CECFD1;
    cursor: pointer;
    font-size: 100px;
    line-height: 30px;
}
.slider-nav-btn:hover {
    color: #747577;
}
.slider-nav-btn.next-btn {
    right: 45px;
}
.slider-nav-btn.prev-btn {
    left: 45px;
}


.head-company {
    padding-bottom: 15px;
    line-height: 1.6em;
}
.head-company a {
    color: inherit;
}
.head-company a:hover {
    text-decoration: none;
}
.logo-company {
    text-align: center;
    padding-bottom: 15px;
}
.logo-company img {
    vertical-align: top;
}

.desc-company td {
    vertical-align: top;
    padding: 5px 10px 5px 0;
    line-height: 1.6em;
}
.desc-company td + td {
    padding-left: 10px;
}

.quests-list, .quests-list ul {
    list-style-type: none!important;
}
.quests-list li:before {
    content: '— ';
    display: inline;
    margin-left: -1.6em;
    float: left;
}
.quests-list > li a {
    text-decoration: none;
    border-bottom: 1px dotted;
}
.round-container {
    -webkit-border-top-left-radius: 14px;
    -webkit-border-bottom-right-radius: 14px;
    -moz-border-radius-topleft: 14px;
    -moz-border-radius-bottomright: 14px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    overflow: hidden;
}
.price-table-container {
    border: 2px solid #ededed;
}
.price-table-content {
    margin: -2px;
}
.price-table {
    font-family: inherit;
}



