html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
    min-width: 320px;
    position: relative;
}
section {
    background-size: cover;
    position: relative;
    min-height: 100%;
    background-color: #00abb9;
    color: #fff;
}
section.invert {
    color: #00abb9;
    background-color: #fff;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: block;
    margin: 0;
    padding: 0;
}
.section-wrapper {
    width: 96%;
    max-width: 1060px;
    margin: 0 auto;
    font-size: 12px;
}
.pages-navigation {
    position: fixed;
    right: 7%;
    top: 30%;
    color: #fff;
    font-size: 13px;
}
body.invert .pages-navigation {
    color: #00abb9;
}
.pages-navigation a {
    width: 22px;
    height: 22px;
    overflow: visible;
    color: inherit;
    position: relative;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 22px;
}
.pages-navigation li + li {
    margin-top: 6px;
}
.pages-navigation span {
    position: absolute;
    width: 0;
    right: 100%;
    overflow: hidden;
    transition: width linear 0.2s;
    text-align: left;
}
.pages-navigation a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: background-color linear 0.8s, width linear 0.2s, height linear 0.2s;
}
.pages-navigation a:hover:before {
    transition: background-color linear 0.2s;
}
body.invert .pages-navigation a:before {
    background-color: rgba(0, 171, 185, 0.5);
}
.pages-navigation a:hover span {
    width: 64px;
}
.pages-navigation a:hover:before {
    background-color: rgb(255, 255, 255);
}
body.invert .pages-navigation a:hover:before {
    background-color: rgb(0, 171, 185);
}
.pages-navigation a.active:before {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
}
.anchor {
    display: block;
    height: 1px;
    line-height: 0;
}
.next-prev-pagination {
    position: fixed;
    bottom: 27px;
    right: 7%;
    margin-right: -8px;
}
.next-prev-pagination a {
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #fff;
    transition: all linear 0.8s;
    line-height: 36px;
    text-align: center;
}
body.invert .next-prev-pagination a {
    background-color: rgb(0, 171, 185);
}

.next-paging-btn a {
    margin-top: -8px;
}
.next-prev-pagination .no-active {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: default;
}
.next-prev-pagination a i {
    width: 19px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
}

.next-prev-pagination .next-paging-btn i,
body.invert .next-prev-pagination .next-paging-btn .no-active i {
    background: url(images/down-active.png) center center no-repeat;
    margin-top: 2px;
}
.next-prev-pagination .prev-paging-btn i,
body.invert .next-prev-pagination .prev-paging-btn .no-active i {
    background: url(images/up-active.png) center center no-repeat;
    margin-top: -4px;
}
body.invert .next-prev-pagination .next-paging-btn i,
.next-prev-pagination .next-paging-btn .no-active i {
    background: url(images/down-invert-active.png) center center no-repeat;
}
body.invert .next-prev-pagination .prev-paging-btn i,
.next-prev-pagination .prev-paging-btn .no-active i  {
    background: url(images/up-invert-active.png) center center no-repeat;
}
.next-prev-pagination .no-active i {
    opacity: 0.5;
}
body.invert .next-prev-pagination .no-active {
    background-color: rgba(0, 171, 185, 0.5);
}
.contacts-navigation {
    position: fixed;
    font-size: 12px;
    bottom: 137px;
    right: 7%;
    margin-right: -8px;
    width: 37px;
}
.contacts-navigation a {
    background-color: #80d5dc;
    display: block;
    height: 37px;
    border-radius: 19px;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    color: #4c4c4c;
    box-sizing: border-box;
}
.contacts-navigation li {
    float: right;
}
.contacts-navigation li + li {
    margin-top: 15px;
}
.contacts-navigation i {
    display: inline-block;
    vertical-align: middle;
}
.contacts-navigation .phone-contact span {
    display: block;
    box-sizing: border-box;
    max-width: 0;
    overflow: hidden;
    vertical-align: middle;
    transition: all linear 0.3s;
    white-space: nowrap;
}
.contacts-navigation .phone-contact i {
    background: url(images/phone-icon.png) center center no-repeat;
    width: 21px;
    height: 37px;
    float: left;
    margin: 0 8px;
}
.contacts-navigation .phone-contact:hover {
    width: auto;
}
.contacts-navigation .chat-contact, .contacts-navigation .quest-contact {
    width: 37px;
}
.contacts-navigation .phone-contact:hover span {
    max-width: 200px;
    margin-left: 43px;
    margin-right: 15px;
}
.contacts-navigation .chat-contact i {
    background: url(images/chat-icon.png) center center no-repeat;
    width: 20px;
    height: 20px;
}
.contacts-navigation .quest-contact i {
    background: url(images/quest-icon.png) center center no-repeat;
    width: 14px;
    height: 20px;
}

/* Slider */
.slider-container, .slider-container-repeated {
    margin: 50px -2.085%;
}
.slider-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    width: 100%;
}
.slider-item {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    font-size: 20px;
}
.slider-item.size-1-3 {
    width: 33.33%;
}
.slider-item.size-1-4 {
    width: 25%;
}
.slider-item.size-1-3 .slider-item-content {
    background-color: #a00;
    height: 200px;
    margin: 0 auto;
    width: 96%;
    max-width: 320px;
}
.slider-item.size-1-4 .slider-item-content {
    background-color: #a00;
    height: 200px;
    margin: 0 auto;
    width: 96%;
    max-width: 194px;
}
.slider-navigation {
    text-align: center;
    padding: 10px 0;
    line-height: 20px;
}
.slider-navigation .nav-btn {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: green;
    cursor: pointer;
    margin: 0 10px;
}
.nav-btn.disabled {
    opacity: 0.4;
    cursor: default;
}
.nav-paging {
    display: inline-block;
    vertical-align: middle;
}
.slider-navigation .paging-btn {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    background-color: blue;
    cursor: pointer;
    margin: 0 5px;
}
.slider-navigation .paging-btn.active {
    background-color: yellow;
}
@media screen and (max-width: 1060px) and (min-width: 680px) {
    .slider-item.size-1-3 {
        width: 50%;
    }
}
@media screen and (max-width: 700px) {
    .slider-item.size-1-3 {
        width: 100%;
    }
}

@media screen and (max-width: 840px) and (min-width: 640px) {
    .slider-item.size-1-4 {
        width: 33.33%;
    }
}
@media screen and (max-width: 640px) and (min-width: 420px) {
    .slider-item.size-1-4 {
        width: 50%;
    }
}
@media screen and (max-width: 420px) {
    .slider-item.size-1-4 {
        width: 100%;
    }
}


/* Закладки */
.tabs-container .tabs-block {
    display: none;
}
.tab-link {
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
}
.tab-link.active {
    color: #333;
}

/* Forms */
.forms-container {
    width: 400px;
    float: right;
    background-color: yellow;
    padding: 20px;
}
.forms-menu {
    font-size: 18px;
}
.forms-menu li {
    cursor: pointer;
}

/* Main menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.main-menu {
    color: #fff;
    font-size: 14px;
    transition: color linear 1s;
    position: relative;
}
body.invert .main-menu {
    color: #333;
}
.main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-menu:after {
    display: block;
    content: '';
    clear: both;
}
.main-menu ul:after {
    display: block;
    content: '';
    clear: both;
}
.main-menu li {
    display: block;
    float: right;
    padding: 0 10px;
}
.main-menu a {
    color: inherit;
    text-decoration: none;
}
.menu-activate-button {
    display: none;
    float: right;
    width: 30px;
    height: 30px;
    background-color: red;
}
.menu-activate-button.active {
    background-color: #a00;
}
@media screen and (max-width: 768px) {
    .menu-activate-button {
        display: block;
        cursor: pointer;
    }
    .main-menu ul {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
    }

    .main-menu .menu-activate-button.active + ul {
        display: block;
    }
    .main-menu li {
        float: none;
        padding: 5px 0;
    }
}


html.mobile section {
    height: auto;
}













.videos-block {
    overflow: hidden;
    position: relative;
}
.videos-block:after, .videos-block:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 15%;
}
.videos-block:after {
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(125,185,232,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=1 );
    left: 0;
}
.videos-block:before {
    background: -moz-linear-gradient(left,  rgba(125,185,232,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=1 );
    right: 0;
}

.videos-block .slider-list {
    width: 60%;
    overflow: visible;
}
.slider-item.size-video {
    width: 100%;
    height: 200px;
    position: relative;
    left: -100%;
}
.slider-item.size-video .slider-item-content {
    height: 200px;
}
.slider-item.size-video.bg-1 .slider-item-content {
    background-color: #a00;
}
.slider-item.size-video.bg-2 .slider-item-content {
    background-color: #0a0;
}
.slider-item.size-video.bg-3 .slider-item-content {
    background-color: #00a;
}
.slider-item.size-video.bg-4 .slider-item-content {
    background-color: #a0a;
}
.slider-item.size-video.bg-5 .slider-item-content {
    background-color: #aa0;
}


/* Для линий */
.lines-slider {
    clear: both;
    padding: 20px 0;
}
.one-line-slide {
    width: 210px;
    padding: 0 2px;
    vertical-align: top;
    min-height: 170px;
}
.one-line-slide .one-line-block {
    background: no-repeat center 60px;
}
.one-line-slide p {
    color: #111;
    font-size: 12px;
    width: 170px;
    margin: 0;
}
.one-line-slide:nth-child(odd) .one-line-block  {
    padding-top: 180px;
}
.one-line-slide:nth-child(even) .one-line-block  {
    padding-bottom: 180px;
}
.one-line-slide:nth-child(odd) .one-line-block {
    background-image: url(images/vector-line-1.png);
}
.one-line-slide:nth-child(even) .one-line-block {
    background-image: url(images/vector-line-2.png);
}


/* Для  скриншотов */


.screens-block {
    overflow: hidden;
    position: relative;
    padding-top: 30px;
}

.screens-block:after, .screens-block:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 15%;
}
.screens-block:after {
    background: -moz-linear-gradient(left,  #02a8b6 0%, rgba(125,185,232,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#02a8b6), color-stop(100%,rgba(125,185,232,0)));
    background: -webkit-linear-gradient(left,  #02a8b6 0%,rgba(125,185,232,0) 100%);
    background: -o-linear-gradient(left,  #02a8b6 0%,rgba(125,185,232,0) 100%);
    background: -ms-linear-gradient(left,  #02a8b6 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to right,  #02a8b6 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a8b6', endColorstr='#007db9e8',GradientType=1 );
    left: 0;
}
.screens-block:before {
    background: -moz-linear-gradient(left,  rgba(125,185,232,0) 0%, #02a8b6 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,#02a8b6));
    background: -webkit-linear-gradient(left,  rgba(125,185,232,0) 0%,#02a8b6 100%);
    background: -o-linear-gradient(left,  rgba(125,185,232,0) 0%,#02a8b6 100%);
    background: -ms-linear-gradient(left,  rgba(125,185,232,0) 0%,#02a8b6 100%);
    background: linear-gradient(to right,  rgba(125,185,232,0) 0%,#02a8b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#02a8b6',GradientType=1 );
    right: 0;
}
.screens-block .slider-list {
    width: 68%;
    overflow: visible;
    position: relative;
    z-index: 1;
    margin-top: 2.7%;
}
.screens-block .size-screen {
    width: 100%;
    position: relative;
    left: -100%;
    padding: 0 0.7%;
    box-sizing: border-box;
}
.screens-block.size-screen .slider-item-content {
}
.screens-block .slider-item-content img {
    width: 100%;
}
.screens-block .slider-navigation {
    margin-top: 60px;
}
.screens-block .mask-slider-list {
    position: absolute;
    width: 86.6%;
    left: 6.7%;
    z-index: 2;
    top: 31px;
}
.screens-block .text-slide {
    position: absolute;
    color: #fff;
    font-size: 12px;
    left: 0;
    right: 0;
    top: -31px;
    text-align: center;
    margin-top: -2%;
}



