body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    vertical-align: top;
    color: #58585a;
}



/* 45 */
.megamenu_container {
    height: 44px;
    position: relative;
    z-index: 2;
    margin-top: 1px;
}

/* 70 */
.megamenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin: 0;
}
/* 82 */
.megamenu > li {
    display: inline;
    border: none;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* 126 */
.megamenu > li .drop, .megamenu > li a .nodrop, .megamenu > li .nodrop {
    font-size: 14px;
    line-height: 42px;
    outline: 0;
    text-decoration: none;
    color: #343434;
    margin: 0;
    padding: 11px;
    border: #fff 1px solid;
    border-bottom: none;
}

/* 259 */
.megamenu > li .megamenu_fullwidth {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -1;
    float: left;
    width: 99.7%;
    margin: 0 0 40px 0px;
    padding: 18px 0 0px 0;
    background: #fff;
    border: #f5942e 1px solid;
    display: none;
}
.column_1, .column_2, .column_3 {
    font-size: 12px;
    font-weight: normal;
    color: #343434;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

/* 403 */
.megamenu > li ul, .megamenu > li ol {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    list-style: none;
}

/* 416 */
.megamenu > li ul li, .megamenu > li ol li {
    font-size: 13px;
    line-height: 22px;
    position: relative;
    color: #343434;
    padding-bottom: 7px;
}


.megamenu > li a {
    text-decoration: none;
    color: #343434;
}
.to_top {
    margin-top: 18px;
    height: 15px;
    background: #f5942e url('/bitrix/templates/main/images/arrow_top.png') 50% 50% no-repeat;
    cursor: pointer;
    clear: both;
}
.megamenu > li .drop:hover, .megamenu > li .drop_s:hover, .megamenu > li .nodrop:hover, .megamenu > li .nodrop_s:hover {
    cursor: pointer;
    color: #f5942e;
    text-decoration: underline;
}

/* 167 */
.megamenu > li.active .drop, .megamenu > li.active .drop_s {
    color: #f5942e;
    text-decoration: underline;
    border: #f5942e 1px solid;
    border-bottom: none;
    background: #fff;
    padding-bottom: 12px;
    z-index: 6;
    position: relative;
}
.megamenu > li.active .megamenu_fullwidth {
}
