/* line 1, ../sass/_grid.scss */
.grid {
  float: left;
}
/* line 3, ../sass/_grid.scss */
.grid:after, .grid:before {
  content: '';
  display: table;
}

/* line 8, ../sass/_grid.scss */
.grid-container {
  margin: 10px;
}

/* line 11, ../sass/_grid.scss */
.grid-1-4 {
  width: 25%;
}

/* line 14, ../sass/_grid.scss */
.grid-2-4 {
  width: 50%;
}
/* line 16, ../sass/_grid.scss */
.grid-2-4.big-right-grid {
  float: right;
}
/* line 18, ../sass/_grid.scss */
.grid-2-4.big-right-grid.filtered-item {
  float: left;
  width: 25%;
}

@media screen and (max-width: 1280px) and (min-width: 963px) {
  /* line 26, ../sass/_grid.scss */
  .grid-1-4 {
    width: 33.333%;
  }

  /* line 29, ../sass/_grid.scss */
  .grid-2-4 {
    width: 66.666%;
  }
  /* line 31, ../sass/_grid.scss */
  .grid-2-4.big-right-grid.filtered-item {
    width: 33.333%;
  }
}
@media screen and (max-width: 962px) and (min-width: 661px) {
  /* line 37, ../sass/_grid.scss */
  .grid-1-4 {
    width: 50%;
  }

  /* line 40, ../sass/_grid.scss */
  .grid-2-4 {
    width: 100%;
  }
  /* line 42, ../sass/_grid.scss */
  .grid-2-4.big-right-grid.filtered-item {
    width: 50%;
  }
}
@media screen and (max-width: 660px) {
  /* line 49, ../sass/_grid.scss */
  .grid-1-4, .grid-2-4 {
    width: 100% !important;
  }
}
/* line 1, ../sass/_header.scss */
header {
  background-color: #282a2d;
  height: 80px;
  position: relative;
}
/* line 5, ../sass/_header.scss */
header:after {
  content: '';
  clear: both;
  display: block;
}
/* line 10, ../sass/_header.scss */
header .hover-bg-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 83, 157, 0);
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
/* line 19, ../sass/_header.scss */
header .logotype-block {
  float: left;
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
  padding-left: 71px;
  margin: 21px 0 0;
}
/* line 27, ../sass/_header.scss */
header .logotype-block .site-title {
  font-family: NewBaskervilleC, serif;
  font-size: 32px;
  line-height: 25px;
}
/* line 32, ../sass/_header.scss */
header .logotype-block .short-desc-site {
  font-family: 'PT Sans', sans-serif;
  font-size: 11px;
  color: #ebf4ff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 38, ../sass/_header.scss */
header .logotype-block .img-logo {
  width: 41px;
  height: 56px;
  float: left;
  margin-left: -63px;
  margin-top: -9px;
}
/* line 44, ../sass/_header.scss */
header .logotype-block .img-logo img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
/* line 50, ../sass/_header.scss */
header .logotype-block:hover + .hover-bg-header {
  background-color: #22539d;
}

/* line 1, ../sass/_footer.scss */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #282a2d;
  color: #60646a;
}
/* line 9, ../sass/_footer.scss */
footer .copyright {
  line-height: 18px;
  font-family: NewBaskervilleC, serif;
  float: left;
  white-space: nowrap;
  padding: 24px 9px 18px;
  font-size: 16px;
}
/* line 17, ../sass/_footer.scss */
footer .signature {
  float: right;
  font-family: 'PT Sans', sans-serif;
  line-height: 33px;
  padding: 14px 8px 0;
}
/* line 22, ../sass/_footer.scss */
footer .signature span {
  vertical-align: middle;
}
/* line 25, ../sass/_footer.scss */
footer .signature .ps-text {
  color: #6b7076;
}
/* line 28, ../sass/_footer.scss */
footer .signature .name-text {
  color: #b5b9be;
  margin-left: 1px;
}
/* line 32, ../sass/_footer.scss */
footer .signature .creative-logo {
  width: 28px;
  height: 33px;
  margin-left: 13px;
  display: inline-block;
  vertical-align: top;
}
/* line 38, ../sass/_footer.scss */
footer .signature .creative-logo img {
  display: block;
}
/* line 43, ../sass/_footer.scss */
footer .text-signature {
  line-height: 14px;
  display: inline-block;
}

@media screen and (max-width: 660px) {
  /* line 51, ../sass/_footer.scss */
  footer .signature .ps-text {
    display: block;
  }
}
/* line 1, ../sass/_menu.scss */
.main-menu {
  text-transform: uppercase;
  font-size: 0.77em;
  font-weight: 700;
  padding: 60px 0 11px;
  line-height: 17px;
  font-family: Arial, sans-serif;
}
/* line 8, ../sass/_menu.scss */
.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 13, ../sass/_menu.scss */
.main-menu li {
  display: inline-block;
}
/* line 15, ../sass/_menu.scss */
.main-menu li + li {
  margin-left: 23px;
}
/* line 19, ../sass/_menu.scss */
.main-menu a {
  display: block;
  color: #9fa2a8;
  text-decoration: none;
  -moz-transition: color 0.1s linear, border-color 0.1s linear;
  -o-transition: color 0.1s linear, border-color 0.1s linear;
  -webkit-transition: color 0.1s linear, border-color 0.1s linear;
  transition: color 0.1s linear, border-color 0.1s linear;
  border-bottom: 2px solid transparent;
}
/* line 25, ../sass/_menu.scss */
.main-menu a:hover {
  color: #717377;
}
/* line 28, ../sass/_menu.scss */
.main-menu a.active {
  color: #242526;
}
/* line 31, ../sass/_menu.scss */
.main-menu a:hover, .main-menu a.active {
  border-bottom: 2px solid #242526;
}

@media screen and (max-width: 660px) {
  /* line 37, ../sass/_menu.scss */
  .main-menu {
    text-align: center;
  }
  /* line 40, ../sass/_menu.scss */
  .main-menu li + li {
    margin-left: 5px;
  }
}
/* line 1, ../sass/_modal.scss */
.modal-mask {
  position: fixed;
  background-color: rgba(20, 26, 31, 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  min-width: 320px;
}

/* line 11, ../sass/_modal.scss */
.modal-container {
  position: fixed;
  z-index: 7;
  max-width: 85%;
  margin-left: -15px;
}

/* line 17, ../sass/_modal.scss */
.modal-content, .modal-img-preview {
  max-width: 100%;
}

/* line 20, ../sass/_modal.scss */
.modal-img-preview {
  display: block;
}

/* line 23, ../sass/_modal.scss */
.modal-mask, .modal-container {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

/* line 27, ../sass/_modal.scss */
.modal-close {
  float: right;
  width: 28px;
  height: 28px;
  margin-right: -35px;
  margin-top: -35px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 36, ../sass/_modal.scss */
.modal-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 39, ../sass/_modal.scss */
.modal-close img {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'NewBaskervilleC';
  src: url("../fonts/newbaskervillec.eot");
  src: url("../fonts/newbaskervillec.eot?#iefix") format("embedded-opentype"), url("../fonts/newbaskervillec.woff2") format("woff2"), url("../fonts/newbaskervillec.woff") format("woff"), url("../fonts/newbaskervillec.ttf") format("truetype"), url("../fonts/newbaskervillec.svg#newbaskervillecregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 20, ../sass/style.scss */
html {
  height: 100%;
}

/* line 23, ../sass/style.scss */
body {
  margin: 0;
  min-width: 320px;
  background-color: #eff2f7;
  font: 14px/1.2em 'PT Sans', sans-serif normal normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 60px;
  position: relative;
}

/* line 33, ../sass/style.scss */
.center-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1260px;
}

/* line 38, ../sass/style.scss */
.row {
  margin: 0 -10px;
}
/* line 40, ../sass/style.scss */
.row:after, .row:before {
  content: '';
  display: table;
  width: 100%;
}

/* line 46, ../sass/style.scss */
.countries-table {
  font-family: NewBaskervilleC, serif;
  color: #fff;
  margin-bottom: 70px;
}

/* line 52, ../sass/style.scss */
.slider-container {
  position: relative;
}
/* line 54, ../sass/style.scss */
.slider-container img {
  width: 100%;
}
/* line 57, ../sass/style.scss */
.slider-container .pagination {
  position: absolute;
  right: 20px;
  bottom: 20px;
  white-space: nowrap;
  z-index: 3;
}
/* line 63, ../sass/style.scss */
.slider-container .pagination .paging-button {
  display: inline-block;
  width: 23px;
  height: 22px;
  cursor: pointer;
  vertical-align: top;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
/* line 71, ../sass/style.scss */
.slider-container .pagination .paging-button + .paging-button {
  margin-left: 13px;
}
/* line 74, ../sass/style.scss */
.slider-container .pagination .paging-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 77, ../sass/style.scss */
.slider-container .pagination .paging-button img {
  display: block;
  height: 100%;
}
/* line 84, ../sass/style.scss */
.slider-container.no-first-slide .name-country {
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  right: auto;
  top: auto;
  line-height: 25px;
}

/* line 94, ../sass/style.scss */
.text-container {
  font: 14px/1.6em 'PT Sans', sans-serif normal normal;
  background-color: #313336;
  color: #abaeb3;
}
/* line 98, ../sass/style.scss */
.text-container p {
  margin: 35px 36px 0 20px;
}

/* line 102, ../sass/style.scss */
.image-container {
  position: relative;
}
/* line 104, ../sass/style.scss */
.image-container:after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 114, ../sass/style.scss */
.image-container.big-image {
  height: 420px;
}
/* line 116, ../sass/style.scss */
.image-container.big-image .name-country {
  padding: 89px 30px;
  line-height: 30px;
  text-align: left;
}
/* line 120, ../sass/style.scss */
.image-container.big-image .name-country span {
  font-size: 40px;
}
/* line 123, ../sass/style.scss */
.image-container.big-image .name-country ol {
  list-style-type: none;
  counter-reset: li-counter;
  font-size: 20px;
  padding-left: 13px;
  line-height: 30px;
  margin-top: 37px;
}
/* line 130, ../sass/style.scss */
.image-container.big-image .name-country ol li {
  counter-increment: li-counter;
}
/* line 132, ../sass/style.scss */
.image-container.big-image .name-country ol li + li {
  margin-top: 17px;
}
/* line 135, ../sass/style.scss */
.image-container.big-image .name-country ol li:before {
  content: counter(li-counter) ".";
  display: inline;
  margin-right: 6px;
}
/* line 144, ../sass/style.scss */
.image-container img {
  display: block;
}

/* line 149, ../sass/style.scss */
.image-preview-container:after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 160, ../sass/style.scss */
.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
/* line 168, ../sass/style.scss */
.slider-list li {
  position: absolute;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 178, ../sass/style.scss */
.slider-list li.active {
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 185, ../sass/style.scss */
.name-country {
  line-height: 208px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 36px;
  text-align: center;
  z-index: 2;
}
/* line 195, ../sass/style.scss */
.name-country span {
  line-height: 25px;
}

/* line 199, ../sass/style.scss */
.preview-button {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  z-index: 4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  opacity: 0.98;
  cursor: pointer;
  -moz-transition: all 0.3s cubic-bezier(0.37, 1.74, 0.73, 1.43);
  -o-transition: all 0.3s cubic-bezier(0.37, 1.74, 0.73, 1.43);
  -webkit-transition: all 0.3s cubic-bezier(0.37, 1.74, 0.73, 1.43);
  transition: all 0.3s cubic-bezier(0.37, 1.74, 0.73, 1.43);
}
/* line 211, ../sass/style.scss */
.preview-button:hover {
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
}
/* line 217, ../sass/style.scss */
.preview-button img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  /* line 225, ../sass/style.scss */
  .fix-size {
    width: 941px;
  }
}
@media screen and (max-width: 962px) {
  /* line 230, ../sass/style.scss */
  .fix-size {
    width: 620px;
  }
}
@media screen and (min-width: 660px) {
  /* line 237, ../sass/style.scss */
  .big-right-grid.filtered-item .big-image {
    width: auto;
    height: 200px;
    overflow: hidden;
  }
  /* line 241, ../sass/style.scss */
  .big-right-grid.filtered-item .big-image .name-country {
    text-align: center;
    line-height: 208px;
    padding: 0;
  }
  /* line 245, ../sass/style.scss */
  .big-right-grid.filtered-item .big-image .name-country span {
    font-size: 36px;
  }
  /* line 248, ../sass/style.scss */
  .big-right-grid.filtered-item .big-image .name-country ol {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  /* line 257, ../sass/style.scss */
  .fix-size {
    width: 320px;
  }

  /* line 260, ../sass/style.scss */
  .grid-container {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 265, ../sass/style.scss */
  .image-container.big-image {
    width: auto;
    height: 230px;
  }
  /* line 268, ../sass/style.scss */
  .image-container.big-image .name-country {
    text-align: center;
    line-height: 208px;
    padding: 0;
  }
  /* line 272, ../sass/style.scss */
  .image-container.big-image .name-country span {
    font-size: 36px;
  }
  /* line 275, ../sass/style.scss */
  .image-container.big-image .name-country ol {
    display: none;
  }
}
