@import "compass";
@font-face {
  font-family: 'AvenirNext';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/AvenirNR.eot);
  src: url(../fonts/AvenirNR.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNR.woff2) format("woff2"),
  url(../fonts/AvenirNR.woff) format("woff"),
  url(../fonts/AvenirNR.ttf) format("truetype"),
  url(../fonts/AvenirNR.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/AvenirNH.eot);
  src: url(../fonts/AvenirNH.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNH.woff2) format("woff2"),
  url(../fonts/AvenirNH.woff) format("woff"),
  url(../fonts/AvenirNH.ttf) format("truetype"),
  url(../fonts/AvenirNH.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/AvenirNB.eot);
  src: url(../fonts/AvenirNB.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNB.woff2) format("woff2"),
  url(../fonts/AvenirNB.woff) format("woff"),
  url(../fonts/AvenirNB.ttf) format("truetype"),
  url(../fonts/AvenirNB.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/AvenirNT.eot);
  src: url(../fonts/AvenirNT.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNT.woff2) format("woff2"),
  url(../fonts/AvenirNT.woff) format("woff"),
  url(../fonts/AvenirNT.ttf) format("truetype"),
  url(../fonts/AvenirNT.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 100;
  font-style: normal;
  src: url(../fonts/AvenirNUL.eot);
  src: url(../fonts/AvenirNUL.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNUL.woff2) format("woff2"),
  url(../fonts/AvenirNUL.woff) format("woff"),
  url(../fonts/AvenirNUL.ttf) format("truetype"),
  url(../fonts/AvenirNUL.svg) format("svg");
}
body {
  background-color: #fff;
  padding: 0;
  position: relative;
  font: 15px AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  min-width: 1200px;
  margin: 0 auto;
  color: #292929;
}
textarea, input[type="text"], input:not([type]) {
  @include box-sizing(border-box);
  border: 5px solid #fff;
  background: none;
  text-align: left;
  line-height: 26px;
  padding: 4px 18px;
  font-family: AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 0;
  &:-ms-input-placeholder {
    color: #fff;
  }
  &::-webkit-input-placeholder {
    color: #fff;
  }
  &:-moz-placeholder {
    color: #fff;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
}
textarea {
  resize: none;
}

input {
  &[type="text"], &:not([type]) {
    height: 50px;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.clear-both {
  clear: both;
}
.bold-text {
  font-weight: bold;
}
a {
  color: #0030ff;
  &:hover {
    text-decoration: none;
  }
  img {
    border: 0 none;
  }
}
.center-content {
  width: 980px;
  margin: 0 auto;
}
.clearfix {
  clear: both;
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
}
button {
  border: 0 none;
}
button, input {
  -webkit-appearance: none;
  outline: none;
}
.btn {
  cursor: pointer;
  color: #fff;
  background-color: #0131ff;
  white-space: nowrap;
  line-height: 49px;
  height: 50px;
  padding: 0 27px;
  @include transition(background-color ease-in 0.1s);
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  &:hover {
    background-color: #ff4c04;
  }
  &:active {
    background-color: #e94300;
  }
}
.radio-btn {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  span {
    color: #292929;
    display: block;
    background-color: #e2e2e2;
    @include border-radius(8px);
    border-bottom: 3px solid #d1d1d1;
    padding: 0 24px;
    line-height: 40px;
    @include transition(background-color ease-in 0.1s, color ease-in 0.1s, border-color ease-in 0.1s);
  }
  input {
    position: absolute;
    right: 100%;
    margin: 0;
    padding: 0;
    &:checked {
      + span {
        color: #fff;
        background-color: #0131ff;
        border-color: #002075;
      }
    }
  }
  &:hover {
    span {
      color: #fff;
      background-color: #ff4c04;
      border-color: #af3200;
    }
  }
  &:active {
    span {
      color: #fff;
      background-color: #e94300;
      border-color: #ab3100;
    }
  }
}

/* CONTENT BLOCKS */
.center-content {
  width: 1200px;
}
/* / CONTENT BLOCKS */




/* SPRITES */
$icons-spacing: 2px;
$icons-sprite-base-class: '.icon';
@import "icons/*.png";
.icon {
  display: inline-block;
  vertical-align: middle;
  &.phone {
    @include icons-sprite-position(phone);
    width: 14px;
    height: 25px;
  }
}

$advantages-spacing: 4px;
$advantages-sprite-base-class: '.advantage-icon';
@import "advantages/*.png";

$pluses-spacing: 10px;
$pluses-sprite-base-class: '.pluse-icon';
@import "pluses/*.png";

.advantage-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  &.icon-1 {
    @include advantages-sprite-position(advant-1);
  }
  &.icon-2 {
    @include advantages-sprite-position(advant-2);
  }
  &.icon-3 {
    @include advantages-sprite-position(advant-3);
  }
  &.icon-4 {
    @include advantages-sprite-position(advant-4);
  }
  &.icon-5 {
    @include advantages-sprite-position(advant-5);
  }
  &.icon-6 {
    @include advantages-sprite-position(advant-6);
  }
}
.pluse-icon {
  width: 74px;
  display: inline-block;
  height: 64px;
  &.icon-11 {
    height: 45px;
    @include pluses-sprite-position(advant-11);
  }
  &.icon-12 {
    @include pluses-sprite-position(advant-12);
  }
  &.icon-13 {
    @include pluses-sprite-position(advant-13);
  }
}

$black-icons-spacing: 4px;
$black-icons-sprite-base-class: '.black-icon';
@import "black-icons/*.png";

.black-icon {
  width: 32px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  &.icon-1 {
    @include black-icons-sprite-position(icon-1);
    width: 14px;
}
  &.icon-2 {
    @include black-icons-sprite-position(icon-2);
  }
  &.icon-3 {
    @include black-icons-sprite-position(icon-3);
  }
  &.icon-4 {
    @include black-icons-sprite-position(icon-4);
  }
  &.icon-5 {
    @include black-icons-sprite-position(icon-5);
  }
  &.icon-6 {
    @include black-icons-sprite-position(icon-6);
  }
  &.icon-7 {
    @include black-icons-sprite-position(icon-7);
    height: 14px;
    width: 22px;
  }
}


/* HEADER */
header {
  position: relative;
  height: 0;
  z-index: 2;
  line-height: 89px;
  font-size: 17px;
  margin-top: 84px;
  .left-header-blue {
    position: absolute;
    left: 0;
    right: 50%;
    margin-right: 599px;
    height: 95px;
    top: 0;
    background-color: #0131ff;
  }
  .header-block {
    height: 95px;
  }
  .header-left-block {
    float: left;
    background-color: #0131ff;
    padding-right: 49px;
  }
  .header-right-block {
    float: right;
    white-space: nowrap;
  }
  .logotype {
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .logo-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    color: #fff;
    margin: 0;
  }
  .phone-header {
    margin-right: 34px;
    color: #2a2a2a;
    display: inline-block;
    .icon {
      margin-right: 6px;
      margin-top: -2px;
    }
  }
}

/* $menu-spacing: 4px;
$menu-sprite-base-class: '.menu-button';
@import "menu/*.png";*/

.main-menu {
  line-height: 24px;
  font-size: 17px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
  ul {
    list-style-type: none;
    padding: 30px 0;
    margin: 0 auto;
  }
  li {
    display: inline-block;
    + li {
      margin-left: 60px;
    }
  }
  a {
    text-decoration: none;
    color: #292929;
    display: block;
    &:hover, &.active {
      color: #1655bf;
    }
  }
}

a.anchor {
  position: relative;
  display: block;
  top: -82px;
  .main-menu + & {
    top: 0;
  }
}

/*.menu-button {
  width: 30px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  @include menu-sprite-position(menu-button);
  margin-left: 35px;
  cursor: pointer;
  &:hover {
    @include menu-sprite-position(menu-button-hover);
  }
  &:active {
    @include menu-sprite-position(menu-button-active);
  }
}*/
h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  font-weight: 800;
}
h2, h3 {
  font-size: 50px;
  margin: 0;
  line-height: 61px;
}
/* / HEADER */

/* Sections BEGIN*/
section {
  width: 100%;
  overflow: hidden;
  .advantage-block {
    padding: 25px 0 22px;
    list-style-type: none;
    margin: 0;
    color: #fff;
    text-align: center;
    li {
      height: 143px;
      float: left;
      width: 33.333%;
      padding: 42px 0 0;
      @include box-sizing(border-box);
      + li {
        border-left: 1px solid;
      }
      p {
        margin: 0 0 0 20px;
        font-size: 17px;
        line-height: 26px;
        display: inline-block;
        text-align: left;
      }
    }
  }
  &.head-section {
    color: #222224;
    overflow: visible;
    .head-section-bg {
      height: 742px;
      background: url(images/head-section-background.jpg) top center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .advantage-block {
      background-color: #fe4c04;
      margin: -97px 0 57px;
      .advantage-icon {
        margin: -7px;
        vertical-align: top;
        &.icon-2 {
          margin-top: -3px;
        }
        &.icon-3 {
          margin-top: -2px;
        }
      }
      li {
        + li {
          border-color: #ff956b;
        }
      }
    }
    .head-section-content {
      padding-top: 196px;
    }
    .head-text-desc {
      line-height: 38px;
      font-size: 25px;
      margin: 0;
      strong {
        font-weight: 800;
      }
    }
    .btn {
      padding: 0 44px;
      margin: 43px 0 0 1px;
    }
  }
  &.arguments-section {
    .arguments-list {
      background-color: #0131ff;
      color: #fff;
      padding: 58px 0 59px;
    }
    .advantage-block {
      margin-top: 25px;
      .advantage-icon {
        margin: -7px;
        vertical-align: top;
      }
      li {
        + li {
          border-color: #6f8aff;
        }
      }
    }
  }
  &.offer-section {
    padding: 80px 0;
    .image-container {
      float: left;
      width: 50%;
      img {
        vertical-align: top;
      }
    }
    .text-container {
      margin-left: 50%;
      padding: 50px 0 0 84px;
      p {
        font-size: 25px;
        margin: 31px -4px 49px 0;
        line-height: 37px;
      }
      .btn {
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }
  &.solutions-section {
    background-color: #f5f5f5;
    padding-top: 58px;
    h3 {
      font-size: 49px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      padding: 0;
      margin: 0;
      display: block;
    }
    .head-solution-item {
      height: 223px;
      position: relative;
      img {
        width: 100%;
        min-height: 100%;
        vertical-align: top;
      }
    }
    .solution-price {
      color: #fff;
      position: absolute;
      z-index: 1;
      top: 117px;
      left: 39px;
      text-align: left;
      h4 {
        font-size: 20px;
        margin: 0;
      }
      span {
        font-size: 40px;
        font-weight: 200;
        line-height: 58px;
        text-indent: -0.04em;
        display: block;
      }
    }
    .categories-solutions-list {
      margin-top: 52px;
      color: #5e5e5e;
      padding-bottom: 118px;
      .categories-solutions-item {
        float: left;
        width: 33.333%;
        li {
          background: url(images/arrow-down.png) 38px center no-repeat;
          &:nth-child(even) {
            background-color: #f3f6ff;
          }
        }
        b {
          color: #0131ff;
        }
        &.solution-item-1, &.solution-item-3 {
          padding-top: 20px;
        }
        &.solution-item-2 {
          .categories-solutions-block {
            margin: 0 auto;
            border: 20px solid #0131ff;
            border-bottom-width: 0;
          }
        }
        &.solution-item-3 {
          .categories-solutions-block {
            float: right;
          }
        }
      }
      .categories-solutions-block {
        width: 360px;
        padding-bottom: 34px;
        background-color: #fff;
        text-align: center;
        position: relative;
        .hits-title {
          @include text-shadow(4px 4px 5px rgba(0, 0, 0, 0.2));
          background-color: #0131ff;
          color: #fff;
          height: 50px;
          margin-top: -51px;
          font-weight: bold;
          margin-right: -20px;
          float: right;
          padding: 0 25px;
          font-size: 17px;
          line-height: 48px;
          position: relative;
          z-index: 1;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          height: 0;
          width: 0;
          border-width: 30px 180px 0;
          border-style: solid;
          border-color: #fff transparent;
          z-index: 3;
          margin-top: -6px;
        }
        .grey-arrow {
          height: 6px;
          background-color: #e4e4e4;
          position: absolute;
          top: 100%;
          z-index: 2;
          margin-top: -6px;
          &:after {
            content: '';
            display: block;
            margin-top: 6px;
            height: 0;
            width: 0;
            border-width: 30px 180px 0;
            border-style: solid;
            border-color: #e4e4e4 transparent;
          }
        }
        .blue-arrow {
          height: 17px;
          background-color: #0131ff;
          position: absolute;
          top: 100%;
          z-index: 1;
          left: -20px;
          right: -20px;
          &:after {
            content: '';
            display: block;
            margin-top: 17px;
            height: 0;
            width: 0;
            border-width: 36px 200px 0;
            border-style: solid;
            border-color: #0131ff transparent;
          }
        }
        .btn {
          margin-top: 8px;
          padding-left: 50px;
          padding-right: 51px;
        }
      }
      .category-solution-item {
        text-align: left;
        a {
          display: block;
          text-decoration: none;
          color: inherit;
          padding: 20px 0 20px 86px;
          line-height: 26px;
          font-size: 17px;
          position: relative;
          .quest-text {
            display: none;
            position: absolute;
            top: 50%;
            span {
              display: block;
              margin-top: -13px;
            }
          }
          &:hover {
            background: url(images/quest-icon.png) 38px center no-repeat #0131ff;
            color: #fff;
            .quest-text {
              display: block;
            }
            .title-item-text {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
  &.answers-section {
    padding: 58px 0;
    .answers-section-title {
      float: left;
      width: 23%;
      .blue-block {
        margin-top: 38px;
        padding-top: 28px;
        padding-bottom: 32px;
      }
      p {
        margin: 0 35px;
        font-size: 25px;
        line-height: 38px;
      }
    }
    .answers-list {
      margin: 0;
      float: right;
      width: 77%;
      list-style-type: none;
      padding: 0;
      .answer-item-text {
        padding-left: 70px;
      }
      .img-container {
        height: 290px;
        line-height: 289px;
        text-align: center;
        margin-bottom: 10px;
        position: relative;
        &:after {
          content: counter(answer-item);
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          color: #e9f0fa;
          font-size: 288px;
          font-weight: bold;
          line-height: 240px;
          margin-left: -10px;
        }
        img {
          vertical-align: middle;
          position: relative;
          z-index: 2;
        }
      }
      h4 {
        font-size: 20px;
        margin: 0;
      }
      p {
        margin: 4px 0;
        line-height: 25px;
      }
      li {
        float: left;
        width: 390px;
        margin-bottom: 8px;
        margin-left: 72px;
        vertical-align: top;
        counter-increment: answer-item;
        &:nth-child(odd) {
          clear: both;
        }
      }
    }
  }
  &.portfolio-section {
    padding: 60px 0 80px;
    background-color: #f5f5f5;
    text-align: center;
    .filters-btns {
      padding: 21px 0;
      .radio-btn {
        float: left;
        margin: 0 13px 10px 0;
      }
    }
    .portfolio-list {
      margin: 0 -15px;
      padding: 32px 0 50px;
      .image-container {
        float: left;
        margin: 13px 15px;
        overflow: hidden;
        height: 288px;
        color: #fff;
        text-decoration: none;
        position: relative;
        .mask-portfolio {
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(1, 49, 255, 0.6);
          @include opacity(0);
          @include transition(opacity linear 0.2s);
          line-height: 288px;
          padding: 0 20px;
          text-align: center;
          .mask-portfolio-desc {
            vertical-align: middle;
            display: inline-block;
            line-height: 30px;
          }
          .mask-portfolio-title, .mask-portfolio-text {
            display: block;
          }
          .mask-portfolio-title {
            font-size: 25px;
          }
          .mask-portfolio-text {
            font-size: 17px;
          }
        }
        &:hover {
          .mask-portfolio {
            @include opacity(1);
          }
        }
        &.size-1 {
          width: 380px;
          margin-right: 14px;
        }
        &.size-2 {
          width: 787px;
        }
      }
      img {
        vertical-align: top;
        width: 100%;
      }
      &:after {
        content: '';
        clear: both;
        display: block;
      }
    }
  }
  &.clients-section {
    padding-top: 57px;
    .slider-container {
      padding-top: 10px;
    }
  }
  &.reviews-section {
    background-color: #f5f5f5;
    padding: 57px 0 107px;
    .btn {
      padding: 0 55px;
    }

    .reviews-list {
      list-style-type: none;
      margin: 0;
      padding: 52px 0 30px;
      color: #373737;
      .review-item {
        position: relative;
        counter-increment: review-item;
        left: -100%;
        @include transition(left ease-out 0.35s);
        &:nth-child(even) {
          left: 100%;
          .blue-block {
            left: 50%;
            right: 0;
            margin-left: -600px;
            margin-right: auto;
          }
          .macbook-desk-blik {
            background-position: left top;
            background-image: url(images/lighting-2.png);
          }
        }
        + .review-item {
          margin-top: 52px;
        }
        &.inscroll {
          left: 0;
        }
      }
      .left-block-review {
        float: left;
        width: 49%;
        position: relative;
      }
      .right-block-review {
        float: right;
        width: 51%;
      }
      .title-line-review {
        color: #fff;
        position: relative;
        margin-bottom: 75px;
        .company-review {
          font-size: 25px;
          margin: 0 0 11px;
        }
        .desc-review {
          font-size: 17px;
          line-height: 27px;
        }
        .center-content {
          position: relative;
          z-index: 2;
        }
        .blue-block {
          bottom: 0;
          position: absolute;
          left: 0;
          right: 50%;
          margin-right: -600px;
          top: 0;
        }
        .right-block-review {
          padding-top: 23px;
          padding-bottom: 75px;
          position: relative;
          &:after {
            content: counter(review-item);
            position: absolute;
            right: 2px;
            top: -117px;
            color: #e9f0fa;
            font-size: 271px;
            font-weight: bold;
          }
        }
      }
      .info-review-block {
        .left-content-review {
          margin-top: -215px;
        }
      }
      .avatar-review {
        display: block;
        margin-top: 15px;
        margin-bottom: -115px;
      }
      .user-name-review {
        font-size: 17px;
      }
      .text-review {
        font-size: 17px;
        line-height: 26px;
        p {
          margin: 26px 0;
        }
      }
    }
    .left-content-review {
      position: absolute;
      left: 0;
    }
    .mackbook {
      width: 513px;
      height: 265px;
      background: url(images/macbook.png) center center no-repeat;
      position: relative;
    }
    .mackbook-desk-image {
      width: 380px;
      height: 202px;
      overflow: hidden;
      position: absolute;
      top: 20px;
      left: 66px;
      img {
        width: 100%;
        min-height: 100%;
        display: block;
      }
    }
    .macbook-desk-blik {
      position: absolute;
      width: 420px;
      height: 238px;
      right: 46px;
      background: url(images/lighting-1.png) no-repeat right top;
    }
    .info-review-block {
      position: relative;
      z-index: 3;
    }
    .review-result-list {
      list-style-type: none;
      padding: 0;
      margin: 0 85px 0 0;
      color: #373737;
    }
    .review-result-item {
      display: block;
      margin: 0;
      float: left;
      width: 33.333%;
      position: relative;
      padding: 32px 36px;
      @include box-sizing(border-box);
      color: #373737;
      .counter {
        font-size: 72px;
        font-weight: 100;
        margin-bottom: 7px;
        .grey-circle {
          position: absolute;
          width: 48px;
          height: 48px;
          line-height: 47px;
          text-align: center;
          top: 27px;
          right: -10px;
          font-size: 15px;
          background-color: #eaeaea;
          color: #383838;
          font-weight: 400;
          @include border-radius(50%);
        }
      }
      .legend {
        font-size: 17px;
        display: block;
        line-height: 26px;
        padding-left: 11px;
      }
    }
  }
  &.callback-section {
    margin-top: -54px;
    padding-bottom: 105px;
    .callback-form-text {
      margin-left: 50px;
      width: 560px;
      h3 {
        line-height: 54px;
      }
    }
    .callback-form {
      z-index: 3;
      float: left;
      background-color: rgba(1, 49, 255, 0.6);
      white-space: nowrap;
      position: relative;
      margin-top: 34px;
      padding: 35px 52px;
      input, button {
        width: 258px;
      }
      input + input {
        margin-left: 23px;
      }
      button {
        margin-left: 46px;
      }
    }
    .blue-block {
      height: 120px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
    .callback-section-block {
      background-color: #fe4c04;
      color: #fff;
      max-width: 1056px;
      padding-top: 46px;
      margin: 0 auto 89px;
      position: relative;
    }
    .callback-form-desc {
      margin: 13px 0;
      font-size: 17px;
      line-height: 27px;
    }
    .callback-image {
      width: 869px;
      height: 365px;
      position: absolute;
      top: 54px;
      left: 619px;
      z-index: 2;
    }
    .scheme-block {
      position: relative;
      width: 1182px;
      margin: 52px auto 0;
      height: 421px;
      background: url(images/scheme.gif) center center no-repeat;
      list-style-type: none;
      padding: 0;
      .black-icon {
        float: left;
        margin-left: -32px;
      }
      p {
        margin: 0;
      }
      li {
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
        font-size: 17px;
        line-height: 26px;
        &.scheme-item {
          padding-left: 60px;
        }
        &.scheme-item-1 {
          left: 153px;
          top: 63px;
        }
        &.scheme-item-2 {
          left: 455px;
          top: 63px;
        }
        &.scheme-item-3 {
          left: 760px;
          top: 63px;
        }
        &.scheme-item-4 {
          left: 153px;
          top: 260px;
        }
        &.scheme-item-5 {
          left: 455px;
          top: 260px;
          padding-left: 70px;
          .black-icon {
            margin: 2px 0 0 -42px;
          }
        }
        &.scheme-item-6 {
          left: 760px;
          top: 260px;
          padding-left: 77px;
          .black-icon {
            margin: 2px 0 0 -49px;
          }
        }
        &.button-item {
          top: 396px;
          left: 260px;
          .btn {
            padding: 0 47px;
          }
        }
      }
    }
  }
  &.about-section {
    padding-top: 57px;
    padding-bottom: 68px;
    .about-right-block {
      width: 32%;
      float: right;
    }
    .about-left-block {
      margin-right: 32%;
      .btn {
        margin-top: 39px;
        padding: 0 54px;
      }
    }
    .about-text {
      margin-top: 53px;
      padding-left: 167px;
      font-size: 17px;
      padding-top: 3px;
      line-height: 26px;
      p {
        margin: 23px 0;
      }
    }
    .logotype-about {
      float: left;
      margin-left: -167px;
      margin-top: -3px;
    }
    .team-list {
      list-style-type: none;
      padding: 53px 0 0;
      margin: 0 -4px 0 3px;
      li {
        float: left;
        display: block;
        width: 33.33%;
        margin-bottom: 12px;
      }
      a {
        display: block;
        position: relative;
        width: 115px;
        height: 115px;
        &:hover {
          .mask-team-avatar {
            @include opacity(0);
          }
        }
      }
      .mask-team-avatar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(1, 49, 255, 0.6);
        @include transition(opacity linear 0.1s);
      }
      img {
        display: block;
      }
    }
  }
}
footer {
  background-color: #f9f9f9;
  padding: 25px 0;
  .left-footer-block {
    color: #555555;
    line-height: 26px;
    float: left;
    white-space: nowrap;
    p {
      margin: 0;
    }
  }
  .right-footer-block {
    float: right;
    white-space: nowrap;
    color: #2a2a2a;
    padding: 41px 0;
    font-size: 18px;
  }
  .right-block-item {
    + .right-block-item {
      margin-left: 34px;
    }
    .black-icon {
      margin-right: 5px;
      margin-top: -2px;
    }
  }
}
/* Sections END */
.blue-block {
  background-color: #0131ff;
  color: #fff;
}

$slider-spacing: 4px;
$slider-sprite-base-class: '.paging-button';
@import "slider/*.png";

$slide-icons-spacing: 4px;
$slide-icons-sprite-base-class: '.slide-icon';
@import "slide-icons/*.png";

.slide-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  &.icon-1 {
    @include slide-icons-sprite-position(slider-icon-1);
  }
  &.icon-2 {
    @include slide-icons-sprite-position(slider-icon-2);
    margin-left: -80px;
    margin-right: 20px;
  }
}
.slide-block {
  display: inline-block;
  line-height: 100px;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  font-size: 17px;
  &.slide-block-logo {
    width: 25%;
    img {
      vertical-align: middle;
    }
  }
  &.slide-block-with-icon {
    width: 34%;
    padding-left: 60px;
    @include box-sizing(border-box);
  }
  .text-slide {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    line-height: 25px;
    margin: 0;
  }
}
.client-slide-item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 48px;
  @include opacity(0.5);
  @include transition(opacity linear 0.5s);
  &:hover {
    @include opacity(1);
  }
}

.slider-container {
  margin-top: 20px;
  margin-bottom: 48px;
  position: relative;
  .slide-block {
    display: inline-block;
    vertical-align: middle;
  }
  .slider-list {
    overflow: hidden;
    margin: 0 70px;
    padding: 19px 0 32px;
    .slider-ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 1000%;
      position: relative;
      left: 0;
      @include transition(left linear 0.2s);
    }
    .slider-item {
      float: left;
      width: 100%;
      text-align: justify;
    }
  }
  .paging-button {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    margin-top: -24px;
    cursor: pointer;
    &.prev-button {
      left: 0;
      @include slider-sprite-position(slider-page-prev);
      &:hover {
        @include slider-sprite-position(slider-page-prev-hover);
      }
    }
    &.next-button {
      right: 0;
      @include slider-sprite-position(slider-page-next);
      &:hover {
        @include slider-sprite-position(slider-page-next-hover);
      }
    }
  }
}
.bull-separate {
  color: #0131ff;
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;
  font-size: 0.8em;
}
.social-icon {
  background: url(images/social-icons.png) no-repeat;
  display: inline-block;
  vertical-align: inherit;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 15px 0 0;
  &.vkontakte {
    background-position: -124px 0;
  }
  &.facebook {
    background-position: -0px 0;
  }
  &.twitter {
    background-position: -31px 0;
  }
  &.blogger {
    background-position: -434px 0;
  }
}

.popup-mask {
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(1, 49, 255, 0.6);
}
.popup-window {
  position: fixed;
  top: 150px;
  left: 50%;
  background-color: #fff;
  width: 336px;
  margin-left: -168px;
  padding: 15px 0;
  z-index: 7;
  display: none;
  .form-modal-title {
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .popup-window-content {
    margin: 0 15px;
    position: relative;
    padding: 24px;
    textarea {
      height: 116px;
    }
    textarea, input {
      border-color: #e0e0e0;
      color: #323232;
      font-size: 17px;
      &:-ms-input-placeholder {
        color: #323232;
      }
      &::-webkit-input-placeholder {
        color: #323232;
      }
      &:-moz-placeholder {
        color: #323232;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus:-moz-placeholder {
        color: transparent;
      }
    }
    textarea, input, button {
      width: 100%;
    }
    .row-field {
      + .row-field {
        margin-top: 15px;
      }
    }
    .close-popup {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      width: 17px;
      height: 17px;
      background-image: url(images/close-popup.gif);
    }
    &.with-border {
      border: 5px solid #e0e0e0;
      padding: 19px;
    }
    .title-thanks {
      font-size: 25px;
      text-align: center;
      padding: 5px 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      &:after, &:before {
        content: '';
        background-color: #0131ff;
        width: 74px;
        height: 5px;
        margin: 0 auto;
        display: block;
      }
      &:after {
        margin-bottom: -5px;
        margin-top: 20px;
      }
      &:before {
        margin-top: -5px;
        margin-bottom: 20px;
      }
    }
    .desc-thanks {
      margin: 20px 0;
      font-size: 17px;
      text-align: center;
    }
  }
}







