@import "compass";
@font-face {
  font-family: 'AvenirNext';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/AvenirNR.eot);
  src: url(../fonts/AvenirNR.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNR.woff2) format("woff2"),
  url(../fonts/AvenirNR.woff) format("woff"),
  url(../fonts/AvenirNR.ttf) format("truetype"),
  url(../fonts/AvenirNR.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/AvenirNB.eot);
  src: url(../fonts/AvenirNB.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNB.woff2) format("woff2"),
  url(../fonts/AvenirNB.woff) format("woff"),
  url(../fonts/AvenirNB.ttf) format("truetype"),
  url(../fonts/AvenirNB.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/AvenirNT.eot);
  src: url(../fonts/AvenirNT.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNT.woff2) format("woff2"),
  url(../fonts/AvenirNT.woff) format("woff"),
  url(../fonts/AvenirNT.ttf) format("truetype"),
  url(../fonts/AvenirNT.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/AvenirNH.eot);
  src: url(../fonts/AvenirNH.eot#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNH.woff2) format("woff2"),
  url(../fonts/AvenirNH.woff) format("woff"),
  url(../fonts/AvenirNH.ttf) format("truetype"),
  url(../fonts/AvenirNH.svg) format("svg");
}
html {
  height: 100%;
}
body {
  background-color: #fff;
  position: relative;
  font: 15px AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  min-width: 320px;
  margin: 0 auto;
  color: #2b2b2b;
  @include box-sizing(border-box);
  min-height: 100%;
  padding: 0 0 188px;
}

textarea, input[type="text"], input:not([type]) {
  @include box-sizing(border-box);
  border: 5px solid #fff;
  background: none;
  text-align: left;
  line-height: 26px;
  padding: 4px 18px;
  font-family: AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 0;
  &:-ms-input-placeholder {
    color: #fff;
  }
  &::-webkit-input-placeholder {
    color: #fff;
  }
  &:-moz-placeholder {
    color: #fff;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
}
textarea {
  resize: none;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.clear-both {
  clear: both;
}
.bold-text {
  font-weight: bold;
}
.center-content {
  max-width: 1200px;
  margin: 0 auto;
  width: 94%;
}
.clearfix {
  clear: both;
  &:after, &:before {
    content: '';
    display: table;
    clear: both;
    width: 100%;
  }
}
h2, h3 {
  font-weight: 200;
  font-size: 50px;
  text-align: center;
  margin: 0;
}
.uppercase {
  text-transform: uppercase;
}
.bolder {
  font-weight: 900;
}
.article-title {
  padding-bottom: 16px;
}
.description-article {
  font-size: 20px;
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}
button {
  border: 0 none;
}
button, input {
  -webkit-appearance: none;
  outline: none;
}
.btn {
  cursor: pointer;
  color: #fff;
  background-color: #0131ff;
  white-space: nowrap;
  line-height: 49px;
  height: 50px;
  padding: 0 27px;
  @include transition(background-color ease-in 0.1s);
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  @include box-sizing(border-box);
  &:hover {
    background-color: #ff4c04;
  }
  &:active {
    background-color: #e94300;
  }
}
.main-menu {
  line-height: 32px;
  font-size: 17px;
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
  ul {
    list-style-type: none;
    padding: 20px 0 28px;
    margin: 0 auto;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 2%;
  }
  a {
    text-decoration: none;
    color: #292929;
    display: block;
    &:hover, &.active {
      color: #1655bf;
    }
  }
}
a.anchor {
  position: relative;
  display: block;
  top: -82px;
  .main-menu + & {
    top: 0;
  }
}

/* HEADER */
h1 {
  font-size: 50px;
  margin: 1em 0;
  font-weight: 200;
  line-height: 1.15em;
}
header {
  position: relative;
  z-index: 2;
  height: 545px;
  line-height: 480px;
  font-size: 17px;
  margin-top: 84px;
  padding: 0;
  background: url(images/header-bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  .header-content {
    display: inline-block;
    vertical-align: middle;
    line-height: initial;
  }
  .btn {
    padding: 0 35px;
  }
}

$slide-icons-spacing: 4px;
$slide-icons-sprite-base-class: '.slide-icon';
@import "slide-icons/*.png";

.slide-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  &.icon-1 {
    @include slide-icons-sprite-position(slider-icon-1);
  }
  &.icon-2 {
    @include slide-icons-sprite-position(slider-icon-2);
    margin-left: -80px;
    margin-right: 20px;
  }
}
.slide-block {
  display: inline-block;
  line-height: 100px;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  font-size: 17px;
  &.slide-block-logo {
    width: 25%;
    img {
      vertical-align: middle;
    }
  }
  &.slide-block-with-icon {
    width: 34%;
    padding-left: 60px;
    @include box-sizing(border-box);
  }
  .text-slide {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    line-height: 1.5em;
    margin: 0;
  }
}
.slider-container {
  margin-top: 40px;
  margin-bottom: 32px;
  position: relative;
  .slide-block {
    display: inline-block;
    vertical-align: middle;
  }
  .slider-list {
    overflow: hidden;
    margin: 0 8%;
    padding: 19px 0 32px;
    .slider-ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      position: relative;
      left: 0;
      @include transition(left linear 0.2s);
    }
    .slider-item {
      float: left;
      width: 100%;
      text-align: justify;
    }
  }
}
footer {
  background-color: #f9f9f9;
  padding: 30px 0 26px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .left-footer-block {
    color: #555;
    line-height: 26px;
    float: left;
    white-space: nowrap;
    p {
      margin: 0;
    }
  }
  .right-footer-block {
    float: right;
    white-space: nowrap;
    color: #292929;
    padding: 41px 0;
    font-size: 18px;
  }
  .right-block-item {
    + .right-block-item {
      margin-left: 34px;
    }
    .black-icon {
      margin-right: 5px;
      margin-top: -2px;
    }
  }
}
.social-icon {
  background: url(images/social-icons.png) no-repeat;
  display: inline-block;
  vertical-align: inherit;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 15px 0 0;
  &.vkontakte {
    background-position: -124px 0;
  }
  &.facebook {
    background-position: -0px 0;
  }
  &.twitter {
    background-position: -31px 0;
  }
  &.blogger {
    background-position: -434px 0;
  }
}
$black-icons-spacing: 4px;
$black-icons-sprite-base-class: '.black-icon';
@import "black-icons/*.png";

.black-icon {
  width: 32px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  &.icon-1 {
    @include black-icons-sprite-position(icon-1);
    width: 14px;
  }
  &.icon-7 {
    @include black-icons-sprite-position(icon-7);
    height: 14px;
    width: 22px;
  }
}

$theme-icons-spacing: 4px;
$theme-icons-sprite-base-class: '.theme-icon';
@import "theme-icons/*.png";
.theme-icon {
  display: inline-block;
  vertical-align: top;
  margin: -8px 0;
  &.icon-1, &.icon-2, &.icon-3 {
    height: 103px;
  }
  &.icon-1 {
    width: 110px;
    @include theme-icons-sprite-position(theme-icon-1);
  }
  &.icon-2 {
    width: 112px;
    @include theme-icons-sprite-position(theme-icon-2);
  }
  &.icon-3 {
    @include theme-icons-sprite-position(theme-icon-3);
  }
  &.icon-3, &.icon-4 {
    width: 121px;
  }
  &.icon-4 {
    height: 101px;
    @include theme-icons-sprite-position(theme-icon-4);
  }
}
.icons-list {
  list-style-type: none;
  line-height: 120px;
  text-align: center;
  padding: 6.25% 0 4.84%;
  margin: 0 10%;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .icon-item {
    display: block;
    float: left;
    width: 25%;
    height: 83px;
    + .icon-item {
      margin-left: -1px;
      border-left: 1px solid #dfdfdf;
    }
  }
}
$arrows-paging-spacing: 4px;
$arrows-paging-sprite-base-class: '.button-arrow';
@import "arrows-paging/*.png";
.button-arrow {
  display: inline-block;
  vertical-align: middle;
}
section {
  &.quest-section {
    position: relative;
    z-index: 1;
    background-color: #f6f6f6;
    padding-top: 50px;
    .preview-examples {
      text-align: center;
      white-space: nowrap;
      padding: 5.75% 0;
    }
    .notebook-example, .tablet-example {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-bottom: -14.9%
    }
    .notebook-example {
      z-index: 1;
      max-width: 732px;
      width: 62%;
      .example-screen {
        left: 12%;
        top: 6%;
        width: 75.96%;
      }
      .gloss {
        right: 9.4%;
        top: 0.5%;
        width: 32.66%;
      }
    }
    .tablet-example {
      z-index: 2;
      margin-left: -11.3%;
      margin-top: 5.8%;
      width: 41%;
      max-width: 481px;
      .example-screen {
        left: 9.25%;
        top: 10%;
        width: 81.5%;
      }
      .gloss {
        top: 0;
        right: 0.7%;
        width: 42.62%;
      }
    }
    .example-bg {
      vertical-align: top;
      width: 100%;
    }
    .example-screen, .gloss {
      position: absolute;
    }
  }
  &.process-section {
    .prototypes-article {
      padding-top: 12%;
    }
    z-index: 1;
    position: relative;
    .prototypes-list {
      font-size: 0;
      line-height: 0;
      list-style-type: none;
      margin: 0;
      text-align: center;
      white-space: nowrap;
      padding: 4.42% 0 3.92%;
      img {
        vertical-align: top;
        width: 100%;
      }
      li {
        display: inline-block;
        vertical-align: top;
        max-width: 54%;
        + li {
          margin-left: -9%;
          margin-top: 8.22%;
        }
      }
    }
    .site-preview {
      border: 1px solid rgba(0, 0, 0, 0.4);
      @include border-top-radius(4px);
      @include box-shadow(0 15px 30px rgba(0, 0, 0, 0.4));
      overflow: hidden;
      max-width: 1000px;
      width: 98%;
      margin: 5.2% auto -6.5%;
      font-size: 0;
      line-height: 0;
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
    .prototype-container {
      border: 1px solid rgba(0, 0, 0, 0.4);
      @include border-top-radius(2px);
      @include box-shadow(0 15px 40px rgba(0, 0, 0, 0.4));
    }
    .content-prototype {
      background-color: #e9e9e9;
      padding: 22px 0 26px;
      img {
        max-width: 100%;
      }
    }
  }
  &.style-section {
    background-color: #f6f6f6;
    .icons-article {
      padding-top: 10.17%;
      padding-bottom: 3.75%;
    }
    .colors-list {
      list-style-type: none;
      margin: 0;
      text-align: center;
      padding: 48px 0;
      li {
        @include box-sizing(border-box);
        display: inline-block;
        vertical-align: top;
        width: 100px;
        height: 100px;
        &.color-1 {
          background-color: #0063f4;
        }
        &.color-2 {
          background-color: #204272;
        }
        &.color-3 {
          background-color: #2f3032;
        }
        &.color-4 {
          background-color: #4b4c4e;
        }
        &.color-5 {
          background-color: #efefef;
        }
        &.color-6 {
          background-color: #fff;
          border: 7px solid #efefef;
        }
        + li {
          margin-left: 1.35%;
        }
      }
    }
  }
  &.finish-section {
    padding-top: 48px;
    padding-bottom: 12px;
    h3 {
      line-height: 57px;
      color: #2244ec;
    }
    .paging-buttons {
      text-align: center;
      padding: 59px 0;
    }
    .page-btn {
      font-weight: 800;
      width: 90%;
      max-width: 399px;
      height: 100px;
      line-height: 100px;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      margin: 0 1%;
      font-size: 20px;
      .button-arrow {
        width: 48px;
        height: 48px;
      }
      &.left-btn {
        .button-arrow {
          @include arrows-paging-sprite-position(arrow-left);
          margin-right: 39px;
          margin-left: -1px;
        }
      }
      &.right-btn {
        .button-arrow {
          @include arrows-paging-sprite-position(arrow-right);
          margin-left: 39px;
          margin-right: -1px;
        }
      }
    }

  }
}
@media screen and (max-width: 1100px) {
  .slider-container {
    margin-top: 0;
    margin-bottom: 0;
    .slider-list {
      margin: 0;
    }
    .slide-block {
      display: block;
      &.slide-block-logo {
        width: 100%;
        line-height: 80px;
      }
    }
  }
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
  .slider-container {
    .slide-block {
      &.slide-block-with-icon {
        width: 50%;
        float: left;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .slider-container {
    .slider-list .slider-item {
      text-align: center;
    }
    .slide-block {
      &.slide-block-with-icon {
        display: inline-block;
        width: 100%;
        + .slide-block-with-icon {
          margin-top: 25px;
        }
      }
    }
  }
  .slide-icon.icon-1 {
    margin-left: -28px;
  }
}
@media screen and (max-width: 600px) {
  .slider-container {
    .slide-block {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 600px) and (min-width: 480px) {
  header {
    height: 445px;
    line-height: 400px;
  }
  h1 {
    font-size: 40px;
  }
  section.process-section .site-preview {
    @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
  }
}
@media screen and (max-width: 480px) and (min-width: 430px) {
  h2, h3 {
    font-size: 40px;
  }
  section.process-section .site-preview {
    @include box-shadow(0 8px 16px rgba(0, 0, 0, 0.3));
  }
}
@media screen and (max-width: 430px) {
  h2, h3 {
    font-size: 30px;
  }
  section.process-section .site-preview {
    @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.3));
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 345px;
    line-height: 320px;
  }
  h1 {
    font-size: 28px;
  }
  .description-article {
    font-size: 15px;
  }
  section {
    &.quest-section {
      padding-top: 35px;
    }
  }
}
@media screen and (max-width: 1100px) and (min-width: 470px) {
  .icons-list .icon-item {
    width: 50%;
    margin-bottom: 10%;
    + .icon-item {
      border-left: 0 none;
      margin-left: 0;
    }
    &:nth-child(even) {
      margin-left: -1px;
      border-left: 1px solid #dfdfdf;
    }
  }
}
@media screen and (max-width: 1100px) {
  .icons-list .icon-item {
    width: 140px;
    float: none;
    height: auto;
    padding: 10px 0;
    line-height: 141px;
    margin: 0 auto;
    + .icon-item {
      border-left: 0 none;
      border-top: 1px solid #dfdfdf;
      margin-left: auto;
    }
    .theme-icon {
      vertical-align: middle;
    }
  }
}