@import "compass";
body {
  margin: 0;
  font: 13px Arial, Verdana, sans-serif;
}
.apps-container-block {
  padding: 20px;
}
.app-container {
  float: left;
  border: 1px solid #333;
  width: 200px;
  .title-app {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    line-height: 15px;
  }
  + .app-container {
    margin-left: 20px;
  }
}
.app-block {
  background-color: #ddd;
  position: relative;
  overflow: hidden;
}
.for-button-container {
  position: relative;
  height: 100%;
  line-height: 290px;
  text-align: center;
}
.app-start-btn {
  line-height: 15px;
  background-color: #499eff;
  color: #fff;
  font-weight: bold;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  @include border-radius(3px);
  &:hover {
    background-color: #3678c2;
  }
}
.app-item-name {
  background-color: #777;
  color: #fff;
  @include text-shadow(0 1px 0 rgba(0, 0, 0, 0.5));
  padding: 7px 15px;
  font-weight: bold;
  + .app-item-name {
    border-top: 1px solid #444;
  }
}
.clock-container {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 10px 40px;
  background-color: #555;
  color: #fff;
  font-family: monospace;
  margin: 1px;
  @include text-shadow(0 3px 7px rgba(0, 0, 0, 0.6));
  .clock-one-part {
    display: inline-block;
    vertical-align: middle;
    &.seconds-part {
      float: right;
      font-size: 13px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}
.novisible {
  visibility: hidden;
}




/* Weather */
.weather-bg-container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  img {
    vertical-align: top;
    min-height: 100%;
    width: 100%;
  }
}
.weather-info-container {
  position: relative;
  z-index: 2;
  padding: 3px;
  color: #fff;
  .weather-info-block {
    background-color: rgba(0, 0, 0, 0.3);
    @include border-radius(3px);
    position: relative;
     + .weather-info-block {
       margin-top: 3px;
     }
  }
  .weather-status-img {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 0;
    width: 80%;
  }
  .weather-info-content {
    z-index: 2;
    margin: 0 5px;
    padding: 5px 0;
    position: relative;
  }
  .weather-temp {
    font-size: 42px;
    padding: 10px 0;
    margin-left: 58%;
    display: block;
    @include text-shadow(0 2px 2px rgba(0, 0, 0, 0.4));
  }
  .weather-code-info {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    @include border-radius(3px);
  }
  .city-name {
    padding: 5px 10px;
    font-weight: bold;
  }
}
