/* line 3, ../sass/style.scss */
html, body {
  height: 100%;
  min-height: 300px;
}

/* line 7, ../sass/style.scss */
body {
  margin: 0;
  font: 14px/17px Arial, "MS Trebuchet", sans-serif;
  background-color: #fff;
}

/* line 12, ../sass/style.scss */
.app-container {
  width: 300px;
  height: 200px;
}
