footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #282a2d;
  color: #60646a;
  .copyright {
    line-height: 18px;
    font-family: NewBaskervilleC, serif;
    float: left;
    white-space: nowrap;
    padding: 24px 9px 18px;
    font-size: 16px;
  }
  .signature {
    float: right;
    font-family: 'PT Sans', sans-serif;
    line-height: 33px;
    padding: 14px 8px 0;
    span {
      vertical-align: middle;
    }
    .ps-text {
      color: #6b7076;
    }
    .name-text {
      color: #b5b9be;
      margin-left: 1px;
    }
    .creative-logo {
      width: 28px;
      height: 33px;
      margin-left: 13px;
      display: inline-block;
      vertical-align: top;
      img {
        display: block;
      }
    }
  }
  .text-signature {
    line-height: 14px;
    display: inline-block;
  }
}
@media screen and (max-width: 660px) {
  footer {
    .signature {
      .ps-text {
        display: block;
      }
    }
  }
}