.grid {
  float: left;
  &:after, &:before {
    content: '';
    display: table;
  }
}
.grid-container {
  margin: 10px;
}
.grid-1-4 {
  width: 25%;
}
.grid-2-4 {
  width: 50%;
  &.big-right-grid {
    float: right;
    &.filtered-item {
      float: left;
      width: 25%;
    }
  }
}

@media screen and (max-width: 1280px) and (min-width: 963px) {
  .grid-1-4 {
    width: 33.333%;
  }
  .grid-2-4 {
    width: 66.666%;
    &.big-right-grid.filtered-item {
      width: 33.333%;
    }
  }
}
@media screen and (max-width: 962px) and (min-width: 661px) {
  .grid-1-4 {
    width: 50%;
  }
  .grid-2-4 {
    width: 100%;
    &.big-right-grid.filtered-item {
      width: 50%;
    }
  }
}
@media screen and (max-width: 660px) {
  .grid-1-4, .grid-2-4 {
    & {
      width: 100%!important;
    }
  }
}