header {
  background-color: #282a2d;
  height: 80px;
  position: relative;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  .hover-bg-header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34, 83, 157, 0);
    @include transition(background-color linear 0.1s);
  }
  .logotype-block {
    float: left;
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    padding-left: 71px;
    margin: 21px 0 0;
    .site-title {
      font-family: NewBaskervilleC, serif;
      font-size: 32px;
      line-height: 25px;
    }
    .short-desc-site {
      font-family: 'PT Sans', sans-serif;
      font-size: 11px;
      color: #ebf4ff;
      @include opacity(0.25);
    }
    .img-logo {
      width: 41px;
      height: 56px;
      float: left;
      margin-left: -63px;
      margin-top: -9px;
      img {
        vertical-align: top;
        width: 100%;
        height: 100%;
      }
    }
    &:hover + .hover-bg-header {
      background-color: #22539d;
    }
  }
}

