.main-menu {
  text-transform: uppercase;
  font-size: 0.77em;
  font-weight: 700;
  padding: 60px 0 11px;
  line-height: 17px;
  font-family: Arial, sans-serif;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    + li {
      margin-left: 23px;
    }
  }
  a {
    display: block;
    color: #9fa2a8;
    text-decoration: none;
    @include transition(color linear 0.1s, border-color linear 0.1s);
    border-bottom: 2px solid transparent;
    &:hover {
      color: #717377;
    }
    &.active {
      color: #242526;
    }
    &:hover, &.active {
      border-bottom: 2px solid #242526;
    }
  }
}
@media screen and (max-width: 660px) {
 .main-menu {
   text-align: center;
   li {
     + li {
       margin-left: 5px;
     }
   }
 }
}