.modal-mask {
  position: fixed;
  background-color: rgba(20, 26, 31, 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  min-width: 320px;
}
.modal-container {
  position: fixed;
  z-index: 7;
  max-width: 85%;
  margin-left: -15px;
}
.modal-content, .modal-img-preview {
  max-width: 100%;
}
.modal-img-preview {
  display: block;
}
.modal-mask, .modal-container {
  @include opacity(0);
  @include transition(opacity linear 0.3s);
}
.modal-close {
  float: right;
  width: 28px;
  height: 28px;
  margin-right: -35px;
  margin-top: -35px;
  cursor: pointer;
  @include opacity(0.2);
  @include transition(opacity linear 0.3s);
  &:hover {
    @include opacity(0.5);
  }
  img {
    width: 100%;
    height: 100%;
  }
}