@import 'compass';
@import 'grid';
@import 'header';
@import 'footer';
@import 'menu';
@import 'modal';

@font-face {
  font-family: 'NewBaskervilleC';
  src: url('../fonts/newbaskervillec.eot');
  src: url('../fonts/newbaskervillec.eot?#iefix') format('embedded-opentype'),
  url('../fonts/newbaskervillec.woff2') format('woff2'),
  url('../fonts/newbaskervillec.woff') format('woff'),
  url('../fonts/newbaskervillec.ttf') format('truetype'),
  url('../fonts/newbaskervillec.svg#newbaskervillecregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
html {
  height: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  background-color: #eff2f7;
  font: 14px/1.2em 'PT Sans', sans-serif normal normal;
  @include box-sizing(border-box);
  min-height: 100%;
  padding: 0 0 60px;
  position: relative;
}
.center-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1260px;
}
.row {
  margin: 0 -10px;
  &:after, &:before {
    content: '';
    display: table;
    width: 100%;
  }
}
.countries-table {
  font-family: NewBaskervilleC, serif;
  color: #fff;
  margin-bottom: 70px;
}

.slider-container {
  position: relative;
  img {
    width: 100%;
  }
  .pagination {
    position: absolute;
    right: 20px;
    bottom: 20px;
    white-space: nowrap;
    z-index: 3;
    .paging-button {
      display: inline-block;
      width: 23px;
      height: 22px;
      cursor: pointer;
      vertical-align: top;
      @include opacity(0.15);
      @include transition(opacity linear 0.15s);
      + .paging-button {
        margin-left: 13px;
      }
      &:hover {
        @include opacity(0.3);
      }
      img {
        display: block;
        height: 100%;
      }
    }
  }
  &.no-first-slide {
    .name-country {
      bottom: 20px;
      left: 20px;
      font-size: 24px;
      right: auto;
      top: auto;
      line-height: 25px;
    }
  }
}
.text-container {
  font: 14px/1.6em 'PT Sans', sans-serif normal normal;
  background-color: #313336;
  color: #abaeb3;
  p {
    margin: 35px 36px 0 20px;
  }
}
.image-container {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  &.big-image {
    height: 420px;
    .name-country {
      padding: 89px 30px;
      line-height: 30px;
      text-align: left;
      span {
        font-size: 40px;
      }
      ol {
        list-style-type: none;
        counter-reset: li-counter;
        font-size: 20px;
        padding-left: 13px;
        line-height: 30px;
        margin-top: 37px;
        li {
          counter-increment: li-counter;
          + li {
            margin-top: 17px;
          }
          &:before {
            content: counter(li-counter)'.';
            display: inline;
            margin-right: 6px;
          }
        }
      }
    }
  }
  img {
    display: block;
  }
}
.image-preview-container {
  &:after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  li {
    position: absolute;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    @include opacity(0);
    @include transition(opacity linear 0.3s);
    &.active {
      z-index: 1;
      @include opacity(1);
      @include transition(opacity linear 0.2s);
    }
  }
}
.name-country {
  line-height: 208px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 36px;
  text-align: center;
  z-index: 2;
  span {
    line-height: 25px;
  }
}
.preview-button {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  z-index: 4;
  @include opacity(0.98);
  cursor: pointer;
  @include transition(all 0.3s cubic-bezier(0.37, 1.74, 0.73, 1.43));
  &:hover {
    width: 48px;
    height: 48px;
    margin-top: -24px;
    margin-left: -24px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width: 1280px) {
  .fix-size {
    width: 941px;
  }
}
@media screen and (max-width: 962px) {
  .fix-size {
    width: 620px;
  }
}

@media screen and (min-width: 660px) {
  .big-right-grid.filtered-item {
    .big-image {
      width: auto;
      height: 200px;
      overflow: hidden;
      .name-country {
        text-align: center;
        line-height: 208px;
        padding: 0;
        span {
          font-size: 36px;
        }
        ol {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .fix-size {
    width: 320px;
  }
  .grid-container {
    margin-left: 0;
    margin-right: 0;
  }
  .image-container {
    &.big-image {
      width: auto;
      height: 230px;
      .name-country {
        text-align: center;
        line-height: 208px;
        padding: 0;
        span {
          font-size: 36px;
        }
        ol {
          display: none;
        }
      }
    }
  }
}
