@import "compass";

.button {
  font-size: 15px;
  font-family: Arial, sans-serif;
  @include border-radius(2px);
  cursor: pointer;
  text-align: center;
  height: 31px;
  line-height: 31px;
  &.white {
    color: #474747;
    padding: 0 19px;
    border: 1px solid #cccccc;
    background: #f1f1f1;
    @include background-image(linear-gradient(#ffffff #f1f1f1));
    &:hover {
      background: #ffffff;
      @include background-image(linear-gradient(#ffffff #dfdfdf));
    }
    &:active, &.active {
      background: #dfdfdf;
      @include background-image(linear-gradient(#dfdfdf #ffffff));
      @include box-shadow(0 1px 0 #d8d8d8 inset);
    }
    &.disable {
      cursor: default;
      &, &:active, &:hover {
        color: #a0a0a0;
      }
      &:active, &:hover {
        @include background-image(linear-gradient(#ffffff #f1f1f1));
      }
      &:active {
        @include box-shadow(none);
      }
    }
  }
  &.blue {
    padding: 0 20px;
    color: #fff;
    background: #489edd;
    border-top: 1px solid #489edd;
    border-bottom: 1px solid #0f6dcb;
    @include background-image(linear-gradient(#489edd #0f6dcb));
    &:hover {
      background: #00a4ff;
      border-bottom-color: #007ef2;
      @include background-image(linear-gradient(#00a4ff #007ef2));
    }
    &:active, &.active {
      background: #1569b8;
      border-bottom-color: #2f82c8;
      @include background-image(linear-gradient(#1569b8 #2f82c8));
      border-top-color: #02478a;
    }
  }
  &.flat {
    border: 1px solid #cdcdcd;
    color: #a9a9a9;
    height: 31px;
    line-height: 31px;
    padding: 0 19px;
    &.dinamic {
      &:hover {
        border-color: #9b9b9b;
        color: #808080;
      }
    }
    &.dinamic:active, &.active {
      color: #fff;
      border-color: #9c9c9c;
      background: url(images/flat-button-bg.png);
    }
  }

  &.square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    &.blue {
      width: 33px;
    }
    &.flat, &.white {
      width: 31px;
    }
  }
  &.rounded {
    @include border-radius(14px);
    line-height: 26px;
    height: 26px;
    &.blue {
      padding: 0 15px;
    }
    &.flat, &.white {
      padding: 0 14px;
    }
  }
}

label.decor-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  input[type="checkbox"] {
    position: absolute;
    margin-top: -30px;
    + span {
      display: inline-block;
      cursor: pointer;
      @extend .button.flat;
      &:hover {
        @extend .button.dinamic.flat:hover;
      }
    }
    &:focus {
      + span {
        @extend .button.dinamic.flat:hover;
      }
    }
    &:checked {
      + span {
        @extend .button.dinamic.flat:active;
      }
    }
  }
  &.square {
    input[type="checkbox"] {
      + span {
        @extend .button.square;
        @extend .button.flat.square;
      }
    }
  }
  &.rounded {
    input[type="checkbox"] {
      + span {
        @extend .button.rounded;
        @extend .button.flat.rounded;
      }
    }
  }
}
