.blue-hint {
  position: absolute;
  font-size: 15px;
  line-height: 19px;
  z-index: 301;
  width: auto;
  max-width: 250px;
  margin-top: -7px;
  &.hint-position-bottom {
    margin-top: 7px;
  }
  .content-hint {
    @include border-radius(2px);
    position: relative;
    background: rgba(74,129,200,0.9);
    width: 100%;
    color: #FFF;
    cursor: default;
  }
  .title-hint {
    @include border-top-radius(3px);
    font-weight: bold;
    background: rgba(74,129,200,0.9);
    text-align: center;
    padding: 5px 10px;
  }
  .text-hint {
    padding: 5px 10px;
  }
  .arrow-hint {
//    background-image: url(/images/lego/hint-arrows.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -7px;
    width: 16px;
    height: 7px;
    margin-left: -8px;
  }
  .title-hint+.text-hint+.arrow-hint {
    background-position: 0 0;
  }
  &.hint-position-top .text-hint+.arrow-hint {
    top: 100%;
    background-position: 0 -7px;
    margin-top: 0;
  }
}
