input, select, textarea, .textarea {
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
  font: 15px Arial, sans-serif;
  outline: none;
  color: #333333;
}
textarea, .textarea, input[type="password"], input[type="text"], .text-field {
  @include transition(box-shadow 0.2s ease, border-color 0.2s ease);
  @include box-shadow(0 1px 2px #ececec inset, 0 0 0 transparent);
  @include box-sizing(border-box);
  @include border-radius(0);
  border: 1px solid #cecece;
  background-color: #fff;
  line-height: 17px;
  padding: 4px 9px 5px;
  &.empty {
    color: #adadad;
  }
  &.hovered {
    &:hover {
      @include box-shadow(0 0 0 transparent inset, 0 0 0 transparent);
      &.empty {
        color: #7a7a7a;
      }
      border-color: #b3b3b3;
    }
  }
  &:focus, &.hovered:focus {
    @include box-shadow(0 0 0 transparent inset, 0 0 2px #ffe279);
    border-color: #dbc883;
  }
}
.textarea {
  vertical-align: bottom;
}
.user-avatar {
  display: block;
  img {
    display: block;
  }
  &.min {
    img {
      width: 30px;
      height: 30px;
    }
  }
}
textarea, .textarea {
  overflow: auto;
  resize: vertical;
  width: 300px;
}
.comment-form {
  white-space: nowrap;
  position: relative;
  .user-avatar {
    margin-right: 13px;
  }
  textarea, .textarea {
    resize: none;
    width: 500px;
    height: 61px;
    padding: 5px 9px 6px;
    &.empty {
      height: 30px;
      + button {
        display: none;
      }
    }
  }
  button {
    overflow: hidden;
    background: url(images/icons/comment-icon.png) no-repeat;
    width: 16px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 100%;
    margin-top: -26px;
    margin-left: 8px;
    &:hover, &:focus {
      background-position: 0 -29px;
    }
    &:active {
      background-position: 0 -58px;
    }
  }
}


input[type="password"], input[type="text"], .text-field {
  width: 150px;
  height: 28px;
  .fields-group & {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    + .select {
      margin-left: -1px;
    }
  }
  &.rounded {
    @include border-radius(14px);
    padding-left: 14px;
  }
  .spinner-field &, &.big {
    padding-top: 7px;
    padding-bottom: 7px;
    height: 33px;
    &.rounded {
      @include border-radius(17px);
    }
  }
}
input[type="text"], .text-field {
  &.search {
    padding-left: 26px;
    background-image: url(images/inputs/search-icon.png);
    background-repeat: no-repeat;
    &.empty {
      background-position: 9px -20px;
      &.big {
        background-position: 9px -17px;
      }
    }
    &, &:hover, &:focus {
      &.big {
        background-position: 9px 9px;
      }
      background-position: 9px 6px;
    }
  }
  .spinner-field & {
    font-size: 18px;
    text-align: center;
    padding-right: 16px;
    padding-left: 0;
  }
}

.spinner-field {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 33px;
  &.bottom-border {
    input {
      border-bottom: 3px solid #cecece;
    }
  }
  &.top-border {
    input {
      border-top: 3px solid #cecece;
    }
  }
  &.bottom-border, &.top-border {
    input {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
  input {
    display: block;
    width: 100%;
    float: left;
  }
}

.spinner-buttons {
  font-size: 10px;
  display: block;
  float: right;
  text-align: center;
  height: 31px;
  vertical-align: top;
  margin: 4px 0 auto -18px;
  cursor: pointer;
  width: 18px;
  color: #c1c1c1;
  position: relative;
  z-index: 1;
  @include transition(color 0.2s ease);
  .top-border & {
    margin-top: 5px;
  }
  .bottom-border & {
    margin-top: 3px;
  }
  .spinner-button {
    display: block;
    line-height: 12px;
    +.spinner-button {
      margin-top: 2px;
    }
    &:active, &.active {
      color: #199ffd;
    }
  }
  .top-border &, .bottom-border & {
    .spinner-button + .spinner-button {
      margin-top: 1px;
    }
  }
  input.hovered:hover + &, input:focus + & {
    color: #474747;
  }
}


label, .label {
  color: #333333;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

  $checkbox-spacing: 2px;
  @import "inputs/checkbox/*.png";
  input[type="checkbox"].decor {
    @include opacity(0);
    position: absolute;
    margin-left: -30px;
    & + span {
      @extend .checkbox-sprite;
      @include checkbox-sprite-position(checkbox);
      display: inline-block;
      padding-left: 19px;
      text-indent: 3px;
      line-height: 24px;
      height: 20px;
      overflow: hidden;
      vertical-align: middle;
      &:hover {
        @include checkbox-sprite-position(checkbox-hover);
      }
    }
    &:checked {
      + span {
        @include checkbox-sprite-position(checkbox-checked);
        &:hover {
          @include checkbox-sprite-position(checkbox-checked-hover);
        }
      }
    }
    &:focus {
      + span {
        @include checkbox-sprite-position(checkbox);
      }
      &:checked {
        + span {
          @include checkbox-sprite-position(checkbox-checked-hover);
        }
      }
    }
  }


$select-spacing: 20px;
@import "inputs/select/*.png";

.fields-group {
  input, .select {
    &:focus {
      position: relative;
      z-index: 2;
    }
  }
}
.select {
  display: inline-block;
  vertical-align: middle;
  .select-original-container {
    height: 1px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
  }
  &.block {
    display: block;
  }
  color: #474747;
  position: relative;
  line-height: 26px;

  .fields-group & {
    + input {
      margin-left: -1px;
    }
  }
  .select-active-area {
    background: #ffffff;
    @include border-radius(2px);
    @include background-image(linear-gradient(#ffffff, #f1f1f1));
    @include box-shadow(0 0 0 transparent inset, 0 0 0 transparent);
    @include transition(box-shadow 0.2s ease, border-color 0.2s ease);
    border: 1px solid #cdcdcd;
    cursor: pointer;
    position: relative;
    z-index: 1;
    @include box-sizing(border-box);
    height: 28px;
    &:hover, &.focus {
      background: #dfdfdf;
      @include background-image(linear-gradient(#fdfdfd, #dfdfdf));
      border-color: #bbbbbb;
    }
    &:active, &.active {
      background: #fbfbfb;
      @include background-image(linear-gradient(#e0e0e0, #fbfbfb));
      @include box-shadow(0 1px 0 #d8d8d8 inset, 0 0 1px #ffe279);
      border-color: #ceb868;
    }
  }
  .select-list-container {
    @include box-shadow(0 5px 15px rgba(0, 0, 0, 0.25));
    margin: -1px 0;
    max-height: 182px;
    border: 1px solid #bbbbbb;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
  }
  .fields-group & {
    .select-list-container {
      max-height: none;
    }
    .hidden-item {
      padding-right: 26px;
    }
    .select-button {
      padding-left: 11px;
    }
  }
  .select-list {
    color: #333;
    position: relative;
  }
  .select-button {
    @extend .select-sprite;
    @include select-sprite-position(select_arrow, 100%, 10);
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 0 0 13px;
    margin-right: 4px;
  }
  .select-button-text {
    overflow: hidden;
    margin-right: 18px;
    white-space: nowrap;
  }
  .select-option {
    display: block;
    white-space: nowrap;
    cursor: default;
    height: 26px;
    &:hover {
      background: #eef3f9;
    }
    span {
      padding: 0 16px 0 10px;
      display: inline-block;
    }
    &.selected {
      background-color: #ffdb54;
      span {
        @extend .select-sprite;
        @include select-sprite-position(option_checked, 100%, 7);
      }
    }
  }
  .hidden-item {
    padding: 0 36px 0 10px;
    height: 0;
    visibility: hidden;
  }
}

.radio-group {
  position: relative;
  white-space: nowrap;
  font-weight: bold;
  a {
    text-decoration: none;
  }
  &:after {
    clear: both;
    content: '';
    height: 0;
    display: block;
    line-height: 0;
  }
  input {
    position: absolute;
    margin-top: -30px;
    @include opacity(0);
    cursor: inherit;
  }
  label, li {
    display: block;
    float: left;
    min-width: 35px;
    &:first-child {
      span, a {
        @include border-left-radius(2px);
      }
    }
    &:last-child {
      span, a {
        @include border-right-radius(2px);
      }
    }
  }
  &.rounded {
    label, li {
      &:first-child {
        span, a {
          @include border-left-radius(14px);
          padding-left: 16px;
        }
      }
      &:last-child {
        span, a {
          @include border-right-radius(14px);
          padding-right: 16px;
        }
      }
      span, a {
        padding: 0 14px;
      }
    }
  }
  &.rounded, &.min-size {
    span, a {
      line-height: 26px;
      height: 26px;
    }
  }
  span, a {
    position: relative;
    display: block;
    font-size: 15px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    height: 31px;
    line-height: 31px;
    padding: 0 7px;
    &:hover {
      z-index: 2;
    }
  }
  input:checked + span, li.active a, a:active {
    z-index: 1;
  }
  &.square {
    label, li {
      min-width: 0;
    }
    span, a {
      width: 32px;
      padding: 0;
    }
  }
  li, label {
    &.no-active {
      &, span, a {
        cursor: default;
      }
    }
  }
  &.blue {
    li, label {
      &, &.no-active {
        span, a {
          color: #fff;
          border-top: 1px solid #489edd;
          border-bottom: 1px solid #0f6dcb;
          background: #489edd;
          @include background-image(linear-gradient(#489edd #0f6dcb));
        }
      }
    }

    label:hover span, a:hover {
      background: #00a4ff;
      border-bottom-color: #007ef2;
      @include background-image(linear-gradient(#00a4ff #007ef2));
    }

    label:active span, label.active span, li.active a, a:active {
      background: #1569b8;
      border-bottom-color: #2f82c8;
      @include background-image(linear-gradient(#1569b8 #2f82c8));
      border-top-color: #02478a;
    }
    input:checked {
      + span {
        background: #1569b8;
        border-bottom-color: #2f82c8;
        @include background-image(linear-gradient(#1569b8 #2f82c8));
        border-top-color: #02478a;
      }
    }
    label + label, li + li {
      span, a {
        border-left: 1px solid #0f6dcb;
      }
    }
  }
  &.white {
    li, label {
      &, &.no-active {
        span, a {
          color: #474747;
          border: 1px solid #cccccc;
          background: #f1f1f1;
          @include box-shadow(none);
          @include background-image(linear-gradient(#ffffff #f1f1f1));
        }
      }
    }
    label:hover span, a:hover {
      background: #ffffff;
      @include background-image(linear-gradient(#ffffff #dfdfdf));
    }
    label:active span, label.active span, a:active, li.active a {
      background: #dfdfdf;
      @include background-image(linear-gradient(#dfdfdf #ffffff));
      @include box-shadow(0 1px 0 #d8d8d8 inset);
    }
    input:checked {
      + span {
        background: #dfdfdf;
        @include background-image(linear-gradient(#dfdfdf #ffffff));
      }
    }
  }

  &.flat {
    label:hover span, a:hover {
      border-color: #9b9b9b;
      color: #808080;
    }
    label:active span, label.active span, li.active a, a:active {
      border-color: #9b9b9b;
      color: #fff;
      background: url(images/flat-button-bg.png);
    }
    label span, label.no-active span, li a, li.no-active a {
      border: 1px solid #cdcdcd;
      color: #a9a9a9;
      background: none;
    }
    input:checked {
      + span {
        border-color: #9b9b9b;
        border-right-width: 1px;
        color: #fff;
        background: url(images/flat-button-bg.png);
      }
    }
  }
  &.white, &.flat {
    label + label span , li + li a {
      margin-left: -1px;
    }
  }
}
