$likes-spacing: 9px;
@import "likes/*.png";

.likes-list {
  font-size: 15px;
  text-align: center;
  &:after {
    content: '';
    display: block;
    @include clear();
  }
  li {
    float: left;
    line-height: 28px;
    display: block;
    &.likes-counter, .likes-button, .comments-button {
      border-style: solid;
      border-color: #cecece;
      background-color: #fff;
      color: #a0bae2;
      font-weight: bold;
    }
    &.likes-counter {
      padding: 0 10px;
      border-width: 1px 1px 1px 0;
    }
    .likes-button, .comments-button {
      @include border-left-radius(15px);
      width: 38px;
      border-width: 1px 0 1px 1px;
      text-decoration: none;
      display: block;
      height: 28px;
      &:hover, &:active, &.active {
        border-color: #b5b5b5;
      }
      &:hover {
        color: #0095fc;
      }
      &:active, &.active {
        color: #00367c;
        background-color: #86b5e4;
      }
    }
    .comments-button {
      @extend .likes-sprite;
      @include likes-sprite-position(comment_icon, 12, 8);
      &:hover {
        @include likes-sprite-position(comment_icon_hover, 12, 8);
      }
      &:active, &.active {
        @include likes-sprite-position(comment_icon_active, 12, 8);
      }
    }
    &.selected {
      .comments-button {
        @include likes-sprite-position(comment_icon_selected, 12, 8);
        &:active {
          @include likes-sprite-position(comment_icon_selected_active, 12, 8);
        }
      }
    }
    &.selected {
      .likes-button, .comments-button {
        background-color: #86b5e4;
        color: #fff;
        border-color: #cdcdcd;
        &:hover {
          background-color: #7ac4f8;
        }
        &:active {
          background-color: #86b5e4;
          color: #c8dbee;
        }
      }
    }
    &:last-child {
      .likes-button, .comments-button {
        @include border-right-radius(15px);
        width: 41px;
        border-right-width: 1px;
      }
    }
    &.likes-user {
      border-right: 1px solid #cecece;
    }
  }
}
