a, .link {
  color: #347abf;
  &:hover {
    color: #0087ff;
  }
  &:active {
    color: #00367c;
  }
  &.white-text {
    &:hover, &:active {
      color: #fff;
    }
  }
  &.no-decoration {
    &:hover, &:active {
      text-decoration: underline;
    }
  }
  &.blue-text-link, &.white-text-link, &.gray-text-link {
    text-decoration: none;
  }
  &.white-text-link, &.gray-text-link {
    &:hover, &:active {
      border-bottom: 1px dotted;
    }
  }
  &.blue-text-link {
    color: #a5bcd9;
    border-bottom: 1px dotted;
    &:hover {
      color: #98bff7;
    }
    &:active {
      color: #00367c;
    }
  }
  &.white-text-link {
    color: #fff;
    &:active {
      color: #c8dbee;
    }
  }
  &.gray-text-link {
    color: #a4a4a4;
    &:hover {
      color: #7f7f7f;
    }
    &:active {
      color: #333333;
    }
    &.small {
      &:hover, &:active {
        border: none;
        text-decoration: underline;
      }
      &:hover {
        color: #a6a6a6;
      }
      &:active {
        color: #7f7f7f;
      }
    }
  }
}
.blue-text-pseudo {
  color: #86b5e4;
  &:hover, &:active {
    color: #0095fc;
  }
}
