$pagination-spacing: 15px;
@import "pagination/*.png";

.radio-group.pagination {
  li {
    &.previous, &.next {
      a {
        @extend .pagination-sprite;
        font-size: 0;
        text-indent: -50px;
        overflow: hidden;
      }
      &.active, &:active {
        background: url(images/flat-button-bg.png);
      }
    }
    &.previous a {
      @include pagination-sprite-position(prev, 9, 9);
      &:hover {
        @include pagination-sprite-position(prev-hover, 9, 9);
      }
      &:active {
        @include pagination-sprite-position(prev-active, 9, 9);
      }
    }
    &.next a {
      @include pagination-sprite-position(next, 12, 9);
      &:hover {
        @include pagination-sprite-position(next-hover, 12, 9);
      }
      &:active {
        @include pagination-sprite-position(next-active, 12, 9);
      }
    }

    &.no-active {
      display: none;
      + li:not(.no-active) {
        a {
          @include border-left-radius (2px);
        }
      }
    }
    &:nth-last-child(3) {
      a {
        @include border-right-radius (2px);
      }
    }
    &.active {
      ~ :nth-last-child(3) {
        a {
          @include border-right-radius (0);
        }
      }
      ~ :nth-last-child(2) {
        a {
          @include border-right-radius (2px);
        }
      }
    }

  }
}
