$social-spacing: 2px;
@import "social/*.png";

.social-button {
  @include border-radius(2px);
  height: 33px;
  line-height: 33px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  &, &:hover, &:active {
    color: #fff;
  }
  .inset {
    @extend .social-sprite;
    display: block;
    padding: 0 18px 0 53px;
    height: 33px;
    text-align: center;
  }
  &.mini {
    width: 33px;
    height: 33px;
    color: #0069cd;
    .inset {
      padding: 0;
      font-weight: normal;
      &:before {
        height: 33px;
        width: 45px;
        float: left;
        display: block;
        content: '';
      }
    }
    &.without-text {
      overflow: hidden;
    }
  }
  &.gray {
    background-color: #474747;
    @include background-image(linear-gradient(#474747, #373737));
    color: #9e9e9e;
    &:hover, &:active {
      color: #fff;
    }
    &.mini {
      &:hover, &:active {
        color: #0069cd;
      }
    }
  }
}

.facebook {
    background: #4e71c0;
    @include background-image(linear-gradient(#4e71c0, #3a5a9c));
  &:hover {
    background: #5982db;
    @include background-image(linear-gradient(#5982db, #4264af));
  }
  &:active {
    background: #3a589b;
    @include background-image(linear-gradient(#3a589b, #4f73c2));
  }
  .inset {
    @include social-sprite-position(facebook);
  }
  &.gray {
    .inset {
      @include social-sprite-position(facebook-disabled);
    }
    &:hover, &:active {
      .inset {
        @include social-sprite-position(facebook);
      }
    }
  }
}

.twitter {
  background: #00d1ff;
  @include background-image(linear-gradient(#00d1ff, #009ff4));
  &:hover {
    background: #00d2ff;
    @include background-image(linear-gradient(#00d2ff, #00b2ff));
  }
  &:active {
    background: #009ff4;
    @include background-image(linear-gradient(#009ff4, #00baf4));
  }
  .inset {
    @include social-sprite-position(twitter);
  }
  &.gray {
    .inset {
      @include social-sprite-position(twitter-disabled);
    }
    &:hover, &:active {
      .inset {
        @include social-sprite-position(twitter);
      }
    }
  }
}

.google {
  background: #df4a32;
  @include background-image(linear-gradient(#df4a32, #c63119));
  &:hover {
    background: #ff583b;
    @include background-image(linear-gradient(#ff583b, #eb3b1d));
  }
  &:active {
    background: #c63018;
    @include background-image(linear-gradient(#c63018, #df4a32));
  }
  .inset {
    @include social-sprite-position(google-plus);
  }
  &.gray {
    .inset {
      @include social-sprite-position(google-plus-disabled);
    }
    &:hover, &:active {
      .inset {
        @include social-sprite-position(google-plus);
      }
    }
  }
}

.vkontakte {
  background: #3183c8;
  @include background-image(linear-gradient(#3183c8, #1065b5));
  &:hover {
    background: #3592e1;
    @include background-image(linear-gradient(#3592e1, #1171cb));
  }
  &:active {
    background: #0f64b5;
    @include background-image(linear-gradient(#0f64b5, #3083c8));
  }
  .inset {
    @include social-sprite-position(vkontakte);
  }
  &.gray {
    .inset {
      @include social-sprite-position(vkontakte-disabled);
    }
    &:hover, &:active {
      .inset {
        @include social-sprite-position(vkontakte);
      }
    }
  }
}

.kaixin {
  background: #e91916;
  @include background-image(linear-gradient(#e91916, #b30000));
  &:hover {
    background: #ff2426;
    @include background-image(linear-gradient(#ff2426, #d10101));
  }
  &:active {
    background: #cf0000;
    @include background-image(linear-gradient(#cf0000, #fe2426));
  }
  .inset {
    @include social-sprite-position(kaixin-normal);
  }
  &.gray {
    .inset {
      @include social-sprite-position(kaixin-disabled);
    }
  }
  &:hover {
    .inset {
      @include social-sprite-position(kaixin-hover);
    }
  }
  &:active {
    .inset {
      @include social-sprite-position(kaixin-active);
    }
  }
}

.renren {
  background: #0087e1;
  @include background-image(linear-gradient(#0087e1, #0055a9));
  &:hover {
    background: #00a1ff;
    @include background-image(linear-gradient(#00a1ff, #0068c3));
  }
  &:active {
    background: #0054a8;
    @include background-image(linear-gradient(#0054a8, #0086e0));
  }
  .inset {
    @include social-sprite-position(renren-normal);
  }
  &.gray {
    .inset {
      @include social-sprite-position(renren-disabled);
    }
  }
  &:hover {
    .inset {
      @include social-sprite-position(renren-hover);
    }
  }
  &:active {
    .inset {
      @include social-sprite-position(renren-active);
    }
  }
}

.weibo {
  background: #f12800;
  @include background-image(linear-gradient(#f12800, #d30100));
  &:hover {
    background: #ff3600;
    @include background-image(linear-gradient(#ff3600, #f00100));
  }
  &:active {
    background: #d20000;
    @include background-image(linear-gradient(#d20000, #f02700));
  }
  .inset {
    @include social-sprite-position(weibo-normal);
  }
  &.gray {
    .inset {
      @include social-sprite-position(weibo-disabled);
    }
  }
  &:hover {
    .inset {
      @include social-sprite-position(weibo-hover);
    }
  }
  &:active {
    .inset {
      @include social-sprite-position(weibo-active);
    }
  }
}

.qq {
  background: #0092f1;
  @include background-image(linear-gradient(#0092f1, #004e95));
  &:hover {
    background: #00acff;
    @include background-image(linear-gradient(#00acff, #0060ad));
  }
  &:active {
    background: #005097;
    @include background-image(linear-gradient(#005097, #0092f1));
  }
  .inset {
    @include social-sprite-position(qq-normal);
  }
  &.gray {
    .inset {
      @include social-sprite-position(qq-disabled);
    }
  }
  &:hover {
    .inset {
      @include social-sprite-position(qq-hover);
    }
  }
  &:active {
    .inset {
      @include social-sprite-position(qq-active);
    }
  }
}

.kaixin, .renren, .weibo, .qq {
  &.mini {
    .inset {
      width: 32px;
      @include border-right-radius(3px);
    }
  }
}
