body {
  color: #333333;
  font-size: 15px;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
h1, .h1 {
  font-size: 1.9em;
}
h2, .h2 {
 font-size: 1.2em;
}
h3, .h3 {
  font-size: 1em;
}
p {
  margin: 0;
}

.sign {
  &.arial-font {
    font-size: 0.85em;
  }
  &.verdana-font {
    font-size: 0.75em;
  }
}
