.banner-header {
    background: green;
    font-size: 100px;
}
.banner-header-content {
    height: 169px;
    line-height: 169px;
}
.buttons-header {
    float : left;
    background-color: #fff;
    height: 60px;
    margin-top: 54px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 51%;
    margin-left: 2%;
}
.text-header {
    color: #fff;
    float: right;
    margin: 25px 2% 20px 0;
    width: 41%;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
}
.text-header p {
    font-size: 13%;
    line-height: 18px;
    margin-top: 0;
}
.text-header h1 {
    font-size: 20%;
    text-transform: uppercase;
    line-height: 24px;
    margin: 0;
}
.button-header-products {
    white-space: nowrap;
    height: 30px;
    line-height: 31px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: #000;
    text-transform: uppercase;
    border: 2px solid;
    display: block;
    text-decoration: none;
    padding: 0 19px;
    font-size: 16%;
    font-weight: 600;
}
.button-header-container {
    float: right;
    margin-top: 14px;
    position: relative;
    margin-right: 18px;
}
.button-header-products:hover {
    color: #ca0019;
}
.button-header-container + .button-header-container {
    margin-right: 11px;
}
.logotype-header-products {
    float: left;
    width: 174px;
    height: 28px;
    margin-top: 17px;
    margin-left: 18px;
    background: url(images/logo-header-products.png);
}


@media screen and (max-width: 1210px) and (min-width: 1145px) {
    .banner-header {
        font-size: 90px;
    }
    .text-header {
        width: 40%;
    }
    .buttons-header {
        width: 52%;
    }
}
@media screen and (max-width: 1145px) {
    .banner-header {
        font-size: 90px;
    }
    .text-header {
        width: 34%;
    }
    .buttons-header {
        width: 60%;
    }
}
.title-button-block {
    position: absolute;
    right: 30%;
    font-weight: bold;
    font-size: 14%;
    color: #fff;
    padding-right: 90px;
    height: 35px;
    white-space: nowrap;
}
.title-button-block.bottom-position {
    top: 100%;
    line-height: 40px;
    margin-top: 20px;
    background: url(images/arrow-bottom.png) right top no-repeat;
}
.title-button-block.top-position {
    bottom: 100%;
    line-height: 15px;
    margin-bottom: 20px;
    background: url(images/arrow-top.png) right bottom no-repeat;
}