.scroller-line {
    float: right;
    height: 100%;
    width: 0;
    position: relative;
    overflow: visible;
}
.scroller-line-container {
    position: absolute;
    top: 4px;
    bottom: 6px;
    right: 1px;
    width: 5px;
    background: #ccc;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.scroller-ranger {
    background-color: rgb(255, 119, 126);
    background: rgba(178, 0, 43, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 5px;
    cursor: pointer;
}



.fn-scroller-line {
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    position: absolute;
    overflow: visible;
}
.fn-scroller-line-block {
    position: relative;
    height: 100%;
}
