body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    color: #010101;
    font-size: 0.937em;
}


.center {
    width: 1240px;
    margin: 0 auto;
}
.breadcrumb {
    border-bottom: 1px solid #d6d6d6;
    padding-top: 6px;
}
.breadcrumb .col {
    float: left;
    width: 220px;
    /* Это добавить */
    position: relative;
    /* Это добавить */
}
.breadcrumb .col .current {
    position: relative;
    z-index: 1000;
    padding: 8px 0px 0 0px;
    display: inline-block;
    height: 27px;
    border-left: 1px solid #6abd3c;
    border-right: 1px solid #6abd3c;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: green;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 218px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 4px;
    white-space: nowrap;
}
.breadcrumb .col .current_last {
    position: relative;
    z-index: 1000;
    padding: 8px 0px 0 0px;
    display: inline-block;
    height: 27px;
    border-left: 1px solid #a9aaa9;
    border-right: 1px solid #a9aaa9;
    text-align: center;
    font-size: 14px;
    color: #000;
    background: gray;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 218px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 4px;
    white-space: nowrap;
}
/* Добавить .current */
.breadcrumb .col .current a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    display: block;
    height: 25px;
    margin: -8px 0 0;
    padding: 10px 0px 0 0px;
}
.breadcrumb .separator {
    float: left;
    width: 21px;
    height: 35px;
}
.col_menu_drop_block {
    position: relative;
    height: 0;
}

/* Ниже везде .col_menu_drop_block заменить на .breadcrumb */

/*.col_menu_drop_block */.breadcrumb .col_menu {
    position: absolute;
    z-index: 900;
    background: #fff;
    /* Это добавить */
    top: 100%;
    white-space: nowrap;
    display: none;
    /* Это добавить */

    /* Убрать */
    /*top: 0px !important; */
    /*visibility: hidden;*/
    /* Убрать */

    min-width: 220px;
}
/*.col_menu_drop_block */.breadcrumb .col_menu ul {
    list-style: none;
    list-style-type: none;
     /* Убрать */
     /*margin: 0px;*/
     /*padding: 10px 0 12px 0px;*/
     /* Убрать */
     /* Это добавить */
    margin: 10px 0 12px;
    padding: 0;
    overflow: hidden;
     /* Это добавить */
    color: #010101;
    font-size: 14px;
}
/*.col_menu_drop_block */.breadcrumb .col_menu ul li {
    padding: 4px 14px 4px 14px;
    border-bottom: 1px solid #ccc;
}
.breadcrumb .col_menu ul li:hover {
    background: #add99c;
}
/*.col_menu_drop_block */.col_menu ul li a {
    color: #333;
    text-decoration: none;
}
.clear {
    clear: both;
}









.center_block_col1 {
    width: 240px;
    float: left;
}
.center_block_col1 .catalog_head {
    cursor: pointer;
    position: relative;
    z-index: 1000;
    width: 220px;
    height: 36px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 7px 0 0 0;
    background: url('http://enzo.ru/images/left_menu_top.png') no-repeat left top;
}
.center_block_col1 .catalog_head a {
    color: #fff;
    text-decoration: none;
}
.center_block_col1 .catalog_menu {
    position: relative;
    z-index: 900;
    top: -15px;
    width: 220px;
    -webkit-box-shadow: 0 0 6px #868686;
    -moz-box-shadow: 0 0 6px #868686;
    box-shadow: 0 0 6px #868686;
}
.center_block_col1 .catalog_menu > ul {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 26px 0 0 12px;
    color: #010101;
    font-size: 15px;
    position: relative;
    z-index: 1;
}
.center_block_col1 .catalog_menu > ul > li {
    width: 188px;
    padding: 0 12px 12px 0;
}
.center_block_col1 .catalog_menu > ul > li a {
    color: #010101;
}
.center_block_col1 .catalog_menu > ul > li a:hover {
    color: #4fa408;
}
.center_block_col1 .catalog_menu .arrow {
    background-color: #ddd;
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin-right: -20px;
}
.center_block_col1 .catalog_menu a:hover .arrow {
    background-color: green;
}

.submenu-block {
    position: absolute;
    left: 100%;
    top: 0;
    padding-left: 30px;
    margin-left: -20px;
    min-height: 100%;
}

.submenu-container {
    z-index: 900;
    background: #fff;
    top: 100%;
    white-space: nowrap;
    min-width: 220px;
    border: 1px solid #aaa;
    border-radius: 3px;
    position: relative;
}
.submenu-block .submenu-container ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    color: #010101;
    font-size: 14px;
    height: 100%;
}
.submenu-block .submenu-container ul li {
    padding: 7px 14px 7px 14px;
    margin: 0;
    width: auto;
}
.submenu-block .submenu-container ul li + li {
    border-top: 1px solid #ccc;
}
.submenu-container li.active {
    background: #add99c;
}
.submenu-container li a {
    color: #333;
    text-decoration: none;
}


.loader {
    margin: 4em auto;
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #000, 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7), 1.8em -1.8em 0 0em #000, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #000, 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #000, -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7), -1.8em 1.8em 0 0em #000, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #000, -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7), -1.8em -1.8em 0 0em #000;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #000, 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7), 1.8em -1.8em 0 0em #000, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #000, 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #000, -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7), -1.8em 1.8em 0 0em #000, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #000, -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7), -1.8em -1.8em 0 0em #000;
    }
}





