.main-menu {
  background-color: #217eff;
  font-size: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 114px 0;
    white-space: nowrap;
    text-align: right;
    li {
      padding: 0;
      display: inline-block;
      vertical-align: top;
      line-height: 60px;
      margin: 0 0 -5px;
      + li {
        margin-left:  -0.28em;
      }
    }
    a {
      color: #eee;
      text-decoration: none;
      display: block;
      padding: 0 46px 5px 45px;
      background-color: rgba(0, 0, 0, 0);
      @include transition(background-color linear 0.05s);
      &:hover {
        background-color: #1f68d0;
      }
      &.active {
        background-color: #facd4c;
        color: #393939;
        cursor: default;
      }
    }
  }
}