@import "compass";
@import "menu";
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/HelveticaNeueCL.eot);
  src: url(../fonts/HelveticaNeueCL.eot#iefix) format("embedded-opentype"),
  url(../fonts/HelveticaNeueCL.woff2) format("woff2"),
  url(../fonts/HelveticaNeueCL.woff) format("woff"),
  url(../fonts/HelveticaNeueCL.ttf) format("truetype"),
  url(../fonts/HelveticaNeueCL.svg#HelveticaNeueCL) format("svg");
}
@font-face {
  font-family: 'MyriadPro';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/MyriadPro-Cond.eot);
  src: url(../fonts/MyriadPro-Cond.eot#iefix) format("embedded-opentype"),
  url(../fonts/MyriadPro-Cond.woff2) format("woff2"),
  url(../fonts/MyriadPro-Cond.woff) format("woff"),
  url(../fonts/MyriadPro-Cond.ttf) format("truetype"),
  url(../fonts/MyriadPro-Cond.svg#MyriadPro) format("svg");
}
html {
  height: 100%;
}
body {
  margin: 0;
  position: relative;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 26px;
  color: #2f3032;
  height: 100%;
  min-width: 320px;
}
.page-wrapper {
  width: 100%;
  overflow: hidden;
}
.center-content {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
h1 {
  margin: 0;
}
section {
  position: relative;
  .text-section {
    letter-spacing: 0.017em;
    p {
      margin: 0;
      + p {
        margin-top: 1.22em;
      }
    }
  }
  &.section-1 {
    background-color: #d3fcff;
    z-index: 2;
    height: 96%;
    min-height: 720px;
    .center-content {
      position: relative;
      z-index: 4;
    }
    .clouds-bg {
      position: absolute;
      z-index: 1;
      top: 162px;
      left: 0;
      height: 420px;
      right: 0;
      background: url(images/clouds.png) 274px center repeat-x;
    }
    .houses-bg {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 4px;
      height: 474px;
      right: 0;
      background: url(images/houses.png) -4px bottom repeat-x;
    }
    .wash-bg {
      position: absolute;
      z-index: 3;
      left: 50%;
      bottom: 40px;
      width: 300px;
      height: 378px;
      background: url(images/wash.png) center center no-repeat;
      margin-left: 167px;
    }
    .cars-bg {
      position: absolute;
      z-index: 3;
      left: 0;
      right: 50%;
      bottom: 18px;
      height: 124px;
      background: url(images/cars.png) right bottom repeat-x;
      margin-right: -237px;
    }
    .road-bg {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: -140px;
      height: 202px;
      background: url(images/road.png) center bottom;
    }
    .hand-bg {
      position: absolute;
      z-index: 3;
      right: 50%;
      bottom: 1px;
      height: 640px;
      width: 481px;
      margin-right: 12.5%;
    }
    .section-content {
      padding-top: 60px;
      @include background-image(linear-gradient(top, rgba(255,255,255,0.48) 0%, rgba(255,255,255,0.48) 21%, rgba(211,252,255,0.48) 79%, rgba(211,252,255,0.48) 100%));
      position: relative;
      min-height: 100%;
      box-sizing: border-box;
    }
    article {
      position: relative;
      margin-left: 35%;
      margin-top: 50px;
      margin-right: 235px;
    }
    .text-section {
      margin: 46px 0;
      position: relative;
    }
    .apps-buttons {
      position: absolute;
      right: 0;
      margin-right: -235px;
      top: 0;
      .app-button {
        width: 182px;
        height: 59px;
        background: no-repeat center center;
        display: block;
        @include opacity(0.8);
        @include transition(opacity linear 0.1s);
        &:hover {
          @include opacity(1);
        }
        + .app-button {
          margin-top: 30px;
        }
        &.gp-btn {
          background-image: url(images/gp-button.png);
        }
        &.as-btn {
          background-image: url(images/as-button.png);
        }
      }
    }
  }
  &.section-2 {
    background-color: #909aa4;
    color: #fff;
    @include text-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
    padding-bottom: 607px;
    position: relative;
    z-index: 1;
    .section-content {
      position: relative;
      z-index: 2;
    }
    .text-section {
      padding: 72px 38px;
      margin-right: 7.5%;
    }
    .cars-on-wash {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 622px;
      background: url(images/cars-on-wash.jpg) left top repeat-x #64707c;
    }
    .ipad-block {
      position: absolute;
      max-width: 638px;
      width: 45.2%;
      right: 0;
      bottom: 0;
      min-width: 600px;
    }
  }
  &.section-3 {
    background: url(images/section-3-top.png) center top no-repeat;
    color: #423934;
    z-index: 2;
    padding-top: 155px;
    margin-top: -155px;
    @include text-shadow(1px 1px 2px rgba(255, 255, 255, 0.8));
    .center-section {
      z-index: 2;
      position: relative;
    }
    .section-content {
      background-color: #9caeb0;
      margin-top: -2px;
      padding-bottom: 435px;
    }
    .text-section {
      position: relative;
      left: 45%;
      top: -100px;
      width: 58%;
    }
    .decor {
      position: absolute;
    }
    .art {
      top: 236px;
      right: 50%;
      margin-right: 267px;
    }
    .polka-1 {
      left: 0;
      top: 632px;
    }
    .polka-2 {
      right: 0;
      top: 421px;
    }
    .polka-2, .polka-1 {
      max-width: 25%;
    }
    a.anchor {
      top: -216px;
    }
  }
  .btn {
    margin-top: 53px;
  }
  h2 {
    margin-bottom: 32px;
  }
}
footer {
  color: #363837;
  background-color: #64707c;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 51px;
  position: relative;
  z-index: 2;
  .texts-block {
    position: relative;
    z-index: 1;
  }
  .recommend-project-text {
    font-family: MyriadPro, sans-serif;
    color: #a0bddb;
    font-size: 49px;
    letter-spacing: -0.006em;
  }
  .contacts-block {
    font-size: 26px;
    a {
      text-decoration: none;
    }
    img {
      margin: 10px 10px;
      vertical-align: middle;
    }
  }
  .share-blocks {
    height: 60px;
    margin: 20px 0 30px;
  }
  .stol {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-left: -704px;
    left: 50%;
    width: 1308px;
  }
}
h2 {
  font-family: MyriadPro, sans-serif;
  font-size: 60px;
  margin: 0;
  font-weight: normal;
}
.btn {
  background-color: #ffca32;
  color: #293541;
  text-decoration: none;
  @include text-shadow(none);
  @include transition(background-color linear 0.1s);
  width: 354px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 68px;
  height: 73px;
  font-size: 30px;
  @include border-radius(37px);
  border: 0 none;
  &:hover {
    background-color: #ffed08;
  }
}
a.anchor {
  position: relative;
  display: block;
  top: -61px;
  .main-menu + & {
    top: 0;
  }
}
@media screen and (max-width: 1420px) {
  section.section-1 {
    .hand-bg {
      height: auto;
      width: 402px;
      margin-right: 16.6%;
    }
  }
  section.section-3 .text-section {
    left: 40%;
  }
}
@media screen and (max-width: 1420px) and (min-width: 1350px) {
  section.section-1 {
    .text-section {
      font-size: 0.9em;
    }
    /*article {
      margin-right: 1%;
    }
    .text-section {
      margin-right: 180px;
    }
    .apps-buttons {
      left: auto;
      right: 0;
      margin-right: -200px;
    }*/
  }
}
@media screen and (max-width: 1350px) and (min-width: 1150px) {
  section.section-1 {
    .text-section {
      font-size: 0.8em;
    }
    article {
      margin-right: 250px;
    }
  }
}
@media screen and (max-width: 1150px) {
  section.section-1 {
    .road-bg {
      bottom: 0;
      background: #78838e;
      height: 52px;
    }
    article {
      margin-right: 3%;
    }
    .apps-buttons {
      position: static;
      padding-top: 1.2em;
      margin-right: 0;
      &:after {
        clear: both;
        content: '';
        display: block;
      }
      .app-button {
        display: inline-block;
        vertical-align: top;
        + .app-button {
          margin-top: 0;
          margin-left: 30px;
        }
      }
    }
  }
  section {
    &.section-2 {
      padding-bottom: 340px;
      .text-section {
        padding-top: 36px;
        margin-right: 3%;
        margin-left: 3%;
        padding-left: 0;
        padding-right: 0;
      }
      .cars-on-wash {
        height: 383px;
      }
      .ipad-block {
        bottom: -145px;
        margin-left: -250px;
        width: 540px;
        max-width: initial;
        min-width: initial;
        right: auto;
        left: 50%;
      }
    }
    &.section-3 {
      padding-top: 50px;
      margin-top: 0;
      background-color: #9caeb0;
      .text-section {
        top: 0;
        left: 0;
        width: auto;
        margin-left: 3%;
        margin-right: 3%;
        padding-bottom: 100px;
      }
      .center-content {
        position: relative;
        z-index: 2;
      }
  }
  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
  }
}
}
@media screen and (max-width: 1040px) {
  section.section-1 {
    height: auto;
    min-height: initial;
    .section-content {
      padding-bottom: 620px;
    }
    article {
      margin-right: 2%;
      margin-left: 2%;
      text-align: center;
    }
    .apps-buttons {
      position: static;
      padding-top: 1.8em;
    }
    .hand-bg {
      left: 50%;
      margin-left: -210px;
    }
  }
}
@media screen and (max-width: 980px) and (min-width: 620px) {
section.section-1 {
  .wash-bg {
    margin-left: 0;
  }
  .cars-bg {
    margin-right: 0;
  }
}
}
@media screen and (max-width: 940px) {
  .main-menu ul {
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .main-menu {
    font-size: 17px;
    ul {
      a {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .main-menu {
    ul {
      white-space: normal;
      a {
        padding-bottom: 0;
      }
      li {
        line-height: 40px;
        display: block;
        margin-bottom: 0;
      }
    }
  }
  section.section-1 .section-content {
    padding-top: 120px;
  }
  section.section-2 a.anchor {
    top: -120px;
  }
  section.section-3 a.anchor {
    top: -169px;
  }
}
@media screen and (max-width: 620px) {
section.section-1 {
  .wash-bg {
    margin-left: -150px;
  }
  .cars-bg {
    margin-right: 150px;
  }
}
section.section-2 {
  .cars-on-wash {
    background-position: center top;
    margin-right: -45px;
  }
}
}
@media screen and (max-width: 660px) {
  footer {
    .recommend-project-text {
      font-size: 24px;
    }
    .contacts-block {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 600px) {
h2 {
  font-size: 45px;
}
}
@media screen and (max-width: 480px) {
section {
  font-size: 19px;
}
.btn {
  font-size: 22px;
}
h2 {
  font-size: 37px;
}
}
@media screen and (max-width: 450px) {
section.section-1 {
  .apps-buttons {
    .app-button {
      display: block;
      vertical-align: top;
      margin: 0 auto;
      + .app-button {
        margin-top: 30px;
        margin-left: auto;
      }
    }
  }
}
}
@media screen and (max-width: 380px) {
section.section-1 .hand-bg {
  right: -7%;
}
}
a img {
  border: 0 none;
}
.logotype {
  max-width: 95%;
  width: 487px;
  display: inline-block;
  vertical-align: top;
  img {
    width: 100%;
  }
}



textarea, input[type="text"], input:not([type]), select {
  @include box-sizing(border-box);
  border: 5px solid #fff;
  background: none;
  text-align: left;
  line-height: 26px;
  padding: 4px 18px;
  font-family: AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 0;
  &:-ms-input-placeholder {
    color: #fff;
  }
  &::-webkit-input-placeholder {
    color: #fff;
  }
  &:-moz-placeholder {
    color: #fff;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
}
textarea {
  resize: none;
}

input, select {
  &[type="text"], &:not([type]) {
    height: 50px;
  }
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  font-size: 17px;
  background-color: #f0f0f0;
  color: #333;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  z-index: 20;
  font-family: AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  li {
    display: block;
    margin: 0;
    padding: 7px 23px;
    &.ui-state-focus {
      border: 1px solid #217EFF;
      margin: -1px;
      background-color: #99deff;
    }
  }
}
.hidden-field {
  position: absolute;
  width: 0;
  height: 0;
  left: -10000px;
  visibility: hidden;
}
.popup-mask {
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.6);
  overflow: auto;
}
.popup-window {
  position: relative;
  left: 50%;
  background-color: #fff;
  width: 460px;
  margin: 0 0 0 -230px;
  padding: 15px 0;
  z-index: 7;
  display: none;
  .form-modal-title {
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .popup-window-content {
    margin: 0 15px;
    position: relative;
    padding: 24px;
    textarea {
      height: 116px;
    }
    textarea, input, select {
      border-color: #e0e0e0;
      color: #323232;
      font-size: 17px;
      &:-ms-input-placeholder {
        color: #323232;
      }
      &::-webkit-input-placeholder {
        color: #323232;
      }
      &:-moz-placeholder {
        color: #323232;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus:-moz-placeholder {
        color: transparent;
      }
    }
    textarea, input, button, select {
      width: 100%;
    }
    .row-field {
      position: relative;
      + .row-field {
        margin-top: 15px;
      }
    }
    .close-popup {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      width: 17px;
      height: 17px;
      background-image: url(images/close-popup.gif);
    }
    &.with-border {
      border: 5px solid #e0e0e0;
      padding: 19px;
    }
    .title-thanks {
      font-size: 25px;
      text-align: center;
      padding: 5px 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      &:after, &:before {
        content: '';
        background-color: #0131ff;
        width: 74px;
        height: 5px;
        margin: 0 auto;
        display: block;
      }
      &:after {
        margin-bottom: -5px;
        margin-top: 20px;
      }
      &:before {
        margin-top: -5px;
        margin-bottom: 20px;
      }
    }
    .desc-thanks {
      margin: 20px 0;
      font-size: 17px;
      text-align: center;
    }
  }
}

.error-field {
  position: absolute;
  background-color: #a60010;
  color: #fff;
  bottom: 100%;
  margin-bottom: 1px;
  font-size: 12px;
  padding: 2px 10px;
  font-weight: bold;
  @include border-radius(3px);
}
.success-text {
  font-size: 0.8em;
  text-align: center;
  margin: 10px 0 40px;
}
@media screen and (max-width: 460px) {
  .popup-window {
    left: 0;
    margin-left: 0;
    width: 100%;
  }
}
.ui-helper-hidden-accessible {
  display: none;
}