@media screen and (max-width: 800px) {
  .contact-us-form {
    .fields-col, .contacts-info-col {
      max-width: 320px;
      float: none!important;
      width: 94%;
      margin: 0 auto;
    }
    .fields-col .submit-button-container {
      text-align: center!important;
    }
    .contacts-info-col {
      margin-top: 120px;
    }
  }
  .map-section {
    padding-bottom: 0;
    padding-top: 20px;
    text-align: center;
    .map-icon {
      vertical-align: middle;
    }
    .map-container {
      margin-bottom: 0;
    }
    .center-content {
      width: 100%;
    }
  }
}
@media screen and (max-width: 480px) {
  .contact-us-form .phone-icon {
    display: none;
  }
}