@import "compass";
html {
  height: 100%;
}

$color-1: #e4e4e4;
$color-2: #333333;
$color-3: #242424;
$color-6: #545454;
$color-4: #ffffff;
$color-5: #848484;

body {
  @include box-sizing(border-box);
  min-height: 100%;
  position: relative;
  font: 14px 'Open Sans', sans-serif normal normal;
  color: $color-3;
  background-color: $color-1;
  margin: 0;
}
.center-content {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.semi-bold {
  font-weight: 600;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li, ol {
  display: block;
  padding: 0;
  margin: 0;
}
header {
  background-color: $color-2;
  color: $color-1;
  transform: translateZ(0px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .main-menu {
    padding: 2px 1px;
  }
  a {
    @include text-shadow(inset 0 -2px 2px rgba(0, 0, 0, 1));
    display: inline-block;
    color: inherit;
    text-decoration: none;
    @include transition(0.2s all ease-in);
    padding: 0.8em 1.8em;
    &:hover {
      background-color: $color-3;
    }
  }
  .menu-item {
    float: right;
    margin-right: -1px;
    a {
      position: relative;
      &:after {
        @include transition(0.2s all ease-in);
        content: '';
        position: absolute;
        top: 0.6em;
        left: 0;
        right: 0;
        bottom: 0.6em;
        border-width: 0 1px;
        border-style: solid;
        border-color: $color-6;
      }
      &:hover {
        color: $color-4;
        &:after {
          top: 2px;
          bottom: 2px;
          border-color: $color-5;
          @include box-shadow(inset 0 0 10px rgba(0, 0, 0, 0.9));
        }
        z-index: 2;
      }
    }
  }
}
.content-page {
  @include box-sizing(border-box);
  min-height: 100%;
  padding-top: 45px;
}
.content-blocks {
  margin-top: 20px;
  background-color: #fff;
  @include border-radius(3px);
  @include box-shadow(0 5px 20px rgba(0, 0, 0, 0.3));
  padding: 20px;
  color: $color-3;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
h2 {
  font-size: 2em;
  margin: 0 0 0.6em;
}
h1, h3, h4 {
  margin: 0;
}
p {
  margin: 1.2em 0;
  line-height: 1.9em;
}
.photo-container {
  float: left;
  width: 240px;
  margin-right: 20px;
  border: 1px solid $color-5;
  img {
    vertical-align: top;
    width: 100%;
  }
}


