/* line 1, ../sass/_reset.scss */
body {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  color: #505050;
  font: 20px 'Open Sans', sans-serif normal normal;
  min-width: 320px;
}
/* line 9, ../sass/_reset.scss */
body.direction-rtl {
  direction: rtl;
  text-align: right;
}
/* line 12, ../sass/_reset.scss */
body.direction-rtl .text-right {
  text-align: left;
}
/* line 15, ../sass/_reset.scss */
body.direction-rtl .text-left {
  text-align: right;
}
/* line 18, ../sass/_reset.scss */
body.direction-rtl .float-left {
  float: right;
}
/* line 21, ../sass/_reset.scss */
body.direction-rtl .float-right {
  float: left;
}
/* line 26, ../sass/_reset.scss */
body.scrolled-page .go-home-button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 37, ../sass/_reset.scss */
a {
  text-decoration: none;
}
/* line 39, ../sass/_reset.scss */
a:hover {
  text-decoration: underline;
}

/* line 43, ../sass/_reset.scss */
img {
  border: 0 none;
}

/* line 46, ../sass/_reset.scss */
h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin: 0;
}

/* line 51, ../sass/_reset.scss */
.orange-text, .label-block {
  color: #f29200;
}

/* line 54, ../sass/_reset.scss */
.label-block {
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: bold;
}

/* line 59, ../sass/_reset.scss */
.page-title-line {
  text-align: center;
  padding: 37px 0 28px;
}
/* line 62, ../sass/_reset.scss */
.page-title-line strong {
  font-weight: normal;
  font-size: 0.9em;
}

/* line 68, ../sass/_reset.scss */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 72, ../sass/_reset.scss */
nav ul li {
  padding: 0;
  margin: 0;
  display: block;
}

/* line 79, ../sass/_reset.scss */
.go-home-button {
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #9e9e9e;
  border: 2px solid;
  bottom: 7px;
  right: 12px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 93, ../sass/_reset.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 96, ../sass/_reset.scss */
.float-left {
  float: left;
}

/* line 99, ../sass/_reset.scss */
.float-right {
  float: right;
}

/* line 102, ../sass/_reset.scss */
.clear-both {
  clear: both;
}

/* line 105, ../sass/_reset.scss */
.nowrap {
  white-space: nowrap;
}

/* line 1, ../sass/_content.scss */
#content {
  margin-top: 164px;
}

/* line 4, ../sass/_content.scss */
.center-content {
  max-width: 1000px;
  width: 94%;
  margin: 0 auto;
}

/* line 10, ../sass/_content.scss */
.page-title-line {
  background-color: #f1f1f1;
}

/* line 14, ../sass/_content.scss */
.logotype {
  display: block;
}
/* line 16, ../sass/_content.scss */
.logotype img {
  width: 99px;
  height: 90px;
}

/* line 1, ../sass/_header.scss */
header {
  text-align: center;
  padding: 19px 0 49px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  -moz-transition: padding 0.1s, box-shadow linear;
  -o-transition: padding 0.1s, box-shadow linear;
  -webkit-transition: padding 0.1s, box-shadow linear;
  transition: padding 0.1s, box-shadow linear;
}
/* line 13, ../sass/_header.scss */
header .logotype img {
  -moz-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear;
}
/* line 17, ../sass/_header.scss */
header .languages-selection, header .header-menu {
  -moz-transition: margin 0.1s linear;
  -o-transition: margin 0.1s linear;
  -webkit-transition: margin 0.1s linear;
  transition: margin 0.1s linear;
}
/* line 20, ../sass/_header.scss */
header .show-hide-menu {
  height: 38px;
  width: 38px;
  text-align: center;
  color: #a0a0a0;
  line-height: 38px;
  margin: 11px 12px;
  display: none;
  font-size: 30px;
  cursor: pointer;
}
/* line 30, ../sass/_header.scss */
header .show-hide-menu.active-menu {
  color: #222;
}
/* line 34, ../sass/_header.scss */
header .show-hide-menu.active-menu + .header-menu {
  display: block;
}
/* line 37, ../sass/_header.scss */
body.scrolled-page header {
  padding-bottom: 15px;
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}
/* line 41, ../sass/_header.scss */
body.scrolled-page header .logotype img {
  width: 60px;
  height: auto;
}
/* line 46, ../sass/_header.scss */
body.scrolled-page header .languages-selection, body.scrolled-page header .header-menu {
  line-height: 24px;
  margin: 16px 0;
}
/* line 53, ../sass/_header.scss */
header .center-content:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* line 57, ../sass/_header.scss */
header .header-menu {
  display: inline-block;
  white-space: nowrap;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 73px;
}
/* line 63, ../sass/_header.scss */
header .header-menu a {
  color: inherit;
}
/* line 66, ../sass/_header.scss */
header .header-menu li {
  display: inline-block;
  margin: 0 19px;
}
/* line 71, ../sass/_header.scss */
header .languages-selection {
  white-space: nowrap;
  line-height: 0;
  margin: 71px 0 0;
}
/* line 75, ../sass/_header.scss */
header .languages-selection li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}
/* line 80, ../sass/_header.scss */
header .languages-selection a {
  height: 24px;
}
/* line 83, ../sass/_header.scss */
header .languages-selection img {
  height: 100%;
}
/* line 86, ../sass/_header.scss */
header .languages-selection img, header .languages-selection a {
  display: block;
}

@media screen and (max-width: 900px) {
  /* line 2, ../sass/responsive/_header.scss */
  header {
    padding-bottom: 15px;
  }
  /* line 5, ../sass/responsive/_header.scss */
  header .logotype img {
    width: 60px;
    height: auto;
  }
  /* line 10, ../sass/responsive/_header.scss */
  header .languages-selection, header .header-menu {
    line-height: 24px;
    margin: 16px 0;
  }
  /* line 14, ../sass/responsive/_header.scss */
  header .center-content {
    position: relative;
  }

  /* line 18, ../sass/responsive/_header.scss */
  #content {
    margin-top: 95px;
  }
}
@media only screen and (max-width: 800px) {
  /* line 24, ../sass/responsive/_header.scss */
  header {
    text-align: inherit;
  }
  /* line 26, ../sass/responsive/_header.scss */
  header .show-hide-menu {
    display: block;
  }
  /* line 29, ../sass/responsive/_header.scss */
  header .header-menu {
    display: none;
    position: absolute;
  }
  /* line 32, ../sass/responsive/_header.scss */
  header .header-menu li {
    display: block;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  /* line 40, ../sass/responsive/_header.scss */
  header .header-menu {
    right: 5px;
    top: 100%;
    background-color: rgba(229, 229, 229, 0.9);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
  }
  /* line 46, ../sass/responsive/_header.scss */
  header .header-menu ul {
    position: relative;
    padding: 10px 18px;
  }
  /* line 50, ../sass/responsive/_header.scss */
  header .header-menu ul:after {
    content: '';
    position: absolute;
    border-width: 0 9px 9px;
    border-style: solid;
    border-color: transparent transparent rgba(229, 229, 229, 0.9);
    bottom: 100%;
    right: 113px;
  }
  /* line 59, ../sass/responsive/_header.scss */
  header .header-menu li {
    display: block;
    margin: 0;
    width: 150px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 70, ../sass/responsive/_header.scss */
  header .center-content {
    margin: 0;
    padding: 0 3%;
    width: auto;
  }
  /* line 75, ../sass/responsive/_header.scss */
  header .header-menu {
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgba(229, 229, 229, 0.9);
    overflow: hidden;
  }
  /* line 82, ../sass/responsive/_header.scss */
  header .header-menu li a {
    display: block;
    line-height: 60px;
    height: auto;
    padding: 0 20px;
    margin: -5px -20px;
  }
}
/* line 1, ../sass/_footer.scss */
footer {
  background-color: #303030;
  color: #c5c5c5;
}
/* line 4, ../sass/_footer.scss */
footer a {
  color: #fff;
}
/* line 7, ../sass/_footer.scss */
footer .footer-content {
  position: relative;
}
/* line 10, ../sass/_footer.scss */
footer .footer-bottom {
  background-color: #252525;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 30px;
  padding: 11px 0;
}
/* line 19, ../sass/_footer.scss */
footer .copyright {
  margin: 0 -2.5%;
  font-size: 0.52em;
  font-weight: 600;
}
/* line 24, ../sass/_footer.scss */
footer .social-block {
  list-style-type: none;
  padding: 0;
  margin: 0 -1.5%;
  white-space: nowrap;
  text-align: center;
  font-size: 0.8em;
  line-height: 27px;
}
/* line 32, ../sass/_footer.scss */
footer .social-block li {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
/* line 38, ../sass/_footer.scss */
footer .social-block a {
  display: block;
  width: 26px;
  height: 26px;
  background-color: #757575;
  color: #252525;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
/* line 45, ../sass/_footer.scss */
footer .social-block a .fa-facebook {
  vertical-align: bottom;
  font-size: 1.18em;
  margin-left: 4px;
}
/* line 50, ../sass/_footer.scss */
footer .social-block a:hover {
  background-color: #c5c5c5;
}
/* line 56, ../sass/_footer.scss */
footer .center-content:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* line 60, ../sass/_footer.scss */
footer .footer-menu {
  margin: 0 -3%;
}
/* line 62, ../sass/_footer.scss */
footer .footer-menu:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* line 66, ../sass/_footer.scss */
footer .footer-menu-block {
  padding-bottom: 52px;
  font-weight: 400;
  letter-spacing: -0.04em;
}
/* line 70, ../sass/_footer.scss */
footer .footer-menu-block .submenu {
  margin: 7px 12px 0;
}
/* line 72, ../sass/_footer.scss */
footer .footer-menu-block .submenu li {
  padding: 2px 0 3px;
  line-height: 18px;
}
/* line 75, ../sass/_footer.scss */
footer .footer-menu-block .submenu li:before {
  font: normal normal normal 1em FontAwesome;
  content: "\f105";
  display: inline;
  margin-right: 7px;
}
/* line 83, ../sass/_footer.scss */
footer .footer-menu-block .our-contacts-col {
  line-height: 1.6em;
  margin: 8px 10px 0;
}
/* line 87, ../sass/_footer.scss */
footer .footer-menu-block .submenu, footer .footer-menu-block .our-contacts-col {
  font-size: 0.67em;
}
/* line 92, ../sass/_footer.scss */
footer .footer-col {
  width: 25%;
  padding: 39px 0 31px;
}
/* line 96, ../sass/_footer.scss */
footer h4 {
  font-weight: 400;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0 7px;
}
/* line 103, ../sass/_footer.scss */
footer .logotype {
  margin: 0 5px;
}

@media screen and (max-width: 800px) and (min-width: 420px) {
  /* line 3, ../sass/responsive/_footer.scss */
  footer .footer-col {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  /* line 10, ../sass/responsive/_footer.scss */
  footer .footer-menu {
    margin: 0;
  }
}
@media screen and (max-width: 420px) {
  /* line 17, ../sass/responsive/_footer.scss */
  footer .footer-col {
    float: none !important;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  /* line 22, ../sass/responsive/_footer.scss */
  footer .footer-col + .footer-col {
    padding-top: 0;
  }
  /* line 25, ../sass/responsive/_footer.scss */
  footer .footer-col .submenu li {
    display: inline-block;
    margin: 0 5px;
  }
  /* line 28, ../sass/responsive/_footer.scss */
  footer .footer-col .submenu li:before {
    margin-right: 5px;
  }
  /* line 32, ../sass/responsive/_footer.scss */
  footer .footer-col .submenu li:first-child:before {
    display: none;
  }
  /* line 38, ../sass/responsive/_footer.scss */
  footer .logotype {
    float: none !important;
    display: inline-block;
    margin: 0;
  }
  /* line 43, ../sass/responsive/_footer.scss */
  footer .copyright, footer .social-block {
    float: none !important;
    text-align: center;
  }
  /* line 47, ../sass/responsive/_footer.scss */
  footer .footer-menu-block {
    padding-bottom: 80px;
  }
}
/* line 1, ../sass/_inputs.scss */
input, textarea, button, select, .button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: inherit;
  color: #505050;
  font-weight: normal;
  font-size: 15px;
}

/* line 9, ../sass/_inputs.scss */
input[type="text"], input[type="password"], input:not([type]) {
  height: 36px;
  line-height: 24px;
}

/* line 13, ../sass/_inputs.scss */
input[type="text"], input[type="password"], input:not([type]), textarea {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
}

/* line 1, ../sass/_buttons.scss */
.button {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  border: 0 none;
  cursor: pointer;
}
/* line 6, ../sass/_buttons.scss */
.button.normal {
  padding: 0 22px;
  line-height: 29px;
  font-size: 0.8em;
  font-weight: 600;
}
/* line 12, ../sass/_buttons.scss */
.button.orange {
  color: #fff;
  background-color: #f19100;
}
/* line 15, ../sass/_buttons.scss */
.button.orange:hover {
  background-color: #ffa800;
}

/* line 1, ../sass/pages/_contact.scss */
.map-section {
  background-color: #f1f1f1;
}

/* line 4, ../sass/pages/_contact.scss */
.contact-us-form {
  padding: 64px 0;
}
/* line 6, ../sass/pages/_contact.scss */
.contact-us-form:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* line 9, ../sass/pages/_contact.scss */
.contact-us-form .fields-col {
  width: 318px;
}
/* line 12, ../sass/pages/_contact.scss */
.contact-us-form textarea, .contact-us-form input {
  width: 100%;
  margin: 3px 0;
}
/* line 16, ../sass/pages/_contact.scss */
.contact-us-form textarea {
  height: 245px;
  resize: none;
}
/* line 20, ../sass/pages/_contact.scss */
.contact-us-form label {
  display: block;
}
/* line 22, ../sass/pages/_contact.scss */
.contact-us-form label input {
  font-weight: normal;
}
/* line 25, ../sass/pages/_contact.scss */
.contact-us-form label + label {
  margin-top: 41px;
}
/* line 29, ../sass/pages/_contact.scss */
.contact-us-form .button {
  margin-top: 11px;
}
/* line 32, ../sass/pages/_contact.scss */
.contact-us-form .contacts-info-col {
  font-size: 0.9em;
  line-height: 1.59em;
  width: 330px;
}
/* line 36, ../sass/pages/_contact.scss */
.contact-us-form .contacts-info-col .label-block {
  font-size: 1em;
  padding-bottom: 3px;
}
/* line 41, ../sass/pages/_contact.scss */
.contact-us-form .contacts-info-col .contacts-info-row + .contacts-info-row {
  margin-top: 56px;
}
/* line 46, ../sass/pages/_contact.scss */
.contact-us-form .phone-icon {
  width: 43px;
  height: 41px;
  background: url(images/contacts-us/phone-contacts.png) center center no-repeat;
  margin: -5px -55px;
}
/* line 52, ../sass/pages/_contact.scss */
.contact-us-form .code {
  margin: 6px -22px;
  vertical-align: top;
}

/* line 57, ../sass/pages/_contact.scss */
.map-section {
  padding: 70px 0 155px;
  line-height: 20px;
}
/* line 60, ../sass/pages/_contact.scss */
.map-section .label-block {
  font-size: 0.9em;
  margin: 0 1px;
}
/* line 64, ../sass/pages/_contact.scss */
.map-section .map-icon {
  display: inline-block;
  vertical-align: bottom;
  width: 49px;
  height: 55px;
  margin: 0 3px;
  background: url(images/contacts-us/map-icon.png) center center no-repeat;
}
/* line 72, ../sass/pages/_contact.scss */
.map-section .map-container {
  height: 368px;
  width: 100%;
  margin: 18px 0;
}

@media screen and (max-width: 800px) {
  /* line 3, ../sass/pages/responsive/_contact.scss */
  .contact-us-form .fields-col, .contact-us-form .contacts-info-col {
    max-width: 320px;
    float: none !important;
    width: 94%;
    margin: 0 auto;
  }
  /* line 9, ../sass/pages/responsive/_contact.scss */
  .contact-us-form .fields-col .submit-button-container {
    text-align: center !important;
  }
  /* line 12, ../sass/pages/responsive/_contact.scss */
  .contact-us-form .contacts-info-col {
    margin-top: 120px;
  }

  /* line 16, ../sass/pages/responsive/_contact.scss */
  .map-section {
    padding-bottom: 0;
    padding-top: 20px;
    text-align: center;
  }
  /* line 20, ../sass/pages/responsive/_contact.scss */
  .map-section .map-icon {
    vertical-align: middle;
  }
  /* line 23, ../sass/pages/responsive/_contact.scss */
  .map-section .map-container {
    margin-bottom: 0;
  }
  /* line 26, ../sass/pages/responsive/_contact.scss */
  .map-section .center-content {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 32, ../sass/pages/responsive/_contact.scss */
  .contact-us-form .phone-icon {
    display: none;
  }
}
