.cards-holder {
  margin: 0 -1.5em;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  .card-link, .one-card {
    float: left;
    width: 33.6em;
    margin: 0.6em 1.45em 1.1em;
    border-bottom: 0.1em solid #A9C7CF;
  }
  .card-link {
    height: 10em;
    text-decoration: none;
    text-align: center;
    line-height: 10em;
    background-color: #fff;
    .card-link-text {
      font-size: 2em;
      font-weight: bold;
      color: #111;
      vertical-align: middle;
    }
    .card-icon-holder {
      float: left;
      width: 10em;
      height: 10em;
      text-align: center;
      line-height: 10em;
      &.bgcolor-1 {
        background-color: $cards-color-1;
      }
      &.bgcolor-2 {
        background-color: $cards-color-2;
      }
      &.bgcolor-3 {
        background-color: $cards-color-3;
      }
    }
    img {
      vertical-align: middle;
      width: 4.75em;
      height: 4.75em;
      margin-top: -0.36em;
    }
  }
  .one-card {
    height: 21.3em;
    position: relative;
    color: #fff;
    text-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.3);
    .card-icon-holder {
      padding: 2.3em 1.7em 1em;
      img {
        width: 4.5em;
        height: 4.5em;
      }
    }
    .card-title {
      font-weight: bold;
      font-size: 2em;
      padding: 0.05em 0.8em;
    }
    .card-description {
      font-size: 1em;
      padding: 1.2em 1.7em;
      line-height: 1.2em;
    }
    .card-select-line {
      background-color: #E8E8E8;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #818181;
      text-transform: uppercase;
      padding: 0 0 0 1.8em;
      line-height: 4.1em;
      height: 4.4em;
      font-weight: bold;
      text-shadow: 0 0.1em 0.1em rgba(255, 255, 255, 0.9);
      text-decoration: none;
      span {
        font-size: 1.26em;
        display: block;
      }
      img {
        float: right;
        height: 4.4em;
        width: 4.4em;
        background-color: #fff;
        display: block;
        margin-left: 0.2em;
      }
    }
    &.bgcolor-1 {
      background-color: $cards-color-1;
    }
    &.bgcolor-2 {
      background-color: $cards-color-2;
    }
    &.bgcolor-3 {
      background-color: $cards-color-3;
    }
    &.bgcolor-4 {
      background-color: $cards-color-4;
    }
    &.bgcolor-5 {
      background-color: $cards-color-5;
    }
    &.bgcolor-6 {
      background-color: $cards-color-6;
    }
    &.bgcolor-7 {
      background-color: $cards-color-7;
    }
  }
}

.chart-container {
  height: 33.5em;
  width: 100%;
  margin-bottom: 5.5em;
}
.chart-info {
  font-weight: bold;
  .chart-point-info {
    padding-top: 2em;
    padding-bottom: 1.2em;
    .month-name {
      font-size: 1.4em;
    }
    .amount-info {
      font-size: 3.65em;
      color: #0070cf;
    }
  }
  .article-wrapper {
    float: left;
    width: 100%;
    height: 20em;
    position: relative;
  }
  .select-date {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e8e8e8;
    color: #060606;
    @include text-shadow(0 0.1em 0.1em rgba(255, 255, 255, 0.9));
    padding-top: 1.6em;
    padding-bottom: 1.8em;
    span {
      font-size: 1.5em;
    }
  }
}
