body {
    margin: 0;
    font: 15px Arial, sans-serif;
    background-image: url(images/background.png);
}
input {
    outline: none;
}
.container-calcs {
    width: 950px;
    margin: 0 auto;
}
.one-calc {
    margin: 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: #f0f0f0;
}
.one-calc .title-calc {
    font-size: 20px;
    font-weight: bold;
    color: #4d4d4d;
    line-height: 24px;
}
.one-calc form {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin: 20px 0 0 0;
}
.one-calc input[type="checkbox"] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    margin-left: -30px;
}
.one-calc input[type="checkbox"] + span {
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cacaca;
    text-indent: 30px;
    white-space: nowrap;
    background-color: #fff;
}
.one-calc input[type="checkbox"]:disabled + span {
    background: none;
}
.one-calc input[type="checkbox"]:checked + span {
    background-color: #00acba;
}
.one-calc input[type="checkbox"]:focus + span {
    border-color: #8a8a8a;
}
.one-calc .padding-left-block {
    padding-left: 0;
}
.one-calc input[type="text"] {
    box-sizing: border-box;
    width: 52px;
    height: 38px;
    border: 1px solid #cacaca;
    vertical-align: bottom;
    margin: 0 0 0 5px;
    text-align: center;
    font-size: 22px;
    color: #4d4d4d;
}
.rager-row {
    line-height: 40px;
}
.ranger-container {
    float: right;
    width: 200px;
    margin-right: -20px;
    margin-top: 37px;
    padding-bottom: 15px;
}
.ranger-axis {
    border-bottom: 1px solid #4d4d4d;
    margin: 0 10px;
    position: relative;
}
.ranger-cell {
    height: 8px;
    bottom: -1px;
    margin-left: -1px;
    border-left: 1px solid #4d4d4d;
    position: absolute;
    line-height: 20px;
}
.ranger-cell span {
    margin-left: -50%;
    display: block;
    text-align: center;
    margin-top: -24px;
    width: 100%;
    cursor: pointer;
}
.ranger-arrow {
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 100%;
    margin-left: -7px;
    cursor: pointer;
    margin-top: 1px;
    background: url(images/arrow-ranger.png) center center no-repeat;
}
.one-calc .fieldset {
    padding: 9px 14px;
}
.one-calc .fieldset + .fieldset {
    border-top: 1px solid #c5c5c5;
}
.one-calc .one-checkbox-line {
    padding: 3px 0;
    line-height: 22px;
}
.one-calc .one-checkbox {
    white-space: nowrap;
}
.total-licenses {
    color: #03a5ba;
    font-size: 22px;
    font-weight: bold;
}
.width-50 {
    width: 50%;
}
.float-left {
    float: left;
}
.clear-both {
    height: 0;
    clear: both;
    line-height: 0;
    font-size: 0;
}
.text-center {
    text-align: center;
}