body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.calculator-modern-container {
	width: 940px;
	margin: 20px auto 0;
} 
.calculator-modern {
	padding: 25px 30px;
	background-color: #f4f4f4;
	color: #59595b;
	font-size: 14px;
	line-height: 17px;
}
.calculator-modern .left-block-calculator {
	width: 510px;
	float: left;
}
.calculator-modern .right-block-calculator {
	width: 315px;
	float: right;
}
.calculator-modern .title-block {
	color: #383838;
	font-size: 22px;
	line-height: 21px;
}
.calculator-modern .one-row-calculator {
	position: relative;
}
.calculator-modern .one-row-calculator .mask-row {
	display: block;
	background-image: url(images/mask_calc_row.png);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.calculator-modern .label-row {
	width: 170px;
	float: left;
	margin-bottom: 1.5em;
}
.calculator-modern .field-row {
	margin-left: 190px;
}
.calculator-modern .text-input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #000;
	color: #585858;
	background-color: #FFF;
	line-height: 19px;
	padding: 0 2px;
	width: 60px;
	height: 21px;
	float: right;
	text-align: center;
	outline: none;
}
.calculator-modern .changer {
	width: 240px;
	padding-top: 10px;
}
.calculator-modern .limit {
	color: #a5a5a5;
	font-size: 12px;
	margin-top: 9px;
}
.calculator-modern .limit.min {
	float: left;
	margin-left: -0.2em;
}
.calculator-modern .limit.max {
	float: right;
	margin-right: -0.2em;
}

.calculator-modern .changer-line {
	width: 240px;
	position: relative;
	height: 1px;
	background-color: #929292;
	border-width: 4px 0;
	margin-top: -4px;
	margin-bottom: -4px;
	border-style: solid;
	border-color: #f4f4f4;
	cursor: pointer;
}
.calculator-modern .changer-element {
	width: 9px;
	height: 9px;
	top: 0;
	left: 0;
	margin: -4px auto auto -4px;
	background-color: #f5932e;
	position: absolute;
	cursor: pointer;
}
.calculator-modern .checkbox-decor {
	width: 10px;
	height: 10px;
	border: 1px solid #929292;
	background-color: #FFF;
	overflow: hidden;
	display: block;
	position: relative;
	vertical-align: top;
	float: left;
}
.calculator-modern .checkbox-decor input {
	left: -1000px;
	position: absolute;
}
.calculator-modern .for-no-checkbox {
	display: block;
	font-size: 13px;
	color: #58585a;
	line-height: 15px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	left: 270px;
	top: 21px;
}
.calculator-modern .result-block {
	background-color: #FFF;
	margin-top: 25px;
	padding: 16px 15px;
}
.calculator-modern .for-no-checkbox  .checkbox-decor {
	margin: 2px 10px 2px 2px;
}
.calculator-modern .checkboxs-group {
	margin-top: 30px;
}
.calculator-modern .checkboxs-group .one-row-calculator {
	margin-right: 40px;
}
.calculator-modern .checkboxs-group .one-row-calculator+.one-row-calculator{
	margin-top: 0.7em;
}
.calculator-modern .checkboxs-group .checkbox-decor {
	position: absolute;
	top: 50%;
	margin-top: -7px;
}
.calculator-modern .checkboxs-group .checkbox-decor + label {
	display: block;
	margin-left: 22px;
}
.calculator-modern .checkbox-decor .for-checked {
	display: none;
	width: 6px;
	height: 6px;
	margin: 2px;
}
.calculator-modern .checkbox-decor.checked .for-checked {
	background-color: #f4922d;
	display: block;
}
.calculator-modern .total-price {
	color: #000;
	padding: 20px 0;
	line-height: 32px;
	font-size: 22px;
	white-space: nowrap;
}
.calculator-modern .total-price .value-price {
	position: relative;
	overflow: visible;
	display: inline-block;
}
.calculator-modern .total-price .label-amount {
	position: absolute;
	left: 0;
	bottom: 100%;
	font-size: 16px;
}
.clear-both {
	clear: both;
}
.height-null {
	height: 0;
	line-height: 0;
	font-size: 0;
}
.width-50 {
	width: 50%;
}
.float-left {
	float: left;
}
.button-request {
	color: #FFF;
	cursor: pointer;
	font-size: 19px;
	line-height: 17px;
	padding: 9px 22px;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	background-color: #20c101;
}

