@font-face {
  font-family: 'AvenirNext';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/AvenirNR.eot);
  src: url(../fonts/AvenirNR.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNR.woff2) format("woff2"), url(../fonts/AvenirNR.woff) format("woff"), url(../fonts/AvenirNR.ttf) format("truetype"), url(../fonts/AvenirNR.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/AvenirNH.eot);
  src: url(../fonts/AvenirNH.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNH.woff2) format("woff2"), url(../fonts/AvenirNH.woff) format("woff"), url(../fonts/AvenirNH.ttf) format("truetype"), url(../fonts/AvenirNH.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/AvenirNB.eot);
  src: url(../fonts/AvenirNB.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNB.woff2) format("woff2"), url(../fonts/AvenirNB.woff) format("woff"), url(../fonts/AvenirNB.ttf) format("truetype"), url(../fonts/AvenirNB.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/AvenirNT.eot);
  src: url(../fonts/AvenirNT.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNT.woff2) format("woff2"), url(../fonts/AvenirNT.woff) format("woff"), url(../fonts/AvenirNT.ttf) format("truetype"), url(../fonts/AvenirNT.svg) format("svg");
}
@font-face {
  font-family: 'AvenirNext';
  font-weight: 100;
  font-style: normal;
  src: url(../fonts/AvenirNUL.eot);
  src: url(../fonts/AvenirNUL.eot#iefix) format("embedded-opentype"), url(../fonts/AvenirNUL.woff2) format("woff2"), url(../fonts/AvenirNUL.woff) format("woff"), url(../fonts/AvenirNUL.ttf) format("truetype"), url(../fonts/AvenirNUL.svg) format("svg");
}
/* line 57, ../sass/style.scss */
body {
  background-color: #fff;
  padding: 0;
  position: relative;
  font: 15px AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  min-width: 1200px;
  margin: 0 auto;
  color: #292929;
}

/* line 66, ../sass/style.scss */
textarea, input[type="text"], input:not([type]) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #fff;
  background: none;
  text-align: left;
  line-height: 26px;
  padding: 4px 18px;
  font-family: AvenirNext, Arial, Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 0;
}
/* line 77, ../sass/style.scss */
textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder {
  color: #fff;
}
/* line 80, ../sass/style.scss */
textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder {
  color: #fff;
}
/* line 83, ../sass/style.scss */
textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input:not([type]):-moz-placeholder {
  color: #fff;
}
/* line 86, ../sass/style.scss */
textarea:focus:-ms-input-placeholder, input[type="text"]:focus:-ms-input-placeholder, input:not([type]):focus:-ms-input-placeholder {
  color: transparent;
}
/* line 89, ../sass/style.scss */
textarea:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input:not([type]):focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 92, ../sass/style.scss */
textarea:focus:-moz-placeholder, input[type="text"]:focus:-moz-placeholder, input:not([type]):focus:-moz-placeholder {
  color: transparent;
}

/* line 96, ../sass/style.scss */
textarea {
  resize: none;
}

/* line 101, ../sass/style.scss */
input[type="text"], input:not([type]) {
  height: 50px;
}

/* line 105, ../sass/style.scss */
.float-left {
  float: left;
}

/* line 108, ../sass/style.scss */
.float-right {
  float: right;
}

/* line 111, ../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 114, ../sass/style.scss */
.text-right {
  text-align: right;
}

/* line 117, ../sass/style.scss */
.text-left {
  text-align: left;
}

/* line 120, ../sass/style.scss */
.clear-both {
  clear: both;
}

/* line 123, ../sass/style.scss */
.bold-text {
  font-weight: bold;
}

/* line 126, ../sass/style.scss */
a {
  color: #0030ff;
}
/* line 128, ../sass/style.scss */
a:hover {
  text-decoration: none;
}
/* line 131, ../sass/style.scss */
a img {
  border: 0 none;
}

/* line 135, ../sass/style.scss */
.center-content {
  width: 980px;
  margin: 0 auto;
}

/* line 139, ../sass/style.scss */
.clearfix {
  clear: both;
}
/* line 141, ../sass/style.scss */
.clearfix:after, .clearfix:before {
  content: '';
  display: table;
  clear: both;
}

/* line 147, ../sass/style.scss */
button {
  border: 0 none;
}

/* line 150, ../sass/style.scss */
button, input {
  -webkit-appearance: none;
  outline: none;
}

/* line 154, ../sass/style.scss */
.btn {
  cursor: pointer;
  color: #fff;
  background-color: #0131ff;
  white-space: nowrap;
  line-height: 49px;
  height: 50px;
  padding: 0 27px;
  -moz-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
}
/* line 166, ../sass/style.scss */
.btn:hover {
  background-color: #ff4c04;
}
/* line 169, ../sass/style.scss */
.btn:active {
  background-color: #e94300;
}

/* line 173, ../sass/style.scss */
.radio-btn {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
/* line 178, ../sass/style.scss */
.radio-btn span {
  color: #292929;
  display: block;
  background-color: #e2e2e2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-bottom: 3px solid #d1d1d1;
  padding: 0 24px;
  line-height: 40px;
  -moz-transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
  transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
}
/* line 188, ../sass/style.scss */
.radio-btn input {
  position: absolute;
  right: 100%;
  margin: 0;
  padding: 0;
}
/* line 194, ../sass/style.scss */
.radio-btn input:checked + span {
  color: #fff;
  background-color: #0131ff;
  border-color: #002075;
}
/* line 202, ../sass/style.scss */
.radio-btn:hover span {
  color: #fff;
  background-color: #ff4c04;
  border-color: #af3200;
}
/* line 209, ../sass/style.scss */
.radio-btn:active span {
  color: #fff;
  background-color: #e94300;
  border-color: #ab3100;
}

/* CONTENT BLOCKS */
/* line 218, ../sass/style.scss */
.center-content {
  width: 1200px;
}

/* / CONTENT BLOCKS */
/* SPRITES */
/* line 48, icons/*.png */
.icon {
  background-image: url('images/sprites/icons-s6692489356.png');
  background-repeat: no-repeat;
}

/* line 230, ../sass/style.scss */
.icon {
  display: inline-block;
  vertical-align: middle;
}
/* line 233, ../sass/style.scss */
.icon.phone {
  background-position: 0 0;
  width: 14px;
  height: 25px;
}

/* line 88, advantages/*.png */
.advantage-icon {
  background-image: url('images/sprites/advantages-se677f9a86d.png');
  background-repeat: no-repeat;
}

/* line 64, pluses/*.png */
.pluse-icon {
  background-image: url('images/sprites/pluses-s8973292556.png');
  background-repeat: no-repeat;
}

/* line 248, ../sass/style.scss */
.advantage-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
}
/* line 252, ../sass/style.scss */
.advantage-icon.icon-1 {
  background-position: 0 0;
}
/* line 255, ../sass/style.scss */
.advantage-icon.icon-2 {
  background-position: 0 -51px;
}
/* line 258, ../sass/style.scss */
.advantage-icon.icon-3 {
  background-position: 0 -102px;
}
/* line 261, ../sass/style.scss */
.advantage-icon.icon-4 {
  background-position: 0 -151px;
}
/* line 264, ../sass/style.scss */
.advantage-icon.icon-5 {
  background-position: 0 -202px;
}
/* line 267, ../sass/style.scss */
.advantage-icon.icon-6 {
  background-position: 0 -253px;
}

/* line 271, ../sass/style.scss */
.pluse-icon {
  width: 74px;
  display: inline-block;
  height: 64px;
}
/* line 275, ../sass/style.scss */
.pluse-icon.icon-11 {
  height: 45px;
  background-position: 0 0;
}
/* line 279, ../sass/style.scss */
.pluse-icon.icon-12 {
  background-position: 0 -55px;
}
/* line 282, ../sass/style.scss */
.pluse-icon.icon-13 {
  background-position: 0 -129px;
}

/* line 96, black-icons/*.png */
.black-icon {
  background-image: url('images/sprites/black-icons-se2d0420a29.png');
  background-repeat: no-repeat;
}

/* line 291, ../sass/style.scss */
.black-icon {
  width: 32px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
/* line 296, ../sass/style.scss */
.black-icon.icon-1 {
  background-position: 0 0;
  width: 14px;
}
/* line 300, ../sass/style.scss */
.black-icon.icon-2 {
  background-position: 0 -28px;
}
/* line 303, ../sass/style.scss */
.black-icon.icon-3 {
  background-position: 0 -56px;
}
/* line 306, ../sass/style.scss */
.black-icon.icon-4 {
  background-position: 0 -84px;
}
/* line 309, ../sass/style.scss */
.black-icon.icon-5 {
  background-position: 0 -112px;
}
/* line 312, ../sass/style.scss */
.black-icon.icon-6 {
  background-position: 0 -140px;
}
/* line 315, ../sass/style.scss */
.black-icon.icon-7 {
  background-position: 0 -167px;
  height: 14px;
  width: 22px;
}

/* HEADER */
/* line 324, ../sass/style.scss */
header {
  position: relative;
  height: 0;
  z-index: 2;
  line-height: 89px;
  font-size: 17px;
  margin-top: 84px;
}
/* line 331, ../sass/style.scss */
header .left-header-blue {
  position: absolute;
  left: 0;
  right: 50%;
  margin-right: 599px;
  height: 95px;
  top: 0;
  background-color: #0131ff;
}
/* line 340, ../sass/style.scss */
header .header-block {
  height: 95px;
}
/* line 343, ../sass/style.scss */
header .header-left-block {
  float: left;
  background-color: #0131ff;
  padding-right: 49px;
}
/* line 348, ../sass/style.scss */
header .header-right-block {
  float: right;
  white-space: nowrap;
}
/* line 352, ../sass/style.scss */
header .logotype {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
/* line 358, ../sass/style.scss */
header .logotype img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 364, ../sass/style.scss */
header .logo-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
  color: #fff;
  margin: 0;
}
/* line 371, ../sass/style.scss */
header .phone-header {
  margin-right: 34px;
  color: #2a2a2a;
  display: inline-block;
}
/* line 375, ../sass/style.scss */
header .phone-header .icon {
  margin-right: 6px;
  margin-top: -2px;
}

/* $menu-spacing: 4px;
$menu-sprite-base-class: '.menu-button';
@import "menu/*.png";*/
/* line 386, ../sass/style.scss */
.main-menu {
  line-height: 24px;
  font-size: 17px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
}
/* line 395, ../sass/style.scss */
.main-menu ul {
  list-style-type: none;
  padding: 30px 0;
  margin: 0 auto;
}
/* line 400, ../sass/style.scss */
.main-menu li {
  display: inline-block;
}
/* line 402, ../sass/style.scss */
.main-menu li + li {
  margin-left: 60px;
}
/* line 406, ../sass/style.scss */
.main-menu a {
  text-decoration: none;
  color: #292929;
  display: block;
}
/* line 410, ../sass/style.scss */
.main-menu a:hover, .main-menu a.active {
  color: #1655bf;
}

/* line 416, ../sass/style.scss */
a.anchor {
  position: relative;
  display: block;
  top: -82px;
}
/* line 420, ../sass/style.scss */
.main-menu + a.anchor {
  top: 0;
}

/*.menu-button {
  width: 30px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  @include menu-sprite-position(menu-button);
  margin-left: 35px;
  cursor: pointer;
  &:hover {
    @include menu-sprite-position(menu-button-hover);
  }
  &:active {
    @include menu-sprite-position(menu-button-active);
  }
}*/
/* line 440, ../sass/style.scss */
h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  font-weight: 800;
}

/* line 446, ../sass/style.scss */
h2, h3 {
  font-size: 50px;
  margin: 0;
  line-height: 61px;
}

/* / HEADER */
/* Sections BEGIN*/
/* line 454, ../sass/style.scss */
section {
  width: 100%;
  overflow: hidden;
}
/* line 457, ../sass/style.scss */
section .advantage-block {
  padding: 25px 0 22px;
  list-style-type: none;
  margin: 0;
  color: #fff;
  text-align: center;
}
/* line 463, ../sass/style.scss */
section .advantage-block li {
  height: 143px;
  float: left;
  width: 33.333%;
  padding: 42px 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 469, ../sass/style.scss */
section .advantage-block li + li {
  border-left: 1px solid;
}
/* line 472, ../sass/style.scss */
section .advantage-block li p {
  margin: 0 0 0 20px;
  font-size: 17px;
  line-height: 26px;
  display: inline-block;
  text-align: left;
}
/* line 481, ../sass/style.scss */
section.head-section {
  color: #222224;
  overflow: visible;
}
/* line 484, ../sass/style.scss */
section.head-section .head-section-bg {
  height: 742px;
  background: url(images/head-section-background.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 492, ../sass/style.scss */
section.head-section .advantage-block {
  background-color: #fe4c04;
  margin: -97px 0 57px;
}
/* line 495, ../sass/style.scss */
section.head-section .advantage-block .advantage-icon {
  margin: -7px;
  vertical-align: top;
}
/* line 498, ../sass/style.scss */
section.head-section .advantage-block .advantage-icon.icon-2 {
  margin-top: -3px;
}
/* line 501, ../sass/style.scss */
section.head-section .advantage-block .advantage-icon.icon-3 {
  margin-top: -2px;
}
/* line 506, ../sass/style.scss */
section.head-section .advantage-block li + li {
  border-color: #ff956b;
}
/* line 511, ../sass/style.scss */
section.head-section .head-section-content {
  padding-top: 196px;
}
/* line 514, ../sass/style.scss */
section.head-section .head-text-desc {
  line-height: 38px;
  font-size: 25px;
  margin: 0;
}
/* line 518, ../sass/style.scss */
section.head-section .head-text-desc strong {
  font-weight: 800;
}
/* line 522, ../sass/style.scss */
section.head-section .btn {
  padding: 0 44px;
  margin: 43px 0 0 1px;
}
/* line 528, ../sass/style.scss */
section.arguments-section .arguments-list {
  background-color: #0131ff;
  color: #fff;
  padding: 58px 0 59px;
}
/* line 533, ../sass/style.scss */
section.arguments-section .advantage-block {
  margin-top: 25px;
}
/* line 535, ../sass/style.scss */
section.arguments-section .advantage-block .advantage-icon {
  margin: -7px;
  vertical-align: top;
}
/* line 540, ../sass/style.scss */
section.arguments-section .advantage-block li + li {
  border-color: #6f8aff;
}
/* line 546, ../sass/style.scss */
section.offer-section {
  padding: 80px 0;
}
/* line 548, ../sass/style.scss */
section.offer-section .image-container {
  float: left;
  width: 50%;
}
/* line 551, ../sass/style.scss */
section.offer-section .image-container img {
  vertical-align: top;
}
/* line 555, ../sass/style.scss */
section.offer-section .text-container {
  margin-left: 50%;
  padding: 50px 0 0 84px;
}
/* line 558, ../sass/style.scss */
section.offer-section .text-container p {
  font-size: 25px;
  margin: 31px -4px 49px 0;
  line-height: 37px;
}
/* line 563, ../sass/style.scss */
section.offer-section .text-container .btn {
  padding-left: 45px;
  padding-right: 45px;
}
/* line 569, ../sass/style.scss */
section.solutions-section {
  background-color: #f5f5f5;
  padding-top: 58px;
}
/* line 572, ../sass/style.scss */
section.solutions-section h3 {
  font-size: 49px;
}
/* line 575, ../sass/style.scss */
section.solutions-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 580, ../sass/style.scss */
section.solutions-section li {
  padding: 0;
  margin: 0;
  display: block;
}
/* line 585, ../sass/style.scss */
section.solutions-section .head-solution-item {
  height: 223px;
  position: relative;
}
/* line 588, ../sass/style.scss */
section.solutions-section .head-solution-item img {
  width: 100%;
  min-height: 100%;
  vertical-align: top;
}
/* line 594, ../sass/style.scss */
section.solutions-section .solution-price {
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 117px;
  left: 39px;
  text-align: left;
}
/* line 601, ../sass/style.scss */
section.solutions-section .solution-price h4 {
  font-size: 20px;
  margin: 0;
}
/* line 605, ../sass/style.scss */
section.solutions-section .solution-price span {
  font-size: 40px;
  font-weight: 200;
  line-height: 58px;
  text-indent: -0.04em;
  display: block;
}
/* line 613, ../sass/style.scss */
section.solutions-section .categories-solutions-list {
  margin-top: 52px;
  color: #5e5e5e;
  padding-bottom: 118px;
}
/* line 617, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-item {
  float: left;
  width: 33.333%;
}
/* line 620, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-item li {
  background: url(images/arrow-down.png) 38px center no-repeat;
}
/* line 622, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-item li:nth-child(even) {
  background-color: #f3f6ff;
}
/* line 626, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-item b {
  color: #0131ff;
}
/* line 629, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-item.solution-item-1, section.solutions-section .categories-solutions-list .categories-solutions-item.solution-item-3 {
  padding-top: 20px;
}
/* line 633, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-item.solution-item-2 .categories-solutions-block {
  margin: 0 auto;
  border: 20px solid #0131ff;
  border-bottom-width: 0;
}
/* line 640, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-item.solution-item-3 .categories-solutions-block {
  float: right;
}
/* line 645, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-block {
  width: 360px;
  padding-bottom: 34px;
  background-color: #fff;
  text-align: center;
  position: relative;
}
/* line 651, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-block .hits-title {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  background-color: #0131ff;
  color: #fff;
  height: 50px;
  margin-top: -51px;
  font-weight: bold;
  margin-right: -20px;
  float: right;
  padding: 0 25px;
  font-size: 17px;
  line-height: 48px;
  position: relative;
  z-index: 1;
}
/* line 666, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-block:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 0;
  width: 0;
  border-width: 30px 180px 0;
  border-style: solid;
  border-color: #fff transparent;
  z-index: 3;
  margin-top: -6px;
}
/* line 679, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-block .grey-arrow {
  height: 6px;
  background-color: #e4e4e4;
  position: absolute;
  top: 100%;
  z-index: 2;
  margin-top: -6px;
}
/* line 686, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-block .grey-arrow:after {
  content: '';
  display: block;
  margin-top: 6px;
  height: 0;
  width: 0;
  border-width: 30px 180px 0;
  border-style: solid;
  border-color: #e4e4e4 transparent;
}
/* line 697, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-block .blue-arrow {
  height: 17px;
  background-color: #0131ff;
  position: absolute;
  top: 100%;
  z-index: 1;
  left: -20px;
  right: -20px;
}
/* line 705, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-block .blue-arrow:after {
  content: '';
  display: block;
  margin-top: 17px;
  height: 0;
  width: 0;
  border-width: 36px 200px 0;
  border-style: solid;
  border-color: #0131ff transparent;
}
/* line 716, ../sass/style.scss */
section.solutions-section .categories-solutions-list .categories-solutions-block .btn {
  margin-top: 8px;
  padding-left: 50px;
  padding-right: 51px;
}
/* line 722, ../sass/style.scss */
section.solutions-section .categories-solutions-list .category-solution-item {
  text-align: left;
}
/* line 724, ../sass/style.scss */
section.solutions-section .categories-solutions-list .category-solution-item a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 20px 0 20px 86px;
  line-height: 26px;
  font-size: 17px;
  position: relative;
}
/* line 732, ../sass/style.scss */
section.solutions-section .categories-solutions-list .category-solution-item a .quest-text {
  display: none;
  position: absolute;
  top: 50%;
}
/* line 736, ../sass/style.scss */
section.solutions-section .categories-solutions-list .category-solution-item a .quest-text span {
  display: block;
  margin-top: -13px;
}
/* line 741, ../sass/style.scss */
section.solutions-section .categories-solutions-list .category-solution-item a:hover {
  background: url(images/quest-icon.png) 38px center no-repeat #0131ff;
  color: #fff;
}
/* line 744, ../sass/style.scss */
section.solutions-section .categories-solutions-list .category-solution-item a:hover .quest-text {
  display: block;
}
/* line 747, ../sass/style.scss */
section.solutions-section .categories-solutions-list .category-solution-item a:hover .title-item-text {
  visibility: hidden;
}
/* line 755, ../sass/style.scss */
section.answers-section {
  padding: 58px 0;
}
/* line 757, ../sass/style.scss */
section.answers-section .answers-section-title {
  float: left;
  width: 23%;
}
/* line 760, ../sass/style.scss */
section.answers-section .answers-section-title .blue-block {
  margin-top: 38px;
  padding-top: 28px;
  padding-bottom: 32px;
}
/* line 765, ../sass/style.scss */
section.answers-section .answers-section-title p {
  margin: 0 35px;
  font-size: 25px;
  line-height: 38px;
}
/* line 771, ../sass/style.scss */
section.answers-section .answers-list {
  margin: 0;
  float: right;
  width: 77%;
  list-style-type: none;
  padding: 0;
}
/* line 777, ../sass/style.scss */
section.answers-section .answers-list .answer-item-text {
  padding-left: 70px;
}
/* line 780, ../sass/style.scss */
section.answers-section .answers-list .img-container {
  height: 290px;
  line-height: 289px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
/* line 786, ../sass/style.scss */
section.answers-section .answers-list .img-container:after {
  content: counter(answer-item);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: #e9f0fa;
  font-size: 288px;
  font-weight: bold;
  line-height: 240px;
  margin-left: -10px;
}
/* line 798, ../sass/style.scss */
section.answers-section .answers-list .img-container img {
  vertical-align: middle;
  position: relative;
  z-index: 2;
}
/* line 804, ../sass/style.scss */
section.answers-section .answers-list h4 {
  font-size: 20px;
  margin: 0;
}
/* line 808, ../sass/style.scss */
section.answers-section .answers-list p {
  margin: 4px 0;
  line-height: 25px;
}
/* line 812, ../sass/style.scss */
section.answers-section .answers-list li {
  float: left;
  width: 390px;
  margin-bottom: 8px;
  margin-left: 72px;
  vertical-align: top;
  counter-increment: answer-item;
}
/* line 819, ../sass/style.scss */
section.answers-section .answers-list li:nth-child(odd) {
  clear: both;
}
/* line 825, ../sass/style.scss */
section.portfolio-section {
  padding: 60px 0 80px;
  background-color: #f5f5f5;
  text-align: center;
}
/* line 829, ../sass/style.scss */
section.portfolio-section .filters-btns {
  padding: 21px 0;
}
/* line 831, ../sass/style.scss */
section.portfolio-section .filters-btns .radio-btn {
  float: left;
  margin: 0 13px 10px 0;
}
/* line 836, ../sass/style.scss */
section.portfolio-section .portfolio-list {
  margin: 0 -15px;
  padding: 32px 0 50px;
}
/* line 839, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container {
  float: left;
  margin: 13px 15px;
  overflow: hidden;
  height: 288px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
/* line 847, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container .mask-portfolio {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 49, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  line-height: 288px;
  padding: 0 20px;
  text-align: center;
}
/* line 860, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container .mask-portfolio .mask-portfolio-desc {
  vertical-align: middle;
  display: inline-block;
  line-height: 30px;
}
/* line 865, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container .mask-portfolio .mask-portfolio-title, section.portfolio-section .portfolio-list .image-container .mask-portfolio .mask-portfolio-text {
  display: block;
}
/* line 868, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container .mask-portfolio .mask-portfolio-title {
  font-size: 25px;
}
/* line 871, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container .mask-portfolio .mask-portfolio-text {
  font-size: 17px;
}
/* line 876, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container:hover .mask-portfolio {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 880, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container.size-1 {
  width: 380px;
  margin-right: 14px;
}
/* line 884, ../sass/style.scss */
section.portfolio-section .portfolio-list .image-container.size-2 {
  width: 787px;
}
/* line 888, ../sass/style.scss */
section.portfolio-section .portfolio-list img {
  vertical-align: top;
  width: 100%;
}
/* line 892, ../sass/style.scss */
section.portfolio-section .portfolio-list:after {
  content: '';
  clear: both;
  display: block;
}
/* line 899, ../sass/style.scss */
section.clients-section {
  padding-top: 57px;
}
/* line 901, ../sass/style.scss */
section.clients-section .slider-container {
  padding-top: 10px;
}
/* line 905, ../sass/style.scss */
section.reviews-section {
  background-color: #f5f5f5;
  padding: 57px 0 107px;
}
/* line 908, ../sass/style.scss */
section.reviews-section .btn {
  padding: 0 55px;
}
/* line 912, ../sass/style.scss */
section.reviews-section .reviews-list {
  list-style-type: none;
  margin: 0;
  padding: 52px 0 30px;
  color: #373737;
}
/* line 917, ../sass/style.scss */
section.reviews-section .reviews-list .review-item {
  position: relative;
  counter-increment: review-item;
  left: -100%;
  -moz-transition: left 0.35s ease-out;
  -o-transition: left 0.35s ease-out;
  -webkit-transition: left 0.35s ease-out;
  transition: left 0.35s ease-out;
}
/* line 922, ../sass/style.scss */
section.reviews-section .reviews-list .review-item:nth-child(even) {
  left: 100%;
}
/* line 924, ../sass/style.scss */
section.reviews-section .reviews-list .review-item:nth-child(even) .blue-block {
  left: 50%;
  right: 0;
  margin-left: -600px;
  margin-right: auto;
}
/* line 930, ../sass/style.scss */
section.reviews-section .reviews-list .review-item:nth-child(even) .macbook-desk-blik {
  background-position: left top;
  background-image: url(images/lighting-2.png);
}
/* line 935, ../sass/style.scss */
section.reviews-section .reviews-list .review-item + .review-item {
  margin-top: 52px;
}
/* line 938, ../sass/style.scss */
section.reviews-section .reviews-list .review-item.inscroll {
  left: 0;
}
/* line 942, ../sass/style.scss */
section.reviews-section .reviews-list .left-block-review {
  float: left;
  width: 49%;
  position: relative;
}
/* line 947, ../sass/style.scss */
section.reviews-section .reviews-list .right-block-review {
  float: right;
  width: 51%;
}
/* line 951, ../sass/style.scss */
section.reviews-section .reviews-list .title-line-review {
  color: #fff;
  position: relative;
  margin-bottom: 75px;
}
/* line 955, ../sass/style.scss */
section.reviews-section .reviews-list .title-line-review .company-review {
  font-size: 25px;
  margin: 0 0 11px;
}
/* line 959, ../sass/style.scss */
section.reviews-section .reviews-list .title-line-review .desc-review {
  font-size: 17px;
  line-height: 27px;
}
/* line 963, ../sass/style.scss */
section.reviews-section .reviews-list .title-line-review .center-content {
  position: relative;
  z-index: 2;
}
/* line 967, ../sass/style.scss */
section.reviews-section .reviews-list .title-line-review .blue-block {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 50%;
  margin-right: -600px;
  top: 0;
}
/* line 975, ../sass/style.scss */
section.reviews-section .reviews-list .title-line-review .right-block-review {
  padding-top: 23px;
  padding-bottom: 75px;
  position: relative;
}
/* line 979, ../sass/style.scss */
section.reviews-section .reviews-list .title-line-review .right-block-review:after {
  content: counter(review-item);
  position: absolute;
  right: 2px;
  top: -117px;
  color: #e9f0fa;
  font-size: 271px;
  font-weight: bold;
}
/* line 991, ../sass/style.scss */
section.reviews-section .reviews-list .info-review-block .left-content-review {
  margin-top: -215px;
}
/* line 995, ../sass/style.scss */
section.reviews-section .reviews-list .avatar-review {
  display: block;
  margin-top: 15px;
  margin-bottom: -115px;
}
/* line 1000, ../sass/style.scss */
section.reviews-section .reviews-list .user-name-review {
  font-size: 17px;
}
/* line 1003, ../sass/style.scss */
section.reviews-section .reviews-list .text-review {
  font-size: 17px;
  line-height: 26px;
}
/* line 1006, ../sass/style.scss */
section.reviews-section .reviews-list .text-review p {
  margin: 26px 0;
}
/* line 1011, ../sass/style.scss */
section.reviews-section .left-content-review {
  position: absolute;
  left: 0;
}
/* line 1015, ../sass/style.scss */
section.reviews-section .mackbook {
  width: 513px;
  height: 265px;
  background: url(images/macbook.png) center center no-repeat;
  position: relative;
}
/* line 1021, ../sass/style.scss */
section.reviews-section .mackbook-desk-image {
  width: 380px;
  height: 202px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 66px;
}
/* line 1028, ../sass/style.scss */
section.reviews-section .mackbook-desk-image img {
  width: 100%;
  min-height: 100%;
  display: block;
}
/* line 1034, ../sass/style.scss */
section.reviews-section .macbook-desk-blik {
  position: absolute;
  width: 420px;
  height: 238px;
  right: 46px;
  background: url(images/lighting-1.png) no-repeat right top;
}
/* line 1041, ../sass/style.scss */
section.reviews-section .info-review-block {
  position: relative;
  z-index: 3;
}
/* line 1045, ../sass/style.scss */
section.reviews-section .review-result-list {
  list-style-type: none;
  padding: 0;
  margin: 0 85px 0 0;
  color: #373737;
}
/* line 1051, ../sass/style.scss */
section.reviews-section .review-result-item {
  display: block;
  margin: 0;
  float: left;
  width: 33.333%;
  position: relative;
  padding: 32px 36px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #373737;
}
/* line 1060, ../sass/style.scss */
section.reviews-section .review-result-item .counter {
  font-size: 72px;
  font-weight: 100;
  margin-bottom: 7px;
}
/* line 1064, ../sass/style.scss */
section.reviews-section .review-result-item .counter .grey-circle {
  position: absolute;
  width: 48px;
  height: 48px;
  line-height: 47px;
  text-align: center;
  top: 27px;
  right: -10px;
  font-size: 15px;
  background-color: #eaeaea;
  color: #383838;
  font-weight: 400;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 1079, ../sass/style.scss */
section.reviews-section .review-result-item .legend {
  font-size: 17px;
  display: block;
  line-height: 26px;
  padding-left: 11px;
}
/* line 1087, ../sass/style.scss */
section.callback-section {
  margin-top: -54px;
  padding-bottom: 105px;
}
/* line 1090, ../sass/style.scss */
section.callback-section .callback-form-text {
  margin-left: 50px;
  width: 560px;
}
/* line 1093, ../sass/style.scss */
section.callback-section .callback-form-text h3 {
  line-height: 54px;
}
/* line 1097, ../sass/style.scss */
section.callback-section .callback-form {
  z-index: 3;
  float: left;
  background-color: rgba(1, 49, 255, 0.6);
  white-space: nowrap;
  position: relative;
  margin-top: 34px;
  padding: 35px 52px;
}
/* line 1105, ../sass/style.scss */
section.callback-section .callback-form input, section.callback-section .callback-form button {
  width: 258px;
}
/* line 1108, ../sass/style.scss */
section.callback-section .callback-form input + input {
  margin-left: 23px;
}
/* line 1111, ../sass/style.scss */
section.callback-section .callback-form button {
  margin-left: 46px;
}
/* line 1115, ../sass/style.scss */
section.callback-section .blue-block {
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
/* line 1123, ../sass/style.scss */
section.callback-section .callback-section-block {
  background-color: #fe4c04;
  color: #fff;
  max-width: 1056px;
  padding-top: 46px;
  margin: 0 auto 89px;
  position: relative;
}
/* line 1131, ../sass/style.scss */
section.callback-section .callback-form-desc {
  margin: 13px 0;
  font-size: 17px;
  line-height: 27px;
}
/* line 1136, ../sass/style.scss */
section.callback-section .callback-image {
  width: 869px;
  height: 365px;
  position: absolute;
  top: 54px;
  left: 619px;
  z-index: 2;
}
/* line 1144, ../sass/style.scss */
section.callback-section .scheme-block {
  position: relative;
  width: 1182px;
  margin: 52px auto 0;
  height: 421px;
  background: url(images/scheme.gif) center center no-repeat;
  list-style-type: none;
  padding: 0;
}
/* line 1152, ../sass/style.scss */
section.callback-section .scheme-block .black-icon {
  float: left;
  margin-left: -32px;
}
/* line 1156, ../sass/style.scss */
section.callback-section .scheme-block p {
  margin: 0;
}
/* line 1159, ../sass/style.scss */
section.callback-section .scheme-block li {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 17px;
  line-height: 26px;
}
/* line 1166, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item {
  padding-left: 60px;
}
/* line 1169, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item-1 {
  left: 153px;
  top: 63px;
}
/* line 1173, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item-2 {
  left: 455px;
  top: 63px;
}
/* line 1177, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item-3 {
  left: 760px;
  top: 63px;
}
/* line 1181, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item-4 {
  left: 153px;
  top: 260px;
}
/* line 1185, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item-5 {
  left: 455px;
  top: 260px;
  padding-left: 70px;
}
/* line 1189, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item-5 .black-icon {
  margin: 2px 0 0 -42px;
}
/* line 1193, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item-6 {
  left: 760px;
  top: 260px;
  padding-left: 77px;
}
/* line 1197, ../sass/style.scss */
section.callback-section .scheme-block li.scheme-item-6 .black-icon {
  margin: 2px 0 0 -49px;
}
/* line 1201, ../sass/style.scss */
section.callback-section .scheme-block li.button-item {
  top: 396px;
  left: 260px;
}
/* line 1204, ../sass/style.scss */
section.callback-section .scheme-block li.button-item .btn {
  padding: 0 47px;
}
/* line 1211, ../sass/style.scss */
section.about-section {
  padding-top: 57px;
  padding-bottom: 68px;
}
/* line 1214, ../sass/style.scss */
section.about-section .about-right-block {
  width: 32%;
  float: right;
}
/* line 1218, ../sass/style.scss */
section.about-section .about-left-block {
  margin-right: 32%;
}
/* line 1220, ../sass/style.scss */
section.about-section .about-left-block .btn {
  margin-top: 39px;
  padding: 0 54px;
}
/* line 1225, ../sass/style.scss */
section.about-section .about-text {
  margin-top: 53px;
  padding-left: 167px;
  font-size: 17px;
  padding-top: 3px;
  line-height: 26px;
}
/* line 1231, ../sass/style.scss */
section.about-section .about-text p {
  margin: 23px 0;
}
/* line 1235, ../sass/style.scss */
section.about-section .logotype-about {
  float: left;
  margin-left: -167px;
  margin-top: -3px;
}
/* line 1240, ../sass/style.scss */
section.about-section .team-list {
  list-style-type: none;
  padding: 53px 0 0;
  margin: 0 -4px 0 3px;
}
/* line 1244, ../sass/style.scss */
section.about-section .team-list li {
  float: left;
  display: block;
  width: 33.33%;
  margin-bottom: 12px;
}
/* line 1250, ../sass/style.scss */
section.about-section .team-list a {
  display: block;
  position: relative;
  width: 115px;
  height: 115px;
}
/* line 1256, ../sass/style.scss */
section.about-section .team-list a:hover .mask-team-avatar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 1261, ../sass/style.scss */
section.about-section .team-list .mask-team-avatar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 49, 255, 0.6);
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
/* line 1270, ../sass/style.scss */
section.about-section .team-list img {
  display: block;
}

/* line 1276, ../sass/style.scss */
footer {
  background-color: #f9f9f9;
  padding: 25px 0;
}
/* line 1279, ../sass/style.scss */
footer .left-footer-block {
  color: #555555;
  line-height: 26px;
  float: left;
  white-space: nowrap;
}
/* line 1284, ../sass/style.scss */
footer .left-footer-block p {
  margin: 0;
}
/* line 1288, ../sass/style.scss */
footer .right-footer-block {
  float: right;
  white-space: nowrap;
  color: #2a2a2a;
  padding: 41px 0;
  font-size: 18px;
}
/* line 1296, ../sass/style.scss */
footer .right-block-item + .right-block-item {
  margin-left: 34px;
}
/* line 1299, ../sass/style.scss */
footer .right-block-item .black-icon {
  margin-right: 5px;
  margin-top: -2px;
}

/* Sections END */
/* line 1306, ../sass/style.scss */
.blue-block {
  background-color: #0131ff;
  color: #fff;
}

/* line 72, slider/*.png */
.paging-button {
  background-image: url('images/sprites/slider-s96a744015a.png');
  background-repeat: no-repeat;
}

/* line 56, slide-icons/*.png */
.slide-icon {
  background-image: url('images/sprites/slide-icons-sc5f8d7afbc.png');
  background-repeat: no-repeat;
}

/* line 1319, ../sass/style.scss */
.slide-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
}
/* line 1324, ../sass/style.scss */
.slide-icon.icon-1 {
  background-position: 0 0;
}
/* line 1327, ../sass/style.scss */
.slide-icon.icon-2 {
  background-position: 0 -51px;
  margin-left: -80px;
  margin-right: 20px;
}

/* line 1333, ../sass/style.scss */
.slide-block {
  display: inline-block;
  line-height: 100px;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  font-size: 17px;
}
/* line 1340, ../sass/style.scss */
.slide-block.slide-block-logo {
  width: 25%;
}
/* line 1342, ../sass/style.scss */
.slide-block.slide-block-logo img {
  vertical-align: middle;
}
/* line 1346, ../sass/style.scss */
.slide-block.slide-block-with-icon {
  width: 34%;
  padding-left: 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1351, ../sass/style.scss */
.slide-block .text-slide {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  line-height: 25px;
  margin: 0;
}

/* line 1359, ../sass/style.scss */
.client-slide-item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 48px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
/* line 1365, ../sass/style.scss */
.client-slide-item:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 1370, ../sass/style.scss */
.slider-container {
  margin-top: 20px;
  margin-bottom: 48px;
  position: relative;
}
/* line 1374, ../sass/style.scss */
.slider-container .slide-block {
  display: inline-block;
  vertical-align: middle;
}
/* line 1378, ../sass/style.scss */
.slider-container .slider-list {
  overflow: hidden;
  margin: 0 70px;
  padding: 19px 0 32px;
}
/* line 1382, ../sass/style.scss */
.slider-container .slider-list .slider-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 1000%;
  position: relative;
  left: 0;
  -moz-transition: left 0.2s linear;
  -o-transition: left 0.2s linear;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
}
/* line 1391, ../sass/style.scss */
.slider-container .slider-list .slider-item {
  float: left;
  width: 100%;
  text-align: justify;
}
/* line 1397, ../sass/style.scss */
.slider-container .paging-button {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  margin-top: -24px;
  cursor: pointer;
}
/* line 1404, ../sass/style.scss */
.slider-container .paging-button.prev-button {
  left: 0;
  background-position: 0 -156px;
}
/* line 1407, ../sass/style.scss */
.slider-container .paging-button.prev-button:hover {
  background-position: 0 -104px;
}
/* line 1411, ../sass/style.scss */
.slider-container .paging-button.next-button {
  right: 0;
  background-position: 0 -52px;
}
/* line 1414, ../sass/style.scss */
.slider-container .paging-button.next-button:hover {
  background-position: 0 0;
}

/* line 1420, ../sass/style.scss */
.bull-separate {
  color: #0131ff;
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;
  font-size: 0.8em;
}

/* line 1427, ../sass/style.scss */
.social-icon {
  background: url(images/social-icons.png) no-repeat;
  display: inline-block;
  vertical-align: inherit;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 15px 0 0;
}
/* line 1435, ../sass/style.scss */
.social-icon.vkontakte {
  background-position: -124px 0;
}
/* line 1438, ../sass/style.scss */
.social-icon.facebook {
  background-position: -0px 0;
}
/* line 1441, ../sass/style.scss */
.social-icon.twitter {
  background-position: -31px 0;
}
/* line 1444, ../sass/style.scss */
.social-icon.blogger {
  background-position: -434px 0;
}

/* line 1449, ../sass/style.scss */
.popup-mask {
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(1, 49, 255, 0.6);
}

/* line 1458, ../sass/style.scss */
.popup-window {
  position: fixed;
  top: 150px;
  left: 50%;
  background-color: #fff;
  width: 336px;
  margin-left: -168px;
  padding: 15px 0;
  z-index: 7;
  display: none;
}
/* line 1468, ../sass/style.scss */
.popup-window .form-modal-title {
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}
/* line 1475, ../sass/style.scss */
.popup-window .popup-window-content {
  margin: 0 15px;
  position: relative;
  padding: 24px;
}
/* line 1479, ../sass/style.scss */
.popup-window .popup-window-content textarea {
  height: 116px;
}
/* line 1482, ../sass/style.scss */
.popup-window .popup-window-content textarea, .popup-window .popup-window-content input {
  border-color: #e0e0e0;
  color: #323232;
  font-size: 17px;
}
/* line 1486, ../sass/style.scss */
.popup-window .popup-window-content textarea:-ms-input-placeholder, .popup-window .popup-window-content input:-ms-input-placeholder {
  color: #323232;
}
/* line 1489, ../sass/style.scss */
.popup-window .popup-window-content textarea::-webkit-input-placeholder, .popup-window .popup-window-content input::-webkit-input-placeholder {
  color: #323232;
}
/* line 1492, ../sass/style.scss */
.popup-window .popup-window-content textarea:-moz-placeholder, .popup-window .popup-window-content input:-moz-placeholder {
  color: #323232;
}
/* line 1495, ../sass/style.scss */
.popup-window .popup-window-content textarea:focus:-ms-input-placeholder, .popup-window .popup-window-content input:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 1498, ../sass/style.scss */
.popup-window .popup-window-content textarea:focus::-webkit-input-placeholder, .popup-window .popup-window-content input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 1501, ../sass/style.scss */
.popup-window .popup-window-content textarea:focus:-moz-placeholder, .popup-window .popup-window-content input:focus:-moz-placeholder {
  color: transparent;
}
/* line 1505, ../sass/style.scss */
.popup-window .popup-window-content textarea, .popup-window .popup-window-content input, .popup-window .popup-window-content button {
  width: 100%;
}
/* line 1509, ../sass/style.scss */
.popup-window .popup-window-content .row-field + .row-field {
  margin-top: 15px;
}
/* line 1513, ../sass/style.scss */
.popup-window .popup-window-content .close-popup {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 17px;
  height: 17px;
  background-image: url(images/close-popup.gif);
}
/* line 1522, ../sass/style.scss */
.popup-window .popup-window-content.with-border {
  border: 5px solid #e0e0e0;
  padding: 19px;
}
/* line 1526, ../sass/style.scss */
.popup-window .popup-window-content .title-thanks {
  font-size: 25px;
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 1532, ../sass/style.scss */
.popup-window .popup-window-content .title-thanks:after, .popup-window .popup-window-content .title-thanks:before {
  content: '';
  background-color: #0131ff;
  width: 74px;
  height: 5px;
  margin: 0 auto;
  display: block;
}
/* line 1540, ../sass/style.scss */
.popup-window .popup-window-content .title-thanks:after {
  margin-bottom: -5px;
  margin-top: 20px;
}
/* line 1544, ../sass/style.scss */
.popup-window .popup-window-content .title-thanks:before {
  margin-top: -5px;
  margin-bottom: 20px;
}
/* line 1549, ../sass/style.scss */
.popup-window .popup-window-content .desc-thanks {
  margin: 20px 0;
  font-size: 17px;
  text-align: center;
}
