@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url("../fonts/liberationsansnarrow-bold-webfont.eot");
  src: url("../fonts/liberationsansnarrow-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/liberationsansnarrow-bold-webfont.woff2") format("woff2"), url("../fonts/liberationsansnarrow-bold-webfont.woff") format("woff"), url("../fonts/liberationsansnarrow-bold-webfont.ttf") format("truetype"), url("../fonts/liberationsansnarrow-bold-webfont.svg#liberation_sans_narrowbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url("../fonts/liberationsansnarrow-bolditalic-webfont.eot");
  src: url("../fonts/liberationsansnarrow-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/liberationsansnarrow-bolditalic-webfont.woff2") format("woff2"), url("../fonts/liberationsansnarrow-bolditalic-webfont.woff") format("woff"), url("../fonts/liberationsansnarrow-bolditalic-webfont.ttf") format("truetype"), url("../fonts/liberationsansnarrow-bolditalic-webfont.svg#liberation_sans_narrowBdIt") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url("../fonts/liberationsansnarrow-italic-webfont.eot");
  src: url("../fonts/liberationsansnarrow-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/liberationsansnarrow-italic-webfont.woff2") format("woff2"), url("../fonts/liberationsansnarrow-italic-webfont.woff") format("woff"), url("../fonts/liberationsansnarrow-italic-webfont.ttf") format("truetype"), url("../fonts/liberationsansnarrow-italic-webfont.svg#liberation_sans_narrowitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url("../fonts/liberationsansnarrow-regular-webfont.eot");
  src: url("../fonts/liberationsansnarrow-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/liberationsansnarrow-regular-webfont.woff2") format("woff2"), url("../fonts/liberationsansnarrow-regular-webfont.woff") format("woff"), url("../fonts/liberationsansnarrow-regular-webfont.ttf") format("truetype"), url("../fonts/liberationsansnarrow-regular-webfont.svg#liberation_sans_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 47, ../sass/style.scss */
body {
  padding: 0;
  position: relative;
  font: 15px 'Liberation Sans Narrow', Arial, Tahoma, Verdana, sans-serif;
  min-width: 1000px;
  margin: 0 auto;
  color: #333;
}

/* line 56, ../sass/style.scss */
input[type="text"], input:not([type]) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #cccccc;
  background-color: #fff;
  text-align: center;
  height: 34px;
  line-height: 26px;
  padding: 4px 0;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 20px;
}
/* line 68, ../sass/style.scss */
input[type="text"]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder {
  color: #FFCCCC;
}
/* line 71, ../sass/style.scss */
input[type="text"]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder {
  color: #FFCCCC;
}
/* line 74, ../sass/style.scss */
input[type="text"]:-moz-placeholder, input:not([type]):-moz-placeholder {
  color: #FFCCCC;
}
/* line 77, ../sass/style.scss */
input[type="text"]:focus:-ms-input-placeholder, input:not([type]):focus:-ms-input-placeholder {
  color: transparent;
}
/* line 80, ../sass/style.scss */
input[type="text"]:focus::-webkit-input-placeholder, input:not([type]):focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 83, ../sass/style.scss */
input[type="text"]:focus:-moz-placeholder, input:not([type]):focus:-moz-placeholder {
  color: transparent;
}

/* line 89, ../sass/style.scss */
.float-left {
  float: left;
}

/* line 92, ../sass/style.scss */
.float-right {
  float: right;
}

/* line 95, ../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 98, ../sass/style.scss */
.text-right {
  text-align: right;
}

/* line 101, ../sass/style.scss */
.text-left {
  text-align: left;
}

/* line 104, ../sass/style.scss */
.clear-both {
  clear: both;
}

/* line 107, ../sass/style.scss */
.bold-text {
  font-weight: bold;
}

/* line 111, ../sass/style.scss */
a img {
  border: 0 none;
}

/* line 115, ../sass/style.scss */
.center-content {
  width: 980px;
  margin: 0 auto;
}

/* line 119, ../sass/style.scss */
.clearfix {
  clear: both;
}
/* line 121, ../sass/style.scss */
.clearfix:after, .clearfix:before {
  content: '';
  display: table;
  clear: both;
}

/* line 127, ../sass/style.scss */
.logotype {
  display: block;
  margin-left: 17px;
  margin-top: 18px;
}
/* line 131, ../sass/style.scss */
.logotype img {
  width: 332px;
  height: 165px;
}

/* line 136, ../sass/style.scss */
header {
  background: url(images/header-bg.jpg) center top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 36px;
}
/* line 140, ../sass/style.scss */
header .contacts-block {
  color: #fff;
  font-size: 27px;
  margin: 44px 6px auto auto;
  overflow: visible;
  width: 261px;
  white-space: nowrap;
}
/* line 147, ../sass/style.scss */
header .contacts-block .phone-number {
  overflow: visible;
  font-size: 41px;
  line-height: 0.95em;
}
/* line 152, ../sass/style.scss */
header .contacts-block small {
  font-size: 16px;
  margin-left: 1px;
  margin-top: 7px;
  display: block;
}
/* line 158, ../sass/style.scss */
header .contacts-block .btn {
  width: 255px;
  vertical-align: top;
  margin-top: 2px;
  margin-left: -1px;
}
/* line 165, ../sass/style.scss */
header .short-header-text {
  color: #fff;
  padding-top: 70px;
  font-size: 20px;
  margin: 0 298px 0 373px;
  text-align: center;
  line-height: 1.15em;
}
/* line 173, ../sass/style.scss */
header .callback-form {
  background-color: #fff;
  width: 368px;
  margin: 35px auto auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  padding: 16px 0 10px;
  color: #333333;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}
/* line 182, ../sass/style.scss */
header .callback-form .head-form {
  color: #c53d37;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
/* line 188, ../sass/style.scss */
header .callback-form .head-form, header .callback-form .content-form {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 192, ../sass/style.scss */
header .callback-form .enter-number-text {
  font-size: 16px;
  margin-top: 13px;
}
/* line 196, ../sass/style.scss */
header .callback-form .desc-callback-form {
  font-size: 16px;
  white-space: nowrap;
}
/* line 200, ../sass/style.scss */
header .callback-form input {
  width: 100%;
  margin: 2px 0;
}
/* line 204, ../sass/style.scss */
header .callback-form .btn {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 3px;
}

/* line 211, ../sass/style.scss */
h1 {
  text-align: center;
  font-size: 38px;
  padding-top: 16px;
  line-height: 1em;
  padding-bottom: 16px;
  margin: 142px 17px 0;
}
/* line 218, ../sass/style.scss */
h1 strong {
  font-size: 30px;
  color: #ffcccc;
}

/* line 225, ../sass/style.scss */
.btn-style {
  color: #fff;
  font-weight: bold;
  border: 1px solid #930000;
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 -1px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 -1px 1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 -1px 1px rgba(0, 0, 0, 0.7);
}

/* line 231, ../sass/style.scss */
.btn {
  text-decoration: none;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  height: 31px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2MWMxNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyNDk0NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #961c16), color-stop(100%, #e24944));
  background-image: -moz-linear-gradient(bottom, #961c16 0%, #e24944 100%);
  background-image: -webkit-linear-gradient(bottom, #961c16 0%, #e24944 100%);
  background-image: linear-gradient(to top, #961c16 0%, #e24944 100%);
  font-family: inherit;
  cursor: pointer;
}
/* line 243, ../sass/style.scss */
.btn:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxMjAxNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNTE0YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #c12017), color-stop(100%, #ff514c));
  background-image: -moz-linear-gradient(bottom, #c12017 0%, #ff514c 100%);
  background-image: -webkit-linear-gradient(bottom, #c12017 0%, #ff514c 100%);
  background-image: linear-gradient(to top, #c12017 0%, #ff514c 100%);
}
/* line 246, ../sass/style.scss */
.btn.btn-water {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmZGRkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAzODU4NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fdddd), color-stop(100%, #038585));
  background-image: -moz-linear-gradient(top, #4fdddd 0%, #038585 100%);
  background-image: -webkit-linear-gradient(top, #4fdddd 0%, #038585 100%);
  background-image: linear-gradient(to bottom, #4fdddd 0%, #038585 100%);
  border-color: #00bbbb;
}
/* line 249, ../sass/style.scss */
.btn.btn-water:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVhZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAzYjBiMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5affff), color-stop(100%, #03b0b0));
  background-image: -moz-linear-gradient(top, #5affff 0%, #03b0b0 100%);
  background-image: -webkit-linear-gradient(top, #5affff 0%, #03b0b0 100%);
  background-image: linear-gradient(to bottom, #5affff 0%, #03b0b0 100%);
}
/* line 253, ../sass/style.scss */
.btn.btn-big {
  font-size: 28px;
  font-family: inherit;
  line-height: 40px;
  height: auto;
  padding: 0 14px 2px;
}

/* line 261, ../sass/style.scss */
.btn-style-text {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NGI0NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk1MWExNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e64b46), color-stop(100%, #951a14));
  background-image: -moz-linear-gradient(top, #e64b46 0%, #951a14 100%);
  background-image: -webkit-linear-gradient(top, #e64b46 0%, #951a14 100%);
  background-image: linear-gradient(to bottom, #e64b46 0%, #951a14 100%);
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

/* line 266, ../sass/style.scss */
.main-menu {
  text-align: center;
  background-color: #212121;
  line-height: 30px;
  padding: 17px 0;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  width: 100%;
}
/* line 277, ../sass/style.scss */
.main-menu.fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  background-color: rgba(33, 33, 33, 0.95);
}
/* line 286, ../sass/style.scss */
.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 291, ../sass/style.scss */
.main-menu li {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px 0 21px;
}
/* line 296, ../sass/style.scss */
.main-menu a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid;
  vertical-align: top;
  display: inline-block;
  line-height: 23px;
}
/* line 303, ../sass/style.scss */
.main-menu a:hover {
  border-bottom-width: 0;
}
/* line 306, ../sass/style.scss */
.main-menu a.active {
  border-bottom-width: 0;
  color: #9FFFFF;
}

/* line 314, ../sass/style.scss */
section h2 {
  color: #991c16;
  margin: 0;
  padding-top: 25px;
  font-size: 48px;
}
/* line 320, ../sass/style.scss */
section .desc-section {
  color: #098c8f;
  font-weight: normal;
  display: block;
  font-size: 30px;
  margin-top: 8px;
}
/* line 327, ../sass/style.scss */
section h2, section .desc-section {
  text-align: center;
}
/* line 330, ../sass/style.scss */
section.first-section {
  padding-bottom: 20px;
  margin-top: 64px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QxZjdmNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d1f7f7));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d1f7f7 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #d1f7f7 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #d1f7f7 100%);
}
/* line 334, ../sass/style.scss */
section.first-section .callback-form {
  color: #333;
  background-color: #ebfcfc;
  padding-top: 25px;
  padding-bottom: 35px;
}
/* line 339, ../sass/style.scss */
section.first-section .callback-form form {
  margin: 0 92px;
  padding-top: 30px;
}
/* line 343, ../sass/style.scss */
section.first-section .callback-form .desc-section {
  margin-top: 0;
}
/* line 346, ../sass/style.scss */
section.first-section .callback-form .form-col {
  float: left;
  width: 195px;
}
/* line 349, ../sass/style.scss */
section.first-section .callback-form .form-col + .form-col {
  margin-left: 52px;
  width: 220px;
}
/* line 352, ../sass/style.scss */
section.first-section .callback-form .form-col + .form-col input {
  width: 207px;
}
/* line 357, ../sass/style.scss */
section.first-section .callback-form .submit-button-container {
  float: right;
  padding-top: 31px;
}
/* line 360, ../sass/style.scss */
section.first-section .callback-form .submit-button-container .btn {
  margin-bottom: 5px;
  width: 278px;
  padding-left: 0;
  padding-right: 0;
}
/* line 367, ../sass/style.scss */
section.first-section .callback-form .name-field {
  display: block;
  font-size: 20px;
}
/* line 371, ../sass/style.scss */
section.first-section .callback-form .desc-field {
  display: block;
  font-size: 16px;
  padding-left: 1px;
  padding-top: 8px;
}
/* line 377, ../sass/style.scss */
section.first-section .callback-form input {
  margin: 11px 0;
  width: 100%;
}
/* line 383, ../sass/style.scss */
section.services-section {
  text-align: center;
  padding-bottom: 49px;
}
/* line 386, ../sass/style.scss */
section.services-section .services-list {
  padding: 59px 0;
}
/* line 388, ../sass/style.scss */
section.services-section .services-list .btn {
  padding-bottom: 4px;
}
/* line 390, ../sass/style.scss */
section.services-section .services-list .btn + .btn {
  margin-left: 34px;
}
/* line 395, ../sass/style.scss */
section.services-section .title-services-btn {
  font-size: 24px;
  line-height: 42px;
}
/* line 399, ../sass/style.scss */
section.services-section .services-main-button {
  margin-top: 14px;
  margin-bottom: 21px;
}
/* line 403, ../sass/style.scss */
section.services-section .desc-services-btn {
  font-size: 16px;
}
/* line 407, ../sass/style.scss */
section.advantages-section {
  background-color: #333;
}
/* line 409, ../sass/style.scss */
section.advantages-section h2 {
  color: #fff;
}
/* line 412, ../sass/style.scss */
section.advantages-section .desc-section {
  color: #999;
}
/* line 415, ../sass/style.scss */
section.advantages-section .advantages-list {
  list-style-type: none;
  padding: 47px 0 68px;
  margin: 0 140px;
  color: #fff;
  font-size: 24px;
}
/* line 421, ../sass/style.scss */
section.advantages-section .advantages-list li {
  display: block;
}
/* line 423, ../sass/style.scss */
section.advantages-section .advantages-list li:nth-child(odd) {
  text-align: left;
}
/* line 425, ../sass/style.scss */
section.advantages-section .advantages-list li:nth-child(odd) img {
  float: left;
}
/* line 429, ../sass/style.scss */
section.advantages-section .advantages-list li:nth-child(even) {
  text-align: right;
}
/* line 431, ../sass/style.scss */
section.advantages-section .advantages-list li:nth-child(even) img {
  float: right;
}
/* line 435, ../sass/style.scss */
section.advantages-section .advantages-list li.advantages-item-1 {
  line-height: 139px;
}
/* line 437, ../sass/style.scss */
section.advantages-section .advantages-list li.advantages-item-1 img {
  margin-left: 13px;
  margin-right: 10px;
  line-height: 139px;
}
/* line 443, ../sass/style.scss */
section.advantages-section .advantages-list li.advantages-item-2 {
  line-height: 164px;
}
/* line 445, ../sass/style.scss */
section.advantages-section .advantages-list li.advantages-item-2 img {
  margin-left: 55px;
  margin-right: -10px;
}
/* line 450, ../sass/style.scss */
section.advantages-section .advantages-list li.advantages-item-3 {
  line-height: 118px;
}
/* line 452, ../sass/style.scss */
section.advantages-section .advantages-list li.advantages-item-3 img {
  margin-left: 59px;
  margin-right: 46px;
  margin-top: -17px;
}
/* line 458, ../sass/style.scss */
section.advantages-section .advantages-list li.advantages-item-4 {
  line-height: 99px;
}
/* line 460, ../sass/style.scss */
section.advantages-section .advantages-list li.advantages-item-4 img {
  margin-left: 44px;
  margin-right: -15px;
  margin-top: -21px;
}
/* line 467, ../sass/style.scss */
section.advantages-section .advantages-list .text-advantage {
  display: inline-block;
  line-height: 29px;
  vertical-align: middle;
}
/* line 471, ../sass/style.scss */
section.advantages-section .advantages-list .text-advantage span {
  display: block;
  color: #999999;
}
/* line 477, ../sass/style.scss */
section.advantages-section .video-block {
  background-color: #212121;
  color: #fff;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 73px;
}
/* line 483, ../sass/style.scss */
section.advantages-section .video-block h3 {
  font-size: 40px;
  margin: 0;
}
/* line 487, ../sass/style.scss */
section.advantages-section .video-block .video-container {
  width: 854px;
  height: 480px;
  background-color: #000;
  margin: 48px auto 29px;
}
/* line 492, ../sass/style.scss */
section.advantages-section .video-block .video-container iframe {
  width: 100% !important;
  height: 100% !important;
}
/* line 497, ../sass/style.scss */
section.advantages-section .video-block .video-description {
  text-align: center;
  font-size: 20px;
  margin: 0 0 34px;
}
/* line 502, ../sass/style.scss */
section.advantages-section .video-block .btn {
  line-height: 46px;
}
/* line 507, ../sass/style.scss */
section.clients-section {
  text-align: center;
  padding-bottom: 38px;
}
/* line 510, ../sass/style.scss */
section.clients-section h2 {
  color: #585858;
}
/* line 513, ../sass/style.scss */
section.clients-section .desc-section {
  color: #991c16;
}
/* line 516, ../sass/style.scss */
section.clients-section .clients-list {
  list-style-type: none;
  margin: 0 13px;
  padding: 32px 0 43px;
}
/* line 520, ../sass/style.scss */
section.clients-section .clients-list li {
  display: block;
  float: left;
  width: 25%;
  padding: 11px 0 10px;
}
/* line 526, ../sass/style.scss */
section.clients-section .clients-list .content-client-item {
  width: 220px;
  margin: 0 auto;
}
/* line 530, ../sass/style.scss */
section.clients-section .clients-list .btn {
  width: 170px;
  height: 36px;
  line-height: 32px;
}
/* line 535, ../sass/style.scss */
section.clients-section .clients-list .name-organisation {
  font-size: 18px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  width: 100%;
}
/* line 543, ../sass/style.scss */
section.clients-section .logo-container {
  width: 170px;
  height: 90px;
  line-height: 90px;
  margin: 0 auto 7px;
}
/* line 548, ../sass/style.scss */
section.clients-section .logo-container img {
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/* line 555, ../sass/style.scss */
section.certificates-section {
  background-color: #eeeeee;
  text-align: center;
  padding-bottom: 45px;
}
/* line 559, ../sass/style.scss */
section.certificates-section h2 {
  color: #585858;
}
/* line 562, ../sass/style.scss */
section.certificates-section .desc-section {
  color: #991c16;
}
/* line 565, ../sass/style.scss */
section.certificates-section .certificates-list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 33px;
}
/* line 569, ../sass/style.scss */
section.certificates-section .certificates-list li {
  display: inline-block;
  width: 141px;
  height: 196px;
  line-height: 196px;
  margin: 11px 9px;
}
/* line 575, ../sass/style.scss */
section.certificates-section .certificates-list li img {
  width: 100%;
  max-height: 100%;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
/* line 582, ../sass/style.scss */
section.certificates-section .btn.main-button {
  width: 436px;
}
/* line 586, ../sass/style.scss */
section.work-section {
  color: #fff;
  background-color: #00caca;
  text-align: center;
  padding-bottom: 46px;
}
/* line 591, ../sass/style.scss */
section.work-section h2 {
  color: #fff;
}
/* line 594, ../sass/style.scss */
section.work-section .desc-section {
  color: #abffff;
}
/* line 597, ../sass/style.scss */
section.work-section .work-order-list {
  list-style-type: none;
  padding: 60px 0 65px;
  margin: 0 40px;
  font-size: 24px;
  line-height: 30px;
}
/* line 603, ../sass/style.scss */
section.work-section .work-order-list .your-action-text {
  margin: 14px 0 9px;
}
/* line 606, ../sass/style.scss */
section.work-section .work-order-list .manager-action-text {
  color: #abffff;
}
/* line 609, ../sass/style.scss */
section.work-section .work-order-list .your-action-text, section.work-section .work-order-list .manager-action-text {
  position: relative;
  z-index: 0;
}
/* line 613, ../sass/style.scss */
section.work-section .work-order-list .icon-container {
  height: 130px;
  line-height: 130px;
}
/* line 616, ../sass/style.scss */
section.work-section .work-order-list .icon-container img {
  vertical-align: bottom;
}
/* line 620, ../sass/style.scss */
section.work-section .work-order-list li {
  width: 50%;
  position: relative;
  overflow: visible;
}
/* line 624, ../sass/style.scss */
section.work-section .work-order-list li:after {
  position: absolute;
  width: 264px;
  height: 128px;
  content: '';
  display: block;
  background: center center no-repeat;
  bottom: 100%;
  margin-bottom: -34px;
}
/* line 634, ../sass/style.scss */
section.work-section .work-order-list li + li {
  margin-top: 113px;
}
/* line 638, ../sass/style.scss */
section.work-section .work-order-list li:first-child + li {
  margin-top: 192px;
}
/* line 642, ../sass/style.scss */
section.work-section .work-order-list li:nth-child(even) {
  float: right;
}
/* line 645, ../sass/style.scss */
section.work-section .work-order-list li:nth-child(odd) {
  float: left;
}
/* line 650, ../sass/style.scss */
section.work-section .work-order-list li + li:nth-child(even):after {
  background-image: url(images/works-arrow-right.png);
  right: 100%;
  margin-right: -132px;
}
/* line 657, ../sass/style.scss */
section.work-section .work-order-list li + li:nth-child(odd):after {
  background-image: url(images/works-arrow-left.png);
  left: 100%;
  margin-left: -132px;
}
/* line 666, ../sass/style.scss */
section.work-section .title-works-btn {
  font-size: 24px;
  line-height: 42px;
}
/* line 670, ../sass/style.scss */
section.work-section .works-main-button {
  margin-top: 14px;
  margin-bottom: 21px;
}
/* line 674, ../sass/style.scss */
section.work-section .desc-works-btn {
  font-size: 16px;
  color: #abffff;
}
/* line 679, ../sass/style.scss */
section.contacts-section {
  background-color: #212121;
  color: #fff;
}
/* line 682, ../sass/style.scss */
section.contacts-section h3 {
  text-align: center;
  margin: 0;
  font-size: 48px;
  padding: 35px 0;
}
/* line 688, ../sass/style.scss */
section.contacts-section .map-container {
  height: 577px;
  margin-top: 12px;
}
/* line 692, ../sass/style.scss */
section.contacts-section .address-block {
  float: left;
  padding: 27px 0 20px;
}
/* line 695, ../sass/style.scss */
section.contacts-section .address-block .address-block-title {
  font-weight: bold;
  font-size: 26px;
}
/* line 699, ../sass/style.scss */
section.contacts-section .address-block .address-block-text {
  margin-top: 16px;
  font-size: 18px;
  color: #cccccc;
}
/* line 704, ../sass/style.scss */
section.contacts-section .address-block.address {
  width: 37%;
}
/* line 707, ../sass/style.scss */
section.contacts-section .address-block.phones {
  width: 40%;
}
/* line 709, ../sass/style.scss */
section.contacts-section .address-block.phones .btn {
  padding: 0 17px;
  margin: 15px 0 10px;
}
/* line 714, ../sass/style.scss */
section.contacts-section .address-block.email {
  width: 23%;
}

/* line 720, ../sass/style.scss */
.button-description {
  font-size: 24px;
  margin: 0 0 34px;
}

/* line 724, ../sass/style.scss */
.btn.main-button {
  line-height: 46px;
  min-width: 276px;
}

/* line 728, ../sass/style.scss */
.products-list {
  list-style-type: none;
  margin: 0;
  padding: 39px 0 35px;
}
/* line 732, ../sass/style.scss */
.products-list .one-category {
  display: block;
  float: left;
  width: 33.33%;
  padding: 34px 0;
}
/* line 738, ../sass/style.scss */
.products-list .products-list-item-block {
  background-color: #038689;
  width: 271px;
  padding: 2px 0;
  margin: 0 auto;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 744, ../sass/style.scss */
.products-list .products-list-item-block .image-container {
  margin: 0 2px;
  background-color: #fff;
  height: 217px;
  line-height: 217px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  position: relative;
}
/* line 752, ../sass/style.scss */
.products-list .products-list-item-block .image-container img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}
/* line 761, ../sass/style.scss */
.products-list .products-list-item-block .category-name {
  display: block;
  line-height: 57px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 6px;
  text-decoration: underline;
}
/* line 770, ../sass/style.scss */
.products-list .products-list-item-block .category-name:hover span {
  text-decoration: none;
}
/* line 773, ../sass/style.scss */
.products-list .products-list-item-block .category-name span {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  text-decoration: underline;
}
/* line 781, ../sass/style.scss */
.products-list .categories-list {
  line-height: 20px;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
/* line 792, ../sass/style.scss */
.products-list .categories-list li {
  display: block;
  padding: 5px 10px;
}
/* line 796, ../sass/style.scss */
.products-list .categories-list a {
  color: #098c8f;
}
/* line 798, ../sass/style.scss */
.products-list .categories-list a:hover {
  text-decoration: none;
}
/* line 801, ../sass/style.scss */
.products-list .categories-list a.active {
  color: #991c16;
}
/* line 807, ../sass/style.scss */
.products-list .products-categories-list {
  display: none;
  line-height: 26px;
  position: absolute;
  left: 355px;
  right: 20px;
  top: 12px;
  bottom: 12px;
  overflow: auto;
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  color: #098c8f;
}
/* line 821, ../sass/style.scss */
.products-list .products-categories-list li {
  padding: 2px 0;
  display: block;
}
/* line 825, ../sass/style.scss */
.products-list .products-categories-list li.is-show-desc p {
  display: block;
}
/* line 828, ../sass/style.scss */
.products-list .products-categories-list li.is-show-desc a {
  display: none;
}
/* line 833, ../sass/style.scss */
.products-list .products-categories-list a {
  color: inherit;
}
/* line 835, ../sass/style.scss */
.products-list .products-categories-list a:hover {
  text-decoration: none;
}
/* line 839, ../sass/style.scss */
.products-list .products-categories-list p {
  display: none;
  margin: 0;
}
/* line 843, ../sass/style.scss */
.products-list .products-categories-list.is-opened {
  display: block;
}
/* line 847, ../sass/style.scss */
.products-list.opened-category {
  margin-left: 10px;
}
/* line 849, ../sass/style.scss */
.products-list.opened-category .one-category {
  display: block;
  float: none;
  width: auto;
  padding: 10px 0;
  position: relative;
}
/* line 856, ../sass/style.scss */
.products-list.opened-category .one-category.is-subcat-opened:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 0 32px 32px;
  border-color: transparent transparent transparent #038689;
  left: 295px;
  top: 15px;
}
/* line 868, ../sass/style.scss */
.products-list.opened-category .one-category .products-list-item-block {
  margin-right: 0;
  margin-left: 0;
}
/* line 871, ../sass/style.scss */
.products-list.opened-category .one-category .products-list-item-block .image-container {
  display: none;
}
/* line 877, ../sass/style.scss */
.products-list.opened-category .one-category.is-opened-category .products-list-item-block .image-container {
  display: block;
}
/* line 879, ../sass/style.scss */
.products-list.opened-category .one-category.is-opened-category .products-list-item-block .image-container img {
  display: none !important;
}
/* line 884, ../sass/style.scss */
.products-list.opened-category .one-category.is-opened-category .category-name {
  cursor: default;
}
/* line 886, ../sass/style.scss */
.products-list.opened-category .one-category.is-opened-category .category-name span {
  text-decoration: none;
}

/* line 894, ../sass/style.scss */
footer {
  background-color: #666666;
  color: #fff;
  text-align: center;
  line-height: 25px;
  padding: 9px 0;
  font-size: 20px;
}
/* line 901, ../sass/style.scss */
footer a {
  color: inherit;
  text-decoration: underline;
}
/* line 904, ../sass/style.scss */
footer a:hover {
  text-decoration: none;
}

/* line 909, ../sass/style.scss */
a.anchor {
  position: relative;
  display: block;
  top: -63px;
}
/* line 913, ../sass/style.scss */
.main-menu + a.anchor {
  top: 0;
}

/* line 918, ../sass/style.scss */
button, input {
  -webkit-appearance: none;
}
