/* line 4, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* line 10, ../sass/style.scss */
body {
  margin: 0;
  position: relative;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
  min-width: 980px;
}
/* line 15, ../sass/style.scss */
body.moved * {
  cursor: move;
}

/* line 19, ../sass/style.scss */
a {
  outline: none;
  text-decoration: none;
}
/* line 22, ../sass/style.scss */
a img {
  border: 0 none;
}

/* line 26, ../sass/style.scss */
.float-left {
  float: left;
}

/* line 30, ../sass/style.scss */
.float-right {
  float: right;
}

/* line 33, ../sass/style.scss */
.clear-both {
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}

/* line 39, ../sass/style.scss */
.block {
  display: block;
}

/* line 42, ../sass/style.scss */
.height-100 {
  height: 100%;
}

/* line 46, ../sass/style.scss */
.absolute {
  position: absolute;
}

/* line 49, ../sass/style.scss */
.background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

/* line 58, ../sass/style.scss */
.background-gallery {
  position: absolute;
  left: auto !important;
  right: 0 !important;
  top: 0;
  display: block;
}

/* line 65, ../sass/style.scss */
#section {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
  z-index: 1;
  font-family: "Open Sans";
  color: #FFF;
}

/* line 74, ../sass/style.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background: url("images/header-bg.png") left top repeat-x;
  z-index: 2;
}

/* line 84, ../sass/style.scss */
#nav {
  position: fixed;
  z-index: 2;
  top: 50%;
  right: 40px;
  opacity: 0.45;
  margin-top: -80px;
}
/* line 91, ../sass/style.scss */
#nav:hover, #nav.active-slide-0, #nav.active-slide-1 {
  opacity: 1;
}

/* line 95, ../sass/style.scss */
.nav-item {
  display: block;
  width: 18px;
  height: 18px;
  background: url("images/navigation.png") -1px -18px no-repeat;
  position: relative;
}
/* line 101, ../sass/style.scss */
.nav-item + .nav-item {
  margin-top: 5px;
}
/* line 104, ../sass/style.scss */
.nav-item.active {
  background-position: -1px 0;
}

/* line 108, ../sass/style.scss */
#page {
  width: 100%;
  height: 100%;
  min-width: 980px;
  overflow: hidden;
  position: relative;
}

/* line 115, ../sass/style.scss */
.name-article {
  position: absolute;
  right: 100%;
  color: #FFF;
  font-size: 12px;
  padding-right: 12px;
  white-space: nowrap;
  opacity: 0.75;
}
/* line 123, ../sass/style.scss */
.name-article:hover, .active .name-article {
  opacity: 1;
}

/* line 127, ../sass/style.scss */
#logotype {
  display: block;
  height: 48px;
  width: 160px;
  margin: -8px 10px -8px 30px;
}
/* line 132, ../sass/style.scss */
#logotype img {
  display: block;
}

/* line 139, ../sass/style.scss */
.header-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 21px 0;
  min-width: 600px;
}

/* line 147, ../sass/style.scss */
.article {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("images/bg-noise.png");
}
/* line 152, ../sass/style.scss */
.article .content-article, .article .second-content-article {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 3;
  height: 100%;
}
/* line 159, ../sass/style.scss */
.article .content-article {
  top: 50%;
}
/* line 162, ../sass/style.scss */
.article .content-container {
  position: relative;
}

/* line 167, ../sass/style.scss */
h1 {
  font-size: 75px;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 300;
}

/* line 173, ../sass/style.scss */
h2 {
  font-size: 55px;
  font-weight: 300;
  margin: 0 0 18px;
  text-indent: -0.1em;
  line-height: 60px;
}

/* line 180, ../sass/style.scss */
#footer {
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 100%;
  color: #FFF;
  z-index: 3;
  font-family: Arial, Tahoma, Verdana, sans-serif, "Lucida Sans";
}
/* line 188, ../sass/style.scss */
#footer .social-share {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 192, ../sass/style.scss */
#footer .social-share li {
  display: inline-block;
}
/* line 194, ../sass/style.scss */
#footer .social-share li + li {
  margin-left: 19px;
}
/* line 199, ../sass/style.scss */
#footer .title-share {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 18px;
}
/* line 204, ../sass/style.scss */
#footer .footer-content {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 208, ../sass/style.scss */
#footer .copyright {
  font-size: 15px;
  margin: -15px 50px 0;
  white-space: nowrap;
  color: #fff;
}
/* line 214, ../sass/style.scss */
#footer a {
  text-decoration: underline;
  color: inherit;
}
/* line 217, ../sass/style.scss */
#footer a:hover {
  color: #FFF;
}
/* line 220, ../sass/style.scss */
#footer a.float-right + a.float-right {
  margin-right: 18px;
}

/* line 225, ../sass/style.scss */
.main-link {
  font-size: 45px;
  border-bottom: 1px solid;
  font-weight: 300;
}
/* line 229, ../sass/style.scss */
.main-link:hover {
  color: #0095fc;
}
/* line 232, ../sass/style.scss */
.main-link:active {
  color: #2f7ec1;
}

/* line 237, ../sass/style.scss */
.article-text {
  margin-left: 56%;
  margin-right: 95px;
  position: absolute;
}
/* line 241, ../sass/style.scss */
.article-text p {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* line 248, ../sass/style.scss */
.image-content {
  position: absolute;
}

/* line 252, ../sass/style.scss */
.app-buttons {
  margin-top: 28px;
  margin-right: -95px;
}

/* line 256, ../sass/style.scss */
.app-button {
  display: block;
  float: left;
  height: 55px;
  opacity: 0.9;
}
/* line 261, ../sass/style.scss */
.app-button:hover {
  opacity: 1;
}
/* line 264, ../sass/style.scss */
.app-button.app-store {
  width: 162px;
  background: url("images/app-store.png") center center no-repeat;
}
/* line 268, ../sass/style.scss */
.app-button.google-play {
  width: 166px;
  background: url("images/google-play.png") center center no-repeat;
}
/* line 272, ../sass/style.scss */
.app-button + .app-button {
  margin-left: 20px;
}

/* line 277, ../sass/style.scss */
.article a {
  color: inherit;
}
/* line 280, ../sass/style.scss */
.article.item-1 {
  background-color: #e6e6e6;
  background-image: url("images/bg-noise.png");
}
/* line 283, ../sass/style.scss */
.article.item-1 .content-article {
  text-align: center;
  color: #0d6cca;
  margin-top: -110px;
}
/* line 287, ../sass/style.scss */
.article.item-1 .content-article h1 {
  margin: 0 80px;
}
/* line 292, ../sass/style.scss */
.article.item-2, .article.item-4, .article.item-5, .article.item-6 {
  background-color: #3074bb;
}
/* line 295, ../sass/style.scss */
.article.item-2 .article-text h2, .article.item-4 .article-text h2, .article.item-5 .article-text h2, .article.item-6 .article-text h2 {
  color: #fff;
}
/* line 298, ../sass/style.scss */
.article.item-2 .article-text p, .article.item-4 .article-text p, .article.item-5 .article-text p, .article.item-6 .article-text p {
  color: #adc2df;
}
/* line 304, ../sass/style.scss */
.article.item-2 .content-article {
  margin-top: -280px;
}
/* line 307, ../sass/style.scss */
.article.item-2 .article-text {
  padding-top: 100px;
}
/* line 311, ../sass/style.scss */
.article.item-2 .image-content.cert {
  left: 1%;
  width: 54%;
  max-width: 670px;
}
/* line 316, ../sass/style.scss */
.article.item-2 .image-content.mobile {
  right: 46%;
  width: 27%;
  max-width: 330px;
  margin-top: 40px;
}
/* line 325, ../sass/style.scss */
.article.item-4 .content-article {
  margin-top: -250px;
  width: 100%;
  max-width: 100%;
}
/* line 330, ../sass/style.scss */
.article.item-4 .article-text {
  padding-top: 120px;
}
/* line 333, ../sass/style.scss */
.article.item-4 .image-content {
  right: 48%;
}
/* line 335, ../sass/style.scss */
.article.item-4 .image-content.s1 {
  margin-top: 55px;
}
/* line 338, ../sass/style.scss */
.article.item-4 .image-content.s2 {
  margin-top: 228px;
  margin-right: 320px;
}
/* line 342, ../sass/style.scss */
.article.item-4 .image-content.s3 {
  margin-top: 310px;
  margin-right: 50px;
}
/* line 346, ../sass/style.scss */
.article.item-4 .image-content.s4 {
  margin-top: 245px;
  margin-right: 36px;
}
/* line 350, ../sass/style.scss */
.article.item-4 .image-content.ss {
  margin-top: 360px;
  margin-right: -115px;
}
/* line 356, ../sass/style.scss */
.article.item-5 {
  background-color: #217dd1;
}
/* line 358, ../sass/style.scss */
.article.item-5 .content-article {
  margin-top: -190px;
  height: 360px !important;
}
/* line 362, ../sass/style.scss */
.article.item-5 .article-text {
  padding-top: 70px;
  margin-right: 56%;
  margin-left: 95px;
  width: 360px;
}
/* line 368, ../sass/style.scss */
.article.item-5 .image-content {
  right: -5%;
  width: 67%;
  max-width: 857px;
  bottom: 0;
}
/* line 373, ../sass/style.scss */
.article.item-5 .image-content.shadow-50 {
  margin-bottom: -85px;
}
/* line 378, ../sass/style.scss */
.article.item-3 {
  background: #215eb1;
}
/* line 380, ../sass/style.scss */
.article.item-3 .content-article {
  margin-top: -310px;
}
/* line 383, ../sass/style.scss */
.article.item-3 .article-text {
  padding-top: 200px;
  margin-right: 56%;
  margin-left: 95px;
  max-width: 620px;
}
/* line 389, ../sass/style.scss */
.article.item-3 .image-content {
  right: 95px;
}
/* line 393, ../sass/style.scss */
.article.item-6 {
  text-align: center;
}
/* line 395, ../sass/style.scss */
.article.item-6 .content-article {
  margin-top: -140px;
}
/* line 398, ../sass/style.scss */
.article.item-6 .footer-text {
  font-size: 45px;
  line-height: 49px;
  font-weight: 100;
  margin: 0 100px;
}
/* line 403, ../sass/style.scss */
.article.item-6 .footer-text p {
  margin-top: 0;
}
/* line 406, ../sass/style.scss */
.article.item-6 .footer-text .mail-link {
  color: #ffe300;
  border-bottom: 1px solid #719f92;
}

/* line 416, ../sass/style.scss */
.article .bottom-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 726px;
  background: url("images/down-dark.png") center top repeat-x;
  z-index: 1;
}
/* line 425, ../sass/style.scss */
.article .top-light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 710px;
  background: url("images/top-light_1.png") center top no-repeat;
  z-index: 2;
}

/* line 436, ../sass/style.scss */
.button {
  font-family: Arial, Tahoma, Verdana, sans-serif, Lucida Sans;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border-width: 1px 0 0;
  border-style: solid;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
/* line 449, ../sass/style.scss */
.button .text-button, .button .icon-button {
  display: block;
  height: 100%;
  line-height: 18px;
}
/* line 454, ../sass/style.scss */
.button .text-button {
  white-space: nowrap;
  padding: 6px 20px 8px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
/* line 459, ../sass/style.scss */
.button .icon-button {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  float: left;
}
/* line 463, ../sass/style.scss */
.button.blue {
  background: #4299DC;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4299dc), color-stop(100%, #0f6dcb));
  background-image: -webkit-linear-gradient(#4299dc, #0f6dcb);
  background-image: -moz-linear-gradient(#4299dc, #0f6dcb);
  background-image: -o-linear-gradient(#4299dc, #0f6dcb);
  background-image: linear-gradient(#4299dc, #0f6dcb);
  border-color: #4299dc;
  color: #fff;
}
/* line 468, ../sass/style.scss */
.button.blue:hover {
  background: #1aa8ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1aa8ff), color-stop(100%, #007fed));
  background-image: -webkit-linear-gradient(#1aa8ff, #007fed);
  background-image: -moz-linear-gradient(#1aa8ff, #007fed);
  background-image: -o-linear-gradient(#1aa8ff, #007fed);
  background-image: linear-gradient(#1aa8ff, #007fed);
  border-color: #1aa8ff;
  color: #FFF;
}
/* line 474, ../sass/style.scss */
.button.blue:active {
  background: #1866b2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1866b2), color-stop(100%, #3685c6));
  background-image: -webkit-linear-gradient(#1866b2, #3685c6);
  background-image: -moz-linear-gradient(#1866b2, #3685c6);
  background-image: -o-linear-gradient(#1866b2, #3685c6);
  background-image: linear-gradient(#1866b2, #3685c6);
  border-color: #094988;
  color: #fff;
}

/* line 483, ../sass/style.scss */
.icon-button.plus {
  width: 33px;
  height: 33px;
  margin-top: -1px;
  background: url("images/plus-icon.png") center center no-repeat;
}
/* line 489, ../sass/style.scss */
.icon-button + .text-button {
  margin-left: 34px;
}

/* line 494, ../sass/style.scss */
.add-button {
  margin-right: 30px;
}

/* line 58, social/*.png */
.social-sprite, .social-button span {
  background: url('images/sprites/social-sd1b9d106de.png') no-repeat;
}

/* line 502, ../sass/style.scss */
.social-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}
/* line 513, ../sass/style.scss */
.social-button:hover {
  color: #FFF;
}
/* line 516, ../sass/style.scss */
.social-button:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px inset;
}
/* line 519, ../sass/style.scss */
.social-button span {
  display: block;
  padding-left: 50px;
  height: 100%;
}
/* line 525, ../sass/style.scss */
.social-button.small {
  width: 33px;
  overflow: hidden;
}
/* line 529, ../sass/style.scss */
.social-button.twitter {
  background: #00bbf1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00bbf1), color-stop(100%, #009ff1));
  background-image: -webkit-linear-gradient(#00bbf1, #009ff1);
  background-image: -moz-linear-gradient(#00bbf1, #009ff1);
  background-image: -o-linear-gradient(#00bbf1, #009ff1);
  background-image: linear-gradient(#00bbf1, #009ff1);
}
/* line 532, ../sass/style.scss */
.social-button.twitter:hover {
  background: #00d2ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d2ff), color-stop(100%, #00b3ff));
  background-image: -webkit-linear-gradient(#00d2ff, #00b3ff);
  background-image: -moz-linear-gradient(#00d2ff, #00b3ff);
  background-image: -o-linear-gradient(#00d2ff, #00b3ff);
  background-image: linear-gradient(#00d2ff, #00b3ff);
}
/* line 536, ../sass/style.scss */
.social-button.twitter:active {
  background: #00a0f1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a0f1), color-stop(100%, #00baf1));
  background-image: -webkit-linear-gradient(#00a0f1, #00baf1);
  background-image: -moz-linear-gradient(#00a0f1, #00baf1);
  background-image: -o-linear-gradient(#00a0f1, #00baf1);
  background-image: linear-gradient(#00a0f1, #00baf1);
}
/* line 540, ../sass/style.scss */
.social-button.twitter span {
  background-position: 0 0;
}
/* line 544, ../sass/style.scss */
.social-button.facebook {
  background: #5175c0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5175c0), color-stop(100%, #3b5a98));
  background-image: -webkit-linear-gradient(#5175c0, #3b5a98);
  background-image: -moz-linear-gradient(#5175c0, #3b5a98);
  background-image: -o-linear-gradient(#5175c0, #3b5a98);
  background-image: linear-gradient(#5175c0, #3b5a98);
}
/* line 547, ../sass/style.scss */
.social-button.facebook:hover {
  background: #5b84d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b84d8), color-stop(100%, #4365ab));
  background-image: -webkit-linear-gradient(#5b84d8, #4365ab);
  background-image: -moz-linear-gradient(#5b84d8, #4365ab);
  background-image: -o-linear-gradient(#5b84d8, #4365ab);
  background-image: linear-gradient(#5b84d8, #4365ab);
}
/* line 551, ../sass/style.scss */
.social-button.facebook:active {
  background: #3c5a99;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c5a99), color-stop(100%, #5175c0));
  background-image: -webkit-linear-gradient(#3c5a99, #5175c0);
  background-image: -moz-linear-gradient(#3c5a99, #5175c0);
  background-image: -o-linear-gradient(#3c5a99, #5175c0);
  background-image: linear-gradient(#3c5a99, #5175c0);
}
/* line 555, ../sass/style.scss */
.social-button.facebook span {
  background-position: 0 -70px;
}
/* line 559, ../sass/style.scss */
.social-button.vkontakte {
  background: #3285c9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3285c9), color-stop(100%, #0f64b5));
  background-image: -webkit-linear-gradient(#3285c9, #0f64b5);
  background-image: -moz-linear-gradient(#3285c9, #0f64b5);
  background-image: -o-linear-gradient(#3285c9, #0f64b5);
  background-image: linear-gradient(#3285c9, #0f64b5);
}
/* line 562, ../sass/style.scss */
.social-button.vkontakte:hover {
  background: #3794e2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3794e2), color-stop(100%, #1071cb));
  background-image: -webkit-linear-gradient(#3794e2, #1071cb);
  background-image: -moz-linear-gradient(#3794e2, #1071cb);
  background-image: -o-linear-gradient(#3794e2, #1071cb);
  background-image: linear-gradient(#3794e2, #1071cb);
}
/* line 566, ../sass/style.scss */
.social-button.vkontakte:active {
  background: #1065b6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1065b6), color-stop(100%, #3184c8));
  background-image: -webkit-linear-gradient(#1065b6, #3184c8);
  background-image: -moz-linear-gradient(#1065b6, #3184c8);
  background-image: -o-linear-gradient(#1065b6, #3184c8);
  background-image: linear-gradient(#1065b6, #3184c8);
}
/* line 570, ../sass/style.scss */
.social-button.vkontakte span {
  background-position: 0 -35px;
}
